[2020-06-04 10:56] iMicknl opened #1 "Refactor update methods to use single DataUpdateCoordinator"
https://developers.home-assistant.io/docs/integration_fetching_data/

- [ ] Use event listener from python-tahoma-api
- [ ] Add RestoreEntity

[2020-06-04 10:59] iMicknl opened #2 "Detected I/O inside the event loop. This is causing stability issues."
Sync calls need to be wrapped or converted to async, in the event loop.

[code]

[2020-06-04 11:00] iMicknl opened #3 "Add tests for config flow"
Add mandatory tests for the config flow

[2020-06-04 11:00] iMicknl opened #4 "Add better exception handling & retry logic for Tahoma API"

[2020-06-04 11:01] iMicknl opened #5 "Incorporate changes from tahoma_extended"
Merge the changes from `tahoma_extended` into this component.

[2020-06-04 13:21] iMicknl opened #8 "Refactor cover platform, removed hardcoded references"
- Rewrite the cover platform to use available states / commands instead of a hardcoded list

[2020-06-04 14:41] iMicknl opened #9 "Make assumed_state for RTS configurable via option flow"
Current behaviour is that `assumed_state` is `True` for all rts devices, since RTS doesn't have a feedback function.

However, when you are only controlling your RTS devices via Home Assistant, some people don't want to have this optimistic mode.

[2020-06-04 15:27] iMicknl opened #10 "Add support for scenes"
Port support for scenes from the original component

[2020-06-04 15:53] iMicknl opened #12 "Add climate platform"

[2020-06-04 16:08] vlebourl commented on #5
This should be closed as the climate platform is the last one still in the extended versio, #12 replaces this one.

[2020-06-04 16:08] #5 closed

[2020-06-04 17:36] iMicknl commented on #1
Not sure if this is possible, since it looks like it is only possible to retrieve state on a per device basis.

[2020-06-04 19:25] vlebourl commented on #1
get_states takes a list of devices that could be retrieved from get_devices, all from the api. Then it's a question of mapping back to the entities.

[2020-06-04 19:30] vlebourl opened #16 "ValueError: Config entry has already been setup!"
Some entries are added several time. For instance, covers:
[code]

[2020-06-04 19:35] iMicknl commented on #16
I can reproduce, not sure where too look for this issue. Open for suggestions.

[2020-06-04 19:48] iMicknl opened #17 "Support disabling of entities, for use with Somfy integration"
Since there is an overlap with the Somfy integration and the Tahoma component, it would be good to make sure there is a way to disable entities from the Tahoma component.

In the past there was an `exclude` list in the config, however Home Assistant has a disable entity option by default now. Would be good to deprecate the `exclude` list and support disabling entities via the entity registry.

[2020-06-04 19:53] #10 closed

[2020-06-04 20:05] tetienne commented on #16
Here how I solved this issue for my component: https://github.com/home-assistant/core/blob/a012c617621a076c5fded1570625ca79d447bbe0/homeassistant/components/somfy/config_flow.py#L46

[2020-06-04 20:50] iMicknl commented on #16
I tried adding the following snippet, but that didn't work. This also makes sure that you can only add the full integration once, where I think it could be nice for some users to be able to add multiple integrations.

[code]

[2020-06-04 21:08] francodutch opened #18 "Add support for Gate - DiscreteGateWithPedestrianPosition (io:DiscreteGateOpenerIOComponent)"
Following from [this thread](https://community.home-assistant.io/t/re-additional-supported-device-types-tahoma-plafform/201961?u=luckydutchie):

[code]

[2020-06-04 21:17] francodutch opened #19 "Add support for OccupancySensor (io:SomfyOccupancyIOSystemSensor)"
these sensors are ideal to trigger actions (presence/movement sensor):

[code]

[2020-06-04 21:24] iMicknl commented on #19
Support for this `OccupancySensor` has been added and is pre-published as [1.1-alpha release](https://github.com/iMicknl/ha-tahoma/releases/tag/1.1-alpha) on Github and HACS.

- If you manually want to install the package, download the zip [here](https://github.com/iMicknl/ha-tahoma/releases/tag/1.1-alpha).
- If you use HACS, make sure you enable `Show beta versions` and select `1.1-alpha`. If you

[2020-06-04 21:25] iMicknl commented on #18
Basis support for gates has been added and is pre-published as [1.1-alpha release](https://github.com/iMicknl/ha-tahoma/releases/tag/1.1-alpha) on Github and HACS.

- If you manually want to install the package, download the zip [here](https://github.com/iMicknl/ha-tahoma/releases/tag/1.1-alpha).
- If you use HACS, make sure you enable `Show beta versions` and select `1.1-alpha`. If you have a pre

[2020-06-04 21:52] iMicknl opened #20 "Adjust code style according to home-assistant/core"
Would be good to already adjust the code to the HomeAssistant/core guidelines.

- Adding an Github action for running `codespell`, `flake8` and `bandit` according to the core requirements would be helpful.

[2020-06-05 08:23] vlebourl opened #22 "`TahomaLight` object has no attribute `_brightness`"
[code]

[2020-06-05 11:40] francodutch commented on #19
A few log entries:

First:
Logger: custom_components.tahoma
Source: custom_components/tahoma/__init__.py:94
Integration: Tahoma (documentation)
First occurred: 13:14:30 (7 occurrences)
Last logged: 13:14:30

Unsupported Tahoma device (internal:PodV2Component - Pod - Pod)
Unsupported Tahoma device (io:SomfyIndoorSimpleSirenIOComponent - Siren - IOSiren)
Unsupported Tahoma device (jsw:CameraControll

[2020-06-05 11:56] iMicknl commented on #19
Thanks!

Is your occupancy sensor working? Your first log entries are by default and are here to show you that possibly more devices could be integrated in the future.

Your second log entry are related to #16.

Your third log entries are related to #2.

[2020-06-05 12:44] francodutch opened #25 "Add support for Indoor Siren (io:SomfyIndoorSimpleSirenIOComponent)"
[code]

[2020-06-05 12:45] francodutch opened #26 "Add support for Siren Status (rtds:SirenStatusRTDSComponent)"
[code]

[2020-06-05 12:54] francodutch opened #27 "Request support for Outdoor Siren (rtd:OutdoorSirenRTDComponent)"
[code]

[2020-06-05 12:56] francodutch opened #28 "Add support for Camera (jsw:CameraController)"
[code]

[2020-06-05 13:25] #8 closed

[2020-06-05 13:46] iMicknl commented on #18
Current positions needs to be tweaked for some gates.

[2020-06-05 14:39] francodutch commented on #18
gate opens initially but errors as follows:
Log Details (ERROR)
Logger: homeassistant.components.websocket_api.http.connection.2806510768
Source: custom_components/tahoma/tahoma_api.py:55
Integration: Home Assistant WebSocket API (documentation, issues)
First occurred: 16:27:40 (1 occurrences)
Last logged: 16:27:40

Could not login: Too many requests, try again later : login with ####

[2020-06-05 14:47] iMicknl commented on #18
@francodutch this is related to #24. Unfortunately the original implementation has not been super well written in regards to API usage. We are improving this, however for now, sometimes this will mean you get locked out after doing a lot of requests in a short timeframe.

[2020-06-05 14:49] vlebourl commented on #18
Bummer... you have to wait 10 to 15 minutes... restart HA once the wait is over.

[2020-06-05 15:05] francodutch commented on #18
![image](https://user-images.githubusercontent.com/65336159/83892278-b558ba00-a74e-11ea-9bc5-805f921adb63.png)

[2020-06-05 15:24] francodutch commented on #18
other than above gate opens and closes well

[2020-06-05 17:44] dsbaars opened #30 "Position is not updated - PositionableHorizontalAwning - io:HorizontalAwningIOComponent"
**Describe the bug**
When I control my horizontal awning (Uitvalscherm), the awning does what I ask but the position is not updated.

The HA log is spammed with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'cover.zonwering' (in my case)
2. Click on 'open' or 'close'
3. See the awning physically do what I ask, but the position slider not changing

**Expect

[2020-06-05 18:15] iMicknl commented on #30
Thanks for reporting. Which version of the component are you using? (Via HACS or latest from master)

[2020-06-05 18:33] dsbaars commented on #30
Latest from master

Op vr 5 jun. 2020 om 20:16 schreef Mick Vleeshouwer <
notifications@github.com>

--
Met vriendelijke groet,

Djuri Baars

[2020-06-05 19:31] dsbaars commented on #30
I'm currently using [homebridge-tahoma](https://github.com/dubocr/homebridge-tahoma), since the HA integration using the Open API and the existing Tahoma integration do not work well for me.

[This code](https://github.com/dubocr/homebridge-tahoma/blob/master/services/WindowCovering.js) might point you in the right direction. I'm also available on the HA discord server.

Removing the offset if..th

[2020-06-05 19:35] francodutch commented on #18
Just noticed that if gate opened/closed with remote control, status change is not registered in HA. The automatic closing after having been open for 1 minute isn't either. This looks like a Tahoma problem: seems like Tahoma doesn't get the state changes when initiated outside Tahoma.

[2020-06-06 21:08] iMicknl commented on #30
In the original component, they added an exception for the `io:HorizontalAwningIOComponent`. However, in this refactor, we try to add features based on the available states and commands to make it more modular.

Could you maybe gather some more details of your device, so I can have a look? https://github.com/totalimmersion/com.somfy.tahoma/files/2755935/Instructions.for.the.TaHoma.devices.pdf.

[2020-06-06 21:31] dsbaars commented on #30
My password is not accepted on the html5 client, probably because I have a Connexoon IO box. Is there another way I can provide you the required information? (and funny running into you here after three years @iMicknl :) )

[2020-06-07 07:21] vlebourl commented on #30
If you're familiar with running a Python script, you can have a look at the bottom of this page https://github.com/vlebourl/tahoma_extended/blob/master/README.md

[2020-06-07 11:39] dsbaars commented on #30
Your script was not working correctly, but I modified it myself to make it work.
I made the following changes to line 37 and 42 to make it work:
[code]

Here is the output in devices.txt.
[code]

[2020-06-07 12:38] #22 closed

[2020-06-07 12:54] iMicknl commented on #30
Indeed, likewise! Nice to 'meet' again after those years. ;-)

Could you maybe give https://github.com/iMicknl/ha-tahoma/tree/fix_30 a try? I noticed I made a mistake in the if statement, however I would like to understand how we can detect if 100 is closed or 100 is open in a dynamic way. For now, I just assume that `core:DeploymentState == 100` means open.

[code]

[2020-06-07 13:17] iMicknl opened #32 "Change Unsupported Tahoma device logging from `warning` to `debug`"
**Is your feature request related to a problem? Please describe.**
Currently the log is spammed with warnings for devices that are currently not supported. In the past you could exclude them via the exclude function, but since we moved to the Entity Registry for disabling entities, the exclude functionality is deprecated.

[code]

**Describe the solution you'd like**
Change the log level to debug

[2020-06-07 13:28] iMicknl opened #33 "Unable to change (tilt)position via automations"
**Describe the bug**
When you use a `cover` device in your automation, you are not able to set the tilt_position or position as a trigger or action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to new automation
2. Create a new action of type 'device' and choose your cover device.
3. Action: Set xxxx tilt position
4. Position is a greyed out field.

**Expected behavior**
A way to set t

[2020-06-07 13:50] #16 closed

[2020-06-07 13:55] #4 closed

[2020-06-07 14:03] dsbaars commented on #30
Entity was disabled after replacing the code, after removing the integration and wanting to re-add it again the integration does not appear anymore and gives the following error in the logs:

[code]

[2020-06-07 14:16] iMicknl commented on #30
In case you have time, you can find me on HA Discord as iMick or on https://discord.com/channels/718361810985549945/718361810985549948, a Discord that was created for this component. Not sure where this error is coming from, I can not reproduce it with latest master on both my installs.

[2020-06-07 16:06] francodutch opened #40 "State not updated for Gate (io:DiscreteGateOpenerIOComponent)"
**Describe the bug**
Not sure if bug in HA or in Tahoma, but when I open the gate from HA the status of cover correctly reflects the change. WHen the gate closes automatically after two minutes or when the gate is activated through the remote control however, the status change is not passed on to HA.

**To Reproduce**
Steps to reproduce the behaviour:
1. change state of gate through cover.open_cov

[2020-06-07 16:17] iMicknl commented on #18
Basic gate support has been added, your bug above has been added as #33 and #40.

[2020-06-07 16:17] #18 closed

[2020-06-07 16:18] #30 closed

[2020-06-07 17:51] vlebourl commented on #40
not sure whether it's relevant for the gate, but sometimes tahoma can send a command to a component but doesn't know it's state. this is the case for somfy's smart lock where I can open and close the lock through tahoma (independently of HA I mean) but the state in tahoma only reflects the last action done in tahoma, not the actual state of the lock. Can you confirm that the state of your gate is

[2020-06-07 18:00] iMicknl commented on #40
Next to that, in Home Assistant we poll the `core:PedestrianPositionState` for the position value (between 0 and 100) and we poll `core:OpenClosedPedestrianState` where we check if the status is closed.

I am not sure what the `refreshPedestrianPosition` does, maybe this needs to be called to update the `core:PedestrianPositionState`? If you have a look through the Tahoma app or website, is the ri

[2020-06-07 20:12] iMicknl opened #42 "Add support for UpDownHorizontalAwning (rts:HorizontalAwningRTSComponent)"
_Copied from https://github.com/vlebourl/tahoma_extended/issues/8 by @gieljnssns_

**Device details**
[code]

[2020-06-07 20:13] iMicknl opened #43 "Add support for ExteriorScreen (rts:ExteriorBlindRTSComponent)"
_Copied from https://github.com/vlebourl/tahoma_extended/issues/8 by @gieljnssns_

**Device details**
[code]

[2020-06-07 20:16] iMicknl commented on #42
@gieljnssns every Awning should already be supported, could you give it a try using the latest version?

[2020-06-07 20:19] iMicknl commented on #43
@gieljnssns if I am correct, this model is already supported, however you faced issues with the stop function?

`stop` is available in the `commands` section of your device, but apparently this is not working. In the original component, they use the `my` command for some devices, however I am not sure when to use which command.

[2020-06-08 05:45] gieljnssns commented on #43
In my custom component I used this
[code]
I think my `stop` with my blinds and awning were working

[2020-06-08 06:21] iMicknl commented on #43
I can hardcoded an exception to use `my` instead of `stop`, however I would like to understand when to choose `stop` and when to choose `my`. If this is based on a state / config setting, to make this more dynamic. We are trying to avoid hardcoding all `io:` / `rts:` types in this component.

[2020-06-08 08:57] gieljnssns commented on #42
<img width="861" alt="Schermafbeelding 2020-06-08 om 10 52 57" src="https://user-images.githubusercontent.com/17234951/84011712-cedc4a80-a976-11ea-8d01-c6a78e8f71cc.png">

I think the service needs to be changed, with the green covering my terrace and the red no longer.
Also the `stop` does not work.

[2020-06-08 09:07] iMicknl commented on #42
@dsbaars how is your horizontal cover device mapped? Is the above sample reversed or the same as your situation?

We reversed the open and close commands for one Horizontal device, however maybe we should do it for all horizontal devices. :-)

[2020-06-08 10:47] dsbaars commented on #42
For me it's correct now, so green circled button closed (lift the screen "up" in my case) and red circled button brings the screen down out.

[2020-06-09 10:55] francodutch commented on #40
IN Tahoma the right value is only reflected after logging out and in again. So the interface remains stuck on the last position unless logout/login. This is different for the contact sensor (door open/closed sensor) which updates in real time in the Tahoma interface.

[2020-06-09 11:22] lindemar opened #44 "State not updated for Awning (io:AwningReceiverUnoIOComponent)"
**Device information**
I was able to copy manually all files into my Home Assistant custom components and integrate TaHoma. Now I can see all awnings but the symbols of integrated io:AwningReceiverUnoIOComponent are not updated, independent of current position.
All symbols appear permanently in bold. See attached screenshot.

Home Assistant 0.110.5
HassOS 4.10

**Device details**

[code]

[2020-06-09 11:33] iMicknl commented on #44
Could it be the same issue as https://github.com/iMicknl/ha-tahoma/issues/40? It looks like there is a `refreshMemorized1Position` command, which is similar to #40. Maybe we need to add those before the current position will be updated.

[2020-06-09 12:48] iMicknl commented on #44
@lindemar could you try the following branch https://github.com/iMicknl/ha-tahoma/tree/fix_44 and see if this fixes your issue?

[2020-06-09 12:48] iMicknl commented on #42
@gieljnssns could you try the following branch https://github.com/iMicknl/ha-tahoma/tree/fix_44 and see if this fixes your issue?

[2020-06-09 12:51] iMicknl commented on #40
@francodutch could you give the following branch a try? https://github.com/iMicknl/ha-tahoma/tree/fix_40. Before every update, it will call the `refreshPedestrianPosition` for now.

[2020-06-09 13:12] vlebourl commented on #1
`api.get_states(api.get_devices().values())`

[2020-06-09 18:11] lindemar commented on #44
Hi Mick,

thank you for your effort. I tried it out with the fix #44. It is different but still not wat I expect.
Now I have the situation that the open and stop symbol is bold highlighted, even when the covers are fully open. It should be inverted.
When I close the covers to a certain position approx. 50 % than the bold highlighted symbol switch from open to close. This is different to the other

[2020-06-09 18:15] lindemar commented on #44
It seems to me that the issue is very similar.

[2020-06-09 18:36] lindemar opened #47 "Add support for Tahoma Scenes"
Scenes as defined in the Somfy Tahoma Box are not available with TaHoma integration. Tahoma integration by configuration.yaml supports the scenes defined in Tahoma box.

Device information
Home Assistant 0.110.6
HassOS 4.10
TaHoma integration: https://github.com/iMicknl/ha-tahoma/tree/fix_44

Device details for scenes are not visible by following the instruction

[2020-06-09 19:59] rabesocke commented on #44
I tested the changes with our awning plug and adapt my earlier fixes to this branch.

You find my pull request here: #48

[2020-06-09 21:30] lindemar commented on #44
Well done, I works in my case! Thank you for your effort.

[2020-06-10 10:44] #47 closed

[2020-06-10 10:45] iMicknl commented on #47
Thanks @lindemar! I just fixed it and merged it to master.

[2020-06-11 14:41] iMicknl commented on #19
@francodutch can we close this one? It looks like the occopancy sensor is working and that your log entries are related to other issues?

[2020-06-12 09:31] gieljnssns commented on #42
Sorry it took so long, but it is still the same

[2020-06-12 09:32] gieljnssns commented on #42
It last about 15 a 20 sec in between a click and my awning to respond

[2020-06-12 10:23] iMicknl commented on #42
@gieljnssns don't you have this delay when using the Tahoma app? Because I am not sure what could cause the delay, we send the commands directly to the Tahoma API like the old component.

Thanks for testing.

[2020-06-12 10:46] dsbaars commented on #42
I do not experience this delay with my (io protocol) awning.
I only experience some delay seeing the state updated in the position slider. Maybe you could check your HA log for errors from this compnent?

[2020-06-13 10:53] gieljnssns commented on #42
I do not have this delay when using https://www.tahomalink.com/enduser-mobile-web/steer-html5-client/tahoma/

deploy awning
[code]
undeploy
[code]
my-position
[code]

[2020-06-15 14:18] iMicknl commented on #42
I am not sure why `deploy` and `undeploy` are being used for your type. In the HA component we use `open` and `close`. Weird that there is a huge delay for open and close, but not for deploy and undeploy.

I will see if we can find some more people with different `rts` devices to understand what would be a global solution. Otherwise I will hardcode the fixes for your model..

[2020-06-15 19:54] Glenn1986 opened #57 "Add support for Siren (io:SomfyIndoorSimpleSirenIOComponent)"
Somfy Tahomo Box 2020.1.4-2 version

**Device information**
Somfy Rollershutter RTS
Somfy Contact Sensor IO
Somfy Motion Sensor IO
Somfy Temperature Sensor IO
Somfy Lightsensor IO
Somfy Blind IO (got error for this one)
and a lot more see json output

**Device details**
[code]

[2020-06-15 20:05] iMicknl commented on #57
Thanks @Glenn1986! I am not sure how a sirene should be mapped in Home Assistant, how would you like to see it? Controllable as a switch (on/off) or something else?

Which other devices are currently not supported (or not working as expected). Could you please create separate issues per unsupported device, this will allow us to easier track unsupported devices and work on them one by one.

[2020-06-15 20:20] iMicknl commented on #9
A setting is not needed, can be tweaked already via core. https://www.home-assistant.io/docs/configuration/customizing-devices/#assumed_state

[2020-06-15 20:20] #9 closed

[2020-06-15 21:47] #19 closed

[2020-06-16 06:46] Glenn1986 commented on #57
I think a switch would be fine. Oke I will make a sperate issue for the io blind. The other devices work fine at the moment.

[2020-06-16 07:07] Glenn1986 opened #59 "Add support for AwningComponent (io:HorizontalAwningIOComponent)"
This devise is an sort of horizontal rollershutter against the sun on my terrace.
The tahoma integrations finds my io rollershutter but does nog reacts on commands.

**Device details**
[code]

[2020-06-16 09:10] vlebourl commented on #9
Tested and works as expected with `customize.yaml`.

[2020-06-16 09:20] iMicknl commented on #9
@vlebourl great! We need to add it to the README at some point, same for the device class that could be changes via customize.yaml.

[2020-06-16 09:35] vlebourl commented on #9
We can add it to the README, although it's a standard feature of HA, every entity can be customized. Not sure whether we should be that thorough in our README.

[2020-06-16 11:23] iMicknl opened #61 "Error unloading entry xxxxxx for tahoma"
**Describe the bug**
When removing the integration, you will receive an error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to integrations.
2. Click on '...' -> Delete
3. See error

**Expected behavior**
Removed without any error

[2020-06-16 11:37] #61 closed

[2020-06-16 11:41] iMicknl commented on #17
Fixed by #62, it looks like there is an delay, but not sure if that is caused by HA core.

[code]

[2020-06-16 11:41] #17 closed

[2020-06-16 20:29] francodutch commented on #19
yes sure sorry for the late reply I have been offline for a while. thanks

[2020-06-16 20:53] francodutch commented on #40
@iMicknl happy to but How? Just copying the repository probably not enough...do I need to deleted the integration and do a new one?

[2020-06-16 20:55] vlebourl commented on #40
I think that if you replace the tahoma directory in the custom_components folder by the one in the said branch, you don't have to remove the integration, just restart HA to load the new version.

[2020-06-16 21:29] iMicknl commented on #19
@francodutch no worries. Thank you for testing.

[2020-06-17 14:48] #2 closed

[2020-06-19 09:27] jurgen272 opened #73 "Add support for IO RGB Light (io:DimmableRGBLightIOComponent)"
IO RGB Light.
ON/Off and dimming is working at this moment, but I can't change the colors

**Device details**

[code]

[2020-06-19 09:30] vlebourl commented on #73
Thanks for the report. RGB support isn't implemented yet as we didn't have any device to use as a base. We'll work on that for future releases!

[2020-06-19 09:35] vlebourl commented on #73
Could you retrieve the values for
[code]
when the light is on with the 3 colors at full intensity (white I guess)? I wonder whether the max value is `100` or `255`.

[2020-06-19 09:44] jurgen272 opened #74 "Unable to change tilt position on io:BioclimaticPergolaIOComponent"
The device io:BioclimaticPergolaIOComponent is visible in HA, but I can't change position.
Buttons and slider aren't responding.

**Expected behavior**
io:BioclimaticPergolaIOComponent is responding to bottons and slider

**Environment (please complete the following information):**
 - **Home Assistant version**: 0.111.4
 - Using latest beta version for Somfy Tahoma integration

**Device:** (if you

[2020-06-19 09:47] vlebourl commented on #73
Are you familiar enough with git and HA to pull and test a particular branch?

[2020-06-19 10:03] jurgen272 commented on #73
255

[2020-06-19 10:04] jurgen272 commented on #73
Not familiar, but I'm a fast learner ;-)
So it should work with some brief explanations or links to what I should do.

[2020-06-19 10:07] iMicknl commented on #73
You don't need git knowledge. You can just go to https://github.com/iMicknl/ha-tahoma/tree/add_light_rgb and press the green button 'clone or download'. Choose 'Download ZIP'.

Now you can move the `custom_components/tahoma` folder to your Home Assistant config. So just overwrite the `tahoma` folder in your `custom_components` folder.

[2020-06-19 10:32] vlebourl commented on #73
just fixed rgb limits from 0 to 255 instead of 0 to 100. be sure to get the last revision.

[2020-06-19 10:44] iMicknl commented on #74
Could you share your device info, like you did in your other issue? I would like to make sure our devices have the same commands available. This weekend I will give the latest beta a try with my Pergola device and see which changes we need to make.

[2020-06-19 10:50] jurgen272 commented on #74
{
         "creationTime":1590504461000,
         "lastUpdateTime":1590504461000,
         "label":"PERGOLA TILT IO",
         "deviceURL":"io://xxxxxx",
         "shortcut":false,
         "controllableName":"io:BioclimaticPergolaIOComponent",
         "definition":{
            "commands":[
               {
                  "commandName":"closeSlats",
                  "nparams":0

[2020-06-19 10:53] jurgen272 commented on #73
I hope I did

I hope I did this correct, but still on/off and dimming OK, but can't change the color.
I get the color picker when I activate the light, but no changes when selecting a different color.

[2020-06-19 11:06] vlebourl commented on #73
Added rgb state update to the branch, can you update?

[2020-06-19 11:14] jurgen272 commented on #73
Still the same.

[2020-06-19 11:18] vlebourl commented on #73
is there any related error message in the logs?

[2020-06-19 11:18] vlebourl commented on #73
It's difficult to develop when you cannot test it on your own...

[2020-06-19 11:22] vlebourl commented on #73
Added some more debug messages.

[2020-06-19 13:57] jurgen272 commented on #73
2020-06-19 15:49:09 WARNING (SyncWorker_4) [custom_components.tahoma.light] light states:
{'core:NameState': 'Light Links', 'core:PriorityLockTimerState': 0, 'core:StatusState': 'available', 'core:RSSILevelState': 52.0, 'core:LightIntensityState': 0, 'core:OnOffState': 'off'}
2020-06-19 15:49:10 WARNING (SyncWorker_8) [custom_components.tahoma.light] light states:
{'core:NameState': 'Paal Living',

[2020-06-19 14:05] vlebourl commented on #73
thank you, not surprising for self._rgb because we receiving hue saturation info instead of rgb. I wasn't expecting that. I just pushed a fix. Can you update and keep me posted?
cheers

[2020-06-19 14:13] jurgen272 commented on #73
All ready a big thanks for your effort and quick responses.

Some more logs.
Errors are from when I tried changing the color with a custom HACS card (rgb-light-card)

2020-06-19 16:09:16 WARNING (SyncWorker_3) [custom_components.tahoma.light] light.turn_on kwargs: {'hs_color': (300.0, 50.196)}
2020-06-19 16:09:16 ERROR (MainThread) [homeassistant.components.websocket_api.http.connection.1401781254

[2020-06-19 14:38] vlebourl commented on #73
stupid typo on my side... fix pushed!

[2020-06-19 15:00] jurgen272 commented on #73
It is working now.
Many thanks for the quick solution !!!

[2020-06-19 15:01] vlebourl commented on #73
great, we'll include that in the next stable release. stay on this branch in the meanwhile

[2020-06-20 11:40] iMicknl commented on #74
@jurgen272 I can confirm that the integration is broking for pergola's, since we moved away from position to tilt_position for the slats.

[2020-06-20 16:14] #74 closed

[2020-06-20 18:12] vlebourl commented on #33
Covers controlled by Homekit integration, completely independent of tahoma, have the same bug in automation. It's a bug in their side.

[2020-06-21 20:20] #32 closed

[2020-06-21 20:52] iMicknl commented on #59
Could be related to https://github.com/iMicknl/ha-tahoma/issues/42. It looks like the `open` and `close` commands are not always functional for this device. I am not sure when to choose `open` vs `up` vs `deploy`.

[2020-06-21 21:11] #20 closed

[2020-06-22 06:47] vlebourl commented on #59
Could you try to identify the commands used by the TaHoma webapp with chrome's dev panel for instance? Would this help?

[2020-06-22 12:17] lseufer opened #80 "Electricity Meter"
Describe the bug:
Data isn't pulled from my meters

Expected behavior:
Nothing is reported. Only "unknown"

Environment:
 - Home Assistant version: 0.111
 - **Platform**: sensor

Device:
 - Model: 'io:TotalElectricalEnergyConsumptionIOSystemSensor'
 - Type: CumulativeElectricPowerConsumptionSensor

[2020-06-22 12:19] vlebourl commented on #80
Hi, thank you for the report, can you please follow instructions provided [here](https://github.com/iMicknl/ha-tahoma/blob/7d8a780b9a3d0ac6b07e76967dbe3d8b36beb49b/.github/ISSUE_TEMPLATE/bug_report.md) to add device details, namely state definitions and command definitions?

[2020-06-22 12:30] lseufer commented on #80
Here you go!

`creationTime":1564688966000,
         "lastUpdateTime":1564688966000,
         "label":"Compteur",
         "deviceURL":"",
         "shortcut":false,
         "controllableName":"io:TotalElectricalEnergyConsumptionIOSystemSensor",
         "definition":{
            "commands":[

            ],
            "states":[
               {
                  "type":"ContinuousState",

[2020-06-22 13:02] vlebourl commented on #80
could you checkout this branch instead of your HACS install of the component and try it out?

https://github.com/iMicknl/ha-tahoma/tree/fix_electrical_energy_sensor

[2020-06-22 13:09] lseufer commented on #80
Excellent! This works. You can merge it.

[2020-06-22 13:10] vlebourl commented on #80
thanks!

[2020-06-22 14:03] #80 closed

[2020-06-22 14:04] #73 closed

[2020-06-22 14:49] #12 closed

[2020-06-22 15:10] iMicknl commented on #26
@francodutch which value would you like to see from this device? I am not sure if it makes sense to show the `core:AssemblyState` (open or close) as a binary sensor.

Or is this an important state to know for your alarm system in HA?

[2020-06-22 21:12] iMicknl commented on #25
Basic support has been added in https://github.com/iMicknl/ha-tahoma/pull/84, could you give it a try?

In order to add full support, support in Home Assistant for sirens would be required. https://github.com/home-assistant/architecture/issues/375

[2020-06-22 21:12] iMicknl commented on #57
Basic support has been added in https://github.com/iMicknl/ha-tahoma/pull/84, could you give it a try?

In order to add full support, support in Home Assistant for sirens would be required. https://github.com/home-assistant/architecture/issues/375

[2020-06-22 21:12] iMicknl commented on #27
Basic support has been added in https://github.com/iMicknl/ha-tahoma/pull/84, could you give it a try?

In order to add full support, support in Home Assistant for sirens would be required. https://github.com/home-assistant/architecture/issues/375

[2020-06-23 05:11] Glenn1986 commented on #57
Oké I will try to test! Do I have to manually update the files of the hacs TaHoma component? It’s my first time 🙈

[2020-06-23 08:06] iMicknl commented on #57
https://github.com/iMicknl/ha-tahoma/tree/refactor_sensor, press the green button and choose 'Download'. Then make sure you overwrite the tahoma folder in `custom_components` with the tahoma folder you did download.

I think siren off should work, but I am not sure if siren on will work. It did require multiple params, but I couldn't find them..

[2020-06-24 05:04] Glenn1986 commented on #57
I installed your new version but has errors. All my switches didn’t work anymore. I will post the errors later.

[2020-06-24 06:54] vlebourl opened #85 "Support multiple types of boxes with different API endpoints."
**Is your feature request related to a problem? Please describe.**

RTS Connexoon box isn't compatible with this integration so far.

**Describe the solution you'd like**

Add support for multiple API endpoints like in https://github.com/dubocr/homebridge-tahoma/blob/master/overkiz-api.js

[2020-06-24 07:35] Glenn1986 commented on #57
2020-06-24 09:24:56 ERROR (MainThread) [homeassistant.components.binary_sensor] Error while setting up tahoma platform for binary_sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 186, in _async_setup_platform
    await asyncio.gather(*pending)
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 292,

[2020-06-24 07:39] vlebourl commented on #57
should be fixed
can you redownload the branch and install it?

[2020-06-24 07:58] Glenn1986 commented on #57
Ok now i don't have errors after installation. I find the siren in my entities. But when clicking on the switch he gives an error. I'm trying to capture the error but with no luck at the moment. When i switching off the sirene I don't get an error.

[2020-06-24 08:01] Glenn1986 commented on #57
Kan service switch/turn_on niet aanroepen Maximum number of consecutive retries reached. Error is: {"errorCode":"INCOMPATIBLE_VALUE","error":"ringWithSingleSimpleSequence() : Invalid value for command parameter p1 : expected multi-type value, one of [integer value between 100 and 204600 or string value in (defaultDuration, defaultSoundPattern)] but got no value"}

[2020-06-24 08:31] vlebourl commented on #57
thanks, this helps a lot!
I just pushed another fix, happy testing :)

[2020-06-24 12:03] Glenn1986 commented on #57
Now I got the message:
Kan service switch/turn_on niet aanroepen Maximum number of consecutive retries reached. Error is: {"errorCode":"RESOURCE_ACCESS_DENIED","error":"Not authenticated"}
Never had problems with not authenticated.

[2020-06-24 12:07] vlebourl commented on #57
This has happened to us as well once or twice, but we don't know what causes this at the moment. A restart of HA should fix it.

[2020-06-24 12:09] vlebourl opened #86 "Not authenticated error."
**Describe the bug**
For some unknown reason, we get kicked out of the api, causing the following error message:
`{"errorCode":"RESOURCE_ACCESS_DENIED","error":"Not authenticated"}`

**To Reproduce**
Don't know yet...

[2020-06-24 12:12] Glenn1986 commented on #57
ok, i reboot the system. I tried again to switch sirene.
Error:
Kan service switch/turn_on niet aanroepen Maximum number of consecutive retries reached. Error is: {"errorCode":"INCOMPATIBLE_VALUE","error":"ringWithSingleSimpleSequence() : Invalid value for command parameter p2 : expected integer value between 0 and 100 but got no value"}

[2020-06-24 12:18] vlebourl commented on #57
apparently 4 parameters are required.
[code]
would you have an idea of what they are from what you do in the tahoma dashboard for instance?

[2020-06-24 13:10] Glenn1986 commented on #57
I did find something on tahoma siren.js file. I didn't find the params i think.
fromAction: {
                ringWithSingleSimpleSequence: function (p1, p2, p3) {
                    //fixme yet the only solution to tell if low bip or intrusion is the repeat time
                    if (p1 === cons.INTRUSION_COMMAND_PARAMETERS[0]
                        && p2 === cons.INTRUSION_COMMAND_PARAMETERS

[2020-06-24 13:24] Glenn1986 commented on #57
I think that the itrusion commands are the alarm settings of tahoma. I have total, zone 1, zone 2, deactivated in my settings of tahoma. So I can activate the alarm for zone 1 or 2 or total. That's what i think these params are but can't find it anywhere. So i am not sure.

[2020-06-25 08:19] iMicknl commented on #57
https://github.com/octa22/org.openhab.binding.somfytahoma/issues/6#issuecomment-488663654
More information could also be found here.

[2020-06-25 08:24] vlebourl commented on #57
shall we use those `[120000, 75, 2, "memorizedVolume"]` as a first try, and see how it goes?

[2020-06-25 08:40] Glenn1986 commented on #57
Good for me. Let me know if I can help testing.

[2020-06-25 08:43] vlebourl commented on #57
just pushed it to branch `refactor_sensor`
happy testing

[2020-06-25 10:06] Glenn1986 commented on #57
I just tested the sirene. Didn't get errors and tested the switch. It worked, but when I wanted to set it off i didn't. But i could not see any errors when set the sirene off. Great work guys! almost there. I also see that a lot of sensors of tahoma has battery level. RSSI:level or something like that. It would be great to also have these information so I can make an automation that notify me when

[2020-06-25 10:10] vlebourl commented on #57
could you try to use the chrome dev panel as in Mick's link: https://github.com/iMicknl/ha-tahoma/issues/57#issuecomment-649357934 to investigate how the stop command is sent?

Regarding your suggestion, we have a branch to add lots of attributes to our entities.

Note that `RSSI:level` isn't the battery level, it's the quality of the connection to the box.

[2020-06-25 19:02] Glenn1986 commented on #57
I'm trying to search for the info that you want but I'm not sure what to look for. I did find something from the iosiren.js in chrome on somfy there website.
define("tahoma/view/secureKit/ioSiren", ["require", "dev/log", "core", "app", "./controller", "i18n!./nls/secureKit", "i18n!../../../vendor/somfy/io/siren/nls/siren", "i18n!tahoma/view/product/nls/product", "./view/ioSiren"], function(e) {

[2020-06-27 13:51] rabesocke opened #90 "Covers move step by step and can't be stopped while moving"
**Describe the bug**
I have two problems with version 1.4. At the moment I switched back to version 1.3.

- The covers can't be stopped while they are moving. They move all the way down and don't respond to the stop button.
- By activating a scene with several covers all covers move one by one. The first cover moves and when that one is finished the next cover moves. Until version 1.3 all covers m

[2020-06-27 20:15] vlebourl commented on #90
thank you for your report. we'll have a look rapidly.
@Mick regarding the second issue, I think this is related to the addition of the wait to the apply_action. could an async function allow to keep the wait while sending several commands without waiting for the previous ones to finish?

[2020-06-29 06:54] vlebourl opened #92 "Actions are applied sequentialy"
**Describe the bug**
When triggering multiple actions in a short time period, actions are executed sequentially by the box instead of concurrently.

**Expected behavior**
Action should be able to execute at once on independent devices.

**Additional context**
This probably relates to the introduction of this part in apply_action:
[code]

This relates to #90 (2)

[2020-06-29 06:55] vlebourl commented on #90
small comment, it would be preferable to open 2 separate issues. Thanks a lot :)

[2020-06-29 07:34] vlebourl commented on #92
This has been tested with covers on my end, but would need further testing, and might not be the best solution...
I guess rewriting the API with event based updates would also render this outdated.
Maybe simply reverting the waiting in the apply_action is enough for now? I think it is useful that entities that take time to apply an action (like closing covers or gates, activating a particular mode

[2020-07-01 19:08] mariwing commented on #86
This happens a lot to me, sometimes already after a restart, sometimes after one or more day. This is the complete error message I get flooded (litterally 100 of these entries):

2020-07-01 21:05:09 ERROR (MainThread) [homeassistant.helpers.entity] Update for cover.markise_hoyre fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 272, in a

[2020-07-01 19:30] vlebourl commented on #86
Thanks for the report. Unfortunately I haven't found a way to reproduce it consistently to debug it... Still looking!

[2020-07-01 20:41] vlebourl commented on #86
Can you try branch `fix-86`? Download [this zip](https://github.com/iMicknl/ha-tahoma/archive/fix-86.zip) and replace the folder tahoma installed through HACS by the one in the zip, restart HA and let me know if it helps.

[2020-07-02 08:48] #90 closed

[2020-07-02 08:48] #92 closed

[2020-07-02 08:54] vlebourl commented on #86
If you haven't done it yet, it should work now!

[2020-07-02 09:17] jurgen272 opened #96 "Update for light component (rgb) fails - error in logs"
**Describe the bug**
RGB light is working correct, but I still have some errors in the loggings.

Errors:

Logboekdetails (ERROR)
Logger: homeassistant.helpers.entity
Source: custom_components/tahoma/light.py:160
First occurred: 8:06:58 (327 occurrences)
Last logged: 10:58:22

Update for light.light_terras_rgb fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/he

[2020-07-02 09:22] vlebourl commented on #96
Hi,
Thanks for the report. Can you edit file `light.py` (using File Editor add-on for instance) and change line 151 to the end with:
[code]

Restart HA and let me know whether you still get the errors.
Thanks

[2020-07-02 10:49] jurgen272 commented on #96
Hi,

I changed:

        if CORE_RED_COLOR_INTENSITY_STATE in self.tahoma_device.active_states:
            self._hs_color = color_util.color_RGB_to_hs(
                [
                    self.tahoma_device.active_states.get(
                        CORE_RED_COLOR_INTENSITY_STATE
                    ),
                    self.tahoma_device.active_states.get(
                        CORE_GREEN_

[2020-07-02 10:53] vlebourl commented on #96
Python is very picky with indentation, github copy and paste might have messed it up... I think the `if` line is one space too far left. You should have 8 whitespaces before the `if`, 12 on the next line and 16 on the three lines inside parenthesis.

[2020-07-02 11:48] jurgen272 commented on #96
Indeed, indentation problem.
It is working now without errors.

[2020-07-02 11:54] vlebourl commented on #96
Fixed in 1.5alpha2 by #97

[2020-07-02 11:54] #96 closed

[2020-07-02 11:55] vlebourl commented on #86
fixed in 1.5alpha2 by #95

[2020-07-02 13:26] vlebourl commented on #86
We manage to get authenticated, but we still don't know why we loose authentication at some point...

[2020-07-02 13:27] rabesocke commented on #86
Just moved from the discussion in issue #93

_LOGGER.debug("not authenticated: login again.")
Restart HA a try again with debug log setup for the component (see here)

I will test this later and give you feedback.

[2020-07-02 14:46] rabesocke commented on #86
I get no log entry when I move the cover (even when I change it to warning or error).

[2020-07-02 14:48] vlebourl commented on #86
The log is only supposed to warn if you're not authenticated... Do you still have the delay?

[2020-07-02 14:50] rabesocke commented on #86
Yes, the delay is still there (not always, but most of the time)

[2020-07-02 14:51] vlebourl commented on #86
I just found something, can you check whether this might change something?
In the Tahoma web interface, go to your account:
![image](https://user-images.githubusercontent.com/5701372/86373704-fa0b3e80-bc83-11ea-89ff-e35de859d2a8.png)

Select "My Somfy Account" at the bottom, and check whether you gave access to your box. I have no idea whether this is actually important or not, but we never know.

[2020-07-02 14:57] vlebourl commented on #86
I've added another debug message in branch https://github.com/iMicknl/ha-tahoma/archive/not-authenticated-error.zip
can you try it? Don't forget to activate debug logging.

[2020-07-02 15:12] rabesocke commented on #86
No change with this configuration

[2020-07-02 15:17] vlebourl commented on #86
damn it :(
I just found this in the hidden doc regarding actions sent to the api: "Per-session rate-limit : 50 calls per 24 HOURS period for all operations of the same category (exec)"
Maybe this is the issue?
Not sure though cause I also got this in the tahoma web interface:
![image](https://user-images.githubusercontent.com/5701372/86376834-e19d2300-bc87-11ea-979b-2c65331a95d4.png)

[2020-07-02 15:19] rabesocke commented on #86
Still no log entry and still the same situation.

[2020-07-02 15:26] vlebourl commented on #86
I've modified the log. You should get debug messages even if you're still authenticated.
This will flood your logs, but might give us info...
Don't hesitate to revert!

[2020-07-02 15:39] rabesocke commented on #86
This is an example of the entries:
[code]

[2020-07-02 16:13] vlebourl commented on #86
These are scheduled update calls. I don't see any delay there. Can you do an action, look for apply_action in the log, and post messages around it?

[2020-07-02 16:24] rabesocke commented on #86
Here is the `apply_action` snippet. The interesting thing is, that I click the button at 18:21:01 in the HA iOS App and in the log it says 18:21:09

[code]

[2020-07-02 16:28] rabesocke commented on #86
I test it again and it is reproducible: I clicked the button at 18:24:45 and the cover reacts 10 seconds later. And the same for the stop button - it reacts 10 seconds later after I clicked the button in the HA iOS app.

[code]

[code]

[2020-07-02 16:30] vlebourl commented on #86
Interesting. Are those 8 seconds the typical delay you observe? What command are you using exactly? The apply_action message is sent from the integration, the request messages from the API. It means, once the apply_action is received, no delay is observed

[2020-07-02 16:34] rabesocke commented on #86
Since the update to 1.5-alpha2 the delay is normally between 2 and 12 seconds. Most time the delay is 8 till 10 seconds.
Is there any schedule for applying actions?

I use the Button down, up and stop of the entity card:
![image](https://user-images.githubusercontent.com/4104867/86386846-99373280-bc92-11ea-9109-98a5910ab1bd.png)

[2020-07-02 16:39] vlebourl commented on #86
I added yet other log messages to time when the actions are received by the cover entity.

[2020-07-02 17:04] rabesocke commented on #86
The delay is before the action is received by the cover entity:

Move down clicked at 19:00:45
[code]

Stop clicked at 19:01:00
[code]

[2020-07-02 17:08] vlebourl commented on #86
I'm afraid it's not on our side... This might be related to the frontend, but we can't control what happens before the close_cover our stop_cover log message.

[2020-07-02 17:17] jensihnow opened #99 "custom_components.tahoma.config_flow - Unexpected exception - ValueError: No ui Class"
**Describe the bug**

Found this custom integration while searching for issues related to https://github.com/home-assistant/core/issues/37291.
Anyways, haven't used it before and running into a config_flow issue after submitting my credentials:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Integrations and add the integration
2. Click on submit after inserting credentials
3. See erro

[2020-07-02 17:38] rabesocke commented on #86
Ok. It's hard to say what the source is. I updated HA to 0.112 and because of the login issue I had to update tahoma to 1.5-alpha2. Before that I used HA 0.111.4 and tahoma 1.3.

What I don't unterstand: the Zigbee lights are responding immediately without delay.

[2020-07-02 19:07] mariwing commented on #86
This comment might be completly idiotic and I might be thinking completely wrong :-) But I have only RTS devices, so none of them report any state at any time. Reading the log (and this is the part where I might be wrong) it seems that the integration is pulling the api for status. This is bound to not give any usable result since there is no state to report. If it is possible to from the device c

[2020-07-02 19:15] vlebourl commented on #86
It's a good idea to not pull on rts devices indeed. But we are thinking of rewriting the whole update process to make it an event based push update instead of a regular poll. This will be quite some work so not for tomorrow... Nevertheless, updates aren't exec calls, so it shouldn't impact the quotas

[2020-07-02 19:26] vlebourl commented on #99
Thanks for the report, I'll have a look tomorrow!

[2020-07-02 19:31] vlebourl commented on #99
We actually weren't planning on supporting zwave devices as there is a native zWave integration in HA. But I guess it could change.

[2020-07-02 20:00] jensihnow commented on #99
I actually don’t care about the zWave support, it just broke my setup of the integration. Thanks!

[2020-07-02 21:54] iMicknl commented on #99
@vlebourl this issue is probably introduced by adding climate to the config flow. Would be good to check there loosely for `uiclass`. Didn't know that uiclass could be empty.

[2020-07-03 07:03] vlebourl commented on #86
I'll close this issue for now.

[2020-07-03 07:03] #86 closed

[2020-07-03 07:42] vlebourl commented on #99
Sorry if I got misunderstood. I was not implying I wouldn't fix it. IMHO, this is a misbehaving of the API that should raise exception at that stage.

[2020-07-03 07:43] vlebourl commented on #99
can you try branch [fix-99](https://github.com/iMicknl/ha-tahoma/archive/fix-99.zip)?

[2020-07-03 11:10] #99 closed

[2020-07-03 11:33] iMicknl commented on #33
Logged as https://github.com/home-assistant/core/issues/37414

[2020-07-03 14:52] jensihnow commented on #99
Just to confirm, switched over to your custom integration without any issues a few minutes ago. Minor piece was io:SomfyContactIOSystemSensor sensor switching from sensor to binary_sensor. Guess this is a breaking change when this one will be released.

[2020-07-03 14:53] iMicknl commented on #99
Great to hear! Indeed that is marked as a change in our changelog, when it will be published to core, we will list the breaking changes for sure. :)

[2020-07-05 13:49] ljscz opened #102 "Add support for RainSensor (io:SomfyRainIOSystemSensor)"
**Device information**
Rain sensor with `detected`, `notDetected` states which is used to control covers.

**Device details**
[code]

[2020-07-05 18:05] cdeharo opened #103 "io:HorizontalAwningIOComponent reports 0 as the current_position when it's fully opened"
**Describe the bug**
The `current_position` of the `io:HorizontalAwningIOComponent` is always `0` but the `core:DeploymentState` is `100` when:
* Using the service `cover.open_cover`
* Setting the `100` position using the service `cover.set_cover_position`

Using the service `cover.set_cover_position` to establish the `99` position reports:
[code]

Using the service `cover.set_cover_position` to e

[2020-07-05 18:23] cdeharo opened #104 "Add support for internal:PodMiniComponent"
**Device information**
Doesn't having this device doesn't seems to affect my awning or solar sensor. The other device I have is a wind sensor which closes the awning if it detects vibration, but I'm not able to control this device using the Connexoon Terrace Android app, I don't know if it is connected to the Connexoon gateway.

In order to avoid error logs I have this device excluded from the cor

[2020-07-05 18:30] cdeharo opened #105 "Add support for ogp:Bridge"
**Device information**
I don't know which device is. Doesn't having this device doesn't seems to affect my awning or solar sensor.

**Device details**
Sorry, I can't access the `https://www.tahomalink.com/enduser-mobile-web/steer-html5-client/tahoma/` to get the details of the device. I'm using the same credentials that I use in this platform, but the web reports an error (maybe because I own a Co

[2020-07-05 22:26] iMicknl commented on #105
Thanks for reporting, @cdeharo! The bridges have been added since the last firmware update. I believe they should not be added to Home Assistant, since they won't add any functionality.

If you agree, we can close this issue. The `Unsupported Tahoma device` message will only be shown in debug mode, thus this won't have any consequences for 'normal' users.

[2020-07-05 22:29] iMicknl commented on #104
Thanks for reporting, @cdeharo! The `PodMiniComponent` doesn't have any commands that are really useful in Home Assistant. Or do you have a use-case for the `setPodLedOn` / `setPodLedOff`? Or would you like to use the input from a button press of the 'pod'?

The `Unsupported Tahoma device` message will only be shown in debug mode, thus this won't have any consequences for 'normal' users.

[2020-07-05 22:31] iMicknl commented on #102
Thanks for reporting @ljscz! Support for the rain sensor is on its way and will be added after https://github.com/iMicknl/ha-tahoma/pull/84 is merged.

If you would like to beta test this functionality, you can download this feature https://github.com/iMicknl/ha-tahoma/archive/refactor_sensor.zip and place this folder in your `custom_components` folder.

[2020-07-05 23:08] jensihnow commented on #104
I believe the input of the button press would be good to be implemented. It could call a scenario or scene if available.

[2020-07-05 23:19] iMicknl commented on #104
Not sure how realtime `internal:LastActionConfigButtonState` is, but it should have the following possibilities. Should it be mapped to a sensor? Since a `binary_sensor` is just a boolean, and this pod could have multiple options.

[code]

[2020-07-06 06:54] ljscz commented on #102
Thank you for the fast change!

I had to change the sensor type in `const.py` to

[code]

Without this the sensor was reported as `sensor.xxxx` and without state after the change it works perfectly.

[2020-07-06 08:33] iMicknl commented on #102
@ljscz good spot, I fixed it now in the latest version. #84 should be published soon, adding support for multiple sensors.

[2020-07-06 08:38] tetienne opened #107 "Create registry with devices definition"
Hi,

I can see in this component a lot of conditions about the states, the device type etc. Having worked on the SomfyAPI, I think Somfy has applied the same logic to its unofficial API. To be sure we need a full picture of the supported devices by the Tahoma (or Connexoon, or whatever).

Do you have stored somewhere the output of the devices returned by the Tahoma website?
If not, are you ok to c

[2020-07-06 08:48] iMicknl commented on #107
That was our initial thought and we received quite some information from someone building the Tahoma HomeBridge integration, however @vlebourl spotted something really nice last week. We are currently leveraging this to add support for new devices, but it hasn't been added to the repository yet.

There are multiple endpoints in the TaHoma API where you can retrieve this device information, even wh

[2020-07-06 08:58] tetienne commented on #107
That's really a huge list of devices! I hope similar devices have common command. That's insane we can access the device definition even if we don't own it. Have you already registered all the definitions?

[2020-07-06 08:59] vlebourl commented on #107
Note that we don't really support all of them, but I think that's all that the TaHoma box can work with. Unfortunately more often than not, a new device has new states or properties or commands that are very close, but not the same as the existing ones... Which forces us to tweak stuff every time...

[2020-07-06 09:00] vlebourl commented on #107
" Have you already retrieved all the definitions?"
Not yet no... that would be a huge source of info though

[2020-07-06 09:02] iMicknl commented on #107
@tetienne we mainly support the `io` devices. The amount of devices doesn't really matter to be honest, since we have an approach where we look at the `uiClass` and `widgetName` to understand if a device is supported. And based on the device platform, we have a look at the available commands and states.

This is a major difference compared with the original Tahoma component in core, where everythi

[2020-07-06 09:39] vlebourl commented on #105
we should filter the debug log to remove this one.

[2020-07-06 09:40] vlebourl commented on #104
I would map it to a remote. But I don't think we have that yet in the component.

[2020-07-06 10:05] iMicknl commented on #33
Closing, since this is a bug in core frontend.

Logged as: https://github.com/home-assistant/frontend/issues/6329, https://github.com/home-assistant/frontend/issues/6320, https://github.com/home-assistant/frontend/issues/6337

[2020-07-06 10:05] #33 closed

[2020-07-06 10:47] iMicknl opened #110 "Refactor constants and strings"
- [x] Move constants from `consts.py` to the platform files if they are only used there
- [x] Add constants for all strings, especially in `binary_sensor`, `cover` and `switch`
- [x] Utilise f strings instead of .format() ([core comment](https://github.com/home-assistant/core/pull/36258#issuecomment-637720333))
- [x] Add helper functions for retrieving state and calling commands, eliminating all t

[2020-07-06 12:17] tetienne commented on #110
IMO it must be done in another issue. Otherwise, it will increase the size of your PR and made difficult to review it.

[2020-07-06 12:53] #102 closed

[2020-07-06 12:56] iMicknl opened #111 "Retrieve core:MeasuredValueType to understand if it is Celsius or Kelvin"
**Is your feature request related to a problem? Please describe.**
Currently we only support temperature sensors in Celsius.

**Describe the solution you'd like**
Would be good to retrieve the `core:MeasuredValueType` to understand if a `TemperatureSensor` is using Kelvin or Celsius. In other integrations I have seen that this is calculated based on the figure, which is more error prone and less n

[2020-07-06 12:58] iMicknl opened #112 "Remove (or document) offset for covers"
**Is your feature request related to a problem? Please describe.**
There is an open TODO in `cover.py` related to an offset that will be added to the position. This is coming from the original component and we are not sure why. https://github.com/iMicknl/ha-tahoma/blob/dd3a5c67035e591429071439b818ca991dca6122/custom_components/tahoma/cover.py#L133-L137

**Describe the solution you'd like**
This sh

[2020-07-06 13:00] vlebourl commented on #112
this might relate to some of the problems mentioned here: #103

[2020-07-06 13:01] iMicknl opened #113 "Remove YAML config schema"
**Is your feature request related to a problem? Please describe.**
https://github.com/iMicknl/ha-tahoma/blob/dd3a5c67035e591429071439b818ca991dca6122/custom_components/tahoma/__init__.py#L23-L37

Integration still has some legacy YAML schema, which is not used anymore.

**Describe the solution you'd like**
Should be removed. (or support for YAML could be added, for backwards compatibility)

[2020-07-06 13:12] iMicknl commented on #103
The `current_position` offset around 95 is due to #112.

The other part could be due to the reverse logic we have built-in for Horizontal Awnings after multiple user reports.. Is the open / close (and set position) exactly reversed with what you would expect?

Please note that 0 is closed in Home Assistant and 100 is fully open.

https://github.com/iMicknl/ha-tahoma/blob/dd3a5c67035e591429071439b8

[2020-07-06 13:13] iMicknl commented on #1
This is currently blocked, until we have a new async API implementation which leverage event listeners as well. This will require a rewrite of the whole state mechanism.

[2020-07-06 14:28] cdeharo commented on #105
I agree to filter the log and close the issue. Thanks!

[2020-07-06 14:39] cdeharo commented on #103
No, I don't experiment this reverse logic. When buttons are enabled (when the awning is not fully opened), the open and close buttons works fine and in the expected direction. The `set_position` also works as expected: opening and closing the awning to the desired position.

I think that this could be only a matter of the `current_position` value when the awning is fully opened. As you stated, a f

[2020-07-06 14:41] #105 closed

[2020-07-06 14:45] tetienne commented on #105
@iMicknl The bridge can be used to fill the `via_device` in the entity registry: https://developers.home-assistant.io/docs/device_registry_index

For the moment, it's not used by HA.

[2020-07-06 14:49] iMicknl commented on #105
@tetienne this sparked my mind as well. However my understanding was that HA core would only like to have devices in the device registry where you have entities / you can take an action. Otherwise this could be a nice improvement.

[2020-07-06 14:53] iMicknl commented on #103
https://github.com/iMicknl/ha-tahoma/blob/dd3a5c67035e591429071439b818ca991dca6122/custom_components/tahoma/cover.py#L212-L232

Thanks for your detailed comments @cdeharo. It could be due to the `is_closed()` function not taking the Horizontal reverse into account.

[2020-07-06 15:43] RafaZafra opened #118 "io:VerticalExteriorAwningIOComponent shown as io:HorizontalAwningIOComponent"
**Describe the bug**
My two exterior and vertical awnings are recognize as an horizontal awining. Therefore the current position is always reversed. Also the Lovelace widget shows curtains icons instead of up/down arrows.

**Expected behavior**
 - State open = Position 100
 - State closed = Position 0
 - Widget icons = up/down arrows

**Environment (please complete the following information):**
 -

[2020-07-06 15:45] iMicknl commented on #118
@RafaZafra I am not sure how this can happen, since this is not hardcoded in the component. We read the `uiClass` and `widget` name from the tahomalink.com API.

Could you provide us with the details of your devices, which you can extract from the website: https://github.com/totalimmersion/com.somfy.tahoma/files/2755935/Instructions.for.the.TaHoma.devices.pdf.

[2020-07-06 15:54] #107 closed

[2020-07-06 15:54] cdeharo commented on #103
I don't know if it has something to do with the horizontal reverse.

These are the attributes of the awning in fully opened state:
[code]

The problem I see is with the `current_position` not matching the `core:DeploymentState` when its fully opened.

Also, if I set the awning to an intermediate position, the buttons act as expected and the state (open or closed) always match the real state of the

[2020-07-06 16:04] #111 closed

[2020-07-06 16:11] cdeharo commented on #104
Sorry, I don't know where I have this `PodMiniComponent` in my awning gadgets... I don't know how I can use this button because I don't know where it is.

My Somfy components are:
* Motor Somfy IO
* Connexoon
* SUNIS IO
* [Eolis 3D](https://www.somfysystems.com/en-us/products/1816081/eolis-3d-wirefree-rts)

[2020-07-06 16:14] iMicknl commented on #104
@cdeharo I am not sure about the Connexoon, but the Somfy TaHoma module has a (touch?) button and can show a status led. However, this device is most of the time hidden somewhere, thus I don't see a use-case for this.

![image](https://user-images.githubusercontent.com/1424596/86615141-56d46500-bfb4-11ea-8269-e056eeafd8b2.png)

[2020-07-06 17:25] cdeharo commented on #104
Yes, I agree that this device is always hidden. Maybe in the Connexoon module this button is the PROG one and the LED in the right:
![image](https://user-images.githubusercontent.com/12809819/86621356-5771f900-bfbe-11ea-8e40-9f4053fd5e0c.png)

I don't think I'm never going to use this buttons and LED in my HA automations ;-)

[2020-07-07 07:57] #113 closed

[2020-07-08 08:07] Lupick opened #130 "Hcs PROBLEM"
**Describe the bug**
 I've just added https://github.com/imicknl/ha-tahoma to my hassio HACCS but in the logs I get:
-07-08 06:25:02 INFO (MainThread) [supervisor.store] Load add-ons from store: 65 all - 0 new - 0 remove
20-07-08 06:31:33 INFO (MainThread) [supervisor.store.git] Clone add-on https://github.com/imicknl/ha-tahoma repository
20-07-08 06:31:36 ERROR (MainThread) [supervisor.utils.json

[2020-07-08 08:15] tetienne commented on #130
I just try right now using the latest HACS version (1.1.2) and the latest HA version (0.112.3). I haven't any error in the log. Which version are you using?

[2020-07-08 08:21] Lupick commented on #130
I'm on Home Assistant 0.112.3 . Wehere I've to check for HACS version? I'm using hassio:

arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.8
hassio | true
host_os | HassOS 4.11
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.127-v7
python_version | 3.7.7
supervisor | 228
timezone | Europe/Rome
version | 0.112.3
virtualenv | false

[2020-07-10 12:30] vlebourl commented on #110
Second tick by #126

[2020-07-11 14:51] iMicknl commented on #103
@cdeharo just to be sure, you didn't had this issue with the Tahoma component that is currently in core?

I will try to find some time to figure out where it is going wrong, thanks for your detailed comments.

[2020-07-11 15:04] iMicknl commented on #130
If you open the HACS page, you should have an 'About' button, which will show the version of HACS.

To be sure, I would advise to download the latest HACS version and install it.

[2020-07-12 15:43] francodutch opened #146 "io:CyclicGarageOpenerIOComponent not accessible by services, automations, and has status unknown"
**Describe the bug**
I have installed the following Somfy [device](Physical device: https://www.somfy.fr/produits/1841229/recepteur-acces-compatible-io) which allows opening and closing of garage door via dry contact. Even if this is IO device, state cannot be fed back because the interface to the garage door motor is via dry contact (up/stop/down/stop/etc).

The device is recognised as a garage d

[2020-07-12 16:07] tetienne commented on #146
On the created entity, what's actions are currently available?

[2020-07-12 16:26] cdeharo commented on #103
Correct, I've never had this issue with the Tahoma core component (before having the blocking issue [#37291](https://github.com/home-assistant/core/issues/37291) where Tahoma core component stopped working with my Connexoon).

[2020-07-12 18:44] iMicknl commented on #146
This is due to this device only supporting `cycle`. We currently don't have support for `cycle` in the cover platform, but we have in the switch platform.

I will have a look if this could be supported in cover platform as well, or if your specific device should be remapped to the switch platform.

[2020-07-12 18:54] vlebourl commented on #146
as there is no state feedback, I'd say mapping it to a switch would make the most sense.

[2020-07-12 21:26] Lupick commented on #130
I've just reinstalled hacs and now it's working.

[2020-07-12 21:26] #130 closed

[2020-07-12 22:35] tetienne commented on #146
Or just override the toggle method from the cover entity: https://github.com/home-assistant/core/blob/dev/homeassistant/components/cover/__init__.py#L261

As the ui class is GarageDoor it will avoid to create different use cases.

[2020-07-12 22:57] tetienne commented on #103
Hi @cdeharo, can you please follow these steps: file:///tmp/mozilla_tetienne0/Instructions.for.the.TaHoma.devices.pdf and reproduce them at different states of your Awning (closed, opened, almost closed, almost opened and any position)?
It will help to clearly understand the behavior of this device and not rely on the position compute by the component.

Thx

[2020-07-13 20:48] cdeharo commented on #103
Hello @tetienne , sorry for the inconvenience, but I can't follow the [Instructions.for.the.TaHoma.devices.pdf](https://github.com/totalimmersion/com.somfy.tahoma/files/2755935/Instructions.for.the.TaHoma.devices.pdf) because I don't have access to the URL `https://www.tahomalink.com/enduser-mobile-web/steer-html5-client/tahoma/` to get the details of the device. I'm using the same credentials tha

[2020-07-14 12:34] rabesocke commented on #103
Just use this link to get the documentation: https://github.com/totalimmersion/com.somfy.tahoma/files/2755935/Instructions.for.the.TaHoma.devices.pdf

[2020-07-14 12:39] vlebourl commented on #103
I don't think that's the problem. From what I understood, connexoon uses the same api as tahoma, but they don't have a webapp as tahoma does with tahomalink.com. Hence the URL isn't accessible to him. We need to add some debug info in the log with the relevant parts to access this.

[2020-07-14 12:40] iMicknl commented on #103
@vlebourl debug information is not really necessary, since all original states are added as device attributes.

With the information already provided here, I should be able to fix it. However this requires a bit more time than I have this week :).
https://github.com/iMicknl/ha-tahoma/issues/103#issuecomment-654321632

[2020-07-14 12:42] rabesocke commented on #103
Sorry, I understood it wrong. I thought he couldn't download the documentation.

[2020-07-14 12:42] vlebourl commented on #103
No worries, contribution is always welcomed :)

[2020-07-14 12:45] ppenders opened #149 "Support for interior_blind_positionable_stateful_roof"
Hi,

Could you add support for: interior_blind_positionable_stateful_roof ?

Thanks,

Perry

[2020-07-14 12:47] vlebourl commented on #149
Hi, thank you for your report. Could you provide us with details on the device you'd like to see added?

**Device information**
A clear and concise description of the device, together with specific use cases that you would like to see supported.

**Device details**
Please follow the instructions here: https://github.com/totalimmersion/com.somfy.tahoma/files/2755935/Instructions.for.the.TaHoma.devi

[2020-07-14 14:15] gpatryk commented on #103
I own Tahoma and awning with Sunea IO. Here are the details:

[code]

[2020-07-15 11:49] ppenders commented on #149
Support for open, close, stop and position would be great!

"creationTime":1564554730000,
         "lastUpdateTime":1564554730000,
         "label":"Dakraam Master",
         "deviceURL":"
         "shortcut":false,
         "controllableName":"io:VerticalInteriorBlindVeluxIOComponent",
         "definition":{
            "commands":[
               {
                  "commandName":"close",

[2020-07-15 12:01] vlebourl commented on #149
Thanks. Could you try this branch? https://github.com/iMicknl/ha-tahoma/tree/fix/fix_149

Download and extract this zip: https://github.com/iMicknl/ha-tahoma/archive/fix/fix_149.zip

Replace your tahoma folder installed with HACS by the one in the zip, restart HA and let us know if that works.

[2020-07-16 09:47] vlebourl opened #151 "Simplify climate integration"
ok, here are my thoughts regarding the climate entity:
- as it is now, I don't think it will be accepted in core
- the option flow is not very self explanatory
- Somfy has different logics depending on the devices (I know only of the Smart thermostat and AEH or now, but according to the uiClasses list, there are others)

What we can do:
- remove the option flow
- build the climate entity for smart

[2020-07-16 16:50] ppenders commented on #149
Hi!

Thank you for your swift response. I've tested and it works like a charm :)

Thanks,

Perry

[2020-07-16 16:50] #149 closed

[2020-07-17 09:27] vlebourl opened #155 "Cover fails to get current_cover_position for device 'rts:GenericRTSComponent'"
This device is an RTS micro module to command covers, but as it is rts it doesn't have state return, hence the failure...
This device should be mapped as a switch probably...

[2020-07-17 09:32] vlebourl commented on #155
uiClass is `Generic`

[2020-07-17 09:56] iMicknl commented on #155
I believe this should still be mapped to a cover, since it is a cover device. We already set `assumed_state` to True for RTS devices. It should be possible to have a cover without a position.

How do other components do this?

[2020-07-17 10:01] iMicknl commented on #155
https://github.com/iMicknl/ha-tahoma/blob/34b6832f554d02f8455814fbc8e51aa92388ab02/custom_components/tahoma/cover.py#L103

Maybe recent changes have caused this? It should return None when there is no position available?

[2020-07-17 10:03] vlebourl commented on #155
yes, it's quite recent, the addition of helper functions

[2020-07-17 10:06] tetienne commented on #155
Yes indeed, we forgot to handle the None case.

[2020-07-17 19:59] #155 closed

[2020-07-18 23:10] tetienne commented on #112
I've been removed with https://github.com/iMicknl/ha-tahoma/pull/148

[2020-07-20 07:57] #112 closed

[2020-07-20 19:10] #110 closed

[2020-07-20 20:27] mjhcdk opened #161 "Add support for [Somfy Terrace Heater] (io:SimpleExteriorHeatingIOComponent)"
**Device information**

Somfy Terrace heaters module with 6 steps to set heating level.  The device can be managed  Connexoon io box and Somfy Terrace App, but is not revealed via Somfy API.

The requirements would be to read the state (on/off) and heat level of the device. Secondly, set the heating level from 0 -100 %. and power on/off.

**Device details**

I am not able to follow the  instructio

[2020-07-20 20:31] tetienne commented on #161
@vlebourl Perfect for your climate platform refactor ;)

[code]

[2020-07-20 20:33] tetienne commented on #161
@mjhcdk You talk about a percent value, how this device works? In the output, I can see values like ComfortLevel1, ComfortLevel2. That's what you set?
Can you please provide a screenshot of the Connexoon UI when you manipulate this device?

[2020-07-20 20:40] mjhcdk commented on #161
For sure, there is actually just a simple slider with 6 fixed steps where first is off) and top is obviously full heat.  The Procent level was based on my awkning fuctionality on base box.
![Somfy-Terrace-app-heater](https://user-images.githubusercontent.com/61055519/87984229-f24bf680-cad9-11ea-8597-fe5aa3fcdc40.png)

[2020-07-21 06:41] vlebourl commented on #161
I suppose we would need to use `getLevel` and `setLevel` but it's hard to know what the levels should be. Plus connexoon doesn't have a web interface if I'm correct, which make exploration harder. I'll try to add something that makes sense, and put some debug and attribute info to make sure we're on track, then clean it up after your testing. I'll keep you posted.

[2020-07-21 06:46] mjhcdk commented on #161
very appreciated - Am I ready to perform some testing and troubleshooting

[2020-07-21 08:22] vlebourl commented on #161
can you try this branch: https://github.com/iMicknl/ha-tahoma/tree/enhancement/refactor_climate_%23151

Download and extract the zip https://github.com/iMicknl/ha-tahoma/archive/enhancement/refactor_climate_%23151.zip
Replace the `tahoma` directory in your custom_components folder by the one in the zip, restart and let me know whether it works.

[2020-07-21 11:47] mjhcdk commented on #161
hi, still only able to discover my cover device ...  I have also tried to remove the integration , deleted folder Tahoma and copied new folder to custom_components and reinstalled from integration page.

 Anyway to check its using this new test-version?

2020-07-21 13:31:23 DEBUG (MainThread) [custom_components.tahoma] Unsupported Tahoma device (internal:PodMiniComponent). Create an issue on Githu

[2020-07-21 11:49] vlebourl commented on #161
my bad, I forgot an important part, let me fix that very quickly

[2020-07-21 11:49] mjhcdk commented on #161
great

[2020-07-21 11:51] vlebourl commented on #161
please try again with the last version.

[2020-07-21 12:14] mjhcdk commented on #161
okay, some good progress... One new device discovered, but no new entities - and some errors in log file.

DimmerExteriorHeating
af Somfy
Firmware: io:SimpleExteriorHeatingIOComponent

Log snip:
----------------
[code]

[2020-07-21 12:16] vlebourl commented on #161
thanks for the report.
this part you can ignore:
[code]

[2020-07-21 12:18] vlebourl commented on #161
I wanted to have the slider in percents but unfortunately HA doesn't allow that...

[2020-07-21 12:37] mjhcdk commented on #161
okay - let me know when its time for another try

[2020-07-21 12:39] vlebourl commented on #161
you can have another go at it!

[2020-07-21 13:07] mjhcdk commented on #161
some more progress.  entity created as well.

However, it seems not to update attributes and state when changing state of device via Somfy App.
Secondly, when testing from dev-tool - both climate.power_on and climate.power_off make go to max level.
and when I try call set temp it complians about expecting an integer , in stead of 30.0 , even when I just type 30

![image](https://user-images.github

[2020-07-21 13:15] vlebourl commented on #161
"However, it seems not to update attributes and state when changing state of device via Somfy App."

HA updates the entity once per minute, so if you interact through the app, you'd need to wait long enough to get it reflected in HA. Have you waited that much? Otherwise I might need to call `getLevel` somewhere, but for now I'm not sure it's needed.

Second error should be fixed. Can you try again

[2020-07-21 13:48] mjhcdk commented on #161
okay, you are right state is updated based on temp changes.  However, there is an odd behavior , it seems temperate attribute is opposite : 100 means off and 0 means full power. 90 means 10% (comparing to Somfy App and the heater). and both the power-on/off seems to cause the heater to go to max.

One time the state actually changes shortly to "off", but then changed back to "heat" and temp 100 (o

[2020-07-21 14:00] vlebourl commented on #161
We have a public discord to talk about issues, it will be more reactive than here, can you join there? https://discord.gg/nNzBsK

[2020-07-21 14:06] vlebourl commented on #161
Otherwise, can you change the level in the connexoon app to 0, 25, 50, 75 and 100, and report states in HA after it updates?

[2020-07-21 14:17] mjhcdk commented on #161
yes, if I set level to 10 or 15 % in Somfy app, then temperature attribute changes to 90/85 in HA.  So assume I need a reverse engine within the integration to translate from Somfy scale to normal scale. similar if I set HA to i.e. 30% it will go to 70% on the Somfy App and the Heather it self.    Secondly, temp 100 should be treated as power-off, and power-off action should set temp for 100.

Can

[2020-07-21 14:22] vlebourl commented on #161
And I think line 53 should also be changed to
[code]

[2020-07-21 14:24] vlebourl commented on #161
Ok, I've inverted the range.
Strange logic from Somfy to have 100 for off...

[2020-07-21 14:40] mjhcdk commented on #161
Awesome - Now it reflect normal logic :-) Would it be possible force an update when you change temp. Otherwise it takes quite a while before a change via the frontend is in sync with the actual temp.

![image](https://user-images.githubusercontent.com/61055519/88068634-bf087680-cb70-11ea-83a6-46489ac58b39.png)
![image](https://user-images.githubusercontent.com/61055519/88068721-de070880-cb70-11ea-

[2020-07-21 14:42] vlebourl commented on #161
what do you mean?
update HA when you change in the connexoon app?
This is not possible as of now unfortunately. We are working on a more reactive update of our platform but it's not ready yet...

[2020-07-21 14:46] mjhcdk commented on #161
no, only when in working in frontend - If I change the "temp wheel" from 10 to 30c It may take 30 seconds before the "temp wheel" changes to 30c. I can see the Somfy App is updated instantly, so question is if you can do a get-level call after you perform a set_level.

[2020-07-21 14:50] vlebourl commented on #161
added a `getLevel`

[2020-07-21 14:52] iMicknl commented on #161
@vlebourl this bug can also be due to us polling the execution, my light turn on action has also a huge delay since the latest updates.

We are maybe able to set the temperature_unit to a percentage. In that case you would also need to override `min_temp` and `max_temp`.

[2020-07-21 14:54] vlebourl commented on #161
this caused that error: https://github.com/iMicknl/ha-tahoma/issues/161#issuecomment-661819160

[2020-07-21 14:57] iMicknl commented on #161
@vlebourl you would also need to override capability_attributes in order to get it working with a percentage.

[2020-07-21 15:00] mjhcdk commented on #161
awesome - Getlevel update is working, but not every time - maybe it could use a minor 1-2 sec delay  before you do the getlevel refresh. and obviously as mentioned by Imicknl if there is a solution to show as percent instead of Celcius would be cool.

[2020-07-21 15:08] iMicknl commented on #161
@mjhcdk how fluent are you with Python? We are moving to an (polling) event listener approach and I would like to understand if your update is directly reflected in that listener or if you have to poll getLevel.

[2020-07-21 15:25] mjhcdk commented on #161
With very old background in C devl, I do understand the basics of Python, and have started to migrate  my automation to AppDaemon.  That said, I still quite new to HA. But if I can help in any way , please let me know.

[2020-07-21 16:14] iMicknl commented on #161
@mjhcdk if you could try the latest version, to see if the % is reflected, would be great. :-)

We are working on rewriting the state mechanism to be smarter and faster, but this will take a while.

[2020-07-21 18:43] mjhcdk commented on #161
hi. latest release does not work, it says entity is unavailable, and no updates to device are possible from HA, and changes from Somfy App, is not reflected in HA. I also tried to remove entity and restart, then its rediscovered but unavailable.  Not errors in log.

[2020-07-22 08:49] vlebourl commented on #161
Can you try that new branch?
https://github.com/iMicknl/ha-tahoma/tree/fix/fix_161

[2020-07-22 09:15] mjhcdk commented on #161
Sure, but how do I "patch" the fix into existing Tahoma folder.

[2020-07-22 09:16] vlebourl commented on #161
just the same as previously, download the zip here: https://github.com/iMicknl/ha-tahoma/archive/fix/fix_161.zip
and replace your tahoma folder with the one in the zip folder.

[2020-07-22 09:38] mjhcdk commented on #161
okay.  Getting these errors in log when try to set temp.

`2020-07-22 11:31:40 ERROR (MainThread) [homeassistant.components.websocket_api.http.connection.281472677724880] % is not a recognized temperature unit.
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/websocket_api/commands.py", line 130, in handle_call_service
    connection.context(msg),
  File "

[2020-07-22 09:54] vlebourl commented on #161
This one is tougher than I've expected...
Can you try?

[2020-07-22 09:55] vlebourl commented on #161
Naive question, why do you use the service instead of the UI?

[2020-07-22 09:59] mjhcdk commented on #161
I tried both, just in case problem  was related to frontend.  Will try new version

[2020-07-22 10:05] mjhcdk commented on #161
seems to be same error. Not an easy one to crack  :-)

`2020-07-22 12:03:03 ERROR (MainThread) [homeassistant.components.websocket_api.http.connection.281473074656400] % is not a recognized temperature unit.
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/websocket_api/commands.py", line 130, in handle_call_service
    connection.context(msg),
  File "/us

[2020-07-22 10:18] mjhcdk commented on #161
If any help , you could provide you temp access to my tomalink.com account.

[2020-07-22 11:24] vlebourl commented on #161
it's not, I was just curious. The problem is that percent is not a unit for temperature, so when the integration is trying to verify the unit and convert the value if not in the right one (Fahrenheit to Celsius for instance), it crashes on Percent as not recognized.
I'm trying to override every function that does that so that we can trick that device into showing percent, but I'm not sure that it

[2020-07-22 11:26] iMicknl commented on #161
@vlebourl maybe in the end, it is better to just settle for having Celsius in the interface. Otherwise we are making so many modifications to the climate component, which will cause issues in case it gets updated.

[2020-07-22 11:41] mjhcdk commented on #161
yeah, its only a minor issue -  but of cause nice if it could show what it is really...  Maybe some of these fancy custom frontend cards can manipulate the visual appearance.

[2020-07-22 12:56] vlebourl commented on #161
And we're back to celsius, sorry I couldn't do more on that...

[2020-07-22 13:38] mjhcdk commented on #161
No problem - Really appreciate all your efforts getting this to work.  Latest release is back to Celcius and works. The slider updates are still a bit unpredictable after performing a temp change or power-off. Maybe the delay between set and get is still a bit too short. but never mind,  if you are working on a new state-tracker integration It would make sense to wait for the outcome of that.  Ple

[2020-07-22 13:39] vlebourl commented on #161
All good for now, thanks.

[2020-07-22 14:08] vlebourl commented on #161
closed by #162

[2020-07-23 06:28] vlebourl commented on #151
Closed by #159

[2020-07-23 06:28] #151 closed

[2020-07-23 07:39] #161 closed

[2020-07-23 08:38] vlebourl opened #163 "Sensors have too much precision."
**Describe the bug**

Sensors report their values with full precision, making it hard to read

**Expected behavior**
limit to 2 digits precision.

**Screenshots**
![image](https://user-images.githubusercontent.com/5701372/88266780-140ece80-ccd0-11ea-869e-d93d11b3f0d9.png)
![image](https://user-images.githubusercontent.com/5701372/88266858-3acd0500-ccd0-11ea-8855-d3ffef3783dd.png)

**Environment (p

[2020-07-24 07:04] vlebourl commented on #163
closed with #164

[2020-07-24 07:04] #163 closed

[2020-07-24 10:56] iMicknl commented on #118
Closing due to inactivity.

If you encounter this issue again, please feel free to reopen this issue.

[2020-07-24 10:56] #118 closed

[2020-07-24 11:01] iMicknl opened #167 "Implement optional update coordinator to call `refreshState` periodically"
**Is your feature request related to a problem? Please describe.**
When we move towards using an event based approach for updating states (#1), it would be good to understand if we need to refresh the states manually for specific devices, or if we can do it in batch.

For example;
- `io:DiscreteGateOpenerIOComponent` uses `refreshPedestrianPosition` (#40)
- `io:SimpleExteriorHeatingIOComponent` us

[2020-07-24 11:04] iMicknl commented on #1
Unblocked by #160

[2020-07-24 12:19] #25 closed

[2020-07-24 12:19] #27 closed

[2020-07-24 14:29] iMicknl commented on #44
I tried fixing this in https://github.com/iMicknl/ha-tahoma/pull/172. Hopefully this resolves it.

[2020-07-24 14:49] iMicknl commented on #103
@cdeharo could you possibly try the latest master? Many internal parts have been changed, thus making it hard for me to debug the behaviour you referenced here: https://github.com/iMicknl/ha-tahoma/issues/103#issuecomment-654321632.

[2020-07-24 21:24] vlebourl opened #173 "cover/set_cover_position fails"
[code]

[2020-07-24 22:39] cdeharo commented on #103
@iMicknl using the buttons worked fine now...

Full open using the button or the `cover.open_cover` service:
[code]

Full close using the button or the `cover.close_cover` service:
[code]

But now I have reverse logic problems setting the awning to a specific position. These are new problems that didn't occurred in previous versions. Maybe something changed regarding the behaviour that you comment

[2020-07-25 14:52] Glenn1986 opened #174 "Tahoma installation fails login error"
Hi guys since a couple of days my tahoma integration didn't work anymore. I tried to delete the integreation and reinstall it. But now i have troubles to login. Gives an error while my pass and username are correct.

2020-07-25 16:46:10 ERROR (MainThread) [custom_components.tahoma.config_flow] Unexpected exception
Traceback (most recent call last):
  File "/config/custom_components/tahoma/config_f

[2020-07-25 20:42] iMicknl commented on #174
Are you sure those credentials work on the TaHomalink.com website? Could you try the latest master? However, it should not make a huge difference.

[2020-07-26 07:36] Glenn1986 commented on #174
Strange. When I login on somfy.be there is no problem. When I'm logging in on the tahomalink.com website he gives also the bad login error. I tried to pasword forget procedure but didn't help. So the problem is somfy and not the integration.

[2020-07-26 07:58] #174 closed

[2020-07-26 08:03] tetienne commented on #173
'''

command = self.select_command(
            COMMAND_SET_POSITION, COMMAND_SET_CLOSURE, COMMAND_SET_PEDESTRIAN_POSITION
        )
        await self.async_execute_command(command, position)
'''

We have to update async_execute_command or pass command.command_name.

[2020-07-26 14:05] iMicknl opened #175 "object of type 'States' has no len()"
**Describe the bug**
[code]

**return self.device.states is not None and len(self.device.states) > 0
TypeError: object of type 'States' has no len()**

**Additional context**
Behaviour using latest master, due to https://github.com/iMicknl/python-tahoma-api/pull/17.

[2020-07-26 14:11] tetienne commented on #175
@iMicknl I will add this missing method to our API client. And probably some unit tests.
Do you know if the states object returned by Somfy can exist and be empty?

[2020-07-26 14:15] iMicknl commented on #175
@tetienne not sure, I don't have any devices without states. I just added the len() to be 100% sure.

@vlebourl do you know? I think you own devices without state.

[2020-07-26 15:07] vlebourl commented on #175
I believe it can fit rts devices for instance.

[2020-07-26 19:01] iMicknl commented on #175
@vlebourl but is states empty or is it non existing in the API response?

[2020-07-26 19:55] pvroosendaal commented on #175
I'm experiencing the same issue. If I can help in any way, please let me know.

[2020-07-26 19:58] iMicknl commented on #175
@pvroosendaal are you using the latest master? If you use 1.6.4 (https://github.com/iMicknl/ha-tahoma/releases/tag/v1.6.4), you should not face any problems.

Currently master is broken, but we will fix it tomorrow. We just switched to our new async Python library, but we need to make sure we pin the version and don't introduce breaking changes via our other repository.

[2020-07-26 20:01] pvroosendaal commented on #175
@iMicknl I'm using master indeed. I'll try 1.6.4 now.

[2020-07-26 20:07] pvroosendaal commented on #175
@iMicknl Updated to 1.6.4, works like a charm! Thanks a million!

[2020-07-26 20:51] francodutch commented on #26
the siren now correctly changes status to 'on' when triggered by the alarm system, thanks!!

[2020-07-26 20:52] #26 closed

[2020-07-26 21:01] iMicknl commented on #146
Still an issue. Best way would be to make sure `assumed_state` is `True` for cover devices where position is not known. And to map `cycle` to on + off as the last option.

[2020-07-26 21:05] francodutch commented on #146
I'm afraid the cover.toggle service still has no effect, neither does any of the other cover related services. Also, in the configuration/entities list, clicking on the entity where it shows device info, scenes, automations, scripts etc, clicking on the plus for a new automation gives the message "There are no automations available for this device."

[2020-07-26 21:13] iMicknl commented on #146
@francodutch which version of the integration are you using currently? If you are using the latest master, could you try https://github.com/iMicknl/ha-tahoma/releases/tag/v1.6.4 for now.

[2020-07-27 07:51] tetienne commented on #175
@vlebourl Can you please share your /setup that contains some RTS devices?

[2020-07-27 09:50] francodutch commented on #146
by the way via the service directly nothing happens either.

[2020-07-27 10:11] #175 closed

[2020-07-27 12:02] #173 closed

[2020-07-27 12:51] iMicknl opened #181 "Implement `is_closing` and `is_opening` for covers"
**Is your feature request related to a problem? Please describe.**
Currently there is no feedback if a command is still running (like blinds up or down).

**Describe the solution you'd like**
[code]

**Additional context**
Looks like the screenshots below, doesn't work for custom icons.
<img width="518" alt="Screenshot 2020-07-27 at 14 48 39" src="https://user-images.githubusercontent.com/1424596/

[2020-07-27 21:04] iMicknl commented on #103
Could you try https://github.com/iMicknl/ha-tahoma/tree/fix/103_2? 👍

[2020-07-27 21:09] iMicknl commented on #146
@francodutch could you try https://github.com/iMicknl/ha-tahoma/tree/fix/146_2?

[2020-07-27 21:33] iMicknl commented on #57
@Glenn1986 could you try https://github.com/iMicknl/ha-tahoma/tree/enhancement/improve_siren? This should also allow you to turn it off. 👍

[2020-07-27 21:50] iMicknl commented on #167
Just found a reference to `stateRefreshCommand` in https://www.tahomalink.com/enduser-mobile-web/steer-html5-client/vendor/somfy/io/alarm/alarm.js. Is worthwhile to investigate.

[code]

[2020-07-28 12:38] #44 closed

[2020-07-28 12:51] #57 closed

[2020-07-28 12:59] iMicknl commented on #146
Should be solved in latest master. https://github.com/iMicknl/ha-tahoma/tree/master

In case it still doesn't work, let me know and we can reopen it.

[2020-07-28 12:59] #146 closed

[2020-07-28 13:02] iMicknl commented on #85
@vlebourl it looks like the Connexoon boxes are compatible nowadays? Looks like the urls mentioned here are the old API platforms.

Shall we close this one?

[2020-07-28 13:03] iMicknl commented on #104
This device has been added to the ignore list in the integration, thus not spamming your debug log anymore.

I will close this issue for now since there is no intention of supporting this device in Home Assistant, as discussed. :-)

[2020-07-28 13:03] #104 closed

[2020-07-28 13:09] vlebourl commented on #85
let's close it for now, we'll reopen if needed.

[2020-07-28 13:13] #85 closed

[2020-07-28 17:19] cdeharo commented on #103
Thanks @iMicknl, now I'm out, I will take a look at the fix on next monday.

[2020-07-29 12:25] #1 closed

[2020-07-29 19:57] thijsdejong opened #191 "Error fetching TaHoma Event Fetcher data: Error communicating with the TaHoma API: None"
**Describe the bug**
Error fetching TaHoma Event Fetcher data: Error communicating with the TaHoma API: None

**To Reproduce**
Steps to reproduce the behavior:

1. Start HomeAssistant

**Expected behavior**
No error :)

**Environment (please complete the following information):**

- **Home Assistant version:** 0.113.2

**Device:** (if your problem is related to a specific device)

Using version 1e

[2020-07-29 20:19] iMicknl commented on #191
Thanks for reporting @thijsdejong. I have faced this as well, and I believe @tetienne and @vlebourl also. In my installation, it only happens once every 15 times approximately.

https://github.com/iMicknl/ha-tahoma/blob/1ef09448093c917f3bb4f5b1b1e6538519034397/custom_components/tahoma/coordinator.py#L44-L49

However, what I couldn't figure out yet is that the exception is `None`. That would mean t

[2020-07-29 20:35] iMicknl commented on #103
@cdeharo could you try it once using the latest master? And once using https://github.com/iMicknl/ha-tahoma/tree/fix/103_2.

We had someone else test the same device with latest master and setting position works like a charm, but it looks like your behaviour is different...

I will close this issue for now, but feel free to open up a new issue with [this information](https://github.com/iMicknl/ha-

[2020-07-29 20:35] #103 closed

[2020-07-29 20:39] tetienne opened #193 "Add support for [Opening dector] (io:SomfyContactIOSystemSensor)"
From https://github.com/totalimmersion/com.somfy.tahoma/issues/17#issuecomment-396274214

[code]

[2020-07-29 20:41] iMicknl commented on #193
@tetienne isn't the ContactSensor already supported as a `binary_sensor`?

https://github.com/iMicknl/ha-tahoma/blob/1ef09448093c917f3bb4f5b1b1e6538519034397/custom_components/tahoma/const.py#L32

https://github.com/iMicknl/ha-tahoma/blob/1ef09448093c917f3bb4f5b1b1e6538519034397/custom_components/tahoma/binary_sensor.py#L21

https://github.com/iMicknl/ha-tahoma/blob/1ef09448093c917f3bb4f5b1b1e6538

[2020-07-29 20:46] tetienne commented on #191
I'm facing the same issue too. 23 times in less than 1 hours.

First occurred: 22:06:04 (23 occurrences)
Last logged: 22:40:51

[2020-07-29 20:47] tetienne commented on #193
Don't ask me why, but the search function did not find it... Sorry.

[2020-07-29 20:47] #193 closed

[2020-07-29 21:06] vlebourl commented on #191
First occurred: 17:09:09 (44 occurrences)
Last logged: 22:52:21

[2020-07-29 22:28] iMicknl commented on #191
Using debugpy, I found out that the actual exception is `ServerDisconnectedError(None)`. Could it be that we do multiple concurrent requests using the same session?

[2020-07-30 07:27] tetienne commented on #191
This is strange, if we were really disconnected from the server, the next update should fail too. This is not the case.

[2020-07-30 07:45] Glenn1986 commented on #59
Hi, I tested new version and awning works good. Just the stop command doesn't work at the moment. But the down and up commands works good.

[2020-07-30 07:48] Glenn1986 commented on #57
Hi Mick, I finally can test the alarm. I installed last version and the alarm works fine. On and off command works! Nice work, now I can build my own alarm while I'm waiting for the somfy intrusion to be implementing. Thanks!

[2020-07-30 08:25] iMicknl commented on #191
@tetienne most of the issues I can find mention that we need to close the connection. Apparently the remote API server closes our request, if we have to many open connections. The next update will start a new connection which will work, until the server does close it again.

We need to see if adding close does something with our performance.

https://github.com/aio-libs/aiohttp/issues/850#issuecom

[2020-07-30 10:13] tetienne commented on #191
The tahomalink website set the header Connection: keep-alive, I will update our library to do the same.

[code]

[2020-07-30 11:22] tetienne commented on #191
See https://github.com/iMicknl/python-tahoma-api/pull/26 for a potential fix.

[2020-07-30 12:10] tetienne commented on #191
I've updated the poll interval to 10 seconds, and for half an hour, still no error.

[2020-07-30 12:24] thijsdejong commented on #191
How would I go about testing that version of the dependency on my installation? Do you have any guide that could help me out?

[2020-07-30 12:26] tetienne commented on #191
@thijsdejong I think my fix is useless. Try to update this value from 5 to 10: https://github.com/iMicknl/ha-tahoma/blob/master/custom_components/tahoma/__init__.py#L18

[2020-07-30 13:14] thijsdejong commented on #191
Hmm I found a way to use a git repo as a dependency and applied your fix. As I responded in the PR it SHOULD not do anything, but I have not had the error since.

Also just want to say amazing job on the updating of states. I have 26 roller shutters / windows connected to tahoma, and there would always be an incredible amount of timeouts. So far on this new version no error messages at all!

[2020-07-30 14:29] thijsdejong commented on #191
@tetienne I have done some more research and it seems a workaround for this is actually **disabling** keepalive. It's a workaround that sacrifices some speed but eliminates the problem of connections being closed by the server when they are open too long.

https://github.com/aio-libs/aiohttp/issues/850#issuecomment-471663047

[2020-07-30 14:55] tetienne commented on #191
@thijsdejong In fact just increasing the poll interval from 5 to 10 seems enough. For 3 hours, I have 0 error. No need to update our library.

[2020-07-30 19:54] cmdekleijn commented on #103
Just wanted to say that I too experienced the reverse logic behaviour on the latest release, but since I switched to master my horizontal awning (IO motor connected to Connexoon) now works like a charm! Thanks for your excellent work on this integration.

[2020-07-30 21:32] iMicknl commented on #103
@cmdekleijn thanks! However, the behavior between master and 1.6.4 should be the same for Horizontal Awnings. Could you share your `io` type? (firmware in HA device list). I am still trying to figure out which device type needs which offset.

[2020-07-31 07:53] #191 closed

[2020-07-31 08:24] cmdekleijn commented on #103
Sure. Firmware is: io:HorizontalAwningIOComponent

Short background (don't know if it is of any help to you):
I only have had the awning for two weeks. First I tried 1.6.4, installed through HACS. This gave me the reverse logic behaviour. Then I saw this issue report on GIT and tried the 103_2 fix. Unfortunately this didn't work for me (got an error in HA when using the awning slider). Switched ba

[2020-07-31 14:05] iMicknl commented on #113
@tetienne shall we reopen this one and add back support? (where we just ignore CONF_EXCLUDE)

[2020-08-03 14:32] cdeharo commented on #103
@iMicknl I checked the master today and it works fine!!! Forget [this comment](https://github.com/iMicknl/ha-tahoma/issues/103#issuecomment-663761420), I haven't really tested the master branch, I've tested the latest release, sorry for the misunderstanding. Thanks to @cmdekleijn previous comment I've got the clue to check master and not the latest release.

Do you still want me to try the https:/

[2020-08-03 15:05] iMicknl commented on #103
@cdeharo in that case, `fix/103_2` won't fix it. Good to hear that it works in latest master, which will be released as 2.0.0 very soon.

Do you also encounter issues with the stop function?

[2020-08-03 15:40] cdeharo commented on #103
@iMicknl , I've checked the `cover.stop_cover` service and it goes fine while the awning is opening or closing.

[2020-08-04 01:31] #43 closed

[2020-08-04 01:31] #42 closed

[2020-08-04 01:31] #40 closed

[2020-08-05 10:59] iMicknl opened #204 "Stop command doesn't work for some cover devices"
**Describe the bug**
Currently the cover implementation relies on the available commands of a cover device. However, when a `stop` command is present, it doesn't mean that the `stop` command is functional. (thanks Somfy 👍🏻)

https://github.com/iMicknl/ha-tahoma/blob/23eaec1a7f6c9cc776d857ec45bbadca4d206bf0/custom_components/tahoma/cover.py#L217-L221

**To Reproduce**
Steps to reproduce the behavio

[2020-08-05 10:59] iMicknl commented on #59
Thanks @Glenn1986! I will close this issue and I created https://github.com/iMicknl/ha-tahoma/issues/204 to discuss stop not working.

[2020-08-05 10:59] #59 closed

[2020-08-05 11:00] iMicknl commented on #43
Tracked in https://github.com/iMicknl/ha-tahoma/issues/204

[2020-08-05 20:06] jensihnow opened #205 "TypeError: __init__() missing 1 required keyword-only argument: 'ui_class'"
**Describe the bug**

Integration stopped working after upgrade. Deleting the config and re-creating doesn't help. I also deleted the entire tahoma folder under custom_components and put the files back into it, no improvement.

**To Reproduce**
Steps to reproduce the behavior:

1. Upgrade to latest 2.0.0
2. Restart HA
3. See all entities offline and exception
4. Deleted integration
5. Restarted
6.

[2020-08-05 20:30] tetienne commented on #205
Apparently some of your devices haven't any ui class.

Can you please follow these steps: https://github.com/totalimmersion/com.somfy.tahoma/files/2755935/Instructions.for.the.TaHoma.devices.pdf

[2020-08-05 20:44] jensihnow commented on #205
Well, it shouldn't fail like this anyways. I believe assuming we have had any device ever created made available might lead to issues.

My first guess is a match the left overs from the ZWAVE integration might be the devies with mising uiClass, see:

[code]

Interestingly, I did deleted the Z-Wave devices from TaHoma, still the API gives the items. Might be another Somfy Bug, but the intrgration s

[2020-08-05 20:53] iMicknl commented on #205
Thanks for reporting, @jensihnow.

Indeed, we need to make `ui_class` optional in https://github.com/iMicknl/python-tahoma-api and ignore it in the HA integration.

[2020-08-05 20:54] jensihnow commented on #205
I did already, thanks for taking care of it.

[2020-08-05 22:15] iMicknl opened #206 "Support Integration Quality Scale: Platinum 🏆"
**Integration Quality Scale**

https://developers.home-assistant.io/docs/integration_quality_scale_index/

**Describe the solution you'd like**
Would be great to make sure we reach the platinum status when we make a PR to core!

**Additional context**
I did scan the list quickly and it looks like the following requirements are not met yet.

**Silver 🥈**
- [x] Handles expiration of auth credentials

[2020-08-06 08:57] larsvinc opened #207 "Log is not containing all the devices I have."
First, let me praise the new integration. This is really needed. I want to help any way I can!

I have a Tahoma system with 6 devices - 4 window covers, 1 external cover, and a terrasse heater.
Additionally the Tahoma box came with a remote. You can see all of them here on my home screen in the app:
https://photos.app.goo.gl/zTDpDrQGemzWNNVC7

All of the devices (except the remote) support the sam

[2020-08-06 09:10] vlebourl commented on #207
Hi, Thank you for the report. So far we haven't added any remote to the component as most of them don't add any value over directly controlling the device itself. For instance I own a remote that opens or closes the smart lock, but adding the remote to HA is useless as I can directly control the lock through the component.

Regarding the heater, I suspect it could be detected as something else tha

[2020-08-06 09:13] vlebourl commented on #207
Can you also have a look at this https://github.com/totalimmersion/com.somfy.tahoma/files/2089039/Instructions.for.the.TaHoma.devices.pdf
and report the details concerning the heating device?

[2020-08-06 09:50] iMicknl commented on #207
I made some changes to the debug logging in 2.0.0, so I would need to have a look why it is not printing anything in your case.. I had a look at the code and I can understand why your Heating Device is not visible, however the remote should be visible for sure.

Are you sure they are not present in the list? (/config/devices/dashboard) (see screenshot from above).

@vlebourl regarding the climate

[2020-08-06 10:09] vlebourl commented on #207
Hey back, just to be clear, is that what you call the remote?
![image](https://user-images.githubusercontent.com/5701372/89520068-9b366900-d7dd-11ea-9dc9-da16626c8dfe.png)

[2020-08-06 11:34] vlebourl commented on #207
partly fixed by #209.
Can you install master in hacs and restart HA? The climate device should appear in the logs as unsupported.

[2020-08-06 13:21] tetienne commented on #205
@jensihnow Your issue must be fixed now with the 2.0.1.

[2020-08-06 16:56] larsvinc commented on #207
Hi! Thanks for the swift comments.

First, 2.0.1 made the climate device appear in the logs:
2020-08-06 18:21:51 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for tahoma which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2020-08-06 18:22:01 DEBUG (MainThread

[2020-08-06 17:35] vlebourl commented on #207
Thanks, I'll add the heater to the supported devices, maybe tomorrow, otherwise next week.
Regarding the remote, indeed the first one isn't exposed.
I believe the second one isn't the one you mentioned, but the physical button present on the tahoma box. The 5 buttons remote is a remote dedicated to the security part of the tahoma box, and isn't exposed either.

[2020-08-06 17:36] vlebourl commented on #207
Mine is called "active button" and only has 1 button
![Screenshot_20200806-193542](https://user-images.githubusercontent.com/5701372/89563677-17e83800-d81c-11ea-92f1-86184459a187.jpg)

[2020-08-06 18:40] larsvinc commented on #207
I realized that my button is the same. I fully agree that adding the button on the box makes no sense whatsoever.

Thanks for the swift feedback. Let me know when I should test a new version!

[2020-08-06 23:34] iMicknl commented on #207
@larsvinc could you perhaps open a new issue (unsupported device)? In that issue we can track your exterior terrace heater :-).

[code]

[2020-08-06 23:34] #207 closed

[2020-08-07 21:05] larsvinc opened #211 "Add support for Modulis Heater (rts:ExteriorHeatingRTSComponent)"
**Device information**
The device is a terrasse heater:
https://www.somfy.me/en-gc/products/1810876/heating-modulis-ramp-rts-

It uses the same buttons as my blinds:
- "up"/"on" (on for the heater)
- "down"/"off" (off for the heater)
- "my" Programmable setting for the heater

If it exposes more functions through the API that would be great to have them supported (such as selecting the heating lev

[2020-08-07 21:05] larsvinc commented on #207
@iMicknl Done :)

[2020-08-08 05:15] vlebourl commented on #211
[code]

[2020-08-10 07:00] iMicknl commented on #211
[code]

[2020-08-10 07:05] larsvinc commented on #211
Some comments regarding wanted functionality:
- I suspect that "up" and "down" differs from "on" and "off". It is possible to adjust the heating with "up" and "down" after the unit is turned on. So it would make sense to enable all those.
- "my" sets the heating at a pre-programmed level
- As for "rest" and "stop", I have no idea what they do. Is it possible for me to test the full API and report

[2020-08-10 07:33] iMicknl commented on #211
@vlebourl do you think it is possible to map this one to the `climate` platform as well?

@larsvinc if you are somewhat familiar with Python, I could help you test out those commands manually. However, sometimes there are some commands that are not working or mapped to the same behaviour as others.

[2020-08-10 07:54] iMicknl commented on #57
@Glenn1986 are you in need for having `internal:TSKAlarmComponent` supported as well? For me, the alarm part in Somfy is disabled, so I am not sure if that is your alarm controller.

If so; could you open a new issue (https://github.com/iMicknl/ha-tahoma/issues/new?assignees=&labels=new-device&template=unsupported-device.md&title=Add+support+for+%5BModelName%5D+%28io%3ASomfySensorName%29) for `int

[2020-08-10 12:31] larsvinc commented on #211
@iMicknl : I am fairly familiar with python (I have for instance committed code into HA), so I would be happy to test the commands.
'
Regarding choice of platform, the climate as I know it might not be that suitable since there is no thermostat, and it is stateless?

[2020-08-10 16:21] Glenn1986 opened #212 "Add support for TSKAlarmController (internal:TSKAlarmComponent)"
Since the siren has been added, we have the option to build our own alarm system in home assistant with somfy sensors. But why invent hot water if it already exists. Via the TSKAlarmComponent we can use the alarm system from somfy itself. This system is already used with the tahoma version in openHab. Via a selection method we can activate the alarm or monitor certain zones. Somfy will then automa

[2020-08-10 17:39] tetienne commented on #212
Hi,thx for this feature request. Using your Tahoma can you manipulate the alarm system?

[2020-08-10 21:22] iMicknl commented on #212
@tetienne this Alarm Component is present in all Tahoma installations, however most of the time it is not used / disabled.

I already have a working prototype which I will publish this week. I am looking into disabling this entity by default. But I would like to understand if there is something in the state that reflects the use of this 'device'.

[2020-08-10 21:28] tetienne commented on #212
Yes I can see it in my setup response. However I have no idea on how manipulate it through the Tahomalink website.

[2020-08-11 14:28] jensihnow commented on #205
Just tried 2.01, not working for me. Now I'm getting this one, which might be a follow-up on the previous issue just this time it is _widgetName_.

[code]

[2020-08-11 15:02] lseufer opened #215 "Add support for MyFoxAlarmController (myfox:SomfyProtectAlarmController)"
- Alarm - MyFoxAlarmController

**Device information**
Myfox/SomfyProtect Alarm

**Device details**
myfox:SomfyProtectAlarmController - Alarm - MyFoxAlarmController"

[2020-08-11 15:18] iMicknl commented on #212
[code]

[2020-08-11 15:25] iMicknl commented on #215
Thanks @lseufer! It looks like there are multiple Myfox devices that have similar commands available. I will try to support them all at once.

[code]

[code]

[code]

[2020-08-11 15:26] iMicknl opened #216 "Add support for AlarmPanelController (verisure:GenericAlarmPanel)"
**Device details**

[code]

[2020-08-11 15:27] iMicknl opened #217 "Add support for StatelessAlarmController (rtd:AlarmRTDComponent)"
**Device details**

[code]

[2020-08-11 15:28] iMicknl opened #218 "Add support for StatefulAlarmController (io:AlarmIOComponent)"
**Device details**
[code]

[2020-08-11 20:07] lseufer commented on #215
(I am not patient I know!) I implemented your changes and I have two alarms discovered. One doesn't do anything (named alarm). The other (link) allows me to control the somfy protect alarm (yeah!) but it stays on triggered status. If I force its status to off, it ges back to triggered automatically. I believe it has something to with the "trespass status".
Thanks!

<img width="1162" alt="Screensho

[2020-08-11 23:00] iMicknl commented on #215
@lseufer haha, did you use https://github.com/iMicknl/ha-tahoma/pull/214? That branch was far from polished and needs a lot more work. Could you help me out with the available states?

Would be great if you could do all the commands via Tahomalink.com (like arm / home etc.) and note the state change after the commands. Afterwards, I can map those states to the right Home Assistant states.

[2020-08-12 08:44] iMicknl opened #219 "Add support for opening/closing shutters with low speed (io:RollerShutterWithLowSpeedManagementIOComponent)"
**Is your feature request related to a problem? Please describe.**

from https://community.home-assistant.io/t/somfy-tahoma-official-api/61448/1061?u=imick

**Describe the solution you'd like**
Add a service to expose this specific command for devices that support it.

**Additional context**
It looks like it is only possible with the `setPositionAndLinearSpeed` command. There is no different open

[2020-08-12 08:46] tetienne commented on #219
For the moment speed isn't supported by the covers platform. We have to create a service or an option.

[2020-08-12 09:06] iMicknl commented on #211
@larsvinc not sure, @vlebourl is our climate integration man 😃.

I am still figuring out the best way for you to test those other commands. You could directly use the https://github.com/imicknl/python-tahoma-api, however it requires a bit more efforts. You would first need to capture your device url and than pass it via a command, like we do in this integration.

https://github.com/iMicknl/ha-taho

[2020-08-12 10:33] lseufer commented on #215
Yes that's the one I used. I can't get the available states that way. The integration is stuck on triggered. Any idea how to by-pass the TrespassState?

[2020-08-12 11:36] iMicknl commented on #219
@tetienne my preference would be a service. We need to figure out the second command though.

For example, map `setPositionAndLinearSpeed` to `cover.set_cover_position_and_speed`, with the following service data.

[code]

[2020-08-12 11:41] tetienne commented on #219
Are you sure we can choose the speed? Using the official api, their is no such parameter. There is just a command to slowly move the cover.

[2020-08-12 11:43] iMicknl commented on #219
[code]

It looks like there is a second param required? Or are you referring to another command from the definition above? I have no clue about the use of this device / commands yet...

[2020-08-12 11:45] iMicknl opened #220 "Expose `my` position for covers via a service"
**Is your feature request related to a problem? Please describe.**

https://community.home-assistant.io/t/somfy-tahoma-official-api/61448/1065?u=imick

**Describe the solution you'd like**
Register a new service for covers that support the `MY` command.

**Service:** `cover.my`

**Service Data:** ```entity_id: cover.living_room```

**Describe alternatives you've considered**
In #204, we are figuri

[2020-08-12 11:50] tetienne commented on #219
Have a look here: https://github.com/tetienne/somfy-open-api/blob/master/pymfy/api/devices/roller_shutter.py#L13 I think there is a default speed value. Our service should mimic this value. We can see with the end user asking this feature if he can send us some request exemple.

[2020-08-12 11:51] iMicknl commented on #215
@lseufer that would probably require an update to the Python code, I will have a look later this week / next week to see if I can rewrite it.

Are you not able to change the alarm positions via the Tahoma app or Tahomalink.com? When you look at the states in Home Assistant, the `triggered` won't change, but the other States you shared will be updated every 10 seconds. It is really helpful to know

[2020-08-12 12:24] lseufer commented on #215
The only thing changing is:

myfox:AlarmStatusState: disarmed
myfox:AlarmStatusState: partial
myfox:AlarmStatusState: armed

not sure if it helps.

[2020-08-12 12:52] iMicknl commented on #215
Thanks! And partial = home? Or which action did you execute via Tahomalink to receive that state.

[2020-08-12 12:54] lseufer commented on #215
Disarmed= off
Partial= night mode
Armed= on

[2020-08-12 13:03] vlebourl commented on #211
Hi, sorry guys I'm not very responsive, currently on well deserved holidays (first in two years...). Lacking the thermostat is not a problem. That's The same as for 2 of our supported climate platforms. If we map this device to a climate entity, the available commands will be turn on and off, set temperature, which doesn't make much sense here I guess, and set preset modes. I'm not sure how we cou

[2020-08-12 13:10] iMicknl commented on #211
@vlebourl enjoy your vacation!! ⛱️ Take some well deserved downtime as well.

[2020-08-12 14:05] PoVPoV29 opened #221 "Add support for SomfyOneplusCamera (myfox:SomfyOnePlusCameraController)"
2020-08-12 15:14:24 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (myfox:SomfyOnePlusCameraController - Camera - MyFoxSecurityCamera)

**Device information**
The equipement is a Somy One plus Camera ("plus" is because there is a batery inside)
Can you integrate it with :
- photo/image support
-on/off alarm (with status)
- activate siren
- detection status
- power

[2020-08-12 14:08] PoVPoV29 opened #222 "Add support for Somfy Outdoor Camera (myfox:SomfyProtectSecurityCameraController)"
2020-08-12 15:14:24 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (myfox:SomfyProtectSecurityCameraController - Camera - MyFoxSecurityCamera)

**Device information**
The equipement is a Somy outdoor Camera.
Can you integrate it with :

- photo/image support
-on/off alarm (with status)
- activate siren
- detection status

**Device details**
[code]

Thanks
Regards

[2020-08-12 14:14] PoVPoV29 commented on #221
Maybe it's releated with :
2020-08-12 15:14:24 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (myfox:SomfyProtectAlarmController - Alarm - MyFoxAlarmController)
2020-08-12 15:14:24 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (rtds:RTDSRemoteControllerComponent - RemoteController - AlarmRemoteController)

I don't know the meenin

[2020-08-12 15:36] iMicknl commented on #221
Thanks for the information. I am afraid that retrieving the live streams from the cameras will be hard, since it is not available in the commands that I added to your first post. How do you consume the camera streams? Is there a separate platform to log in, or can you access them via tahomalink.com?

The alarm controller is the alarm controller component of your Somfy Protect system. We are alread

[2020-08-12 15:49] iMicknl opened #223 "[Architecture] Allow multiple entities per device"
**Is your feature request related to a problem? Please describe.**
Currently, we only have one entity per discovered Somfy TaHoma device. However, looking at some of the devices, there are more interesting states and/or actions to take, which we put now in attributes.

Looking at PR's to core, I get the feeling that the attributes part is used less and less and should not be used to store everythi

[2020-08-12 19:56] PoVPoV29 commented on #221
Hello,
Thanks for the #215 !
Remote controller seems to be a part of the Somfy One Plus : I supose that because the Somfy one plus has a battery and a siren. it does a "bip" sound too when the alarm is turn on or off.)

[2020-08-12 20:14] tetienne commented on #223
So you want to convert some Somfy attribute to hass entity_id?

[2020-08-12 20:17] tetienne commented on #220
The name of the service will be _tahoma.my_. See https://developers.home-assistant.io/docs/dev_101_services/#entity-services

[2020-08-12 20:19] iMicknl commented on #223
@tetienne not sure yet how to do it technically. Opened this issue for tracking, since I faced it a few times in my last work on the integration.

Open for any technical architectures.

[2020-08-12 22:02] iMicknl commented on #215
Could you try the latest version? I fixed the bug where the status is always set to triggered.

[2020-08-12 22:37] iMicknl commented on #212
First version is available via https://github.com/iMicknl/ha-tahoma/archive/enhancement/add_alarm_integration.zip. Please unzip the file and place the `tahoma` folder in your `custom_components` folder to test.

Looking for feedback @PoVPoV29, @WhistleMaster, Glenn1986. :-). In case anything is not working correctly, have a look at the logs and share the state information from `/developer-tools/st

[2020-08-12 22:54] iMicknl commented on #221
I have implemented the open / close functionality of the cover of your camera in #224. Could you give it a try and let me know the result?

You can download the file below, unzip it and place the `tahoma` folder in your `custom_components` folder.

https://github.com/iMicknl/ha-tahoma/archive/enhancement/support_MyFoxSecurityCamera_camera_cover.zip

[2020-08-12 23:04] lseufer commented on #215
Yeay! It's working! The partial mode doesn't work but I am not using it.

[2020-08-12 23:08] iMicknl commented on #215
Great to hear! Can you arm / disarm it via Home Assistant?

I am not sure why the partial mode doesn't work. Could you elaborate a little bit on the action you take in HA and what happens? (log + states + screenshot? :-)). Would be great if we can fix this.

[2020-08-12 23:16] lseufer commented on #215
Wow, you never sleep! My bad, I had to delete the Arm Home option and the Arm Night appeared and this one works. Man, you rock. That was the last thing relying on this piece of crap that is IFTTT, I am now free of it!

[2020-08-12 23:20] iMicknl commented on #215
@lseufer haha, with a temperature of 28 degrees Celsius inside my house, not yet...
Neither do you ;-).

How can you delete the arm home option? Or was this something that did appear when you did relogin to the TaHoma integration? Great to hear that it is working correctly now.

[2020-08-13 05:45] lseufer commented on #215
The arm home option appears by default. When setting up the alarm panel in HA you can choose which commands you want to be displayed.
I solely needed to remove the arm home and replace it with arm night.

<img width="967" alt="Screenshot 2020-08-13 at 07 44 16" src="https://user-images.githubusercontent.com/7261297/90098605-e64e0000-dd38-11ea-83c9-9aac2c0bc95a.png">
<img width="982" alt="Screensho

[2020-08-13 08:26] PoVPoV29 commented on #215
Hello,
This patch (I past the dectory "Tahoma" in my HACS directory) is working fine for two things :
- I have now my thermostat in HA !
- I can control the "door" of the "Somfy Outdoor camera" and "Somfy One plus"
I don't have an entity to arm or disarm the alarm sorry.
Do I have to do something else in my configuration?
Thanks !

[2020-08-13 08:55] PoVPoV29 commented on #221
Hello,
The cover is working fine thanks !
But Can I a merge from :
https://github.com/iMicknl/ha-tahoma/archive/enhancement/support_MyFoxSecurityCamera_camera_cover.zip
and
https://github.com/iMicknl/ha-tahoma/archive/enhancement/add_alarm_integration.zip
To have alarm cover and alarm arm working.
Thanks

[2020-08-13 09:03] vlebourl commented on #221
Great to hear. You can always do whatever you want on your own directory or fork! We prefer to work on including features separately. But if this is working, it should be merged into master pretty soon.

[2020-08-13 09:06] PoVPoV29 commented on #215
Hello,
Sorry I made a mistake  I inverse the two package :
https://github.com/iMicknl/ha-tahoma/archive/enhancement/support_MyFoxSecurityCamera_camera_cover.zip
and
https://github.com/iMicknl/ha-tahoma/archive/enhancement/add_alarm_integration.zip
With a button i have an error  to change state :
Échec d'appel du service "alarm_control_panel/turn_off". Service not found.
But with alarm panel it's w

[2020-08-13 09:28] iMicknl commented on #215
@PoVPoV29 which alarm model do you have? (you can see the details on the Integrations page in Home Assistant). Do you you have TSKController or the MyFoxAlarmController?

And great to hear it works with the correct branch 👍🏻. They will have a code review soon, be merged to master and published in a new release.

[2020-08-13 09:40] PoVPoV29 commented on #215
I have got both TSK and Myfox.
I have a lot of somfy equipements ;) 22 equipements for 39 entities.

[2020-08-13 09:49] PoVPoV29 commented on #223
It should be perfect to manage detectors ! :
![Screenshot_20200813-114556_Somfy Protect](https://user-images.githubusercontent.com/69581008/90120358-f1198c80-dd5a-11ea-8ac6-ab2a257798ae.jpg)

[2020-08-13 09:53] PoVPoV29 commented on #223
It's should be perfect to manager detector :
![Capture](https://user-images.githubusercontent.com/69581008/90120899-959bce80-dd5b-11ea-84e9-5b810b883498.PNG)

[2020-08-13 10:05] iMicknl commented on #215
@PoVPoV29 do you use both? Or do you only use the Myfox alarm controller? We are still not sure if the TSK is actually used by someone...

If you could share a screenshot of your integrations page (filtered on Somfy TaHoma) with us, would be great! I haven't seen that many devices via this new integration yet.

[2020-08-14 06:13] Glenn1986 commented on #212
Hi @iMicknl I just tested the alarm panel and it worked very well for me. My siren gives the tone that the alarm will be activated and when I set it off he asks me if I want to put it off. Everything worked just fine. Thanks men great work!!!
I will use it for a while and do automations with it and let you know if I find a problem.

[2020-08-14 07:30] iMicknl commented on #212
Great to hear @Glenn1986! We will probably disable this alarm entity by default, since every Somfy TaHoma user has this alarm, but it is not always used and officially supported. This will prevent confusion by users.

Behavior in my case is:
- I can arm (away, night, home) the alarm
- I can disarm the alarm
- I see the pending status in between

But when I open the security tab on tahomalink.com,

[2020-08-14 07:47] Glenn1986 commented on #212
OK, I hope this helps you. In my tahoma app I already setup the time he most wait by before he armed the alarm. That gives me the time to leave the house. When I look to the logs I see that when I activate the alarm by clicking on the away button that he turns on the siren. That because I setup in tahoma app that he most gives a peep sound when the alarm is pending. So he gives a peep not really t

[2020-08-14 07:55] iMicknl commented on #212
@Glenn1986 thanks! Would be good if you could share your states from `/developer-tools/state` once. I wonder if you have more states than me available.

[code]

And no worries, your English is fine ;-).

[2020-08-14 07:58] iMicknl commented on #205
@jensihnow thanks for reporting, we will work on another bugfix. Hopefully this will finally resolve it ;-).

[2020-08-14 09:46] PoVPoV29 commented on #215
Hello,
I use "alarm_control_panel.cuisine" to arm/disarm the alarm (Somfy One plus) I don't know if TSK is involved for that entity or not. (or TSK)

![4](https://user-images.githubusercontent.com/69581008/90236893-afa0e400-de23-11ea-9265-f277001fe45b.JPG)
![1](https://user-images.githubusercontent.com/69581008/90236906-b3cd0180-de23-11ea-9538-1bad7339feed.JPG)
![2](https://user-images.githubuserc

[2020-08-14 10:20] iMicknl commented on #215
@PoVPoV29 thanks! Could you also share a screenshot of your Appareils tab? You could also filter only on Somfy by going to Intégrations and then click xx appareils.

[2020-08-14 11:48] iMicknl opened #226 "Add support for camera live streams / snapshots (MyFoxSecurityCamera)"
**Device information**
Multiple users have requested to view their camera livestreams in Home Assistant. Currently we only support closing the cover of the MyFoxSecurityCamera.

This issue is currently blocked due to no available endpoints in the TaHomalink.com API.

Initially requested in #221 and #222

**Device details**

[code]

[code]

[2020-08-14 11:48] iMicknl commented on #222
Added support for cover in latest master, will be published soon. Tracked the live stream issue in #226.

[2020-08-14 11:48] #222 closed

[2020-08-14 11:49] iMicknl commented on #221
Added support for cover in latest master, will be published soon. Tracked the live stream issue in #226.

[2020-08-14 11:49] #221 closed

[2020-08-14 14:56] Glenn1986 commented on #212
Ok my alarm is now active and this is the state that I have.
`code_format: null
changed_by: null
code_arm_required: true
ui_class: Alarm
widget: TSKAlarmController
controllable_name: 'internal:TSKAlarmComponent'
'core:NameState': alarm name
'internal:CurrentAlarmModeState': total
'internal:AlarmDelayState': 60
'internal:TargetAlarmModeState': total
'internal:IntrusionDetectedState': notDetected
fr

[2020-08-14 14:59] PoVPoV29 commented on #215
![1](https://user-images.githubusercontent.com/69581008/90262970-4e8f0580-de4f-11ea-807b-78e5454ec96d.PNG)
![2](https://user-images.githubusercontent.com/69581008/90262974-4fc03280-de4f-11ea-8aaa-359fb5627eae.PNG)

[2020-08-14 16:32] iMicknl commented on #215
@PoVPoV29 wow, you have a lot of devices ;-). You are using the MyFoxAlarmController, looking at the model in your list.

Hopefully this change will be merged and released soon.

[2020-08-14 16:43] halest opened #228 "Attempt to decode JSON with unexpected mimetype"
**Describe the bug**
cover.set_cover_position throws an error. Calling said function through lovelace, the entity or developer tools throws and toasts below attached exception. It had worked until this morning, no other changes happened on the system.

**To Reproduce**
Call cover.set_cover_position

**Environment (please complete the following information):**

- **ha-tahoma version:** 2.0.1
- **Ho

[2020-08-14 16:47] iMicknl commented on #228
Thanks for reporting, @halest. This is possibly related to https://github.com/iMicknl/python-tahoma-api/issues/35.

For now, restarting Home Assistant should work, but we will have a look for a better solution. :-)

[2020-08-14 16:51] halest commented on #228
Hello iMicknl, sorry, I somehow didn't see that scanning the issues. I wanted to document the error before restarting (I was just about to update to 0.114).
Feel free to mark this as duplicate and thanks for the answer! Also, have a nice weekend

[2020-08-14 16:55] iMicknl commented on #228
@halest the other issue is in the client repository, so good to keep this one open here as well for tracking purposes. 👍🏻

[2020-08-14 16:58] PoVPoV29 commented on #215
Hello,
And I have a lot more Somfy equipements connected to Somfy one plus. But they dont show up in tahomalink :(

[2020-08-14 17:03] vlebourl commented on #215
That's sad but unfortunately not surprising from Somfy... Do you have a web interface for the One+ or is it app only?

[2020-08-14 17:22] HaSHi93110 opened #229 "No state update for lights"
hi.
I have test your integration.
I have in my tahoma box a legrand light which is linked from legrand account.
In the tahoma application the state of my light works good. When i turn on the light in my legrand application, the state in the tahoma application refresh and show me on. But in ha, i can't see the state on of my light. The state is always off and i can't change manually the state.

[2020-08-14 17:24] iMicknl commented on #229
@HaSHi93110 thanks for your report. Could you please follow the bug report template? This template consist of multiple questions and details. In order to help you, we would need to understand what kind of device you are using and the version.

I will close this one, but feel free to open a new one using the template.

[2020-08-14 17:24] #229 closed

[2020-08-14 17:26] PoVPoV29 commented on #215
There is no  web interface. Juste app for Somfy protect equipements. Are you able to retreive the battery state if thé Somfy One Plus?

[2020-08-14 17:36] HaSHi93110 opened #230 "No state update for StatefulOnOffLight (eliot:OnOffLightEliotComponent)"
**Describe the bug**
hi.
I have test your integration.
I have in my tahoma box a legrand light which is linked from legrand account.
In the tahoma application the state of my light works good. When i turn on the light in my legrand application, the state in the tahoma application refresh and show me on. But in ha, i can't see the state on of my light. The state is always off and i can't change man

[2020-08-14 18:01] iMicknl commented on #230
Thanks @HaSHi93110! I haven't seen an `eliot:` device (legrand) before. It looks related to #167, since there is a command available called `refreshAllLightStates`.

[2020-08-14 18:06] tetienne commented on #230
It would be interesting to dump the tahoma website to see where in their code they use this command. @iMicknl What do you think?

[2020-08-14 18:14] halest opened #231 "Lots of traffic to Tahoma?"
**Describe the bug**
Hey, I don't know if this is connected to the other bug from earlier and possible retries but I'm seeing a lot of traffic talking to TaHoma. Is this the plugin or it this the gateway itself? I had never noticed before.

**Environment (please complete the following information):**

- **ha-tahoma version:** 2.0.1
- **Home Assistant version:** 0.113.3

<img width="250" alt="grafi

[2020-08-14 18:15] HaSHi93110 commented on #230
When i turn on the light with tahoma app, thé light appear on in 5 6 seconds in the app, and she is also on in ha.
But when i turn on the entity in ha, the buttons return in off position after 2 3 seconds and the state of the light won't change

[2020-08-14 18:23] iMicknl commented on #231
This integration is using an event listener, to retrieve the latest updates to the state of devices. Unfortunately, tahomalink.com doesn't offer a push api / webhook, thus we are polling the event endpoint every 10 seconds.

tahomalink.com is using the same approach, but only when you have the website open. Since Home Assistant is mostly running 24/7 on the background, there will be more requests

[2020-08-14 18:23] HaSHi93110 commented on #230
When i change the state to on from off by ha woth the service light.turn_off, the light is immediatly off, she appears off about in 2 3 seconds in the tahoma app and 1 2 minutes in ha

[2020-08-14 18:28] HaSHi93110 commented on #230
After tests, it appears that when i go in tahoma app, thé state off the light is update and ha show the New state. But if i don't go in the app, the state doesn't change

[2020-08-14 18:30] iMicknl commented on #230
@HaSHi93110 thanks! This is exactly the same as #167. Apparently for some devices, the state is only refreshed when you open the TaHoma app/website or when you execute a command via the TaHoma app/website. We are still figuring this out, so would be great to retrieve a few more details.

The suggestion from @tetienne to make a dump of your tahomalink.com environment would be great. They do a lot o

[2020-08-14 18:31] HaSHi93110 commented on #230
OK.
How can i give this ?

[2020-08-14 18:45] halest commented on #231
Hello iMicknl, sorry to bother you twice an evening :)
Weird that they would even build an API without push interface in 2020 but I guess polling it is for now.
I'm one of these people only using it for my TaHoma covers so I'm looking forward to #227 but thanks for answering! Do you have an example where pulling the state would be important? Just curious.

[2020-08-14 18:55] tetienne commented on #230
On the Tahoma website, just type ctrl+s (or cmd+s if on mac). Select a folder and confirm. You can then zip this file and share it.

[2020-08-14 19:53] iMicknl commented on #231
If you control your devices outside of Home Assistant. For example, if you control your (stateful) cover via the remote or via tahomalink.com, you would like to see this state changed in Home Assistant as well.

Other examples of events that will be broadcasted, is when a device is (un)available, for example when it is out of the reach of the Tahoma box.

[2020-08-15 15:53] #231 closed

[2020-08-15 18:14] #3 closed

[2020-08-17 06:45] Glenn1986 commented on #212
Hi @iMicknl I did a bit of testing this weekend. I wasn't able to test automations with the alarm because when the alarm goes off he gives no entitie feedback. I know that in the openhab version you had feedback of the state of the alarm and correct me if I'm wrong but I thought that you can see which zone was detected motion. But setting on and off the alarm is working good :) If I can help you w

[2020-08-17 08:25] iMicknl commented on #212
@Glenn1986 could you share your states when the alarm has been triggered? Currently we check if `core:IntrusionState` is `detected`, but maybe this value will be different when triggered?

[2020-08-17 08:39] Glenn1986 commented on #212
State when alarm is armed_away:
`code_format: null
changed_by: null
code_arm_required: true
ui_class: Alarm
widget: TSKAlarmController
controllable_name: 'internal:TSKAlarmComponent'
'core:NameState': alarm name
'internal:CurrentAlarmModeState': total
'internal:AlarmDelayState': 60
'internal:TargetAlarmModeState': total
'internal:IntrusionDetectedState': notDetected
friendly_name: Alarm
supported_

[2020-08-17 08:50] iMicknl commented on #212
The state for your alarm should be triggered indeed, when it goes off. Are you not able to create an automation to check if alarm == triggered?

You can not use states like `IntrusionDetectedState` directly in automations, since we just show them for debugging purposes. However if the state is `detected` we map it to `triggered` in Home Assistant. And we also support `pending` state in HA.

I am n

[2020-08-17 08:56] Glenn1986 commented on #212
Thanks that was the solution. I'm able to do actions when my alarm goes of with this code:
`device_id: e146cd3c959341b9ad13820c9c2bca63
domain: alarm_control_panel
entity_id: alarm_control_panel.alarm
platform: device
type: triggered`

Thanks for your help. I will try to find more info for the manual alarm so I can use a pincode to arm the alarm. When I find that I will post it later.
Conclusion:

[2020-08-18 08:43] romain38 opened #233 "Cover position changes made from the wall switch are never reflected in HA"
**Describe the bug**

Cover position changes made from the wall switch are never reflected in Home-Assistant.
If I run mobile app Tahoma, or run stop command from Home-Assistant, right position are updated.
I've try to call service `homeassistant.update_entity` on my cover sensor without effect.

**To Reproduce**

Force refresh with stop sensor command:
- Cover opened at 100% (physically and in Ho

[2020-08-18 08:55] iMicknl commented on #233
I am afraid this is due to #167 as well. Did you not have the same behavior with the old version in Home Assistant core?

Could you share some more details about your device? Settings -> Integrations -> Devices -> (click your cover device. Could you share the firmware?

Example:
<img width="347" alt="Screenshot 2020-08-18 at 10 55 26" src="https://user-images.githubusercontent.com/1424596/90492314

[2020-08-18 10:32] romain38 commented on #233
Hi, thank you for this quick response!

This issue was present in the "old" TaHoma integration (https://github.com/home-assistant/core/issues/20188) and also in Somfy integration (https://github.com/home-assistant/core/issues/25051).

Here is the missing firmware information: `io:RollerShutterWithLowSpeedManagementIOComponent`.
![Tahoma](https://user-images.githubusercontent.com/22499854/90502723-

[2020-08-18 10:46] iMicknl commented on #233
[code]

[2020-08-18 11:47] vlebourl commented on #233
Same problem as for the velux, @tetienne can confirm.

[2020-08-18 20:49] larsvinc commented on #211
Agree with @iMicknl  , enjoy the vacation.

I will try to test that, but I have to admit that this was a highly non-trivial way to access the device. Can I append the commands to the example script on the front page of python-tahoma-api? It lists all the devices, but that might just be strings (and not objects)?

Some wild and dirty proposals on my end, would it be feasible to have temp = 1,2,3 an

[2020-08-18 21:06] vlebourl commented on #211
The issue is not that temp is not the real state, but rather that I'm not sure how to map increase/decrease. The command in the code is set_temperature, not increase our decrease temperature... Not sure yet if I can overcome this.

[2020-08-18 21:08] vlebourl commented on #211
How many levels do you have? If it's only 3, we could map them to presets instead of temperature

[2020-08-18 21:13] larsvinc commented on #211
There are 3 levels (call them low, med, full for simplicity). Switching can only be done via up/down as far as I know. And the startup is programmable. Likewise "my" is a programmable level (I have mine at medium).

[2020-08-19 04:45] vlebourl commented on #211
With only 3 levels and no concept of temperature, I think the easiest is to have presets. Then there aren't too many cases to code. Going from 1 to 3 for instance will be done with 2 ups, and so on.

[2020-08-20 09:56] #212 closed

[2020-08-20 09:56] #215 closed

[2020-08-20 09:56] #216 closed

[2020-08-20 09:56] #217 closed

[2020-08-20 09:56] #218 closed

[2020-08-20 12:42] iMicknl commented on #206
@tetienne @vlebourl does one of you feel like removing a device from your setup and re adding it? (to capture the events + payload in the event listener).

[2020-08-20 16:34] jensihnow commented on #205
Unfortunately I need to report another issue while testing with 2.1.0:

[code]

[2020-08-21 17:42] PoVPoV29 opened #234 "Sliding gate not working"
Hello,
since the last update my "portail" sliding gte is not working anymore.
I have the following error message :
Détails du journal ( ERROR )
Logger: homeassistant.components.websocket_api.http.connection.2718425392
Source: custom_components/tahoma/tahoma_device.py:155
Integration: Home Assistant WebSocket API (documentation, issues)
First occurred: 19:38:31 (3 occurrences)
Last logged: 19:38:47

[2020-08-21 21:06] #234 closed, assigned to nobody

[2020-08-24 09:04] #220 closed

[2020-08-24 09:05] iMicknl commented on #220
@PoVPoV29 we just added support for calling `tahoma.cover_my` to the integration. If you install the latest master integration, you are able to set your covers to the my position.

[2020-08-24 09:14] tetienne commented on #233
I can confirm indeed. And even the tahomalink website does not make the update when you use the wall switches. You have to log in to refresh the state. So I'm affraid there is no easy solution.

[2020-08-24 09:27] iMicknl commented on #233
We could call [`/setup/gateways/{gatewayId}/devices/states/refresh`](https://imicknl.github.io/python-tahoma-api/tahoma_api.html), which is the same behaviour as tahomalink.com does on login I assume...

[2020-08-24 09:27] PoVPoV29 commented on #220
Hello,
It seems working.(I Don't remember my 'my' position on my covers)
I used the stop button for the my position.

[2020-08-24 09:32] vlebourl commented on #233
but we have no way to know when to call that...

[2020-08-24 09:33] vlebourl commented on #233
If that service does refresh the state, it would be a nice addition.

[2020-08-24 11:46] romain38 commented on #233
This solution seems good to me: this would be a major update for my use case!

[2020-08-25 12:11] halest commented on #231
Sure thing @iMicknl ! I've replaced the current master version with this one and set in the options a pull timeout of 1200 seconds. So far no traffic, I'll update in 20 minutes.

[2020-08-25 12:17] halest commented on #231
Alrighty @iMicknl , it jumped from 6 to 8, probably doing two requests per pull I'd assume but other than that, much cleaner than before 👍

[2020-08-25 12:20] iMicknl commented on #231
The current behaviour is that it will pull the event listener every second, after you executed a command. This will bring more frequent updates / feedback after execution of a command, even when you did configure the timeout to be less frequent.

[2020-08-26 09:58] halest commented on #231
Hey @iMicknl , on thing I've noticed with this #227 is that the error from Issue #228 is no happening constantly. I basically get one command free for the covers, after which that error will occur and no more commands will execute until I reboot. Had to reboot four times since yesterday

[2020-08-26 17:24] iMicknl commented on #231
What is your timeout? Is it still set to 1200 seconds? I can not reproduce this issue with a timeout of 30 seconds, but perhaps it is due to a long timeout. Good to test that as well! :-)

[2020-08-26 18:41] halest commented on #231
It's 1200, but as I understood theres just a general problem regarding the API sending an empty body instead of a JSON?

[2020-08-26 19:29] iMicknl commented on #231
The JSON error is a side effect of the original issue where you are Not Authenticated after some inactivity with the event listener. I could reproduce it on the latest version with a timeout of 1200, while calling the event listener endpoint..

[2020-08-26 19:52] halest commented on #231
Ah I see, I understood they'd just throw you a 200 without a body. Usually in my own projects I'd kick in a doLoginIfNotAuthenticated kind of function that checks for a valid token and if not does the Login before continuing. I don't really know this framework, is something like that an option here?

[2020-08-26 20:04] iMicknl commented on #231
The issue is that they return JSON content, without a valid MIME type, which causes the http client to throw an error. We have an open PR to fix this, and we will implement the next step soon where it will relogin on error.

https://github.com/iMicknl/python-tahoma-api/pull/36

[2020-08-26 20:08] halest commented on #231
Ah, also very interesting! I'll set it to 30 and wait for PR 36. Thanks for yout time, I appreciate it.

[2020-08-27 14:40] iMicknl commented on #231
@iMicknl you can give #227 a try, it should fix all your problems now.

[2020-08-27 14:41] #228 closed

[2020-08-27 14:43] iMicknl commented on #205
@jensihnow it should (finally) be fixed now in the latest master. However, would be great if you could give #227 a try!

[2020-08-27 14:43] #205 closed

[2020-08-27 18:42] jensihnow commented on #205
Works like a charm now. I updated to the branch code and restartet, worked already. Since I had the Z-Wave devices still listed I did removed and added the integration again. But I found something else I'm going to add issues for.

[2020-08-27 18:46] jensihnow opened #238 "Detected integration that closes the Home Assistant aiohttp session"
**Describe the bug**

Apparently Home Assistant complains about:

2020-08-27 20:35:08 WARNING (MainThread) [homeassistant.helpers.frame] Detected integration that closes the Home Assistant aiohttp session. Please report issue to the custom component author for tahoma using this method at custom_components/tahoma/__init__.py, line 145: await client.close()

**To Reproduce**
Steps to reproduce the b

[2020-08-27 18:50] tetienne commented on #238
Thx for reporting this. @iMicknl  That's probably due to the fact that now we share the HA aiohttp session. We must not close the session anymore.

[2020-08-27 18:56] jensihnow opened #239 "Error unloading entry ... for tahoma"
**Describe the bug**

When deleting the integration it is throwing errors for, as it seems like, a lot of items:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Delete the integration while having Alexa integration active.

**Expected behavior**

No such exceptions on deletion of integration.

**Screenshots**
-

**Environment (please complete the following information):**

- **ha-ta

[2020-08-27 20:30] iMicknl commented on #238
Cool, I wasn't sure about this one, however I didn't see it in my logs yet. Perhaps since I didn't had to close the session yet.

Will fix this in #227.

[2020-08-28 08:56] iMicknl commented on #238
Should be fixed in #227!

[2020-08-28 08:56] #238 closed

[2020-08-28 11:50] halest commented on #231
I've just deployed the new version. So far no problems. I'll reply if I find something. Thanks!

[2020-08-28 14:20] iMicknl commented on #167
https://github.com/dubocr/homebridge-tahoma/blob/984a8e440e081a3f34960a0303bcbda245f60de6/overkiz-api.js#L407

The HomeKit (via homebridge) integration is also calling this endpoint every x minutes (based on user setting). We could add this as well, next to our regular data update coordinator.

[2020-08-29 09:28] dckiller51 opened #240 "Camera update after triggering"
Hello,
When the camera goes into trigger. The state does not return in an armed or disarmed state. Home assistant must be restarted to regain its good condition.

[2020-08-29 10:18] iMicknl commented on #240
Thanks for reporting. Could you please use the [issue template](https://github.com/iMicknl/ha-tahoma/issues/new?assignees=&labels=bug&template=bug_report.md&title=) and fill all fields? We need more information to help you and this template covers all required information.

I will close this one, please create a new issue using the template.

[2020-08-29 10:18] #240 closed

[2020-08-29 14:03] iMicknl commented on #239
@jensihnow it should be fixed now in #227. 👍🏻 Thanks for reporting!

[2020-08-29 14:03] #239 closed

[2020-08-31 07:18] vlebourl commented on #211
Hi, sorry for the long silence. I'm looking at that device now, and using presets isn't a very convincing solution. As this is a stateless device, I have no way of knowing what's the state and hence how many ups and downs to apply to go from one preset to another. I don't have any way to know whether it's on or off either... I would suggest having on/off capability only as those commands are strai

[2020-08-31 15:15] larsvinc commented on #211
Hi,

Up / Down / My sounds good to me. Does that mean that it becomes a climate device?

[2020-08-31 15:17] vlebourl commented on #211
It would be a climate device indeed. If you have other ideas on what to map it too, I'm all ears!
Otherwise, you can try this branch: https://github.com/iMicknl/ha-tahoma/tree/feature/support_exterior_modulis_heater_211 where there's a first implementation of your device as a climate entity with on/off accessible in the ui and up/down/my as services.

[2020-08-31 15:23] larsvinc commented on #211
Will do!

It is feasible to get to a known state by turning the device on and off. But that known state would depend on what the user programmed as the default. So long story short, that would be a dirty fix, and would depend on each installation. So I think it should be avoided.

Bottom line: No better suggestions here :+1:

[2020-08-31 15:25] vlebourl commented on #211
That wouldn't really be a known state in the sense that even thought the user knows the state the device starts in, TaHoma doesn't return any state (as for any RTS device) that can be used in the implementation, hence the widget name "StatelessExteriorHeating".

[2020-08-31 15:33] larsvinc commented on #211
I fully agree with you.

Tested the branch. It did not detect the heater:
2020-08-31 17:32:14 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (rts:ExteriorHeatingRTSComponent - ExteriorHeatingSystem - StatelessExteriorHeating)

I do see the climate_seh.py in the custom components folder. Am I missing something? Do I need to do something beyond restarting HA?

[2020-08-31 15:35] vlebourl commented on #211
Nope, I forgot to add it to the supported types, my bad... Should be detected now.

[2020-08-31 15:38] vlebourl commented on #211
Do you know whether the device cycles through the levels if you hit up multiple times? If not, we could have the 3 levels as presets and select the correct level by doing enough ups or downs to reach a guaranteed known states:
-> 2 ups => level 3
-> 2 downs => level 1
-> 2 ups 1 down => level 2
my command would still be a service only as the 3 levels would be directly accessible.

[2020-08-31 15:41] vlebourl commented on #211
Would you rather have sleep/eco/comfort or eco/comfort/boost?

[2020-08-31 15:48] vlebourl commented on #211
new commit to the branch with the presets.

[2020-08-31 15:59] larsvinc commented on #211
Hi,

It does not cycle. So the presets work. I would propose eco/comfort/boost!

On a note "sleep" proposes that you can have it there while not using it, but it uses a lot of power, so that is something one should not do (or does it suggest to sleep under it? :P)

It is detected as a device, but without any entities now.

[2020-08-31 16:14] vlebourl commented on #211
Just pushed a fix.

[2020-08-31 16:27] vlebourl commented on #211
Yet other fixes, can you verify through the dev page that the my service is working?

[2020-08-31 16:43] larsvinc commented on #211
Invalid config
The following integrations and platforms could not be set up:

tahoma.climate
Please check your config.

Nothing in the log. Configured via GUI.

[2020-08-31 16:43] larsvinc commented on #211
The entity still does not show up

[2020-08-31 18:36] vlebourl commented on #211
don't understand, it works on my side on a vanilla install. I'll have a better look tomorrow...

[2020-08-31 19:09] larsvinc commented on #211
I reinstalled the integration to try once more.

I keep getting the device, but no entities:
![image](https://user-images.githubusercontent.com/16321939/91756983-f5083400-ebcd-11ea-8c18-e905ff244cf8.png)

![image](https://user-images.githubusercontent.com/16321939/91757095-1bc66a80-ebce-11ea-8b90-9664595090d5.png)

Let me know if there is something I can do to help debugging.

[2020-08-31 19:22] vlebourl commented on #211
Very strange... No further message in the log?

[2020-08-31 19:46] larsvinc commented on #211
Nope

[2020-08-31 20:59] lseufer opened #245 "Not really a bug: EnergyConsumptionSensor"
**Describe the bug**
7 of the 8 power meters discovered by the integration are reporting a measurement in Watt per hour. However, I can't match any of those with the ones in the Tahoma app/website. The measurements are all different.

I don't have any idea what period of time those are supposed to be.

Tahoma displays  Daily, Weekly, Monthly, Yearly in kWh.

**Device:**
Here are the sensors I have

[2020-08-31 21:22] iMicknl commented on #245
Thanks for reporting @lseufer! We are getting close to a pull request to core, thus it would be great to solve some of the latest bugs.

**io:DHWElectricalEnergyConsumptionSensor**
We read the `core:ElectricEnergyConsumptionState` from the Energy Consumption Sensors. This is probably the realtime value of your energy usage. Is the value that you are looking for present in the other states? (`/deve

[2020-08-31 21:47] iMicknl opened #246 "Add support for DomesticHotWaterTank (io:DomesticHotWaterTankComponent)"
**Device information**
Unsupported TaHoma device detected (io:DomesticHotWaterTankComponent - WaterHeatingSystem - DomesticHotWaterTank)

@lseufer

**Device details**

[code]

[2020-08-31 21:50] iMicknl commented on #246
@lseufer could you give https://github.com/iMicknl/ha-tahoma/tree/feature/support_DomesticHotWaterTank a try? You can download this zip (https://github.com/iMicknl/ha-tahoma/archive/feature/support_DomesticHotWaterTank.zip) and extract the `tahoma` folder and place it in your `custom_components` folder to try.

It should detect your `DomesticHotWaterTank` as a switch, which will unblock the scenar

[2020-08-31 22:10] iMicknl opened #248 "Parity with homebridge-tahoma"
The https://github.com/dubocr/homebridge-tahoma package supports a lot of devices and is a great source of inspiration. In our goal to support (almost) all Somfy devices, we miss the following ui classes:

[code]

And the following widget classes:
[code]

[2020-08-31 22:22] iMicknl commented on #248
**Status**
- MusicPlayer is used for the Somfy Sonos integration. We should ignore this, since this one is available in HA natively.
- Fan; I am not sure which `io` device is using the Fan widget. Looking at the HomeBridge code, sometimes DimmerLights are used to control fans.

[2020-09-01 06:30] vlebourl commented on #211
Hey back, I added some debug logging, can you test and report on the last version? Thanks

[2020-09-01 07:33] Glenn1986 commented on #204
@iMicknl can I help with testing for this problem. I have RTS roller shutters and the stop command doesn't work?

[2020-09-01 07:56] wzwart76 opened #249 "Add support for EvoHome - HeatingSetPoint (ramses:EvoHomeZoneSetPoint)"
**Device information**
I have a Evohome box (HGI80) connected to the Tahoma via USB and can read the temperature (temperaturesensor) in Home Assitant, but I cannot set the temperature, because the device (thermostat / setpoint) is not supported.

**Device details**

DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (ramses:EvoHomeZoneSetPoint - EvoHome - HeatingSetPo

[2020-09-01 08:18] iMicknl commented on #204
@Glenn1986 are you familiar with Developer Tools in your browser? Could you capture which XHR requests happen when you open the cover and cancel the command?

[2020-09-01 08:57] Glenn1986 commented on #204
Oke I will try, do you mean the xhr request in home assistant or in tahomalink? I think the last one but want to be sure ;)

[2020-09-01 08:58] vlebourl commented on #204
yes tahomalink!

[2020-09-01 10:22] #181 closed

[2020-09-01 11:01] larsvinc commented on #211
Hi,

I have done a new pull, and same situation. Some more debug though:
2020-09-01 12:58:24 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for tahoma which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2020-09-01 12:58:31 DEBUG (MainThread) [custom_components

[2020-09-01 11:03] iMicknl commented on #233
@romain38 could you give https://github.com/iMicknl/ha-tahoma/archive/feature/add_refresh_states_service.zip a try? You can unzip this file and place the `tahoma` folder in your `custom_components` folder. Best is to first remove the old one, to make sure you don't have any conflicts.

This will add a new service call named `tahoma.refresh_states`. Calling this service should trigger an update wit

[2020-09-01 11:03] iMicknl commented on #230
@HaSHi93110 could you give https://github.com/iMicknl/ha-tahoma/archive/feature/add_refresh_states_service.zip a try? You can unzip this file and place the `tahoma` folder in your `custom_components` folder. Best is to first remove the old one, to make sure you don't have any conflicts.

This will add a new service call named `tahoma.refresh_states`. Calling this service should trigger an update w

[2020-09-01 11:04] iMicknl commented on #40
@francodutch could you give https://github.com/iMicknl/ha-tahoma/archive/feature/add_refresh_states_service.zip a try? You can unzip this file and place the `tahoma` folder in your `custom_components` folder. Best is to first remove the old one, to make sure you don't have any conflicts.

This will add a new service call named `tahoma.refresh_states`. Calling this service should trigger an update

[2020-09-01 12:29] romain38 commented on #233
Hi Mick,

It works fine (with https://github.com/iMicknl/ha-tahoma/archive/feature/add_refresh_states_service.zip version) !
My test steps:
- modify manually (with wall switch) several cover
- call tahoma.refresh_states
- wait (between 2 and 15 seconds)
- right states are displayed in HA!

If I understand correctly, on a next version, this service will be called automatically depending on the inte

[2020-09-01 13:10] francodutch commented on #40
will give it a try. How would it work though if I want an externally triggered event (ie use remote control to open gate) to be detected by HA?

[2020-09-01 13:21] iMicknl commented on #40
That should already work! You could first give it a try, to see if any change outside Home Assistant is reflected within a minute after the gate is fully open / closed.

If that doesn't work yet, call the `tahoma.refresh_states` and see if it does update to the right state within 30 seconds.

[2020-09-01 13:29] iMicknl commented on #233
@romain38 great to hear! Indeed, we are looking to add a way to define a refresh period in the future. For now, you can create your own automation that will periodically call `tahoma.refresh_states`! Just make sure your polling interval is in the same frequency at least, since that is needed to refresh the updates.

<img width="604" alt="Screenshot 2020-09-01 at 15 25 57" src="https://user-images.

[2020-09-01 13:40] #219 closed

[2020-09-01 13:44] francodutch commented on #40
sure I can test that, but unless I am missing something, in a real life situation rather than in testing,  I don't know when to trigger the service to update the status... what am I missing?

[2020-09-01 13:57] iMicknl commented on #40
@francodutch in the future, this could be automated, like the automated polling we do now. However, I would need to understand first if this works in your scenario.

And even as a workaround, you could create an automation to automatically call this service every minute.

[2020-09-01 16:21] francodutch commented on #40
got it. I will test it.

[2020-09-02 05:42] Glenn1986 commented on #204
Hope this information helps you guys
`{execution: {eventTime: 1599025157127, owner: "xxxxxx", source: "mobile:mobile",…}}
execution: {eventTime: 1599025157127, owner: "xxxx", source: "mobile:mobile",…}
commands: [,…]
0: {deviceURL: "rts://1222-8124-6958/16745869", command: "close", parameters: [], rank: 0, dynamic: false,…}
command: "close"
deviceURL: "rts://1222-8124-6958/16745869"
dynamic: false

[2020-09-02 07:34] iMicknl commented on #204
Thanks @Glenn1986. Could you have a look if the previous request is a `DELETE` request? I will start working on it this weekend probably, so will soon have a version to test.

[2020-09-02 10:03] Glenn1986 commented on #204
Request URL: https://www.tahomalink.com/enduser-mobile-web/enduserAPI/exec/current/setup/4e440f95-ac10-3e01-2775-8dbb10e9de74
Request Method: DELETE
Status Code: 204
Remote Address: xxxx
Referrer Policy: no-referrer-when-downgrade

It's indeed a delete request before above information is received. :)

[2020-09-02 11:08] iMicknl commented on #204
Great to hear! I have implemented a first try in https://github.com/iMicknl/ha-tahoma/tree/enhancement/improve_stop_functionality, could you give it a try?

You can download this zip https://github.com/iMicknl/ha-tahoma/archive/enhancement/improve_stop_functionality.zip and extract the tahoma folder to your `custom_components` folder. Please delete the old one first to make sure you don't have any

[2020-09-02 11:33] iMicknl commented on #233
@romain38 I will close this issue for now, since we will track this feature in https://github.com/iMicknl/ha-tahoma/issues/167. If you subscribe to that issue, you will get notifications of updates and when it is ready :-).

[2020-09-02 11:33] #233 closed

[2020-09-02 11:34] iMicknl commented on #230
I will close this issue for now, since we will track this feature in https://github.com/iMicknl/ha-tahoma/issues/167. If you subscribe to that issue, you will get notifications of updates and when it is ready :-).

Please give the zip in my post above a try, would be great to know if this service works for you.

[2020-09-02 11:34] #230 closed

[2020-09-02 12:41] francodutch commented on #40
Sorry but somehow the integration now fails to load. Should the directory still be called Tahoma or the name in the zip file?

[2020-09-02 15:16] lseufer commented on #245
The figures displayed in HA match the ones I get if I export the values from the Tahoma web interface but they don't match those displayed in the Tahoma graphs... Somfy at its best.. again...

Some of the values appear to be cumulative consumptions over a monthly period, others are weekly ones. I don't think I'll be able to make any use of those sensors.

In case it helps, here are the values I ha

[2020-09-02 18:17] iMicknl commented on #245
Unfortunately this is not something we can fix in our integration... So I guess for now the sensors are a bit useless, until Somfy changes the states of the devices. They have a lot of logic in their front-end most of the time, so we can not work around everything.

[2020-09-02 19:13] #245 closed

[2020-09-02 19:21] #248 closed

[2020-09-02 20:17] lseufer commented on #246
Excellent! It's working, now to create my scenario and automate my water heater. Thanks!!!

[2020-09-02 20:25] francodutch commented on #40
It works. I had one instance where HA actually detected a gate opening externally triggered, without using the state update service, but i haven't been able to reproduce that. However the service works after20-30 secs or so. Is there anywhere that update frequency can be changed?

[2020-09-03 09:39] #246 closed

[2020-09-03 10:48] Glenn1986 commented on #204
Hi @iMicknl. I did the test with the new version you made but didn't work. Gives me the error: Kan service cover/stop_cover niet aanroepen 'TahomaCover' object has no attribute 'debug'.

[2020-09-03 10:51] iMicknl commented on #204
@Glenn1986 oops, I made an obvious mistake. It is fixed in the latest version.
I can try this myself this Sunday the earliest unfortunately.

[2020-09-03 11:38] iMicknl commented on #204
@Glenn1986 you could download the zip again and retry :)

[2020-09-03 14:18] Glenn1986 commented on #204
@iMicknl i tested again and now it worked. The rollershutter stopped but he gives on error: Kan service cover/stop_cover niet aanroepen 'NoneType' object has no attribute 'get'.

[2020-09-03 14:58] iMicknl commented on #204
Cool! I will have a look myself and polish it up a bit, but great to know that the stop functionality is finally working for you.

[2020-09-04 09:38] #211 closed

[2020-09-04 09:41] vlebourl commented on #249
Hi,
I'll start working on this, any idea what the "setSetpointOverride" command is?
cheers

[2020-09-04 09:47] wzwart76 commented on #249
Hello Vincent,

In Evohome there is a schedule. So I think this is the override of the schedule. For instance, between 23:00 and 18:00 it is always 20 degrees. And between 18:00 and 23:00 the temperature increases to 21 degrees. On the Tahoma I can set a different temperature for the current period, but once a new period begins (18:00 for example) the override disappears.

I hope this is clear? Th

[2020-09-04 13:19] iMicknl commented on #204
@Glenn1986 if you could try the latest version and report if this solved your issues, would be appreciated 👍🏻

[2020-09-05 07:52] Glenn1986 commented on #204
@iMicknl i just tested your new version. Everything worked well and no errors showing up. Nice work!

[2020-09-05 15:52] thomasgregg opened #254 "Can not arm StatelessAlarmController via Lovelace (rtd:AlarmRTDComponent)"
Hi,

I have a rather complicated setup to connect a Somfy Protexial RTS Alarm system. There is no custom integration etc, for this alarm system as it doesn’t provide a public API. At least i couldn’t find one. The good news is that I also have a Somfy Tahoma which allows me to integrate the Protexial system. HA offers a great integration with Tahoma so I can see and use most of the things Tahoma s

[2020-09-05 19:24] quibusus opened #255 "DoorSensor trigger not working in automation (io:SomfyContactIOSystemSensor)"
**Describe the bug**

What works:
* I can see io:SomfyContactIOSystemSensor - binary door opened/closed sensor in the UI
* I can see the status being updated in the UI when I close/open the doors
* I can see open/closed in the event log in the UI

What does not work:
* in automation, when I select trigger > type: device > door sensor, automation is not triggered
* also does not work with trigger >

[2020-09-05 20:44] tetienne commented on #255
Hi, instead of selecting a device can you try with the entity id directly ?

[2020-09-05 21:04] quibusus commented on #255
I also tried the following
[code]

[2020-09-05 21:05] quibusus commented on #255
I can see it in the log like this:
![image](https://user-images.githubusercontent.com/965671/92313471-53695400-efcc-11ea-94a2-bdc1d23ee0b8.png)

[2020-09-06 08:33] Glenn1986 commented on #204
@iMicknl in which release will you're fix for stop command cover released?

[2020-09-06 10:15] jgarec opened #256 "Add support for AtlanticPassAPCBoiler (io:AtlanticPassAPCBoilerMainComponent)"
**Device information**
naia micro (https://www.atlantic-thermor-prescription.fr/nos-produits/naia-micro-25-30-et-35)
connected with : navilink A59 (http://dimelo-answers-production.s3-eu-west-1.amazonaws.com/177/2a6aa3e663703d41/fiche_connectivite_somfy_naia_hd_original.pdf?15e7883)

**Device details**

[code]

**io:AtlanticPassAPCBoilerMainComponent**
[code]

[2020-09-06 10:19] jgarec commented on #256
Hi,

Should i create separate issues about those unsupported devices ?
[code]

[2020-09-06 11:05] iMicknl commented on #204
@Glenn1986 it depends a little bit on the code review, I expect it to go out with a release in the next week. I will close this issue once it is merged to master, so you will get a notification :-).

[2020-09-06 11:16] iMicknl commented on #255
Have you tried `on` and `off`? I believe this is the required value for binary sensors.

This doesn't look like a bug in ha-tahoma since it reports the status correctly in the UI and logbook. Could you have a look at the states (Developer Tools -> States or `/developer-tools/state`) and check if they change from `on` to `off`?

[2020-09-06 12:22] Glenn1986 commented on #204
Thanks!

[2020-09-06 17:40] vlebourl commented on #256
Are those related to the boiler?

[2020-09-06 18:35] iMicknl commented on #254
Thanks for reporting! Can you set a code to arm / disarm your alarm panel via tahomalink.com? Currently the alarm control panel integration in this component doesn't allow you to set a code indeed.

Are you able to arm / disarm your alarm via Home Assistant? It should work already (without user code), but otherwise we need to have a better look for this as well.

[2020-09-06 18:37] iMicknl commented on #256
@jgarec could you elaborate more on your scenario. How are `AtlanticPassAPCDHW`, `AtlanticPassAPCHeatingZone` and `AtlanticPassAPCBoiler` related? What kind of actions would you like to take from Home Assistant? (so we can understand if we need to map it to `climate` or `switch` for example.

[2020-09-07 06:46] thomasgregg commented on #254
Hi,

Thanks for getting back to quickly. You are absolutely right. I can arm / disarm from the Somfy Tahoma App without a code and it works fine. So there should be no reason to have a code in HA.

Nevertheless it still doesn't fully work. When I press the Disarm button (screenshot in my first post) I can hear the alarm system peeping and it disarms when I set armed it manually or via the Somfy ap

[2020-09-07 09:48] iMicknl commented on #254
Currently, we only support `arm_away` for your device, which is mapped to the `alarmOn` command. Could you try it manually by calling `alarm_control_panel.alarm_arm_away` service?

For now, my guess is that the LoveLace card cannot handle an alarm without state, but that is something we would need to investigate.

[2020-09-07 13:31] thomasgregg commented on #254
Ok. Calling the services:

* alarm_control_panel.alarm_disarm
* alarm_control_panel.alarm_arm_away

work fine and do the trick.

Lovelace card still doesn't work but I assume this is not really related to this integration then. Thanks for your help.

[2020-09-07 18:12] quibusus commented on #255
Thank you @iMicknl @tetienne, I started to lose hope 😆

The `on` and `off` states indeed work as intended 👍

Can I help with documenting this somewhere?

[2020-09-07 18:12] #255 closed

[2020-09-07 18:33] tetienne commented on #255
You are welcome.

About the documentation, what you described is listed on this page: https://www.home-assistant.io/docs/automation/trigger/

Look at state trigger.

[2020-09-08 07:06] quibusus commented on #255
My bad, overlooked that. Thank you for the help!

[2020-09-08 09:28] golles commented on #42
Hi @iMicknl

I see this issue is auto closed, sadly I have the same issue as @gieljnssns.

When looking at the icons, I find these very confusing, I would have preferred the same icons as in your example: https://raw.githubusercontent.com/iMicknl/ha-tahoma/master/media/tahoma_device_page.png
This might be more related to HA than this component. After looking to the icons for a while I thought the

[2020-09-08 10:21] dsbaars commented on #42
I think this is indeed more HA related, since you can change the icon type but not the direction of the arrows, my "Horizontal" IO awning also moves diagonally down when opening so diagonal arrows would be more fitting.

[2020-09-08 10:40] iMicknl commented on #42
Unfortunately, this is something in core that is confusing. We map this device to `awning`, which could be confusing with the current Home Assistant core implementation.. You can change the device class to a different value to have up / down arrows for example. [List of available device classes](https://www.home-assistant.io/integrations/cover/).

The screenshot on the main page of this repository

[2020-09-08 10:57] iMicknl commented on #254
@thomasgregg I will keep this open for now, until I am sure it is not an issue with the Lovelace card. However, I believe that the current card doesn't support stateless alarm control panel devices.

Would it make more sense to map your device to a `switch` entity in Home Assistant, where you have a turn on and off button. (both visible, since it is a stateless device).

[2020-09-08 21:50] thomasgregg commented on #254
Agree. A switch entity would be a great idea. Would reduce 2 buttons to 1 on lovelace if i understand correctly. The issue I can see here is that there are other ways to arm / disarm the alarm system like badges, the keypad etc. As It seems the alarm system doesn't report a state if it is armed or disarmed HA would always be out of sync.

[2020-09-10 12:47] golles commented on #42
I don't really mind which direction the arrows show, I just don't understand the current buttons :-)
`|<-->|` will make the awning go up (not blocking sun)
`->||<-` will make the awning go down (block the sun)
To me, it would make more sense if they work the other way around.

I'll have a look into changing the device class

[2020-09-12 06:38] PoVPoV29 opened #258 "Don't trigger alarm when state is disarmed for MyFoxAlarmController (myfox:SomfyProtectAlarmController)"
Hello,
After a detection the intrusion state stay "detected" beside the alarm status is disarmed.
Can you do something for that ? (It seems that is the Somfy API informations)
Thanks
Alain

code_format: null
changed_by: null
code_arm_required: true
ui_class: Alarm
widget: MyFoxAlarmController
controllable_name: 'myfox:SomfyProtectAlarmController'
'core:IntrusionState': detected
'core:CloudDeviceSt

[2020-09-13 13:13] jgarec commented on #256
Hi,

Here is the french version of the documentation : https://appli.savchaudiere.com/pdf/24/notices/24N11023.pdf
(sorry can't find an english version)

**AtlanticPassAPCDHW**
https://www.atlantic.fr/aide/chaudiere/fonctionnement-utilisation/comment-fonctionne-l-eau-chaude-sanitaire-sur-ma-chaudiere-naia-naema-version-2/

It controls the water produced (for the kitchen, the bathroom). Scenarios ar

[2020-09-14 07:59] iMicknl commented on #258
@PoVPoV29 so the status can be `detected`, even when the alarm control panel is set to disarmed?

Would it make sense if I add a check to set the status to `detected` only if the panel is NOT set to disarmed.

[2020-09-14 08:00] #204 closed

[2020-09-14 09:13] clemalex824 opened #259 "Add support for AlarmRemoteController (rtds:RTDSRemoteControllerComponent)"
**Device information**
https://boutique.somfy.fr/telecommande-tahoma-serenity.html
Remote control for TaHoma serenity, Somfy's connected security:
• 5-button remote control
• Manage the modes of TaHoma Serenity
• SOS function to generate alerts in case of emergency

**Device details**

2020-09-14 11:06:15 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (rtds:RTDSRe

[2020-09-14 10:01] iMicknl commented on #259
What would be the use case for this device in Home Assistant? It looks like it is only possible to read the status, thus mapping it to a sensor is the only option.

Another option is to ignore this device in Home Assistant, which means that it won't show as an unsupported device in the log anymore?

[2020-09-14 10:05] tetienne commented on #259
Can you see this device in your Tahoma interface?

[2020-09-14 10:20] clemalex824 commented on #259
No, i don't see the device in thaoma. I have activate the debug mode to view this.

I would like to be able to use it to open and close the gate which is not Somfy brand. (run script)

I bought 433Mhz modules and I would like, when pressing one of the buttons, to open or close the gate in full or pedestrian opening mode.

I have see that the button clicks activate / deactivate the alarm created by

[2020-09-14 11:05] iMicknl commented on #259
Just to be clear, does it show up in the interface on tahomalink.com? I am not sure if this is an use case that we could easily support. Why not use another remote that you could use with Home Assistant?

By the way;
- currently we don't support opening the gate in pedestrian opening mode, this could be added as a service in HA
- would you need a lower polling interval than 3 seconds? It should wo

[2020-09-14 12:25] clemalex824 commented on #259
I use this remote control because it is  a device of the simple tahoma pack.

I will use a contactor for the different modes for the gate. I don't need any support for this..

The remote control appears in tahomalink.

Since this morning I have set an interval of 1 second which is sufficient and the message of too many requests is random...

As it is an accessory of the simple pack (I bought the t

[2020-09-14 18:57] PoVPoV29 commented on #258
I agree and I am ready to test that. Thanks

[2020-09-14 18:57] iMicknl opened #261 "Handle TooManyExecutions when more than 10 executions are running"
**Describe the bug**
_[Originally reported on Home Assistant Community](https://community.home-assistant.io/t/somfy-tahoma-official-api/61448/1092)_

Not all executions will succeed, when more than 10 executions are running at the same time.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a scene or automation
2. Add more than 10 long running actions in a sequence (like movement of c

[2020-09-14 19:07] iMicknl commented on #261
@tetienne, @vlebourl what do you think:

1. We could tackle this in https://github.com/iMicknl/python-tahoma-api with `backoff`, where we add a debounce time of x seconds with a few retries max.
2. We could add retry logic in this integration based on the number of executions in the list. If the current number is higher than 10, we could delay the call until the list of running executions is lower

[2020-09-14 20:24] golles commented on #204
I was about to report this bug, as I noticed it today, now I see a fix has been merged 12 hours ago. It works for my RTS awning, well done!!

[2020-09-14 20:46] iMicknl commented on #204
@golles thanks for first looking at closed issues / pr's 😄! This PR took a bit longer to get merged, but I will do a new release soon with some more fixes.

For now, you could install the latest master via HACS or manually.

[2020-09-14 21:12] golles commented on #204
Great to hear that you're so active! I bought the Tahoma box recently and I'm really happy to see that you and the others rewrite this component.
I manually pull the master branch into my custom_components, I try to update all my dependencies a couple of times per week :-)
Looking forward to what's coming!

[2020-09-14 22:02] iMicknl commented on #258
@PoVPoV29 could you give https://github.com/iMicknl/ha-tahoma/archive/fix/only_trigger_alarm_when_armed.zip a try? You could unzip the `custom_components/tahoma` folder to your custom components folder.

[2020-09-14 22:50] iMicknl opened #265 "Auto discover Overkiz devices (Somfy TaHoma box, Connexoon)"
**Is your feature request related to a problem? Please describe.**
To improve discoverability of this integration when it will be in core, it would be good to auto discover based on available Overkiz gateways in the network.

**Describe the solution you'd like**
Implement the autodiscover flow using `ssdp`, `zeroconf` or `discovery`.

**Additional context**
My OverKiz device uses the gateway id in

[2020-09-15 07:39] PoVPoV29 commented on #258
It seems the issue is still happening :
code_format: null
changed_by: null
code_arm_required: true
ui_class: Alarm
widget: MyFoxAlarmController
controllable_name: 'myfox:SomfyProtectAlarmController'
'core:IntrusionState': detected
'core:CloudDeviceStatusState': online
'myfox:AlarmStatusState': disarmed
'myfox:AlertTrespassState': >-
  {"deviceId":"NmZSuim2Wwcttk9NB56B1kdql30fDmDY","sendAt":"2020-0

[2020-09-15 10:15] iMicknl commented on #258
@PoVPoV29 I am not sure if I understand you correctly. It shows that your alarm is disarmed? That should be the correct status, since intrusion detected should not show for disarmed devices.

[2020-09-15 11:09] PoVPoV29 commented on #258
Hello @iMicknl In the "'myfox:AlarmStatusState" yes it's diusarmed but no in the web interface (alarm panel)

[2020-09-17 08:33] inconsx opened #266 "Tahoma integration doesn't find my awnings"
**Issue Description

I've integrated Tahoma to Home Assistant.
All of my covers where found but not my awnings

**To Reproduce**
Delete Integration and redo it.

**Expected behavior**
Every device should be found and migrated to

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**

- **ha-tahoma version: 2020.3.

[2020-09-17 08:35] tetienne commented on #266
Can you please give more details? Have you look in the log if any message related to our component? I own myself a Markelux awnings, and I can see it.

[2020-09-17 08:46] iMicknl commented on #266
Please have a look at '[Device not supported / working correctly
](https://github.com/iMicknl/ha-tahoma#device-not-supported--working-correctly)' in the readme. It would be helpful if you turn on debug mode and share the log.

Could you share a screenshot of your integrations / devices page as well?

[2020-09-17 08:47] inconsx commented on #266
hi,

Unfortunately  can't see anything in the logs related to this integration.
The following are missing:
![awnings](https://user-images.githubusercontent.com/22166678/93447764-13ab4200-f8d3-11ea-97f5-aef759075b94.PNG)

[2020-09-17 08:48] vlebourl commented on #266
Have you turned on debug mode for the integration?

[2020-09-17 08:50] iMicknl commented on #266
And please share a screenshot of your integrations / devices page in Home Assistant (`/config/devices/dashboard`). How did you install this custom component? I wonder if you are using our version or the default core version..

[2020-09-17 08:57] inconsx commented on #266
enabled the debugger.
I've used the oAuth link.

[2020-09-17 09:05] vlebourl commented on #266
do you see messages such as those:

[code]

[2020-09-17 09:11] iMicknl commented on #266
@inconsx you are using the `Somfy` integration, where this is the `Somfy TaHoma` integration. Unfortunately the Somfy integration, which is using the official API, doesn't support all devices. This integration is using the onofficial API used by tahomalink.com and thus supports all devices out of the box.

Please have a look at the [Installation](https://github.com/iMicknl/ha-tahoma#installation)

[2020-09-17 09:11] #266 closed

[2020-09-17 10:36] inconsx commented on #266
made it and works perfectly now. Thanks

[2020-09-17 19:19] thomasgregg opened #269 "Battery level for Somfy Door sensor / Smoke detectors"
I have a few door sensor which are used mainly with my Protexial IO system. But they are also visible in my Tahoma and therefore are visible in HA and work great for automations.

Door Sensor --> Protexial --> Tahoma --> HA

The door sensors show a nice battery level in Tahoma

![image](https://user-images.githubusercontent.com/2538782/93516952-06ba3d00-f92b-11ea-8c51-788d7c9ab030.png)

But I can'

[2020-09-17 19:36] tetienne commented on #269
Hi,

Can you please look in the developper tools, if you see more attribute for your device?

For a cover for instance, we have this kind of information:
[code]

[2020-09-17 19:38] thomasgregg commented on #269
It just shows me this in the developer tools for the entity:

`ui_class: ContactSensor
widget: ContactSensor
controllable_name: 'rtds:RTDSContactSensor'
'core:PowerSourceType': battery
'core:ContactState': closed
friendly_name: Entrance door
device_class: opening
`

[2020-09-17 22:59] iMicknl commented on #269
Is the battery sensor data near real-time? Looking at your device definitions, there is a `core:SensorDefectState` which could output `lowBattery`. I can not find any other indication of battery health in the device definition. (and otherwise, this would have be supported out of the box since we read the battery state if available).

We would need to figure out if tahomalink.com is interpreting `c

[2020-09-18 06:50] thomasgregg commented on #269
I can confirm that the battery sensor data in Protexial and Tahoma are very accurate. Protexial even has a possibly to send you a sms if battery is low. Please  let me know if there is anything I can do to test etc.

[2020-09-19 00:19] iMicknl commented on #258
Could you give it another try? :) I just updated the branch with a small fix.

[2020-09-19 00:22] iMicknl commented on #269
It looks like tahomalink.com is getting the battery status from a different endpoint, since it is not included in the device states...

Could you perhaps have a look at the XHR requests in your browser console, while requesting the battery states? I would like to understand if they leverage a certain endpoint to retrieve those states.

[2020-09-21 07:51] thomasgregg commented on #269
I am not sure if this is what you are looking for but I tried. Please let me know if this helps or if you need anything else.

![image](https://user-images.githubusercontent.com/2538782/93743245-fe465880-fbef-11ea-84be-a596f2c685e4.png)

[2020-09-21 11:58] iMicknl commented on #40
@francodutch could you give the latest version a try? (https://github.com/iMicknl/ha-tahoma/archive/feature/refresh_states.zip). By default, the refresh state interval is every hour, but you could put it on a lower value if you want.

And when you call the `tahoma.refresh_states` service manually, it should be way quicker than 20-30 seconds as well.

[2020-09-21 19:36] iMicknl commented on #269
This is unfortunately not the one I am looking for.

Steps to collect F12 traces:
1. Open the browser and log in:
2. Open Developer Tools ( F12- function key)
3. Go to the network tab
4. Refresh the page and start recording (red button)
5. Reproduce the issue and download the traces in .HAR format and share it with us

![image](https://user-images.githubusercontent.com/1424596/93812686-46966280-fc

[2020-09-21 19:42] iMicknl commented on #254
@thomasgregg could you share a screenshot of this alarm on tahomalink.com? I would like to understand if they show the current state (and if it is not out of sync when you arm it by the keypad).

[2020-09-21 19:43] iMicknl commented on #258
@PoVPoV29 I just uploaded a new version, could you try if this solves your problem? https://github.com/iMicknl/ha-tahoma/archive/fix/only_trigger_alarm_when_armed.zip

[2020-09-21 19:54] thomasgregg commented on #269
Just sent it to your email.

[2020-09-22 14:48] PoVPoV29 commented on #258
Hello,
It's good for me now !

code_format: null
changed_by: null
code_arm_required: true
ui_class: Alarm
widget: MyFoxAlarmController
controllable_name: 'myfox:SomfyProtectAlarmController'
'core:IntrusionState': detected
'core:CloudDeviceStatusState': online
'myfox:AlarmStatusState': disarmed
'myfox:AlertTrespassState': '{"deviceId":"site_alarm","sendAt":"2020-09-22T14:39:16.000000Z"}'
friendly_n

[2020-09-22 16:48] PoVPoV29 commented on #258
Hello,
New issue releated to your modifications :
after armed the alarm, the status "cuisine déclenché" is active. It shouldn't because there was no intrusion.
![auto](https://user-images.githubusercontent.com/69581008/93912489-20c99600-fd04-11ea-8eba-37fcae615f11.PNG)

[2020-09-22 16:53] iMicknl commented on #258
The issue is that the state is still `'core:IntrusionState': detected`. What we could do possibly is that we set the status to undetected after you disarm the alarm, maybe that will solve the first problem as well...

Could you have a look at the state after you disarm the alarm via tahomalink.com. Does it change the `IntrusionState` to `undetected`.

[2020-09-23 06:56] PoVPoV29 commented on #258
How can I look the state in the Tahomalink? throught API? GUI?

[2020-09-23 11:20] PoVPoV29 commented on #258
"id": "",
    "type": "camera_protect_somfyone",
    "categories": [
      "camera"
    ],
    "states": [
      {
        "name": "shutter_position",
        "value": "closed",
        "type": "string"
      }
    ],
    "capabilities": [
      {
        "name": "shutter_close",
        "parameters": []
      },
      {
        "name": "shutter_open",
        "parameters": []
      }
    ],
    "

[2020-09-24 15:04] llevering opened #275 "Group entities don't work with device specific services (e.g. tahoma.set_cover_position_low_speed)"
**Describe the bug**
Group entities do not work with tahoma.set_cover_position_low_speed service. Which is a great addition BTW!

**To Reproduce**
Steps to reproduce the behavior:

1. Create a group of covers
2. From the services-tab execute tahoma.set_cover_position_low_speed service with entity_id: cover.group
3. Nothing happens...
4. In the log you will find: Unable to find referenced entities

[2020-09-25 12:34] iMicknl commented on #275
We did register `set_cover_position_low_speed` as an entity service which should support groups by default. Did you try pass the same group to `cover.set_cover_position` and did it work?

Are you using `cover.group` as a group? Or is this a typo and are you using `group.xxxx`?

[2020-09-25 15:14] francodutch commented on #40
@iMicknl I will - just having issues now with the range of the radio reception by the Tahoma box of my izymo and gate  radios...need to fix that first to have reliable test results...

[2020-09-25 17:50] llevering commented on #275
The actual name is 'cover.boven' I put there as generic example. :)

`cover.set_cover_position` does work as expected (but didn't try, so good to test).  I test with the data:
[code]
If it helps I would be willing to give you remote access.

[2020-09-27 20:55] iMicknl commented on #258
I am looking for the state that you did pull from Home Assistant. They should be updated as well, after you execute an action via tahomalink.com. I would like to understand if they set the status to `notDetected` from tahomalink.com when you disarm.

[2020-09-27 21:02] iMicknl commented on #269
Thanks for providing your HAR, @thomasgregg. I had an extensive look and I was not able to find where the information is coming from.. Unfortunately there is no mention of battery state and information in any of the API calls.

[2020-09-27 21:49] iMicknl commented on #275
I will have a look upcoming week. Could you please verify that it works with `cover.set_cover_position`? :-). Just to be sure that the entity services do support passing a group.

[2020-09-28 07:13] llevering commented on #275
Yes it does, I tried to say that with the earlier post, but I see it was ambiguous. Now I think back: I literally did a search and replace to switch from `cover.set_cover_position` to `tahoma.set_cover_position_low_speed`.

[2020-09-28 20:13] laszlojakab opened #277 "Handle ServerDisconnectedError during startup"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Is your feature request related to a problem? Please describe.**
I often restart HA for development purposes. A lot of times I get ServerDisconnectedError from tahoma integration

[2020-09-28 21:09] iMicknl commented on #277
Thanks for reporting. Do you have (public) internet access when you restart Home Assistant?

We should definitely retry on `ServerDisconnectedError` in https://github.com/iMicknl/python-tahoma-api. I am not sure if we can easily schedule a task that will check if there is internet connectivity again.. However, you don't need to restart HA, you could also press the reload button on the integrations

[2020-09-29 05:34] laszlojakab commented on #277
Hi @iMicknl , Yes, I have internet access during restart (only HA restarted, host system stays online). Thanks for "reload button idea" I will check next time!

[2020-09-29 14:22] iMicknl opened #278 "BadCredentialsException while using correct credentials"
**Describe the bug**
Currently the coordinator is failing on `BadCredentialsException` for some users, which is not caused by bad credentials...

I have seen the situation myself, however it only happened 5 times.

Last logged: September 28, 2020, 8:42:41 PM

Another user [on the community forum](https://community.home-assistant.io/t/somfy-tahoma-official-api/61448/1107?u=imick) has the same issue

[2020-09-29 16:23] halest commented on #278
Hey man, it's me again. I'm seeing the same issue since yesterday. I can see an update on the TaHoma box that happened yesterday. Anything I can do to help?

[2020-09-29 16:33] golles commented on #278
I've also seen this a couple of times for a week (or so)

[2020-09-29 16:44] golles opened #279 "Newly added devices require a restart of home assistant"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
Today my 2 new roller shutters (IO) were installed and I've added them in the Somfy app. I had to restart HA to make them appear there. I would expect that a r

[2020-09-29 17:30] vdheidenet commented on #278
Same problem here. If I can help testing or something please let me know.

Thanks for this plugin!

[2020-09-29 19:21] iMicknl commented on #279
Thanks for reporting @golles! This is something that we haven't implemented (yet) indeed. We already catch the `DeviceCreatedEvent`, however we don't reload the integration at the moment.

This is something that has a bit of a lower prio than the other open issues, since you can currently 'reload' the integration via the UI, which will add them as well. A full restart is not needed anymore since 0

[2020-09-29 19:25] iMicknl commented on #278
Could you check via tahomalink.com which firmware you are running? I am running `2020.4.4-16` at the moment and I have set my update interval to 60 seconds. Did you perhaps change the update interval to a lower value than the default (30)?

Currently there is not much you can do to help.. @tetienne has reached out to his contacts at Somfy to understand if we need to lower our polling interval. How

[2020-09-29 19:40] halest commented on #278
Of course. I am running the ame version 4.4-16. Interval is currently at 1200 seconds which had worked fine the last few weeks. I'll set it down to 30 and reset the HASS

[2020-09-29 19:47] iMicknl commented on #278
An interval of 1200 is fine as well, that should even be better than 30! Are you facing this error all the time, or does it just show up in your log a few times?

[2020-09-29 20:02] halest commented on #278
Hey, since it started I haven't been able to move a single cover via HASS, so basically all the time. Neither via direct control nor via automation nor via calling a scene.

[2020-09-29 20:03] laszlojakab commented on #277
Hi @iMicknl, I checked "reload button" workaround for the problem. As I see the reload function is not available if the integration fails during startup.

On the first screenshot ServerDisconnectedError happened during init:

![image](https://user-images.githubusercontent.com/6196882/94609653-6277b500-029f-11eb-9e51-1efd4b958d71.png)

On the second screenshot the same menu, when no error occured:

[2020-09-29 20:04] halest commented on #278
Strange! After the reboot just now I was able to establish a connection and move a cover for the first time since yesterday. Let's see if it stays like that.

[2020-09-29 22:04] iMicknl commented on #277
Good catch. Can you give this version a try: https://github.com/iMicknl/ha-tahoma/archive/enhancement/better_handle_errors.zip. You can install it manually by unzipping the package and placing `custom_components/tahoma` in your custom_components folder.

[2020-09-30 05:28] vdheidenet commented on #278
@iMicknl, darn you're absolutely correct. I experience the same issue with a similar Homebridge Plugin.
I'm not using this plugin for HA, sorry for the confusion. I was confused with the different bug reports regarding the same problem.

But nevertheless, this problem is not specific for this HA-plugin, but also for HomeBridge plugins. So it looks like Somfy has changed the website/API (again).

[2020-09-30 08:56] sopha80 commented on #278
had/ have the same issue.
forced DSL reconnect to get new IP solved it for the moment - credentials working again.

[2020-09-30 09:28] iMicknl commented on #278
Unfortunately `'Bad Credentials'` is an ambiguous error. It can be caused by bad credentials or by an user being blacklisted due to too many errors or sessions. A way to get out of this blacklist is to stop the requests for a few hours, lowering the interval of requests won't fix it..

We are working on https://github.com/iMicknl/ha-tahoma/pull/280 to make sure that we stop calling the Somfy serve