[2020-09-30 14:48] golles commented on #278
Hi, I just had a noteworthy moment.
I went to https://www.tahomalink.com to check something in the web interface and after logging in I got a red screen with bad credentials (I should've made a screenshot, sorry). Logging in again did work.
I use a password manager to fill in the fields, so I'm 100% sure the correct passwords are being filled in.
I tried logging out and in again for 10-15 more tim

[2020-09-30 14:52] halest commented on #278
Interesting! My error may have gone away yesterday after I logged into their web interface as well...

[2020-10-01 09:16] laszlojakab commented on #277
With better_handle_errors.zip version:

[code]

[2020-10-01 10:44] iMicknl commented on #277
That is weird, this happens at the retrieval of the scenes... That means that the ServerDisconnectedError occurs just after we did the login and retrieval of the entities.

I haven't faced this ServerDisconnectedError that much, only during polling at a low frequency..

[2020-10-02 21:05] thijsdejong opened #283 "Can't cancel action started in Tahoma with HomeAssistant"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
When my homeassistant instance triggers a Tahoma scene and my covers move, I try to press the stop button in HomeAssistant on one of those covers. Nothing happ

[2020-10-03 01:28] oopptt opened #284 "Unit_Percentage failure with last home assistant 0.115.6"
Hi guys,

after updating my home assistant I'm getting this error below when starting:

Logger: homeassistant.setup
Source: setup.py:280
First occurred: 3:16:37 (1 occurrences)
Last logged: 3:16:37

Unable to prepare setup for platform tahoma.sensor: Platform not found (cannot import name 'UNIT_PERCENTAGE' from 'homeassistant.const' (/srv/homeassistant/lib/python3.7/site-packages/homeassistant/con

[2020-10-03 07:47] vlebourl commented on #284
yes, it's been renamed recently, but I thought we had updated it. let me check

[2020-10-03 07:50] vlebourl commented on #284
what version of Tahoma are you using? this was fixed when HA 0.115 went out. be sure to use the last release of the component.

[2020-10-03 14:38] iMicknl commented on #283
Could you give https://github.com/iMicknl/ha-tahoma/pull/263 a try?

[2020-10-03 21:07] iMicknl commented on #284
@oopptt thanks for reporting, make sure you update to `v2.3.1`. As @vlebourl mentioned, we updated this integration to be compatible with 0.115.

If it is not resolved with the latest version of this integration, feel free to reopen this issue.

[2020-10-03 21:07] #284 closed

[2020-10-03 21:53] #269 closed

[2020-10-04 19:16] thijsdejong commented on #283
@iMicknl Both of these have this issue.
[code]
[code]

Just tried that PR, works wonderfully, for both devices it's an instant stop. 👍

[2020-10-04 19:38] iMicknl commented on #283
Great to hear! The functionality is ready for a while, but I didn't had time yet to clean up the code..
Hopefully I will have some time to simplify the code and to release this fix.

[2020-10-04 20:13] iMicknl commented on #283
Great to hear! I just pushed a new version of the code, could you give it a try? Should be merged soon hopefully.

[2020-10-04 20:57] iMicknl commented on #277
Can you give https://github.com/iMicknl/ha-tahoma/archive/enhancement/better_handle_errors.zip a try again. I did add all API calls to the try/catch mechanisme.

However, there is no retry logic yet, that should be added to `python-tahoma-api`. Do you still face these issues?

[2020-10-04 21:29] iMicknl commented on #275
Are you sure that all entities in the group belong to the `tahoma` integration and the `cover` platform? (+ all of the entities support the low speed movement)

I had a look at the implementation and I couldn't spot the issue. We implement `register_entity_service`, which should take care of groups by default..

[2020-10-05 06:20] llevering commented on #275
I've just retested it. And I am absolutely sure. Under the services tab I first tried setting two covers in a group with `tahoma.set_cover_position_low_speed` and when that failed I changed the function `cover.set_cover_position` with same service data and then it immediately worked. The covers are exactly the same types and in a group.

This is the data from the 'States' of the covers and the gro

[2020-10-05 09:26] #277 closed

[2020-10-05 12:28] #283 closed

[2020-10-05 12:51] thijsdejong commented on #283
@iMicknl fyi, I just tested master(5528c04) and it still works perfectly 👍

[2020-10-05 18:32] PoVPoV29 commented on #258
Hello,
I didn't understand what do you want from me. Can you explain me ?
Thanks

[2020-10-05 18:34] PoVPoV29 commented on #265
Do you need Somfy OUI equipement or help to code ?

[2020-10-05 19:06] iMicknl commented on #258
No worries. Hereby the steps in a bit more detail:

1. Arm alarm panel via tahomalink.com

3. Make sure you trigger the alarm (status should move to detected)

2. Wait for a minute (or wait for the time that you configured in Integrations -> Tahoma -> Options -> Update Interval)

2. Copy all states from Developer Tools -> States for the MyFoxAlarmController.

3. Disarm alarm panel via tahomalink.c

[2020-10-05 20:21] iMicknl commented on #261
I am currently pursuing option 1 via https://github.com/iMicknl/python-tahoma-api/pull/48. This is the easiest to implement, however it has the following limitations:

- After 120 seconds (10 retries) it will still throw the error. This integration would need to do something with it.
- If multiple commands for the same device are sent to the API when facing the TooManyExecutions exception, it coul

[2020-10-06 16:27] thijsdejong opened #289 "TaHoma API usage warning from Somfy"
[ moderator ]
Here is a list of other threads related to this issue:
- https://community.athom.com/t/somfy-tahoma-connexoon-api-usage-warning/35556
- https://community.athom.com/t/somfy-tahoma-connexoon-v2-0-3-test-v2-0-7/35206/83
- https://community.home-assistant.io/t/somfy-news/233211
- https://github.com/home-assistant/core/issues/41352
- https://community.home-assistant.io/t/somfy-tahoma-offi

[2020-10-06 16:42] ekivel commented on #289
I have received it too...

[2020-10-06 16:44] iMicknl commented on #289
Thanks @thijsdejong. We haven't received it ourselves yet, but I got another report as well.

Could you share your polling interval with me? (and which version of ha-tahoma) are you running. I would like to understand if there is possibly a bug that could cause bad behaviour.

This is actually a great point. The original integration was using this endpoint regularly to fetch new state data, where

[2020-10-06 16:58] thijsdejong commented on #289
I'm currently on 5528c04, but have always been very quick to update to the latest version of the integration. I have never touched the polling interval, but it seems to be set to 30 seconds (i assume this is the default). Furthermore I have 24 devices (windows and covers), not sure if that makes a difference.

[2020-10-06 17:21] larsvinc commented on #289
Hi. I have also gotten this report today.

I am on v 2.3.0.

[2020-10-06 17:29] pascalkrielen commented on #289
I also got the email. Using the integration in HomeAssistant. Not sure where to find any version or polling interval though ?

[2020-10-06 17:32] URBANsUNITED commented on #289
Hi!
I got the email too.
I see that I have a connection to tahomalink.com every 30 seconds. Never changed the polling
In my setup I have
1 Tahoma v2
2 Sunis wirefree io
10 roller motors io
maybe it helps...

Thanks for your great work!!!

Cheers
URBANsUNITED

[2020-10-06 17:33] arjen-w commented on #289
Version info can be found in HACS. Current version is 2.3.3 (aka 5528c04, you can find that here in the repo)

I got the same message, so maybe the default polling of 30 seconds is too much..

[2020-10-06 18:30] mdeakin99 commented on #289
Using 2.3.3 via HACS

[2020-10-06 22:39] iMicknl commented on #289
Thanks all for reporting! We are investigating and @tetienne will reach out to his contacts at Somfy to get this clarified.

Apparently not only the `tahoma` integration (tahomalink.com API) and `somfy` integration (official API) are facing issues, but other platforms like Homey are facing [the same issues](https://community.athom.com/t/somfy-tahoma-connexoon-v2-0-3-test-v2-0-7/35206/59).

What I

[2020-10-07 07:30] llevering commented on #289
It seems that Somfy mailed all user with their own API key of official supported API, while they have issues with people using /setup endpoint of their Tahomalink website... I received the mail as well, even though I didn't use the official api for at least two months anymore.

I think your rewrite of the integration with using /setup is great and probably what Somfy is after. Once Somfy is rate l

[2020-10-07 08:27] iMicknl commented on #289
We just released v2.3.4, with improved debug logging. Could you please update and run this integration with [debug logging enabled](https://github.com/iMicknl/ha-tahoma#enable-debug-logging). Run it for a while and please share your full log here (or via email, see profile).

[2020-10-07 08:31] iMicknl commented on #278
I see that I faced it once again in my log, however the event listener was able to recover from it.

[code]

[2020-10-07 09:00] llevering commented on #289
`2020-10-07 10:35:19 DEBUG (MainThread) [custom_components.tahoma.coordinator] Initialized DataUpdateCoordinator with 0:00:30 interval.
2020-10-07 10:35:19 DEBUG (MainThread) [custom_components.tahoma] Finished fetching TaHoma Event Fetcher data in 0.158 seconds
2020-10-07 10:35:19 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (io:AtlanticDomesticHotWaterProducti

[2020-10-07 09:13] iMicknl commented on #289
Thanks @llevering, please keep it running for a while. The `Finished fetching TaHoma Event Fetcher data in 0.098 seconds` is a sign that the DataUpdateCoordinator is working correctly.

We are mainly looking for any exceptions or errors and for the message `Fetching all devices and state via /setup/devices`. If we don't face those errors, we are honoring their limits and in that case we should be

[2020-10-07 09:36] mdeakin99 commented on #289
Please excuse my ignorance, where should I be putting the following?

logger:
  default: critical
  logs:
    custom_components.tahoma: debug

[2020-10-07 09:37] thijsdejong commented on #289
configuration.yaml as stated here https://www.home-assistant.io/integrations/logger/ . It's just like any other configuration.

[2020-10-07 09:38] vlebourl commented on #289
you can add it to your configuration.yaml file. Beware to respect the indentation:
[code]

[2020-10-07 09:41] mdeakin99 commented on #289
Thanks.  I thought it might be but wanted to get the right answer so i can start logging now and get some logs for the team.  Will post something here in an hour or so.

[2020-10-07 09:43] vlebourl commented on #289
As said by Mick, please only post in case of error messages or `Fetching all devices and state via /setup/devices` to keep the thread clean. Thanks

[2020-10-07 09:43] URBANsUNITED commented on #289
Couldn't it be that Somfy reacts on old situations with a very very long delay?
Means, there is no issues with this setup (ha-tahoma) , but the old official HA API way [(?](https://www.home-assistant.io/integrations/somfy)

Just my thoughts as I know how slow Somfy usually is - I am in direct contact with a roller motor developer ;)

[2020-10-07 09:54] vlebourl commented on #289
possible, except the official API way does not use the /setup endpoint... so their email is quite strange...

[2020-10-07 10:57] golles commented on #278
I haven't seen this in the past few days. I also did a lot of restarts as I did a lot of improvements to my setup (adding sensors and improving UI's).

[2020-10-07 10:58] vlebourl commented on #289
Please, keep the reported log messages to the minimum, _ie._ any exceptions or errors messages and the message `Fetching all devices and state via /setup/devices`. Avoid pasting a long list of other debugging message that are not relevant to this issue like `Finished fetching TaHoma Event Fetcher` messages or `[custom_components.tahoma.coordinator] EventName.`

[2020-10-07 10:58] mdeakin99 commented on #289
Removed all of the 'finished fectching...' from the logs.  My limited understanding of the log makes me thing nothing API related here.

2020-10-07 10:48:18 DEBUG (MainThread) [custom_components.tahoma.coordinator] Initialized DataUpdateCoordinator with 0:00:30 interval.
2020-10-07 10:48:18 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (upnpcontrol:SonosPlayOneCo

[2020-10-07 11:02] vlebourl commented on #289
Here is a list of other thread related to this issue:
- https://community.athom.com/t/somfy-tahoma-connexoon-api-usage-warning/35556
- https://community.home-assistant.io/t/somfy-news/233211
- https://github.com/home-assistant/core/issues/41352

[2020-10-07 11:16] tomtomdu85 opened #291 "Invalid auth after reboot"
I have logrotate activated.
So, each days (at 7:00am) my home assistant reboot.

After that, I've got an error in the tahoma integration :

[code]

This is my logrotate script :

[code]

If I reboot manually, no problems. Tahoma is OK

Do you have this bug too?

[2020-10-07 11:21] iMicknl commented on #291
This is related to https://github.com/iMicknl/ha-tahoma/issues/278.

The reason why you see `invalid_auth` is since we catch the `BadCredentialsException` on start. Currently the only way to recover is to 'reload' the integration, but we are working on #285 to have this in a nicer way.

[2020-10-07 11:24] iMicknl commented on #289
@mdeakin99 thanks for sharing! Indeed your log looks clean as well, just messages related to the event polling mechanism.

Please keep the integration running with debug logging for a few days to understand if we even call the `setup` method. The first signs look promising and show that Somfy's email could be outdated / not targeted at us. 👍🏻

[2020-10-07 18:06] jensihnow commented on #289
I did recieve the same warning email. My take was that I got it because I'm actually running the old integration and this one in parrallel. Well I'm going to disable the old one today and go to latest version of this one.

Also, I was tempted to answer: "OK Somfy, how about a LOCAL API!"

[2020-10-07 18:56] jensihnow commented on #289
Just wrote a summary for Somfy and was about to reply, too bad they are sending out from no-reply@somfy.com. I know this is doesn't really belong here, but in case someone from Somfy will look at this: You need to keep conversation with your customers going! What I have seen in the past 10 years since I started using TaHoma made me think to not buy anything for the next home from Somfy.

[2020-10-08 07:23] llevering commented on #289
Still not a single mention of the /setup endpoint 👍

[2020-10-08 11:54] xnk commented on #289
Local API is definitely the way to go. Unfortunately there's nothing open by default on the gateway (it's something that should be fairly trivial to add though, as long as you've successfully entered RomBOOT SAM-BA mode over USB). Forcing the NAND flash CE high during boot will automatically drop you in RomBOOT. It's been a while since I looked at it last but if Somfy starts messing with the API a

[2020-10-08 11:57] vlebourl commented on #289
Quite technical, gotta say, I didn't get much off of that message 😁
But if you ever find a way to force open the tahoma box, I'd be happy to try it!

[2020-10-08 12:08] xnk commented on #289
Sorry for my technobabble :) I just wanted to share some of the (very) early findings. As of right now you have to open the enclosure and temporarily short a signal on the board in order to be able to inject custom code over USB, so it's not for everyone yet.

[2020-10-08 12:13] inconsx opened #292 "Cover position is reversed for AwningValance"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Is your feature request related to a problem? Please describe.**
If cover 'volant' of my  awning is is closed the entity card shows that as open and the other way around.
This be

[2020-10-08 12:18] vlebourl commented on #292
Thank you for reporting this issue. Can you please provide us with `ui_class`, `widget` and `controllable_name` of your device? This is available in the /developer-tools/state page of your Home Assistant.

[2020-10-08 12:28] iMicknl commented on #292
Could you please provide us with the firmware version of your TaHoma / Connexoon bridge as well? You can find that on tahomalink.com.

I have seen this issue arise on https://github.com/dubocr/homebridge-tahoma/issues/206 as well. It looks like Somfy finally standardized the Horizontal Awning devices, which we had to reverse manually in the code...

[2020-10-08 12:36] inconsx commented on #292
Code of my Entity Card:
entities:
  - entity: cover.volant
    name: Volant
    type: 'custom:slider-entity-row'
title: Covers
type: entities
theme: Google Dark Theme
tahoma FW: 2020.4.4-18

Can I do here anything on my own?

[2020-10-08 12:40] vlebourl commented on #292
Thanks, but this is not the info we would need (aside from the TaHoma firmware).
In the State tab of the developper tools, type the name of your entity in the head of the first column, and you should see something like this
![image](https://user-images.githubusercontent.com/5701372/95459601-31207880-0974-11eb-84be-cc1fac00a46f.png)
We would need the content of the third column.

[2020-10-08 12:46] vlebourl commented on #292
can you confirm that current_position: 100 is fully closed in your case?

[2020-10-08 12:51] inconsx commented on #292
Yes, I can confirm

[2020-10-08 12:52] vlebourl commented on #292
can you give this a try? uncompress the zip, replace your custom_components/tahoma folder with the one in the zip and restart HA.
https://github.com/iMicknl/ha-tahoma/archive/fix/ha-tahoma-292.zip

[2020-10-08 13:01] inconsx opened #294 "Show the correct titl position of a cover"
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Is your feature request related to a problem? Please describe.**
tilt position is not shown correctly in the entity card

**Describe the solution you'd like**
show the correct ti

[2020-10-08 13:06] vlebourl commented on #294
added a fix in previous branch. get the last zip as explained here https://github.com/iMicknl/ha-tahoma/issues/292#issuecomment-705547168 and let me know if it's fixed.

[2020-10-08 13:41] inconsx commented on #292
tested successfully: volant is fully closed
Status:
![image](https://user-images.githubusercontent.com/22166678/95466193-603ae800-097c-11eb-9432-a66e9e21949e.png)

Can you add this percentage indicator to the following main awning as well?
entity: cover.markise

current_position: 0
ui_class: Awning
widget: PositionableHorizontalAwning
controllable_name: 'io:HorizontalAwningIOComponent'
rssi_level:

[2020-10-08 13:46] inconsx commented on #294
not fixed for the tilt position
![image](https://user-images.githubusercontent.com/22166678/95467130-65e4fd80-097d-11eb-98d8-fe9983ca15d4.png)
![image](https://user-images.githubusercontent.com/22166678/95467204-78f7cd80-097d-11eb-8fe0-d839a06afd75.png)

[2020-10-08 13:53] vlebourl commented on #294
my bad, should be fixed now.

[2020-10-08 16:54] iMicknl commented on #292
@inconsx could you create a new issue for your `PositionableHorizontalAwning`? This one should already be working correctly, thus we need to investigate if this is caused by the update and if this issue is present for all 'Awning' devices.

[2020-10-08 23:10] iMicknl commented on #289
Great to hear! I have received some other logs and in none of the cases we are calling the `/setup` endpoint. Please keep an eye on your logs to see if `Fetching all devices and state via /setup/devices` is present in the coming days.

It looks like a false positive from Somfy or at least, they communicated the wrong message. Let's hope that they will clarify this situation soon. @tetienne has bee

[2020-10-09 10:14] thijsdejong commented on #289
Have been running the integration with debug logging since `2020-10-07 11:37:00 `, not a single mention of even the word `setup`. So seems to be all good for me.

[2020-10-09 16:42] thijsdejong commented on #289
Had one weird occurance today, this is the only time in 2 days it mentions `setup`:

[code]

[2020-10-11 06:16] laszlojakab commented on #277
I have less problems in the last week. I haven't tried the zipped version yet. Is v2.3.4 contains the same error handling logic as the zip?

[2020-10-11 11:42] iMicknl commented on #277
Yes, since 2.3.2 better error handling is included.

[2020-10-11 11:50] iMicknl commented on #289
Thanks @thijsdejong. This is indeed a weird situation where we don't catch the error. This is due to the fact that the tahomalink API randomly throws a `BadCredentialsException`, even though your credentials are correct..

Great that the DataUpdateCoordinator is able to recover from this and fetches the latest state via `/setup`. As long as this happens once in a few days, we still call the `/setu

[2020-10-12 19:34] clemalex824 opened #296 "service "cover/stop_cover". 'dict_items' object is not reversible"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

Describe the bug:
Since few days i got : "echec d'appel du service "cover/stop_cover". 'dict_items' object is not reversible" when i call stop service of tahoma. Open/Close are ok.

[2020-10-12 20:49] iMicknl commented on #296
Thanks, this should be an easy fix. I will have a look at it this week.

Does it happen perhaps when you initiate the cover movement outside Home Assistant? And you receive the error when you cancel the cover movement from HA.

[2020-10-12 21:14] clemalex824 commented on #296
Service call failed always in HA.

I will test with 'my' button in ha tomorrow.

[2020-10-12 21:16] clemalex824 commented on #296
tahoma.set_cover_my_position works normally.

[2020-10-13 13:28] xekil commented on #289
Hello, the custom component TAHOMA is calling / setup?

[2020-10-13 13:35] vlebourl commented on #289
Yes.

[2020-10-13 13:43] xekil commented on #289
ok, thank you,  is it better to use the official integration then?

[2020-10-13 13:57] xekil commented on #289
I have IO roller shutters and IO thermostat.
With the official integration, the thermostat is not supported and the shutter status feedback is longer than with the custom component

[2020-10-13 14:18] iMicknl commented on #289
We only call `/setup` when you start Home Assistant and when we run into an error, thus this should be acceptable. Apparently the main issue with the TaHoma integration is that we keep the session 24/7 open, since we would like to receive state changes in Home Assistant.

[2020-10-13 14:23] iMicknl commented on #296
Which Python version are you running? If the service call always fails, I believe your Python version might be out of date.

[2020-10-13 16:56] clemalex824 commented on #296
python 3.7.3. i will update

[2020-10-14 12:22] iMicknl commented on #296
Ok, let me know when this doesn't resolve your issue. Latest Home Assistant (supervised) is currently using python_version 3.8.5.

[2020-10-14 12:31] clemalex824 commented on #296
I turn the ha core version and I need some time to update my venv. I come back when it's done

[2020-10-14 19:16] #296 closed

[2020-10-15 07:27] clemalex824 commented on #259
Should I close? Is a job going to be started?

[2020-10-15 09:00] iMicknl commented on #296
I believe this issue was caused by Python 3.7. Since Home Assistant moved to Python 3.8 as their minimum version, we implemented some features that were only supported in Python 3.8.

If you are using a venv for Home Assistant, it is important that you keep your Python version up to date.

[2020-10-15 10:44] iMicknl commented on #259
For now, this hasn't been planned yet. There are some other issues which we prioritised at the moment.
I have added the 'help wanted' tag, which means that the issue won't be closed automatically and that it is visible for people who would like to contribute.

[2020-10-16 05:49] clemalex824 commented on #296
Is it normal that ha-tahoma uses functions from python 3.8 which makes python 3.7 obsolete while the core only warns for version 0.118 the obsolescence of python 3.7 ?

[2020-10-16 08:02] iMicknl commented on #296
@clemalex824 to be honest, I was not aware of Python 3.7 not being obsolete yet in combination with Home Assistant. In order to support Python 3.7, we had to add quite some extra code, which will clutter this integration. Since we target to get this custom_component in core, it makes more sense to target the Python version they use in core and to keep our code as simple as possible.

I will have a

[2020-10-16 08:25] clemalex824 commented on #296
Thank you for your reply. I totally understand the goal. I just didn't want to find myself in the same situation for python 3.9. If this is present in the changelog it's perfect. Thanks again for this integration which works very well ;-)

[2020-10-17 09:07] dckiller51 opened #297 "Node Red API Scene Error"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**

Hello, I often have a scene problem for about 1 week. At 8:00 am mainly. Weird at 7:30 am ok, At sunset OK. I am using Node Red to start the scene. I have an

[2020-10-18 19:41] iMicknl commented on #297
The `TooManyExecutionsException` is due to Somfy only allowing 10 running executions at the same time. How many devices do you have and do you perhaps have any (long running) executions running at the time of the error.

We track this issue in #261, thus I will close this issue. A fix is not implemented yet.

[2020-10-18 19:41] #297 closed

[2020-10-19 08:27] TheFes commented on #291
How do I reload the integration?

[2020-10-19 08:28] Seb0101 opened #298 "Add support for Hitachi Heating System"
Hi,
I have 8 rollers, which work fine with your component (except when Somfy closes http connection, it did yesterday).
I also have 4 air conditioners, today I manage them with homebridge connected to tahoma, and after HA. I think some of my problems come from there.
Is it possible to add them to your component ?
Hitachi Heating System.
Thanks for your answer.
Sébastien

[2020-10-19 08:30] vlebourl commented on #291
What version of HA are you using? Starting 0.115 (I think), reload is available in the integration page:
![image](https://user-images.githubusercontent.com/5701372/96420710-1cef3d80-11f6-11eb-8c2f-bf72cb17e177.png)

[2020-10-19 08:35] vlebourl commented on #298
Hi, at the moment the development of new features is on hold as we are trying to PR into core, and to solve our problem with Somfy regarding server usage (cf #289).

We will still add your request to the TODO list. Could you please open a new issue following and filling out the template here: https://github.com/iMicknl/ha-tahoma/issues/new?assignees=&labels=enhancement&template=feature_request.md&

[2020-10-19 08:35] #298 closed

[2020-10-19 08:39] TheFes commented on #291
Must have looked with my nose instead of with my eyes.
The arrow made it very clear ;-)

Thanks!

BTW, don't know if you want to share your e-mail address publicly on the internet.

[2020-10-19 08:54] vlebourl commented on #291
indeed... used my nose as well...

[2020-10-19 10:05] TheNr1Guest commented on #289
@iMicknl So when I restart normally and there are no errors, this `/setup` is not called?

Also, did someone check with Somfy if calling their API once every 30 seconds is OK or if that is still too much (since that would result in 43200 API calls a day)?

[2020-10-19 10:09] vlebourl commented on #289
From what I understood, I don't think the polling interval is really the issue. It's maintaining open a connection to the client that they don't like, which is required to get regular updates of sensors and devices states.

[2020-10-19 10:49] iMicknl commented on #289
No. I just edited my previous post to clarify. When the TaHoma integration is loaded, we call `/setup` to retrieve the latest states and values, thus on every start of Home Assistant. Next to that, we call `/setup` when we have to renew the event listener, since we need to retrieve the latest state. This only happens on errors, and based on the extra debug logging added this is a rare event.

As @

[2020-10-19 11:04] TheNr1Guest commented on #289
@iMicknl OK thanks and I take it there is no way to avoid this `/setup` call after a reboot? It can happen I reboot frequently in a small time window, especially when I am developing new stuff in HA.

But my underlying fear is that I get banned and won't be able to control my devices via HA. I don't like the fact they communicated it in this way, if they just add rate limiters to the `/setup` call

[2020-10-19 12:55] iMicknl commented on #289
Currently this is not possible. You could create a new issue with a feature request, but I don't think this will be built soon, since there are some other pressing issues.

Every time you login on tahomalink.com, you will pull `/setup`, thus I don't think this will be a big issue. The issue around calling `/setup` is mainly for scripts (like Homey) where they pull `/setup` every programmatically t

[2020-10-19 18:38] larsvinc commented on #289
Any resolution in this topic? Did anyone contact Somfy and discuss? A local API would solve this elegantly and simply - like the Philips Hue. My tahoma-box goes from valuable to worthless.

Tahoma-integration stopped working today. Updated the gateway, and updated the Tahoma plugin to v2.3.4. But no luck, and no particular warning in the log file.

Like @TheNr1Guest I depend on controlling this fr

[2020-10-19 20:10] jensihnow commented on #289
For me it is still working, what errors are you seeing?

As mentioned earlier, I sent a few lines with my feelings about this notification to Somfy. I actually got a reply asking about which integrations I use and if they are developed by myself or a _third-party plugin available on an open-source platform_

I did replied (just now) and asked if they can provide me any data about the issue they se

[2020-10-19 20:28] iMicknl commented on #289
We are waiting on a response from Somfy, but we have shared our concerns... At the moment there is not much we can do.

@larsvinc that is weird. Can you login via tahomalink.com? Are you using the TaHoma box or Connexoon?
I am using v2.3.4 and the latest version of the TaHoma firmware without issues at the moment.

Could you create a new issue for this? It looks like multiple users are requesting

[2020-10-21 08:51] Seb0101 opened #299 "Add support for HitachiAirToAirHeatPump (ovp:HLinkMainController)"
**Device information**
I would like to have my Hitachi air conditioners in your component, to see them in HA as climate entities.
If possible manage fans (it's not included in the homebridge plugin I use today - reference homebridge tahoma plugin https://github.com/dubocr/homebridge-tahoma).
In order to have all my Somfy devices with just one integration.

**Device details**
Unsupported TaHoma dev

[2020-10-21 08:53] Seb0101 commented on #298
Hi, it’s done.
And thanks for all your work !
Regards

Le 19 oct. 2020 à 10:35, Vincent Le Bourlot <notifications@github.com> a écrit :

Hi, at the moment the development of new features is on hold as we are trying to PR into core, and to solve our problem with Somfy regarding server usage (cf #289 <https://github.com/iMicknl/ha-tahoma/issues/289>).

We will still add your request to the TODO list

[2020-10-21 08:55] vlebourl commented on #299
Hi, my bad for pointing you to the wrong template...

We need further details to be able to add your device. Can you copy and fill the following?

**Device details**

Enable debug logging (https://github.com/iMicknl/ha-tahoma#enable-debug-logging) and paste the Unsupported Tahoma device string here.

If your device already shows up in Home Assistant, share the type (e.g. `io:DimmableLightIOCompone

[2020-10-23 10:22] larsvinc opened #300 "Avoid polling for stateless (RTS) devices"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Is your feature request related to a problem? Please describe.**
It is related to https://github.com/iMicknl/ha-tahoma/issues/289

**Describe the solution you'd like**
Since all

[2020-10-23 10:23] larsvinc commented on #289
Hi,

I am sorry about the late response here. I have been out of my home. And now it works again. I did not see any issue in the logs. If it misbehaves I will report back.

@iMicknl: Just submitted it as a feature request: https://github.com/iMicknl/ha-tahoma/issues/300

[2020-10-23 21:33] tetienne commented on #300
Nice idea. We can try to detect if all the devices are stateless and/or add an option to avoid polling!

[2020-10-24 12:17] PoVPoV29 commented on #300
Can you use that : controllable_name: 'rts:RollerShutterRTSComponent'
RTS is stateless : radio signal in one way
IO is not stateless : radio signal in two way

[2020-10-25 09:35] LoicRivoal opened #304 "Add support for AtlanticElectricalHeaterWithAdjustableTemperatureSetpoint (io:AtlanticElectricalHeaterWithAdjustableTemperatureSetpointIOComponent)"
**Device information**
Sauter Ipala elelectrical heater (1000W and 1500W) not recognized as a Climate entity.
Would like to be able to set the target temperature and the operating mode (BASIC, PROG, VACATION, OFF).
Temperature, Contact and Occupancy sensors are discovered.

**Device details**
2020-10-25 10:23:48 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (io:A

[2020-10-25 09:41] LoicRivoal opened #305 "Add support for Tahoma Somfy Remote controller (rtds:RTDSRemoteControllerComponent)"
**Device information**
The Somfy Remote Controller 5 buttons shipped and paired with the Tahoma box is not recognized.
would it be possible to associate the Remote Controller buttons to scenes/scripts in HA ?

**Device details**
2020-10-25 10:23:48 DEBUG (MainThread) [custom_components.tahoma] Unsupported TaHoma device detected (rtds:RTDSRemoteControllerComponent - RemoteController - AlarmRemoteCo

[2020-10-25 11:14] tetienne commented on #305
Duplicate of #259.

[2020-10-25 11:14] #305 closed

[2020-10-25 11:19] tetienne commented on #259
Let's imagine we finally successfully map this remote to a sensor. As we poll the Tahomalink website, it will me that once one button pressed you will have a delay with the action.

By the way how do you configure the buttons?

[2020-10-25 11:50] clemalex824 commented on #259
You are right to talk about the polling time because I set it to one second to have the least possible latency. If Somfy alerts when the time is too short, this remote control will be of no use. Thanks for the support but don't waste time on it (for my part).

[2020-10-25 12:00] iMicknl commented on #305
@LoicRivoal feel free to do a thumbs up 👍🏻 on #259 or add additional information you miss in that issue.

Thanks for reporting!

[2020-10-25 14:01] #292 closed

[2020-10-25 21:04] jensihnow opened #307 "Add attribute core:SensorDefectState from io:LightIOSystemSensor"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Is your feature request related to a problem? Please describe.**

The battery operated _io:LightIOSystemSensor_ sensors might run out of battery. Additionally it might have multi

[2020-10-25 21:28] tetienne commented on #307
Actually we already handle the DEAD value of this attribute. See https://github.com/iMicknl/ha-tahoma/blob/d81fc1b238272f4e6088da57c9cc3c53a5afb52d/custom_components/tahoma/tahoma_device.py#L97

So you will notice once out of battery.

[2020-10-25 21:33] iMicknl commented on #307
This value should already be exposed as an attribute. Could you share a screenshot of `/developer-tools/state`?

@tetienne, good suggestion! We currently map those values to an integer for `core:BatteryState`, but we could also include `lowBattery` from `core:SensorDefectState`.

[2020-10-25 21:36] tetienne commented on #307
![image](https://user-images.githubusercontent.com/8216238/97119739-771a6200-1712-11eb-9d11-95df399dd0c7.png)

[2020-10-26 14:10] tetienne commented on #307
Sadly, Somfy does not return this states in the states nor in the attribute object...

[code]

[2020-10-26 14:34] vlebourl commented on #307
I guess this closes the issue as a `won't fix`?

[2020-10-26 14:49] tetienne commented on #300
@PoVPoV29 We don’t have to check the protocol, Somfy returns a states object. We just have to check its presence or not.

[2020-10-26 14:53] iMicknl commented on #307
If Somfy adds this attribute in their states or attributes, it will be added automatically. Until that point, it is blocked unfortunately.

[2020-10-26 14:53] #307 closed

[2020-10-27 07:28] llevering commented on #289
Since yesterday I get all kind of 'Bad credentials' warnings/exceptions. Decided to restart HA in the hope to fix it, however now I get 'Bad auth'. I am wondering if this is just some other random Somfy glitch, or if they have started to block people. I see I can still login in to Tahomalink.com so credentials are ok (I have a Connexxon, so I get the credentials error, however the /setup endpoint

[2020-10-27 07:33] xekil commented on #289
Same problem !

[2020-10-27 07:46] TheNr1Guest commented on #289
Yes, I did as well. After the first reboot did not work (same bad auth error) I decided to wait until later that day. After I rebooted later, it started to work again.

[2020-10-27 08:07] xekil commented on #289
I confirm, after another reboot (30 minutes later for me) it works again ;)

[2020-10-27 08:25] llevering commented on #289
Fixed here now as well. Probably a random glitch then.

[2020-10-27 08:48] iMicknl commented on #289
I did face similar behavior yesterday, however Home Assistant was able to recover from it. My update interval is 60 seconds.

I have seen this behavior more often around updates. First, fetching the event listener will take a very long time (15 to 30 seconds). The next calls won't be able to connect to the host and afterwards a 'Server is down for maintenance' html page is returned. Afterwards, th

[2020-10-27 10:43] larsvinc commented on #289
I experienced similar misbehavoiur today:
2020-10-27 09:04:21 INFO (MainThread) [backoff] Backing off execute_scenario(...) for 0.8s (pyhoma.exceptions.NotAuthenticatedException: Not authenticated)

I am considering connecting a rapberry pi to a dismantled telis 4 remote to make my own local "gateway"...

[2020-10-27 11:10] iMicknl commented on #289
@larsvinc was your scene executed or did you face another error below this one? This can happen when we lose the session, but the 'backoff' logic will relogin in that case. It doesn't have to be related to the BadCredentials error, but it can be if that is the next error in the log.

[2020-10-27 19:43] Seb0101 commented on #299
Bonsoir,
Je viens de compléter et modifier le post.
Merci encore.
Cdt

Le 21 oct. 2020 à 10:55, Vincent Le Bourlot <notifications@github.com> a écrit :

Hi, my bad for pointing you to the wrong template...

We need further details to be able to add your device. Can you copy and fill the following?

Device details

Enable debug logging (https://github.com/iMicknl/ha-tahoma#enable-debug-logging <htt

[2020-10-28 23:00] #256 closed

[2020-10-29 07:16] tetienne commented on #300
@PoVPoV29 @larsvinc If you have RTS devices, can I ask you to test this branch and in particular the stop command?

[2020-10-29 17:23] iMicknl commented on #289
Oh oh, it looks like the first changes have been implemented. I am currently not using my covers (due to the weather), thus not sure if this change really impacts us.

Could someone give the integration a try (with the latest updates)?

[code]

[2020-10-29 20:47] larsvinc commented on #300
Hi,

Tested the branch. No devices were found.

[2020-10-30 08:39] golles commented on #279
I'm not planning to buy any new devices soon, so won't be able to test any time soon :-)

[2020-10-31 16:34] LoicRivoal commented on #259
Thanks for the effort 👍.
I would like to use this remote controller to trigger opening and close of a Wifi garage opener integrated into Home Assistant.

[2020-10-31 16:37] LoicRivoal commented on #304
👍.

[2020-11-03 08:55] PoVPoV29 commented on #258
code_format: null
changed_by: null
code_arm_required: true
ui_class: Alarm
widget: MyFoxAlarmController
controllable_name: 'myfox:SomfyProtectAlarmController'
'core:IntrusionState': detected
'core:CloudDeviceStatusState': online
'myfox:AlarmStatusState': armed
'myfox:AlertTrespassState': '{"deviceId":"site_alarm","sendAt":"2020-11-03T08:00:33.000000Z"}'
friendly_name: cuisine
supported_features: 3

[2020-11-05 07:36] llevering commented on #275
No change, still not actions on executing the service and still the same error in the log:  '[homeassistant.helpers.service] Unable to find referenced entities cover.kledingkamer'

[2020-11-08 19:18] iMicknl commented on #258
Hi @PoVPoV29, could you test the latest version?
https://github.com/iMicknl/ha-tahoma/archive/fix/only_trigger_alarm_when_armed.zip

[2020-11-08 19:28] PoVPoV29 commented on #258
Not yet I will try to do that this week. Sorry

[2020-11-08 19:40] iMicknl commented on #275
@llevering I had a quick look, but I couldn't find the issue unfortunately... We use `async_register_entity_service` which is provided by Home Assistant. The original cover implementation is using the same implementation, where it is working for you.

Could you try the `tahoma.set_cover_my_position` function?

[2020-11-08 19:46] iMicknl commented on #258
No worries, I just made the modification. So no hurry. :-)

[2020-11-09 07:22] llevering commented on #275
That gives the same (lack of) reaction and error in the logs. It is such a strange issue as you mentioned that all call uses the same backend to resolve the group part of the call. It is only a minor so don't invest to much time. I hope more people show up with having the same error so we can find common ground on the core of the issue.

[2020-11-09 16:58] PoVPoV29 commented on #258
Hello,
No change : Issue still happen :
After detection and disarmed the system the intrusion state is still "detected" :
changed_by: null
code_arm_required: true
ui_class: Alarm
widget: MyFoxAlarmController
controllable_name: 'myfox:SomfyProtectAlarmController'
'core:IntrusionState': detected
'core:CloudDeviceStatusState': online
'myfox:AlarmStatusState': disarmed
'myfox:AlertTrespassState': '{"d

[2020-11-09 17:57] PoVPoV29 commented on #258
When I reboot my HA. The status appears correctly in the alarm panel

[2020-11-09 19:07] iMicknl commented on #258
What is your polling interval?

[2020-11-09 19:47] PoVPoV29 commented on #258
60 and I wait those 60 seconds to show you the previous output.

[2020-11-09 19:48] PoVPoV29 commented on #258
'core:IntrusionState': detected don't change until reboot

[2020-11-12 15:36] rvrignaud opened #312 "Repeating error in logs"
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
I have installed Homeassistant 0.117.6
I install ha-tahoma with git commit 50f352b2b0e9024d6fa5128ea102c5f9406bb0e4
I setup the Google Assistant integration wi

[2020-11-12 18:53] rvrignaud commented on #312
Btw I tried with manual setup for Google Home integration and I have the exact same behavior.
So this is not related to nabucasa integration

[2020-11-14 20:48] iMicknl commented on #312
Thanks for reporting @rvrignaud. I see you also reported it via https://github.com/home-assistant/core/issues/43178. Let's see if any changes in `ha-tahoma` are required.

[2020-11-20 08:45] PoVPoV29 commented on #258
Hello,
In the same way the alarm's related automatisations are not working anymore :
![Auto](https://user-images.githubusercontent.com/69581008/99779116-e407f880-2b14-11eb-854d-1bde6521d4ff.PNG)
My alarm seems never be triggered by HA.
Thanks for your help.

[2020-11-21 18:43] francodutch commented on #40
HI there has the tahoma.refresh_states service been removed? I'm having issues again with my gate showing "open" when it has been automatically closed by the 2 minute timer on the gate-control box.

[2020-11-23 08:27] TheNr1Guest commented on #289
Just wanted to come here to say that I have not been banned by using this component. So far so good 👍

@iMicknl I am running the latest version with a polling interval of 45 seconds. My logs look the same as you posted (without any errors).

[2020-11-23 10:47] iMicknl commented on #289
Great to hear! We just received word from Somfy about this integration and it certainly moving in the right direction. We will work on some small adjustments, but most important is that the polling interval should be 30 seconds. (where it is allowed to poll every second in case of an active action, for fast feedback).

[2020-11-24 08:55] rvrignaud commented on #312
Closing this one as the problem was in Google Assistant integration in core

[2020-11-24 08:55] #312 closed

[2020-11-26 10:08] RualdOrdelman opened #313 "Incorrect position SUNEA SCR 40 - AwningValance (io:AwningValanceIOComponent)"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
I've a few new Somfy IO screens and the implementation isn't correct. The screen position need to be 100 when opened, but now it's 0.

Also the UI class isn't

[2020-11-26 10:33] vlebourl commented on #313
As discussed on the forum, the ui_class is correct as it's part of the device info sent by Tahoma, we do not modify it.
We'll have a look at the position bug.

[2020-11-29 18:56] Seb0101 commented on #299
Hi, this issue which is rather a request for improvement is still active, thanks.

[2020-12-01 11:25] iMicknl commented on #313
@RualdOrdelman I will have a look at this the upcoming days. I will provide you with a test version for this matter.

Could you please share with my the firmware version of your TaHoma box?

[2020-12-01 12:19] RualdOrdelman commented on #313
Thanks @iMicknl. Can you tell me how to see the firmware version of my Connexoon box? I didn't see the information in the Somfy Connexoon app or in the HA Integration.

[2020-12-01 12:22] iMicknl commented on #313
No clue, but good to know you have the Connexoon 👍🏻. Just trying to grasp when we have to reverse it.

[2020-12-01 22:33] iMicknl opened #315 "Add support for 'blocked' covers in HA"
**Is your feature request related to a problem? Please describe.**
I recently faced the issue where I couldn't manage my pergola due to a lock. All automations failed, without any feedback and also no front-end feedback.

In the end I found out that it is a hardware lock when the temperature is around 0, to make sure it doesn't freeze together.

States:

[code]

**Describe the solution you'd like*

[2020-12-04 12:29] LoicRivoal commented on #304
Hello, any plan for support ?
Thanks.

[2020-12-04 22:27] iMicknl commented on #265
![image](https://user-images.githubusercontent.com/1424596/101221520-263e4780-3688-11eb-9623-c47299f37a5b.png)

I just found out that they broadcast `_kixbox._tcp.`, which we could use perhaps.

[2020-12-04 22:31] iMicknl commented on #304
Hi @LoicRivoal! For sure, we would love to add support for this climate device as well. Currently we are a bit busy with the preparation for adding this integration to core.

I marked this issue as help wanted, which means that it won't be auto closed and that it can be discovered more easily.

[2020-12-06 11:47] cdeharo opened #319 "io:HorizontalAwningIOComponent is locked and does not respond to commands"
**Describe the bug**
The awning reports in state locked and does not respond to open, close or set position.

**To Reproduce**
Steps to reproduce the behavior:

1. Call the `cover.open_cover`, `cover.close_cover` or `cover.set_cover_position` services against the awning
2. Observe that the awning does not respond to the service calls

**Expected behavior**
The awning respond to the service calls.

[2020-12-06 12:00] cdeharo commented on #319
It seems that it is a problem occurred only once. Maybe the awning is reporting wind. After a couple of minutes the awning started working fine again.

I've also tried to restart the HA in order to check if it is a problem occurred only after a reboot, but it works fine.

I'm closing the issue as it is not a bug of this component.

[2020-12-06 12:44] iMicknl commented on #319
Could you have a look on TaHomalink.com as well? It should show a message that the device is in lock mode. I did encounter the same for my Pergola when it was around 0 degrees Celsius, due to an automated lock.

Didn’t the icon change to a warning / wind icon in the Home Assistant UI?

[2020-12-07 13:21] barryhartman opened #320 "Cannot import name 'CoordinatorEntity'"
- [X] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
Version 2.3.6 was working correctly with no errors. I've updated to 2.3.7 by removing old 2.3.6 folder and placing new tahoma folder in the custom_components.

[2020-12-07 13:26] tetienne commented on #320
Indeed CoordinatorEntity was introduced with the 0.115. You will have to update your HA instance. Currently, the latest is 0.119.

[2020-12-07 13:28] barryhartman commented on #320
Ah clear. I was already looking for a HA version requirement, but could not find it.
Thanks for the information.

[2020-12-07 13:30] tetienne commented on #320
@barryhartman you can find it [here](https://github.com/iMicknl/ha-tahoma/blob/master/hacs.json) but it was not correct. I will fix it. Thx for the report.

[2020-12-07 13:40] #320 closed

[2020-12-07 20:06] cdeharo commented on #319
Yes, the icon changed to a wind one.
Unfortunately I don't have access to tahomalink.com because I have a Connexoon and not a Tahoma.

[2020-12-07 21:32] iMicknl commented on #319
@cdeharo if you have any suggestions, let us know. I encountered the same situation this weekend, and didn’t understand at first that it was a hardware lock... We need to better show / log this in UI perhaps.

[2020-12-09 22:34] fredleger opened #322 "Add support for AtlanticPassAPCHeatingAndCoolingZone (io:AtlanticPassAPCZoneControlZoneComponent)"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**
A clear and concise description of the device, together with specific usecases that you would like to see supported.

This is a french ac multisplit device c

[2020-12-10 00:15] iMicknl commented on #322
Thanks for reporting, @fredleger! Currently we have a [small backlog for climate devices](https://github.com/iMicknl/ha-tahoma/labels/platform%3A%20climate), but hopefully support will be added soon.

We need to have a look if any other implementation is close to your device, which could speed up the process. I have added the available states and commands to your post.

Does your temperature senso

[2020-12-10 07:55] fredleger commented on #322
@iMicknl yes temperature are showing without any flaw.

thanks and looking forward to see this integration working with my equipement (actually bought tahoma for this).
let me know if you need further details here i can provide it.

[2020-12-12 08:58] vlebourl commented on #322
Hi, version 2.3.8 was just released with new info in debug log. Could you install it, activate debug log and report the device urls of the thermostat you want added, and the temperature sensor that goes with it?
Thanks.

[2020-12-14 12:26] inconsx opened #324 "volant.cover shows wrong status"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
the volant.cover is moved in but status is shown as open

**To Reproduce**
move in volant.cover

**Expected behavior**
moved in should mean 'close' instead of

[2020-12-14 12:40] tetienne commented on #324
Can you please confirm the release number of the component? I don't recognize the one you please provide.

The latest release is 2.3.8.

[2020-12-14 13:01] inconsx commented on #324
sorry, yes it's 2.3.8.

[2020-12-15 09:36] tetienne commented on #324
@inconsx Can you tell me if at least the open and close command work?

[2020-12-15 19:21] #324 closed

[2020-12-19 08:15] jeroenvanderschoot opened #330 "Integration does not show after installing using HACS"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
After installing using HACS the integration does not show up in Integrations

**To Reproduce**
1. Open HACS, install Tahoma custom component
2. Restart HA
3. G

[2020-12-19 08:17] jeroenvanderschoot commented on #330
maybe one thing to add here is that I had another folder tahoma.xxx folder in custom_components folder with a adjusted copy of the original tahoma code of HA

[2020-12-20 14:30] Carmickael-19 opened #331 "Partial Zone A, B C (alarm somfy gamme ASR)"
Hello
I had a quick question about using the alarm control.
I manage to desactivate and activate it in total mode with "alarm_control_panel.alarm_arm_away" et "alarm_control_panel.alarm_disarm", but unable to activate partial or zone mode A, B or C.
Is there a particular action to perform? or is it not compatible with my RTS alarm?
Thank you, for your help.

for information my somfy alarm is of ty

[2020-12-26 02:18] #258 closed

[2020-12-26 16:30] cdeharo commented on #319
@iMicknl it happened again today. The awning is closed but after rebooting the HassOS server it detected wind and locked the awning. In the UI it shows the wind icon and the buttons to open/close are disabled.

This time I found a new log:
`2020-12-26 16:43:19 ERROR (MainThread) [custom_components.tahoma] invalid_auth`

Note that my connection credentials haven't changed.

**Current environment:**

[2020-12-26 17:09] iMicknl commented on #319
Are you able to open / close your awning via the Connexoon app? The lock displayed in Home Assistant is initiated from the TaHoma server.

What is your polling interval? I will have a look after my vacation to understand if a lock is removed, when the state is updated by TaHoma.

[2020-12-26 17:41] cdeharo commented on #319
Yes, and it doesn't report wind.

I haven't set any polling interval in the `tahoma` config section (and did not know that it could be configured):
[code]

Tell me if you want me to set any other settings to help going deeper into the problem, but the problem is that I can't reproduce the problem consistently.

Happy Holidays!

[2020-12-27 15:00] fredleger commented on #322
hello @vlebourl and @iMicknl !

Here are the requested logs. Let me know if you need something else here:

[code]

[2021-01-06 02:32] #315 closed

[2021-01-08 15:58] iMicknl commented on #330
@jeroenvanderschoot has this been resolved already? Please make sure that you don't have any other `tahoma` components, in your `custom_components` folder.

[2021-01-08 17:02] iMicknl commented on #331
Thanks for reporting, @Carmickael-19. We need more information in order to understand your issue and device.

Could you please create [a new issue](https://github.com/iMicknl/ha-tahoma/issues/new?assignees=&labels=bug&template=bug_report.md&title=) using the provided issue template? Especially the model of your device is important.

[2021-01-08 17:02] #331 closed

[2021-01-08 17:04] jeroenvanderschoot commented on #330
for me it works now, remove my own custom component

[2021-01-08 17:04] #330 closed

[2021-01-08 17:07] iMicknl commented on #319
I will dig in this a bit deeper, @cdeharo. Did a restart fix your issues? It could be that we don't catch the new state, when the lock is removed by tahomalink.com.

By the way, you are using this integration via the YAML flow, I would advice to configure this integration via the Config Flow. Settings -> Integrations -> +. This is also the page where you can configure some of the settings.

[2021-01-08 17:12] iMicknl commented on #330
@jeroenvanderschoot great! Let me know if you have any other feedback / feature requests.

[2021-01-08 17:40] iMicknl commented on #304
@LoicRivoal, version 2.3.8 was just released with new info in debug log. Could you install it, activate debug log and report the device urls of the thermostat you want added, and the temperature sensor that goes with it?

In the same way as https://github.com/iMicknl/ha-tahoma/issues/322#issuecomment-751477333. It helps us to develop a climate device for this integration.

[2021-01-08 17:54] iMicknl commented on #319
By the way, I discovered that when my device is locked by tahomalink.com, it will remove the "close" button, but it will still show the position buttons..

![image](https://user-images.githubusercontent.com/1424596/104047841-98073500-51e2-11eb-8ff4-b47c05771037.png)

[2021-01-09 09:33] LoicRivoal commented on #304
Device information
Sauter Ipala elelectrical heater (1000W and 1500W) not recognized as a Climate entity.
Would like to be able to set the target temperature and the operating mode (BASIC, PROG, VACATION, OFF).
Temperature, Contact and Occupancy sensors are discovered.

Device details
2021-01-09 10:24:28 DEBUG (MainThread) [custom_components.tahoma.coordinator] Initialized DataUpdateCoordinator wi

[2021-01-12 19:08] #289 closed

[2021-01-12 20:40] iMicknl opened #334 "Add support for various climate devices, mainly used by CozyTouch"
Since #332, this integration also support CozyTouch hubs. Since everything is built on the Overkiz platform, we can leverage work done in the CozyTouch integration. They have a great range of climate devices supported.

https://github.com/Cyr-ius/cozytouchpy/blob/master/cozytouchpy/constant.py
https://github.com/Cyr-ius/hass-cozytouch/tree/master/custom_components/cozytouch

[2021-01-12 21:08] iMicknl commented on #259
@LoicRivoal due to #289, the lowest update frequency has been changed to 30 seconds. This means that it could take up to 30 seconds before your remote controller command will be received by Home Assistant.

Due to this limitation, I don't see a good use-case for this remote controller. We won't spend time to implement this feature, but I will leave your issue open in case someone would like to con

[2021-01-12 21:11] iMicknl commented on #299
@Seb0101 could you share some more information (or a picture :-)) of the device. I thought this was a `climate` device, like a thermostat, but upon reading this issue again it looks like this is a physical fan.

I will try to spend some time on your device in the coming weeks.

[2021-01-12 21:15] iMicknl commented on #313
@RualdOrdelman sorry for the late reply. This should have been fixed in the latest pre-release, which we will release to HACS in the coming week.

[2021-01-12 21:18] iMicknl commented on #40
@francodutch sorry, I totally missed your reply. Are you still using the integration and facing these issues?

[2021-01-12 21:51] iMicknl opened #337 "Migrate AtlanticPassAPCDHW (io:AtlanticPassAPCDHWComponent) from Climate to WaterHeater"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Change the AtlanticPassAPCDHWComponement from the Climate to the WaterHeater domain.

**Describe alternatives you've considered**

**Additional context**

[2021-01-12 22:33] iMicknl commented on #265
Since we will support Rexel and CozyTouch soon under the TaHoma domain, it would be great to have autodiscover whem moving this integration to core.

If we can not do it based on the tcp, we can have a look at this in the future: https://github.com/home-assistant/core/pull/45087

[2021-01-12 22:36] iMicknl commented on #337
@jgarec I was looking on implementing another device and I stumbled upon the WaterHeater domain in HA. Do you think it makes sense if I move the `AtlanticPassAPCDHWComponement` to the WaterHeater domain?

It will eventually look like this in HA:

<img width="402" alt="Screen Shot 2021-01-12 at 23 36 27" src="https://user-images.githubusercontent.com/1424596/104382770-045d9d80-552f-11eb-9060-1e8629

[2021-01-13 15:37] thundergreen commented on #304
[code]

[2021-01-13 16:16] browetd opened #339 "Add support for Thermor Equateur 3 - AtlanticElectricalHeaterWithAdjustableTemperatureSetpoint (io:AtlanticElectricalHeaterWithAdjustableTemperatureSetpointIOComponent)"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**
Thermor "Equateur 3" electrical heaters, they are partially discovered (binary sensors: occupancy and contact, sensors: temperature and cumulative electric p

[2021-01-13 16:43] RualdOrdelman commented on #313
Hi @iMicknl today I did the upgrade to v2.4.0. It looks like the problem is not fixed.

`current_position: 100
ui_class: ExteriorScreen
widget: PositionableScreen
controllable_name: 'io:VerticalExteriorAwningIOComponent'
rssi_level: 44
'core:NameState': SUNILUS io
'core:PriorityLockTimerState': 0
'core:StatusState': available
'core:DiscreteRSSILevelState': normal
'core:RSSILevelState': 44
'core:Mo

[2021-01-13 16:52] iMicknl commented on #313
@RualdOrdelman in your first post you mentioned:
[code]

But in your latest post you mentioned:
[code]

Could you double check with which devices you encounter these issues? Could you also let me know which hub you have (TaHoma / Connexoon etc) and which firmware.

[2021-01-13 16:56] RualdOrdelman commented on #313
Aiiiii sorry I made an mistake. But the conclusion is that the position is wrong. :)

This screen is integrated correctly
`current_position: 100
ui_class: ExteriorScreen
widget: PositionableScreen
controllable_name: 'io:VerticalExteriorAwningIOComponent'
rssi_level: 44
'core:NameState': SUNILUS io
'core:PriorityLockTimerState': 0
'core:StatusState': available
'core:DiscreteRSSILevelState': normal

[2021-01-13 18:24] iMicknl commented on #254
@thomasgregg should I close this issue? Or do you have any suggestions how to solve this. :-)

[2021-01-13 20:02] iMicknl commented on #339
Thanks for reporting, @browetd! It looks like a duplicate of https://github.com/iMicknl/ha-tahoma/issues/304. I will try to see if I can add support for this device in the coming days.

[2021-01-13 20:39] Seb0101 commented on #299
Hi, I can share a product description, here it is.
Thanks again for all your work.
Sébastien @ @
[Hitachi mokai.pdf](https://github.com/iMicknl/ha-tahoma/files/5810962/Hitachi.mokai.pdf)

[2021-01-13 21:36] browetd commented on #339
It would be great !  Thanks !

[2021-01-14 14:54] Pol2Tls opened #341 "Add support for DomesticHotWaterProduction (io:AtlanticDomesticHotWaterProductionV2_CETHI_V4_IOComponent)"
Hi, thanks for your work !

- [x]  **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**
"Calypso Connectée" is an Atlantic Water Heater compatible with IO homecontrol.
Full description is here : https://www.atlantic-

[2021-01-14 15:02] iMicknl commented on #341
Thanks for reporting @Pol2Tls! What are the possibilities for the 'number of showers' option?

I am thinking about the best way to map this to the Home Assistant platform. @tetienne / @vlebourl any idea's? The only way to map this to climate currently would be to abuse the temperature, set to steps of 1 and limited to the possibilities of this integration. However this won't be nice in the front-e

[2021-01-14 16:49] Pol2Tls commented on #341
Thanks for taking the point @iMicknl
I can only choose 5 or 6 showers, but I think it has something to do with the capacity of the water heater as it could be 100, 150, 200 or 250 liters.

[2021-01-14 17:45] iMicknl commented on #341
Could you give https://github.com/iMicknl/ha-tahoma/archive/feature/add_water_heater.zip a try? Unzip the package first and place the `custom_components/tahoma` folder in your `custom_components` folder.

I am not able to test this myself unfortunately. Please keep debug logging enabled and let me know the results.

[2021-01-14 20:23] Tonylolo opened #344 "Tahoma "Timeout fetching TaHoma Event Fetcher data""
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
it's random, sometimes daily, sometimes 3 times a week ... the controls for my shutters for my tahoma do not work.
In the log I have the message: Timeout fetch

[2021-01-14 20:23] Tonylolo opened #345 "Time-out issues with DataUpdateCoordinator"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
it's random, sometimes daily, sometimes 3 times a week ... the controls for my shutters for my tahoma do not work.
In the log I have the message: Timeout fetch

[2021-01-14 20:36] iMicknl commented on #344
Duplicate of #345.

[2021-01-14 20:36] #344 closed

[2021-01-14 20:41] iMicknl commented on #345
Thanks for reporting @Tonylolo. I haven't seen these issues yet. What is your update interval? (Settings -> Integrations).

Do you have debug mode enabled and could you share more parts of your log? I would like to understand more about this behaviour. Normally, controlling your covers is not related to the event fetcher. The event fetcher is able to recover from any timeouts, thus that should not

[2021-01-14 20:47] Pol2Tls commented on #341
I tried to replace the whole tahoma but by doing this i'm not able to select the platform Somfy, Rexel or Cozytouch (the dropdown box is not here when you configure the integration) so my credentials are not recognized.
No success with just replacing the files with yours, just after the "official" installation. I still have :
[code]

[2021-01-14 20:51] Tonylolo commented on #345
My update interval : 30s, I test with 3200 same things.

I don't know how enable debug mode ?

[2021-01-14 20:55] iMicknl commented on #345
In our readme, we documented how to enable debug logging: https://github.com/iMicknl/ha-tahoma#enable-debug-logging

Could you clarify what the issue is. Is it just the message in the log, or does it also happen when you try to execute a command? (via automations?)

[2021-01-14 20:57] iMicknl commented on #341
@Pol2Tls oops, I forgot to add the latest changes to this version. Could you download the water heater version again? https://github.com/iMicknl/ha-tahoma/archive/feature/add_water_heater.zip

[2021-01-14 20:59] Tonylolo commented on #345
my log has been cleaned, so as soon as the message, I copy here.

It's just a message in the log, when a command doesn't work I go see. in log and I find the message :...fetcher....

[2021-01-15 08:42] Tonylolo commented on #345
EventName.EXECUTION_STATE_CHANGED/04b2b4cc-ac10-3401-7548-14e55edb4b2a (device: None, state: ExecutionState.IN_PROGRESS -> ExecutionState.COMPLETED)
2021-01-15 07:21:38 DEBUG (MainThread) [custom_components.tahoma] Finished fetching TaHoma Event Fetcher data in 68.960 seconds
2021-01-15 07:22:48 DEBUG (MainThread) [custom_components.tahoma] Finished fetching TaHoma Event Fetcher data in 40.996 sec

[2021-01-15 08:43] Tonylolo commented on #345
Hi

I start at:

2021-01-15 07:17:19 ERROR (MainThread) [custom_components.tahoma] Timeout fetching TaHoma Event Fetcher data

Thk

[2021-01-15 08:44] Tonylolo commented on #345
Logger: custom_components.tahoma
Source: helpers/update_coordinator.py:166
Integration: Somfy TaHoma (documentation, issues)
First occurred: 7:33:00 (2 occurrences)
Last logged: 7:45:49

Error fetching TaHoma Event Fetcher data:

[2021-01-15 15:23] iMicknl commented on #345
Thanks for sharing your log. I am a bit clue less why you receive so many `Not authenticated` exceptions in combination with very high response times.

- Could you update to the latest available version of this integration (via HACS / GitHub)
- What is your current update interval? (the one you shared the log from)
- Could it be that you have network issues?

[code]

This is very very slow compare

[2021-01-15 16:12] iMicknl commented on #299
Thanks @Seb0101. What would you like to be able to control? Setting the temperature / choosing a preset?

Could you add a screenshot of your TaHoma application here? I wonder what possibilities they have for this device.

[2021-01-15 16:33] Tonylolo commented on #345
I have alreadu update hacs integration
Interval update: 30s

HA is installing on Qnap, via container, on network via ethernet cable, none wireless between qnap and tahoma. Only a tplink router and box.

Time between action on button(ios app of HA) and moving of roller is randomary; fast and some times several seconds...

[2021-01-15 16:40] iMicknl commented on #345
I don't think we can offer a solution for this issue... We haven't had any user with those issues yet and I don't believe this is part of this integration. The event fetcher is a really simple API endpoint. It should not happen that a request takes 40 seconds, instead of 0.1 second.

Are you able to ping tahomalink.com from your QNAP? I wonder what kind of latency you have.

[2021-01-16 07:47] Tonylolo commented on #345
Yes i test the ping: 21ms from nas to tahomalink.com

[2021-01-16 08:18] Tonylolo commented on #345
So about this issue i ll continue to search...

Another issue if you cn jelp me, when i use stop command on a roller with ha, roller doesn't take myposition , there is nothing. But if the rolling moves it's ok it stops.

Thk

[2021-01-16 12:46] iMicknl commented on #345
This is currently not mapped to the `stop` service in Home Assistant. If you would like to utilize `my` position, you can the following service call. `tahoma.set_cover_my_position`

[2021-01-16 13:44] Tonylolo commented on #345
Great !

[2021-01-16 18:51] francodutch commented on #40
Hi Mick yes I love it I use it daily and it works reliably with one exception, which is that when the gate closes automatically (gate controller setting) 2 min after it opens,the status in HA remains 'open' for hours. It somehow doesn't detect that the state has changed to closed. You've been doing so much work on this integration...THANKS!!

[2021-01-16 19:42] vlebourl commented on #40
Does the state update if you run the service `tahoma.execute_command` with `refreshPedestrianPosition` after it automatically closed?

[2021-01-16 20:35] iMicknl commented on #40
Good one. Or if you login to tahomalink.com. I guess they call the refreshAllStates to retrieve it.

[2021-01-17 11:43] cdeharo commented on #319
When I opened the bug, only after a restart is when I observed the issue. It solved by itself after a few minutes.
Since my last comment (2020-12-26), the problem has not been reproduced.

I've deleted the `tahoma` section from the `configuration.yaml` file and restarted the server, but when I try to add the configuration using the Integrations page I receive this error:
`%key:common::config_flow:

[2021-01-17 13:46] Seb0101 commented on #299
Hi,
Here is a screenshot.
Ideally I would like to do the same from HA, the scheduling being done by HA : set the mode (auto / heat / fan / humidity / cool), set the fan speed (auto / manual 0 to 4) and, but I doubt it possible (it is not from tahoma), the direction of the fan - swing mode).
Thanks.
[tahoma clim hitachi.pdf](https://github.com/iMicknl/ha-tahoma/files/5826174/tahoma.clim.hitachi.pdf

[2021-01-17 15:05] DJTim opened #349 "Alarm stays triggered when disarmed with remote"
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
When the alarm is triggered is stays triggered in HA after the alarm was disarmed with the remote. HA needs to be restarted to get the correct state in HA.

**

[2021-01-17 16:23] thomasgregg commented on #254
Yes, let's close it. Thanks for your support.

[2021-01-17 16:23] #254 closed

[2021-01-17 17:34] iMicknl commented on #331
@Carmickael-19 do you still encounter this issue?

[2021-01-17 17:41] iMicknl commented on #319
That is weird... Are you sure there is no mention of `tahoma` in your integrations page? Otherwise we would need to log this as a bug and see if we can reproduce.

Great to hear! I will close this issue for now, but let us know if you face issues again.

[2021-01-17 17:41] #319 closed

[2021-01-17 17:43] francodutch commented on #40
@vlebourl  @iMicknl no it doesn't u[date. Just to make sure I'm calling the service the correct way, see the attached screenshot. When I log on to Tahomalink the state is reflected correctly as closed. After doing that, the state in HA updates to 'closed'.
<img width="522" alt="Screen Shot 2021-01-17 at 18 35 33" src="https://user-images.githubusercontent.com/65336159/104851144-8107c780-58f3-11eb-

[2021-01-17 17:45] iMicknl commented on #349
Thanks for reporting @DJTim! Could you try the following please;

1. Turn on [debug logging](https://github.com/iMicknl/ha-tahoma#enable-debug-logging).
2. Trigger your alarm
3. Copy the state of your device (gather it from `your_ha_url/developer-tools/state`).
4. Disarm your alarm with the remote
5. Copy the state of your device (gather it from `your_ha_url/developer-tools/state`).
6. Login via t

[2021-01-17 17:57] vlebourl commented on #40
One way to understand what happens is to open the dev tools of your browser and monitor network activities while you log into tahomalink and the gate updates itself. You should see a bunch of fetch events (1 per second) and in the middle, the event that causes the refresh. I have this kind of behaviour with the smart thermostat. I'll try to make a capture of my browser if you need it to understand

[2021-01-17 18:07] francodutch commented on #40
tx. by the way here is what I captured from the logs, after running the refresh. DOn't think it's of much use but just in case: https://paste.ubuntu.com/p/jxBZ9yvdTr/

[2021-01-17 18:14] sergiojus opened #350 "Reversed state on cover"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
I have 5 identical shutters and only 2 shutters do not go back to right state on Home assistant.

**Expected behavior**
I would like that home assistant give m

[2021-01-17 18:23] iMicknl commented on #40
@francodutch could you try the following version; https://github.com/iMicknl/ha-tahoma/archive/feature/add_refresh_states_service.zip.

The `tahoma.refresh_states` service has been added. Calling this service should give the same results as the login via tahomalink.com.

[2021-01-17 18:58] francodutch commented on #40
@iMicknl just by copying the contents of /ha-tahoma-feature-add_refresh_states_service 2/custom_components from the zip file into /Volumes/config/custom_components on the rpi? none of the files in the higher dirs are needed, correct?

[2021-01-17 19:34] iMicknl commented on #40
@francodutch indeed. Unzip the downloaded file and place `custom_components/tahoma` in your `custom_components` folder. You should overwrite the current `tahoma` folder.

[2021-01-17 19:39] iMicknl commented on #350
Thanks for reporting. This is weird behavior indeed.. Could you share the states (or a screenshot) of the cover that shows the right behavior and one of a cover that shows the wrong behavior?

How does this show on tahomalink.com / the mobile app? I am afraid that this is not an issue in our integration, but rather in the state we retrieve from the tahomalink.com API. Especially since the action b

[2021-01-17 19:56] francodutch commented on #40
done and tested, but result is still the same. @vlebourl if you have a screenshot or indication of where to look in the dev tools that would be super

[2021-01-17 20:31] sergiojus commented on #350
Here is the screenshot of  shutter state in home assistant
![tahoma2](https://user-images.githubusercontent.com/53393355/104854989-4cebd100-590a-11eb-8654-b8e8e91fa914.JPG)

Here is the screenshot of my appmobile
![AppTahoma](https://user-images.githubusercontent.com/53393355/104855002-5ecd7400-590a-11eb-8905-48d57ab4fca0.jpg)

Here is the screenshot of tahomalink
![tahomalink](https://user-images

[2021-01-17 20:34] iMicknl commented on #40
Could you share your log as well please? I would like to understand if the call did work.

[2021-01-17 21:25] vlebourl commented on #40
Sorry, don't have time tonight...

[2021-01-18 08:11] francodutch commented on #40
@iMicknl @vlebourl I have captured the log after running the command and then after logging in to Tahomalink: https://paste.ubuntu.com/p/Fv2wsFzJdy/

[2021-01-18 08:16] iMicknl commented on #40
@francodutch I don't see the call to `tahoma.refresh_states`. Did you call that via HA?

[2021-01-18 08:17] francodutch commented on #40
Yes

[2021-01-18 08:36] iMicknl commented on #40
That screenshot mentions `execute_command` and `refreshPedestrationPosition`, that is a different call.  You need this one:

<img width="522" alt="Screen Shot 2021-01-18 at 09 35 07" src="https://user-images.githubusercontent.com/1424596/104890886-7a6b6580-5970-11eb-8fa2-2c90ce71be03.png">

By the way, I did share an older version of the integration by accident. The best version for this feature t

[2021-01-18 12:50] inconsx opened #351 "Open/Close Status indicator (percentage) inconsistency - AwningValance (io:AwningValanceIOComponent)"
- [x ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
percentage indicatory is not consistent overy the somfy products

**To Reproduce**
configure entity in entity card

**Expected behavior**
same status indicato

[2021-01-18 15:51] vlebourl commented on #40
Hey, I've prepared a capture, but there are some private info I'd rather not see public on github. Can you join our discord https://discord.gg/nwH4sVKQ so that I can pm it to you?

[2021-01-18 19:32] Janthenman67 opened #352 "[PositionableHorizontalAwning] Commands and state are reversed for vertically mounted covers"
Describe the bug
I have a Somfy screen/cover and it has the reversed state on Home assistant.

Expected behavior
I would like that home assistant give me the right state.

[code]

Environment (please complete the following information):

ha-tahoma version:2.4.1
Home Assistant version: Home Assistant 2021.1.4

[2021-01-18 19:49] Pol2Tls commented on #341
@iMicknl I think the issue can be closed. I confirm that it's working. For those who wants to change the number of shower, you have to make a script, automation, ... and set the temperature to 50°C for 5 showers or to 53.5°C for 6 showers. Thank you again for your work !

[2021-01-18 19:52] francodutch commented on #40
ok. @iMicknl Tahoma.refresh_states does the trick and updates the state to "closed" after the gate has auto-closed. Question is, what is a reasonable frequency (or even: logic?) to call this service to not overload the system? @vlebourl thanks for the video but I couldn't find any 'internal" request nor the request detail (only the header). Also, the state resets properly when I log in to Tahoma L

[2021-01-18 20:04] iMicknl commented on #40
Great to hear! To be honest, I don't know yet. This is also the reason that this feature hasn't been released officially in this integration (yet). By default, it will call this service automatically every hour. (see Integrations -> Devices -> Somfy Tahoma -> Options), however in your case it could be wise to create an automation that calls this `refresh_states` service 5 minutes after a state cha

[2021-01-18 20:05] iMicknl commented on #341
@Pol2Tls great to hear! I will close this issue when support for Water Heaters has been merged into this integration.

Are the presets working and is away mode working? Any features you miss in the device implementation?

[2021-01-18 20:13] Pol2Tls commented on #341
Ok i understand.
Presets and away mode works and no missing functionalities, at least not those present in the cozytouch application !

[2021-01-18 20:16] francodutch commented on #40
cool, thanks for the help. Does that mean though that next time I upgrade to a new version I will lose the refresh_states service?

[2021-01-18 20:18] iMicknl commented on #40
Yes. I will see if we can merge this version soon, so that it is included in new released versions.

[2021-01-18 20:26] francodutch commented on #40
it's a very workable solution now. I just test on the gate being open for 2 min (plus a few seconds margin) then run the refresh_states service.

[2021-01-18 20:41] iMicknl commented on #40
@francodutch in case you have created an automation (or something similar), feel free to share the config here. Would be good to document it as well.

[2021-01-18 20:51] francodutch commented on #40
ultra simple...no magic! https://paste.ubuntu.com/p/DZ256Jz3z9/.

[2021-01-19 19:33] iMicknl commented on #352
Thanks for reporting @Janthenman67. It seems that there is an issue in the latest version of ha-tahoma or changes have been made on the side of Somfy TaHoma...

We have had these issues in the past as well, however when we reverse the state, someone else will have issues with exactly the same device. We need to investigate more, will let you know when I do require more details.

Do you know the fi

[2021-01-19 19:34] iMicknl commented on #351
Thanks for reporting @inconsx. It seems that there is an issue in the latest version of ha-tahoma or changes have been made on the side of Somfy TaHoma...

We have had these issues in the past as well, however when we reverse the state, someone else will have issues with exactly the same device. We need to investigate more, will let you know when I do require more details.

Do you know the type (T

[2021-01-19 19:35] iMicknl commented on #350
It seems that there is an issue in the latest version of ha-tahoma or changes have been made on the side of Somfy TaHoma...

We have had these issues in the past as well, however when we reverse the state, someone else will have issues with exactly the same device. We need to investigate more, will let you know when I do require more details.

What is the type (TaHoma vs Connexoon) of your hub and

[2021-01-19 19:37] iMicknl commented on #313
No worries. There have been multiple issues around this topic [(reversed state bugs)](https://github.com/iMicknl/ha-tahoma/labels/bug%3A%20reversed%20state) and unfortunately it is not as simple as just reversing it for your device...

I will follow up when I require more information or when I have a test version.

[2021-01-19 20:02] sergiojus commented on #350
My box is the tahoma and the firmware version is 3.17.1(324)

[2021-01-19 20:39] inconsx commented on #351
Hey

It's a Tahoma and the firmware is 2.18.
Status is correct.

Thanks and regards

[2021-01-20 10:37] mstuij commented on #275
I have the same problem:

`type: button
tap_action:
  action: call-service
  service: tahoma.set_cover_position_low_speed
  service_data:
    entity_id: cover.westkant_cover_group
    position: 100
entity: cover.westkant_cover_group
show_state: true
show_icon: true
`

This doesn't works, it give this error in  the log:

`Logger: homeassistant.helpers.service
Source: helpers/service.py:102
First oc

[2021-01-20 13:15] iMicknl commented on #275
@mstuij does it work for individual entities and could you verify that all items in your group support the low speed movement?

[2021-01-20 13:50] mstuij commented on #275
@iMicknl

Yes for a single entity it works correctly.
I have 10 x Somfy RS100 IO motors. So they are all the same specifications and have all the low speed.

My group is defined:

[code]

[2021-01-20 14:17] iMicknl commented on #275
@llevering @mstuij does the `tahoma.set_cover_my_position` work with groups?

[2021-01-20 14:25] mstuij commented on #275
@iMicknl

No also an error:

Logger: homeassistant.helpers.service
Source: helpers/service.py:102
First occurred: 15:23:05 (2 occurrences)
Last logged: 15:23:29

Unable to find referenced entities cover.westkant_cover_group

[2021-01-20 14:28] iMicknl commented on #275
Thanks, at least that one I am able to debug myself locally. Currently my time is limited and the amount of (other) issues / feature requests in this repo is quite high at the moment, thus I won't be able to have a look at this any time soon.

If someone else has some Python / Home Assistant knowledge, feel free to give this issue a look 👍🏻.

[2021-01-21 13:29] LoicRivoal commented on #304
Hi,
Is there any support for a climate entity supposed to have been introduced in 2.4.x?

Thanks.

[2021-01-21 13:53] iMicknl commented on #304
@LoicRivoal no, support hasn't been introduced yet. I will see if I can come up with a basic test version soon, would be great if you could give that one a try and report back.

[2021-01-21 18:30] LoicRivoal commented on #304
Yes for sure I will be able to do that.

[2021-01-21 20:28] tofgun opened #354 "myfox:SomfyProtectAlarmController cannot be set in night armed mode and automation do not receive triggers"
**Describe the bug**
A clear and concise description of what the bug is.
I have a somfy one camera declared in HA by the tahoma integration component as follow :
MyFoxAlarmController, par Somfy, Firmware: myfox:SomfyProtectAlarmController
1- Clicking the the arm-home does not work. The arm-absent and the disarm buttons/actions work properly. What could be the problem ?
2- I have created some autom

[2021-01-22 11:49] tofgun commented on #354
I see that there is a dev tool like in HA. If I call directly the service through the dev tool to launch the alarm night mode, it works : the alarm is set in night mode.

![image](https://user-images.githubusercontent.com/77484063/105486668-24b7f580-5caf-11eb-9eaf-c729f18ad4be.png)

![image](https://user-images.githubusercontent.com/77484063/105487280-1dddb280-5cb0-11eb-8391-0eeda2781792.png)

[2021-01-22 12:39] iMicknl commented on #354
Could you share more about the possibilities you have via Tahoma app / tahomalink.com? (screenshot + details).

What should `arm home` do in your opinion? By the way, it looks like `arm_home` is not even supported for your device in HA, thus it is weird that the LoveLace shows this button.

[code]

[2021-01-22 13:48] tofgun commented on #354
In the tahomalink web app, the somfy protect icon propose 3 modes : Total/Night/Off
![image](https://user-images.githubusercontent.com/77484063/105496524-e118b800-5cbd-11eb-9ee3-dee188471b3e.png)

HA Disarm cmd => myfox:AlarmStatusState: disarmed => Somfy Protect state Off
HA Partial cmd => myfox:AlarmStatusState: partial=> Somfy Protect state Night
HA Arm cmd => myfox:AlarmStatusState: armed => S

[2021-01-22 15:30] Steve3581 commented on #350
I have the exact same issue. It started a few months ago, well before Somfys Tahoma update for native homekit support, I can confirm even there official Apple Homekit awning has the same issue with the states being reversed. (firmware 2020.6.4)

[2021-01-22 15:39] Steve3581 commented on #350
![image](https://user-images.githubusercontent.com/77845375/105511166-e7b02b00-5ccf-11eb-9d7c-b0d4ba88003f.png)

[2021-01-22 15:43] Steve3581 commented on #350
![IMG_0334](https://user-images.githubusercontent.com/77845375/105512042-e9c6b980-5cd0-11eb-9d11-6e7471ead91d.PNG)
![IMG_0335](https://user-images.githubusercontent.com/77845375/105512048-eb907d00-5cd0-11eb-97e5-d15676ab27f6.PNG)

[2021-01-22 15:56] tofgun commented on #354
I just see configuring a new dashboard that the alarm control panel offers 3 possible values instead of 2. It seems that if I use arm-night it works. Then I should use arm-night instead of arm-home ...

![image](https://user-images.githubusercontent.com/77484063/105513200-51313900-5cd2-11eb-9334-3d88fc32d23b.png)

[2021-01-22 16:17] kaczkalolo opened #355 "Add support for AtlanticPassAPCHeatPump (io:AtlanticPassAPCHeatPumpMainComponent)"
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**
A clear and concise description of the device, together with specific usecases that you would like to see supported.
I have Atlantic Excelia AI Tri Heating P

[2021-01-22 16:25] iMicknl commented on #355
Thanks for reporting @kaczkalolo! Could you perhaps share a screenshot of the TaHoma interface with an explanation of all possibilities?

[2021-01-22 16:31] kaczkalolo commented on #355
So below You can see entities on tahoma for Atlantic HeatPump (in red)- only one missing in HA is the one in orange circle
![image](https://user-images.githubusercontent.com/47222608/105517335-38775200-5cd7-11eb-91ac-e9ac08a03b52.png)

When You click Heating then You get that:
![image](https://user-images.githubusercontent.com/47222608/105517408-4cbb4f00-5cd7-11eb-82cf-ba3f47ff0d0b.png)
There You

[2021-01-22 17:24] #354 closed

[2021-01-22 17:29] tofgun commented on #354
Arm-night and arm-away of alarm_control_panel are working properly with the somfy protect alarm.
My mistake, I choosed the Arm-Home command which has no correspondance with the somfy protect alarm.

[2021-01-22 17:57] tofgun opened #356 "Device trigger not supported in automation (for alarm control panel)"
I have created an automation : when the somfy protect alarm is armed night I want to do an automation.

The problem is the automation based on a device trigger  is never launched :
[code]

The Automation based on a state trigger  is working properly :

[code]

[2021-01-22 23:47] thundergreen commented on #304
I'm here to test too .mu might have a look on the cozytouch integration as well ?

[2021-01-24 10:49] DJTim commented on #349
**Triggered:**
[code]

**Disarmed:**
[code]

**After 30 seconds:**
[code]
**After Restart:**
[code]

**Log**
[code]

[2021-01-25 10:17] tomtomdu85 opened #357 "Add support for Atlantic heaters gestion"
I have 2 heaters area on my tahoma account.

But it's not implemented on Hass.
![image](https://user-images.githubusercontent.com/54668918/105692709-09dbc000-5eff-11eb-80b9-6a56ab1646fa.png)
![image](https://user-images.githubusercontent.com/54668918/105692750-1bbd6300-5eff-11eb-86af-eb83d8774fee.png)

[2021-01-25 10:45] vlebourl commented on #357
Well, hello to you too. No problem, let me take some of the little free time I have to make your dream come true...

[2021-01-25 11:00] iMicknl commented on #357
@tomtomdu85 please have a look at our [README](https://github.com/iMicknl/ha-tahoma#device-not-supported--working-correctly) regarding not supported devices.

I will close this issue, feel free to create a new issue using the issue template (which provides us with all required information). Please note that this is a community effort, thus that everyone on this project is doing this on a voluntary

[2021-01-25 11:00] #357 closed

[2021-01-25 11:14] tomtomdu85 commented on #357
Hi. Sorry for the formatting. This was just a remark on a missing item, with no further thoughts. I know you do this in your spare time and thank you for that.

[2021-01-25 11:33] vlebourl commented on #357
Apology accepted 🙂

[2021-01-25 12:09] iMicknl commented on #357
@tomtomdu85 feel free to create a new issue via the issue template. The issue template will ask for some details, which will help us understand more about your device. Adding a screenshot as you did here is great, to understand which features should be supported.

It could be that there is already an open issue, based on your device type. My guess is that someone else did log this same Atlantic he

[2021-01-25 13:02] tomtomdu85 commented on #357
@iMicknl you said right. I found the #355 issue. It's the same thing.
So, no more issue is needed. I'll complete the other issue.

[2021-01-27 07:46] LubikR opened #358 "Thermis IO sensor - HA shows Unknown when temperature is exactly = 0"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
I have two Somfy Thermis WireFree II io. Everything is OK, but when the sensor parameter Core:TemperatureState = 0, then state of sensor is Unknown. It should

[2021-01-27 10:12] iMicknl commented on #358
Thanks for reporting @LubikR, good catch. It seems like `0` is returned as `None`.
This is due to `if 0` expression will result in false.

https://github.com/iMicknl/ha-tahoma/blob/c170fb01ee9e00487c19f288a57c8cd10eb6d9e8/custom_components/tahoma/sensor.py#L137

We need to fix this in an upcoming version.

[2021-01-27 10:25] #358 closed

[2021-01-27 10:34] iMicknl commented on #304
Will do, in the end I would love to port some great work of hass-cozytouch to this integration.

@thundergreen, I tried to contact the original author of hass-cozytouch, but I haven't been able to establish contact yet. (see https://github.com/Cyr-ius/hass-cozytouch/issues/30). There are quite some issus on that GitHub repo which should already be solved / supported in ha-tahoma.

[2021-01-27 10:58] pmb91917 opened #360 "Hi-Kumo Integration not working"
Hi,

I just installed version 2.4.2 and tested the Hi-Kumo integration. I m not able to log in. A screenshot from the GUI error and debug log entry is attached. I know that this is still in beta mode - I just wanted to provide test details.

![image](https://user-images.githubusercontent.com/64465192/105981858-de8bd900-6096-11eb-9912-b576e64138de.png)

[hi-kumo.txt](https://github.com/iMicknl/ha-t

[2021-01-27 11:17] iMicknl commented on #360
@pmb91917 thanks for reporting! You are the first user that has a Hi-Kumo box, which is great :-).

Could you try the following version?
https://github.com/iMicknl/ha-tahoma/archive/fix/fix_hi_kumo_integration.zip. After downloading the zip file, please extract the folder. Place the `custom_components/tahoma` in your `custom_components` folder.

[2021-01-27 13:57] iMicknl commented on #355
**io:AtlanticPassAPCHeatPumpMainComponent**

[code]
**io:AtlanticPassAPCHeatingAndCoolingZoneComponent**

[code]

[2021-01-27 14:00] iMicknl commented on #355
@kaczkalolo @tomtomdu85 if I look at the first post, it seems that there are two devices not supported. Do you know the difference between the AtlanticPassAPCHeatPump and the AtlanticPassAPCHeatingAndCoolingZone? In the post above you see the commands per device.

For this issue I will have a look at the `AtlanticPassAPCHeatPump`, but does it make sense to have a look at the `AtlanticPassAPCHeatin

[2021-01-27 14:04] iMicknl commented on #339
Tracked in #304.

[2021-01-27 14:04] #339 closed

[2021-01-27 14:14] iMicknl commented on #349
Thanks @DJTim. Are you sure that you did login via tahomalink.com while following the steps above? I don't see this in your logs.

[2021-01-27 14:22] iMicknl commented on #356
@tofgun do you know if the device state (thus not attribute) is update correctly? What if you put the automation based on the state (instead of device action or attribute). I don't think that we support device actions.

[2021-01-27 14:27] tofgun commented on #356
@iMicknl , the device state is updated correctly because this is how I workaround this issue to have my automation working :

alias: Alarm Away ON State
description: ''
trigger:
  - platform: **state**
    entity_id: alarm_control_panel.somfy_one_salon
    attribute: 'myfox:AlarmStatusState'
    **from: disarmed
    to: armed**
condition: []
action:
  - service: script.openings_all_close
    data:

[2021-01-27 14:29] iMicknl commented on #356
@tofgun that was indeed the workaround I had in mind as well. I am not sure what we need to do to support device triggers, but I will keep this issue open to track your feature request.

[2021-01-27 15:50] pmb91917 commented on #360
I could now login but the devices are not discovered - debug log attached

[hi-kumo.txt](https://github.com/iMicknl/ha-tahoma/files/5881350/hi-kumo.txt)

[2021-01-27 15:55] iMicknl commented on #360
@pmb91917 this is a known issue, tracked via https://github.com/iMicknl/ha-tahoma/issues/299. Hopefully someone will have time to implement that device soon.

Which integration are you currently using for Hi Kumo? (Or aren't you using an integration yet).

[2021-01-27 15:58] #360 closed

[2021-01-27 16:12] iMicknl commented on #360
We fixed the login issue and it will be included in the next version. I will let you know (in #299) when it is ready to test.

[2021-01-27 17:59] iMicknl commented on #304
Could you try the following version? https://github.com/iMicknl/ha-tahoma/archive/enhancement/AtlanticElectricalHeaterWithAdjustableTemperatureSetpoint.zip

Please extract the `custom_components/tahoma` folder and place this within your current `custom_components` folder.

[2021-01-27 18:08] thundergreen commented on #304
@iMicknl You meant me? I will test  and report :) Thanks !

[2021-01-27 18:09] iMicknl commented on #304
Anyone with this device can test :-)

[2021-01-27 18:10] thundergreen commented on #304
I'll test an report with peasure :)

[2021-01-27 18:15] thundergreen commented on #304
both heater appeared.. will test if they work also :) Thanks so far seems a very good beginning :)

[2021-01-27 18:23] iMicknl commented on #304
Great to hear. The current temperature is not implemented yet by the way, so that is not working.

If you did use another CozyTouch integration, it would be great what did work there and not in the current TaHoma implementation.

[2021-01-27 20:03] #341 closed

[2021-01-27 21:09] LoicRivoal commented on #304
Both climate entities appear as well for me.  Temperature setpoint works.
On/Off does not seem to work. I am not quite sure how the preset modes should operate ( boost
 comfort 1,  comfort 2,  comfort, eco,   Frost Protection,  none).
The only modes I have on the heater display screen is BASIC and PROG.
in the Tahoma app I have PROG, HOLIDAYS, BASIC, OFF.
Today I am using an Homebridge Tahoma plug

[2021-01-27 22:12] iMicknl commented on #299
Could you give https://github.com/iMicknl/ha-tahoma/archive/feature/support_HitachiAirToAirHeatPump.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

It is a very limited version (yet), but I hope to add more bit by bit. It is quite a complex device, thus we probably need quite some tries.

@pmb91917 @Seb0101

[2021-01-27 22:26] iMicknl commented on #304
[code]

I will see if I can implement those OperatingMode... Currently these are mapped to HVAC modes. Let's see how the current CozyTouch implementation is doing this.

I just pushed a new version that implements the `on` command. Could you turn on debug mode and share your log as well?

[2021-01-27 23:01] pmb91917 commented on #299
Unfortunately still the same error

2021-01-28 00:01:00 DEBUG (MainThread) [custom_components.tahoma] Finished fetching TaHoma Event Fetcher data in 0.141 seconds
2021-01-28 00:01:04 DEBUG (MainThread) [custom_components.tahoma.coordinator] Initialized DataUpdateCoordinator with 0:00:30 interval.
2021-01-28 00:01:04 DEBUG (MainThread) [custom_components.tahoma] Finished fetching TaHoma Event Fetch

[2021-01-27 23:05] iMicknl commented on #299
@pmb91917 oops, I forgot to define the device as supported... I just uploaded a new version which should work. https://github.com/iMicknl/ha-tahoma/archive/feature/support_HitachiAirToAirHeatPump.zip

[2021-01-27 23:18] pmb91917 commented on #299
Look better now :-)

2021-01-28 00:14:18 DEBUG (MainThread) [custom_components.tahoma.coordinator] Initialized DataUpdateCoordinator with 0:00:30 interval.
2021-01-28 00:14:18 DEBUG (MainThread) [custom_components.tahoma] Finished fetching TaHoma Event Fetcher data in 0.047 seconds
2021-01-28 00:14:18 DEBUG (MainThread) [custom_components.tahoma] Added TaHoma device (ovp:HLinkMainController - Hita

[2021-01-27 23:25] iMicknl commented on #299
Could you share the states from `/developer-tools/state`?

[2021-01-28 06:07] vlebourl commented on #304
Could it be possible that you need to have the heater set to PROG mode on its screen so that Tahoma can control it?  Like on the pilot white controller (bottom phrase)?
![unknown](https://user-images.githubusercontent.com/5701372/106097334-69241500-6137-11eb-8939-465151d4387f.png)

[2021-01-28 06:09] vlebourl commented on #304
On the tahomalink interface, you can use the Chrome developer panel to find out what commands are sent for each mode. I have a clip ready to show how to do that if needed.

[2021-01-28 07:27] pmb91917 commented on #299
The entities do not show up under /developer-tools/state

[2021-01-28 08:41] iMicknl commented on #299
Could you share some screenshots of your device integrations? I am not sure why they show as unavailable and why they do not show up under `/developer-tools/state`. Every entity should be visible there.

[2021-01-28 08:53] thundergreen commented on #304
Hello. Well I tried your initial support for cozytouch but it seems controlling just doesn't work at all :( I'll send you logfiles later if you are OK :)

[2021-01-28 08:57] thundergreen commented on #304
Can you please share the link to download the latest dev version ech time? :) Or do i just use dev via hacs ?

[2021-01-28 09:10] iMicknl commented on #304
When in development, it is not possible to download the latest version via HACS. We are using in a different branch, which can be downloaded here: https://github.com/iMicknl/ha-tahoma/archive/enhancement/AtlanticElectricalHeaterWithAdjustableTemperatureSetpoint.zip.

If you look at this list, you can see if there have been any updates to the code: https://github.com/iMicknl/ha-tahoma/commits/enhan

[2021-01-28 12:06] LoicRivoal commented on #304
works pretty well.
I am not quite sure the Tahoma app or portal is the best way to follow as they don't even show the current temperature for some strange marketing reason. This is how it works :
PROG --> follows programmed schedules, schedules cannot be programmed in the app/portal, only at the appliance. Window and Occupancy sensors can be activated/deactivated --> HVAC : auto, PRESET MODE : com

[2021-01-28 12:21] iMicknl commented on #304
Thanks @LoicRivoal!

Another way that would help us a lot is to do all requests via the official apps and to capture them. We are working on a feature (https://github.com/iMicknl/ha-tahoma/archive/feature/add_history_service.zip) where you can easily retrieve the execution history + parameters in Home Assistant logging.

In order to gather more information, you can use the `tahoma.get_execution_hi

[2021-01-28 12:24] pmb91917 commented on #299
Sure

![image](https://user-images.githubusercontent.com/64465192/106137787-7c50d800-616b-11eb-8a89-ae3d26927885.png)
![image](https://user-images.githubusercontent.com/64465192/106137848-98ed1000-616b-11eb-8650-a14ec01d456b.png)
![image](https://user-images.githubusercontent.com/64465192/106137928-bde18300-616b-11eb-8fbc-1c4163995dd9.png)
![image](https://user-images.githubusercontent.com/6446519

[2021-01-28 12:29] iMicknl commented on #299
Thanks @pmb91917, I will have a better look. Feel free to discuss on Discord when you have time, https://discord.gg/RRXuSVDAzG.

Which hub are you using?

[2021-01-28 18:47] LoicRivoal commented on #304
Here it is,
I did on the Tahoma app for 2 heaters each time :

OFF --> BASIC 19°
BASIC 19° --> OFF
OFF --> PROG 19°/WINDOW+OCCUPANCY sensors ON
PROG 19°/WINDOW+OCCUPANCY sensors ON --> PROG 20°/WINDOW+OCCUPANCY sensors ON
PROG 20°/WINDOW+OCCUPANCY sensors ON --> HOLIDAYS/AWAY until 31/01
HOLIDAYS/AWAY until 31/01 --> BASIC 19°

OFF --> BASIC 19°
2021-01-28 19:28:25 DEBUG (MainThread) [custom_compo

[2021-01-28 20:32] iMicknl commented on #304
@LoicRivoal It looks like you are not using the right version or you didn't call the `tahoma.get_execution_history` service. The output of the event listener is not helpful unfortunately. The output should look like:

[code]

Feel free to join our Discord server to discuss; https://discord.gg/RRXuSVDAzG.

[2021-01-29 08:36] LoicRivoal commented on #304
ok, it was actually in the log for that sessions, is that what you need ?

OFF --> BASIC 19°
BASIC 19° --> OFF
OFF --> PROG 19°/WINDOW+OCCUPANCY sensors ON
PROG 19°/WINDOW+OCCUPANCY sensors ON --> PROG 20°/WINDOW+OCCUPANCY sensors ON
PROG 20°/WINDOW+OCCUPANCY sensors ON --> HOLIDAYS/AWAY until 31/01
HOLIDAYS/AWAY until 31/01 --> BASIC 19°

OFF --> BASIC 19°
2021-01-29 09:10:51 INFO (MainThread) [c

[2021-01-29 11:10] tomtomdu85 commented on #355
Hi everybody.

I think the "AtlanticPassAPCHeatPumpMainComponent" is the main component for the PAC (heating part : Atlantic alfea extensia duo AI).

For me, I've got 2 components "io:AtlanticPassAPCHeatingAndCoolingZoneComponent", and 2 differents area in my home (2 area programmator). My components are Navilink A52

[2021-01-30 10:09] callifo commented on #278
I've had this start happening with my Australian Connexion unit. Occasionally it would happen once or twice a day and no issue, the integration would still work fine. However tonight, I'm not able to use it anymore, with the error '[custom_components.tahoma] invalid_auth' on HA start.

I did get a couple of the 'pyhoma.exceptions.BadCredentialsException: Bad credentials' prior to the blinds stop w

[2021-01-31 19:54] iMicknl commented on #278
@callifo I would advise for now to keep your update_interval on a high value (for example weekly). We need to have a look if we can set / disable the update interval for user with only RTS devices (and thus for users with the Connexoon RTS hub).

Are you still blocked, or does it work already?

[2021-02-01 14:33] dckiller51 opened #367 "__init__() missing 2 required keyword-only arguments: 'alive' and 'up_to_date' after update to 2.4.5"
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**

Loss of shutters since the last version 2.4.5

[code]

**Environment (please complete the following information):**

- **hub:** Somfy TaHoma
- **ha-tahoma ver

[2021-02-01 16:01] iMicknl commented on #367
Thanks for reporting @dckiller51. For now, I would advise to downgrade to v2.4.3.

Which hub are you using? (Somfy TaHoma, Connexoon, CozyTouch, etc.).

[2021-02-01 16:11] iMicknl commented on #367
Could you give https://github.com/iMicknl/ha-tahoma/archive/fix/fix_gateway_params_issues.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-02-01 16:19] dckiller51 commented on #367
Somfy Tahoma
Yes downgrade to v2.4.3 works. I'm testing tonight, I'm not at home to send the files

[2021-02-01 16:26] iMicknl commented on #367
Thanks @dckiller51. Do you perhaps have the Somfy TaHoma first generation? It is weird how their API is not standardized on all gateways...

[2021-02-01 16:41] dckiller51 commented on #367
This is the Tahoma V2 version 2020.6.4-1 5

[2021-02-01 16:44] iMicknl commented on #367
That is weird, I have the same version (2020.6.4-15) and for me this error doesn't occur...

![image](https://user-images.githubusercontent.com/1424596/106489360-fa3b1900-64b4-11eb-8e44-efb29ee8011b.png)

[2021-02-01 17:05] dckiller51 commented on #367
I don't have the hub in HA device. The information, I recovered them in the official application.

[2021-02-01 17:06] iMicknl commented on #367
@dckiller51 I know, that is the error you are facing in this issue :-). The fixed version should add your hub as an entity in Home Assistant.

[2021-02-01 17:29] iMicknl opened #369 "[Connexoon RTS] BadCredentialsException, probably due to overuse of event listener"
**Describe the bug**
I've had this start happening with my Australian Connexion unit. Occasionally it would happen once or twice a day and no issue, the integration would still work fine. However tonight, I'm not able to use it anymore, with the error '[custom_components.tahoma] invalid_auth' on HA start.

I did get a couple of the 'pyhoma.exceptions.BadCredentialsException: Bad credentials' prior

[2021-02-01 17:32] iMicknl commented on #369
@callifo thanks for reporting. This is definitely something we need to address. For now, could you try removing the integration (and thus not calling the login endpoint for a while). After some days, you should be unblocked.

Set the event listener to a high interval, like a month. This should prevent you from being blocked.

[2021-02-01 18:34] iMicknl commented on #249
@wzwart76 do you still own this device and would you like to have it in this integration?

In order to gather more information, you can use the tahoma.get_execution_history service in Home Assistant which will print your execution history to the Home Assistant log. Run the all available commands via the official vendor app (e.g. TaHoma) and capture the commands.
(this service is added in the lates

[2021-02-01 18:36] iMicknl commented on #322
Thanks for the information.

In order to gather more information, you can use the `tahoma.get_execution_history` service in Home Assistant which will print your execution history to the Home Assistant log. Run the all available commands via the official vendor app (e.g. TaHoma) and capture the commands. (this service has been added to the latest version, so you would need to update this integratio

[2021-02-01 18:37] iMicknl commented on #299
@pmb91917, as an addition:

In order to gather more information, you can use the `tahoma.get_execution_history` service in Home Assistant which will print your execution history to the Home Assistant log. Run the all available commands via the official vendor app (e.g. TaHoma) and capture the commands. (this service has been added to the latest version, so you would need to update this integration

[2021-02-01 18:39] iMicknl commented on #355
@tomtomdu85, @kaczkalolo, there is a lot of great information in this topic, but in order to implement this device faster, I could use some more details.

In order to gather more information, you can use the `tahoma.get_execution_history` service in Home Assistant which will print your execution history to the Home Assistant log. Run the all available commands via the official vendor app (e.g. TaH

[2021-02-01 19:32] stavrosso opened #370 "Add support for Hitachi RASM3-VNE Heat PumpAirToWaterMainComponent (modbus:YutakiMainComponent)"
- [x] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

The device is a Hitachi Heat Pump Model: RASM 3 VNE . It is an air to water heat pump used for heat only. The device is controlled by Hi_Kumo app by Hitachi and powered by moduloTe

[2021-02-01 19:49] iMicknl commented on #370
Thanks for reporting @stavrosso and great to hear that Hi-Kumo works!

In order to gather more information, you can use the `tahoma.get_execution_history` service in Home Assistant which will print your execution history to the Home Assistant log.

Run the all available commands via the Hi-Kumo app and write down what you called. Now go to Developer Tools -> Services and execute `tahoma.get_execut

[2021-02-01 20:52] pmb91917 commented on #299
After some reboots at least i get some more information for the states - see screenshot

![image](https://user-images.githubusercontent.com/64465192/106516663-a8f05100-64d7-11eb-948e-d56f354beb1d.png)

But all devices are marked as unavailable.

Is there a step by step how to activate tahoma.get_execution_history feature? Could find any hint via google.

[2021-02-01 20:54] dckiller51 commented on #367
This version works. I do have two additional devices. (Tahoma V2 hub and Home Protect System hub). Thank you

[2021-02-01 21:01] wzwart76 commented on #249
Yes I do and I would love to have it! How do I enable the tahoma.get_execution_history? No problem to send some screenshots!

[2021-02-01 21:04] iMicknl commented on #367
Thanks! Your Home Protect System hub is also a gateway, that is what caused this issue. We will add this to the next version.

[2021-02-01 21:07] iMicknl commented on #249
Run the all available commands via the vendor app and write down what you called. Now go to Developer Tools -> Services in Home Assistant and execute tahoma.get_execution_history. This will print the last execution history in your logbook, which you can paste here.

[2021-02-01 21:07] iMicknl commented on #299
Run the all available commands via the vendor app and write down what you called. Now go to Developer Tools -> Services in Home Assistant and execute tahoma.get_execution_history. This will print the last execution history in your logbook, which you can paste here.

[2021-02-01 21:15] #367 closed

[2021-02-01 21:20] pmb91917 commented on #299
This is what I get

![image](https://user-images.githubusercontent.com/64465192/106519473-a132ab80-64db-11eb-89c0-9130158a36fc.png)

[2021-02-01 21:25] iMicknl commented on #299
@pmb91917 bummer. This is an issue in our underlying library, where we don't support all Hi Kumo capabilities.

I will share another version for you soon, which hopefully will work. But there is a chance that we need some revisions.

[2021-02-01 21:33] iMicknl commented on #299
Could you give https://github.com/iMicknl/ha-tahoma/archive/enhancement/pyhoma_0.5.7.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-02-01 22:21] pmb91917 commented on #299
Its a HI-Box AHP-SMB-01

[2021-02-01 22:33] pmb91917 commented on #299
new version does not generate the error message but  nothing shows up in the logbook

[2021-02-01 22:43] iMicknl commented on #299
Is there any other error in the logbook? Perhaps your bridge doesn't support this command, but it should be supported by all OverKiz API's.

[2021-02-02 07:20] stavrosso commented on #370
Good Morning @iMicknl ,

I have run the commands in the Hi-Kumo App and registered all the log entries in a word document. The actual log file is so long because I was trying command since last night. If you want I can paste it here but IT IS long. I think the word file I uploaded on the bottom of my initial Issue (above) will be more helpful. Please let me know if this is not the case. Thank you

[2021-02-02 11:12] tomtomdu85 commented on #355
Hi

Is it that's log ?

2021-02-02 12:09:48 INFO (MainThread) [custom_components.tahoma] 2021-02-02 07:30:00: open executed via Home Assistant on io://1231-2465-8590/7117370, with [].
2021-02-02 12:09:48 INFO (MainThread) [custom_components.tahoma] 2021-02-02 07:30:00: open executed via Home Assistant on io://1231-2465-8590/655834, with [].
2021-02-02 12:09:48 INFO (MainThread) [custom_components.

[2021-02-02 11:59] iMicknl commented on #355
@tomtomdu85 yes! However it only shows open & close of many covers. Did you execute the commands? (or was this just to try if it would work).

[2021-02-02 12:03] anlupat opened #372 "> v2.3.4 missing 1 required keyword-only argument: 'placeoid'"
**Describe the bug**
The integration no longer works for my setup.

**To Reproduce**
Steps to reproduce the behavior:

1. Install v2.3.4 or v2.3.5
2. Watch homeassistant.log
3. See error:

2021-02-02 12:47:21 ERROR (MainThread) [custom_components.tahoma] __init__() missing 1 required keyword-only argument: 'placeoid'
Traceback (most recent call last):
  File "/config/custom_components/tahoma/__ini

[2021-02-02 12:10] iMicknl commented on #372
Thanks for reporting @anlupat. It is indeed the newly added gateway that expects `placeoid` to be present. We will make this optional, since your gateway doesn't have this value apparently.

[2021-02-02 12:12] anlupat commented on #372
@iMicknl It is a really old one, one of the first ever build.

[2021-02-02 12:21] iMicknl commented on #372
Haha, we didn't have that one in our test set yet. Apologies for testing in production 😉.

![](https://media2.giphy.com/media/XjlNyeZp5lDri/giphy-downsized-medium.gif)

[2021-02-02 12:32] anlupat commented on #372
I don't mind. I'm just happy there is such a great working integration. Since the API of Somfy is kinda, let's try to say it nice, "incomplete".

[2021-02-02 14:01] TheFes opened #373 "Cover (AwningValance) not working properly on versions higher than 2.3.8 - AwningValance (io:AwningValanceIOComponent)"
- [X] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
_Short version:_
After version 2.3.8 my cover is not working properly anymore.
The states are reversed (closed is now open, and vice versa), but more important

[2021-02-03 05:04] callifo commented on #278
It came back after about 24 hours, I did not have to get a new IP or anything. Is this some form of blocking due to constant polling?

I have set it to once daily and will see how it goes again.

I have still be getting these irregularly at the time when I set HA to open my blinds in the morning, it opens four blinds,
[code]
However the blinds open fine.

[2021-02-03 11:14] iMicknl commented on #278
@callifo you are right, this is due to the fact that we pull the updated status of the command via the event listener. We definitely need to change this for your use-case, tracked in https://github.com/iMicknl/ha-tahoma/issues/369.

[2021-02-03 15:22] pmb91917 commented on #299
No - unfortunately no other logbook entries

[2021-02-03 21:52] dckiller51 commented on #367
@iMicknl
Hello, Home Assistant 2021.2.0 updated suite. Mistake
[code]

[2021-02-03 23:00] #372 closed

[2021-02-03 23:01] iMicknl commented on #372
Please update to v2.4.6 and it should be fixed!

[2021-02-03 23:01] iMicknl commented on #367
@dckiller51, sorry that branch has been removed already. You can download the latest version (v2.4.6) via HACS or via GitHub, where this fix is included.

[2021-02-03 23:09] iMicknl commented on #351
Could you give https://github.com/iMicknl/ha-tahoma/archive/fix/awning_valance.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder. This should solve your issues.

[2021-02-03 23:09] iMicknl commented on #313
Could you give https://github.com/iMicknl/ha-tahoma/archive/fix/awning_valance.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder. This should solve your issues.

[2021-02-03 23:11] iMicknl commented on #373
Thanks for reporting.

Could you give https://github.com/iMicknl/ha-tahoma/archive/fix/awning_valance.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder. This should solve your issues.

[2021-02-03 23:15] dckiller51 commented on #367
@iMicknl
thank you very much for your speed

[2021-02-03 23:16] iMicknl commented on #324
@inconsx could you give https://github.com/iMicknl/ha-tahoma/archive/fix/awning_valance.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder. This should solve your issues.

We have had many reports with the same device where their position was reversed, after the change we made for your issue.

[2021-02-04 10:54] RualdOrdelman commented on #313
Great. I've just tested the new files and this solves my problem. What do you recommend to do. Going back to the stable HACS and waiting to get this fix released in a stable version, or just staying at this custom fix version?

[2021-02-04 10:56] vlebourl commented on #313
I would stay on this custom version until next release in HACS. If this is merged by then, this will be mentioned in the changelog.

[2021-02-04 11:02] RualdOrdelman commented on #313
Would you expect this in the 2.4.7 release?

[2021-02-04 11:10] iMicknl commented on #313
Not sure. It depends a bit on the speed of all the other testers. We had quite some issues with reversed covers and it could be that when we ship this feature, other people will have reversed covers... So we would like to take some time to better understand the behavior on multiple devices / hubs.

[2021-02-04 11:12] RualdOrdelman commented on #313
Check. I will keep an eye on that changelog.

Thanks for all your effort.

[2021-02-04 14:07] TheFes commented on #373
This indeed solved the issue, thanks!

[2021-02-04 16:37] tillstaff opened #376 "Add support for Atlantic Optimocosy - Double Flow CMV (io:AtlanticHeatRecoveryVentilationIOComponent)"
**Device information**
Atlantic Optimocosy (Double flow CMV) not recognized as a Climate entity.
Would like to be able to set the operating mode (MANUAL, PROG, AUTO, BOOST, AWAY).
Temperature and CO2 sensors are discovered (but no entity created for CO2 sensor).

**Device details**
2021-02-04 09:32:46 DEBUG (MainThread) [custom_components.tahoma] Unsupported device detected (io:AtlanticHeatRecover

[2021-02-04 19:58] wzwart76 commented on #249
I just performed the actions. But there is no logging in Home Assistant. Do I have to switch something on? I have attached some screenshots of the Tahoma app of me setting the temperature of my ""Studeerkamer".
![Schermafbeelding 2021-02-04 204958](https://user-images.githubusercontent.com/60143372/106948241-bc93f580-672b-11eb-84bc-604205bc6e5a.png)
![Schermafbeelding 2021-02-04 205026](https://us

[2021-02-04 20:01] wzwart76 commented on #249
I only saw these messages:

2021-02-04 20:48:51 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for tahoma which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2021-02-04 20:48:51 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for

[2021-02-04 20:15] iMicknl commented on #376
Thanks for your very very detailed report, @tillstaff. This makes implementing way easier. 🥳 I need to have a look if this should be mapped to the fan entity in Home Assistant, or to climate.

Which hub are you using by the way?

[2021-02-04 22:07] tofgun opened #377 "Add support for Hitachi air to air heat pump"
Unsupported devices :

![image](https://user-images.githubusercontent.com/77484063/106960800-e9043d80-673c-11eb-9826-a7a0a9438914.png)
![image](https://user-images.githubusercontent.com/77484063/106961268-9ecf8c00-673d-11eb-8877-6ab70b014ca1.png)
![image](https://user-images.githubusercontent.com/77484063/106961163-7fd0fa00-673d-11eb-9b59-bca66ab2b67e.png)

[2021-02-04 23:02] iMicknl commented on #377
Thanks for reporting, @tofgun. We currently have another similar issue (https://github.com/iMicknl/ha-tahoma/issues/299) where we track this feature. I will close this issue, lets keep the discussion in the other one.

For a next issue, please don't remove the issue template with all required information. This helps us gathering all required information.

[2021-02-04 23:02] #377 closed

[2021-02-05 10:56] nutsben commented on #355
Hello,
I have an Atlantic heat pump Alféa Extensa Duo connected to my Somfy TaHoma.
I also have 2 areas thermostat in my house.

I tried to catch all commands I have in my tahoma interface. Everything is in the word doc :

[io-AtlanticPassAPCHeatPumpMainComponent.docx](https://github.com/iMicknl/ha-tahoma/files/5931896/io-AtlanticPassAPCHeatPumpMainComponent.docx)

Hope it could be helpful to impl

[2021-02-05 11:13] iMicknl commented on #355
Thanks @nutsben! Are you able to run `tahoma.get_execution_history`? It should show something like the following;

[code]

The current debug log attached is for the event listener and unfortunately I can not get the commands from there.

[2021-02-05 11:42] nutsben commented on #355
sorry, but I don’t know how to run tahoma.get_execution_history service.
Is something to add on a config files un Home Assistant ?

[2021-02-05 12:11] iMicknl commented on #355
@nutsben In order to gather more information, you can use the `tahoma.get_execution_history` service in Home Assistant which will print your execution history to the Home Assistant log.

Run the all available commands via the app and write down what you called. Now go to Developer Tools -> Services and execute `tahoma.get_execution_history`. This will print the last execution history in your logbo

[2021-02-05 12:27] nutsben commented on #355
Thanks !

I had reboot Home Assistant so I did again all commands via the app tahoma.
Logs :

2021-02-05 13:19:21 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for tahoma which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2021-02-05 13:19:29 DEBUG (MainThrea

[2021-02-05 13:09] iMicknl commented on #355
@nutsben the history is coming from the TaHoma server, thus it doesn't get removed when you restart Home Assistant. Thanks for providing your log, when we implement this feature, this will be very useful.

If someone has time in advance, you could have a look at splitting up the log by command executed and linking them to your screenshots / text. See this issue as an example: https://github.com/iM

[2021-02-05 13:47] tillstaff commented on #376
Thanks to you for this integration!

Just to know, you could also have a sensor for the speed of each motors (inlet and outlet).

The values are here in m3/h (cubic meter per hour):
[code]

[2021-02-05 13:59] iMicknl commented on #376
Thanks. Currently that isn't possible, we depend on https://github.com/iMicknl/ha-tahoma/issues/223 for that to be technically possible. As a workaround, all device states and attributes are added to Home Assistant as attributes. See a cover as an example;
![image](https://user-images.githubusercontent.com/1424596/107042932-979e9180-67c2-11eb-9635-6b90d89b39b6.png)

When this device is added, you

[2021-02-05 14:16] tillstaff commented on #376
Ok, that's not a problem for me.

In Home-Assistant, we can add new sensors from entities attributes with the template platform.
[https://www.home-assistant.io/integrations/template/](url)

[2021-02-05 14:27] nutsben commented on #355
Oh ok, understood.

Yes, I will try to do that.

[2021-02-05 17:35] tillstaff commented on #304
I have a Cozytouch hub with several Thermor Emotion 3 heaters (with windows/occupancy sensor).

I installed the specific build linked in this issue and my heaters are now recognized, but several functions doesn't work.
I just succeed to set the Operation to "heat" and modify the temperature in this mode.

With this heaters, I have 4 modes : OFF, BASIC, PROG, AUTO (AUTO is a schedule generated by t

[2021-02-05 17:37] nutsben commented on #355
**Device information**
Atlantic Alféa Extensa Duo (Heat Pump) with Cooling Mode and heanting mode.
Temperature sensors, water heating system, electrical Consumption Sensors are discovered.
Would like to be able to set the operating mode for my 2 thermostats area (MANUAL, PROG, HOLIDAYS, OFF).

![image](https://user-images.githubusercontent.com/78533822/107068164-8ebcb880-67e0-11eb-94cf-90b6d3a28ff

[2021-02-05 17:38] VoetenK opened #378 "Execution queue is full on gateway: #1218-0150-5193 (soft limit: 10)"
Server Log:

Logger: custom_components.tahoma.tahoma_device
Source: custom_components/tahoma/tahoma_device.py:163
Integration: Somfy TaHoma (documentation, issues)
First occurred: 3:14:50 PM (483 occurrences)
Last logged: 5:47:09 PM

Execution queue is full on gateway: #1218-0150-5193 (soft limit: 10)
Cannot connect to host tahomalink.com:443 ssl:default [Connect call failed ('178.32.15.131', 443)

[2021-02-05 21:37] iMicknl commented on #378
How many devices do you have? And do you use a automation or group to trigger many commands at the same time?

related to https://github.com/iMicknl/ha-tahoma/issues/261

[2021-02-06 14:09] Seb0101 commented on #299
Hi
Sorry I was away and will not be very available in the next weeks.
I just tried to copy the latest link, pyhoma, nothing changed except a very long startup.
After that I copied the previous link issued in (https://github.com/iMicknl/ha-tahoma/issues/299#issuecomment-768636564)
Entities are added to HA, but show as unavailable.
So I recopied the pyhoma 0.5.7, entities are still there, but also s

[2021-02-06 17:05] kaczkalolo commented on #261
I have 14 covers. What can i do to close/open them all at the same time? i getting exactly the same error :(

[2021-02-06 17:35] iMicknl commented on #378
Let's keep the discussion in https://github.com/iMicknl/ha-tahoma/issues/261.

[2021-02-06 17:35] #378 closed

[2021-02-06 17:37] iMicknl commented on #261
@kaczkalolo do you encounter this problem for a while, or is this a new issue? There was another report yesterday (https://github.com/iMicknl/ha-tahoma/issues/378).

For now, I would advice to add a delay in your automations in Home Assistant... This will be way more reliable, since this is an issue on the Somfy TaHoma side.

[2021-02-06 17:40] kaczkalolo commented on #261
I had this for a while but never really had time to debug but finally found
it. I don't use automation for that- only group.

On Sat, 6 Feb 2021 at 18:37 Mick Vleeshouwer <notifications@github.com>
wrote:

--
Pozdrawiam
Kaczmarski Krystian

[2021-02-07 01:05] fredleger commented on #322
Hi @iMicknl

I guess this is the logs you are looking for:

[code]

Screenshot of tahoma app:
![image](https://user-images.githubusercontent.com/2778741/107133482-e34b5b00-68e8-11eb-82a8-0902807c066e.png)

[2021-02-08 17:43] browetd commented on #304
@iMicknl Hello, I finally installed the lastest development version and did a quick test... Great progress !  Now I have 15 entities with 3 being climate entities (with a bunch of data !!!)...  I was able to turn on the radiators (from off to Auto mode and change mode to Confort but I was not able to swith them off or move them out of frost protection...)... I will continue the tests later this we

[2021-02-08 17:45] iMicknl commented on #304
Thanks @browetd. I haven't had time lately to work on this, so nothing changed after @LoicRivoal's testing. However there is a lot of information in this issue which is helpful for a further implementation.

[2021-02-10 18:08] toby200 commented on #279
@iMicknl I've just got a new roller-garage door, with a connexoon hub and rollixo rts controller. If there's anything I could do before I try adding this to home assistant that would help in terms of gathering logs or whatever please let me know and I'd be happy to help as much as I can.

[2021-02-10 18:26] iMicknl commented on #279
@toby200 thanks! is your Connexoon already setup and would you be adding the new device to Connexoon?
I could create a new integration version with extra logging, so that we can catch more information.

[2021-02-10 19:21] toby200 commented on #279
Ah I'm sorry I think I've maybe misunderstood the situation.... I've already got the device added to Connexoon, and just need to add the whole system to home assistant. At the moment I've not even added the integration. So I think that's a slightly different scenario to the issue here.

If you'd like any extra logging anyway let me know and I'd be happy to help but if it's not relevant to this the

[2021-02-10 19:42] iMicknl commented on #279
@toby200 no worries, in that case everything should work out of the box. 👍🏻. You can just proceed as normal.

[2021-02-10 19:45] toby200 commented on #279
Ok thanks, sorry for the confusion

[2021-02-11 20:33] #313 closed

[2021-02-11 20:33] #373 closed

[2021-02-11 21:07] iMicknl commented on #376
I am currently implementing this device, where I started with a `fan` entity. I was a bit confused by your screenshot, but eventually it looks like a `fan heater` should be mapped to a `climate` entity. Especially since a climate entity does include a fan option as well.

This device is pretty complex, but your post is helping a lot :).

[2021-02-11 21:36] iMicknl commented on #376
@tillstaff could you give https://github.com/iMicknl/ha-tahoma/archive/feature/AtlanticHeatRecoveryVentilation.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder. Looking forward to your feedback.

[2021-02-11 21:45] iMicknl commented on #322
@fredleger thanks! There are quite some different commands in your history, this is because the service will send back all history of the last 24h. Could you perhaps have a look at them and remove the duplicates + write down what the action probably was? I don't know enough about your device to map this.

You can have a look at the description, for example `executed via Parents - Mode auto - iPhon

[2021-02-11 22:01] iMicknl commented on #299
@Seb0101 no worries, I am pretty busy as well :).

@Seb0101, @pmb91917 could you please give the latest version (https://github.com/iMicknl/ha-tahoma/archive/feature/support_HitachiAirToAirHeatPump.zip) a try when you have time? I added more debug logging (please turn on debug mode), which I need as input to decide next steps. Remove your current tahoma folder first.

Please share your log with me

[2021-02-11 22:06] iMicknl commented on #370
@stavrosso your Word document is very extensive, thank you. Unfortunately this is not the output which mentions the command name, thus I am not able to use it for the development.

The command history should look like:
[code]
(see https://github.com/iMicknl/ha-tahoma/issues/376 as an example)

It is possible that this execution history is not supported on Hi-Kumo, but that would be hard to check.

[2021-02-11 22:10] iMicknl commented on #249
@wzwart76 it looks like you are not executing the service in the right way. Could you share a screenshot of how you are calling the service? It should look like this:

```https://xxxxxxx.nl/developer-tools/service```

<img width="588" alt="Screen Shot 2021-02-11 at 23 09 29" src="https://user-images.githubusercontent.com/1424596/107704875-3729bb80-6cbe-11eb-90e6-ce1216bc1dd7.png">

Please make sur

[2021-02-11 22:16] iMicknl commented on #355
@nutsben what does make sense for the absence / holiday mode? In Home Assistant you can't have a popup to enter the date.. I can set it to a default, what would make sense?

[2021-02-11 23:05] iMicknl opened #381 "Add support for AtlanticPassAPCHeatingAndCoolingZone (io:AtlanticPassAPCHeatingAndCoolingZoneComponent)"
**Device information**
Atlantic Alféa Extensa Duo (Heat Pump) with Cooling Mode and heanting mode.
Temperature sensors, water heating system, electrical Consumption Sensors are discovered.
Would like to be able to set the operating mode for my 2 thermostats area (MANUAL, PROG, HOLIDAYS, OFF).

![image](https://user-images.githubusercontent.com/78533822/107068164-8ebcb880-67e0-11eb-94cf-90b6d3a28ff

[2021-02-11 23:08] iMicknl commented on #381
@nutsben, I did split your comment from the other issue since it was about a different device.

Could you give https://github.com/iMicknl/ha-tahoma/archive/feature/AtlanticPassAPCHeatingAndCoolingZone.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder. It looks like your device is able to cool and heat, is that correct?

I am not sure what the devi

[2021-02-11 23:11] iMicknl commented on #291
Let's close this one since it is tracked in https://github.com/iMicknl/ha-tahoma/issues/278.

[2021-02-11 23:11] #291 closed

[2021-02-11 23:15] nutsben commented on #355
Default could be today’s date+ 2 days or 7 days.
Therefore, Interest is to see if this mode is activated and to be able to change it.
However, Absence / Holiday mode is for all areas. I can use either first or second widget to activate this mode.

I think there are links between AtlanticPassAPCHeatingAndCoolingZone ( Commands are just for a specific area except for absence mode) and AtlanticPassAP

[2021-02-11 23:15] iMicknl commented on #350
@sergiojus is this issue still present? Please update to the latest version of the integration (2.4.7) and reboot your TaHoma hub.

@Steve3581 could you please share your device states here? You can pull them from `/developer-tools/state`.

It looks like a bug on the Somfy side, since they report `OpenClosedState` as open instead of closed. See screenshot of @sergiojus in the first post. It is pos

[2021-02-11 23:26] nutsben commented on #381
I will try tomorrow and I will let you know.

Yes, correct.

manual mode is activated for a period of time (1 hour by default). It is a derogation from the programming.

[2021-02-12 00:15] fredleger commented on #322
Just tired a couple of command and get new logs.
I will do a more in depth try but this could help as a starting point.

My Logs truncated to only the hour where i tested :

[code]

1) 1st i clicked on 'Parents' and set it to off
2) after a while i clicked on 'Salon/SaM' and set it to 'Prog' mode

So i guess:

1) Set 'Parents' to Off is:

[code]

2) Set 'Salon/SaM' to 'Prog' is:

[code]

[2021-02-12 04:37] stavrosso commented on #370
Good morning Mick.

Thank you for the message.

I would be happy to share my credentials with you in order to get this sorted out.Just let me know when you want to do that.

I have sent a friend request on Discord . Mine is Stavros#8220.

Have a nice day.

Regards

Stavros

[2021-02-12 08:37] iMicknl commented on #334
Still open, haven't had time to investigate the work done by others yet. Unfortunately I haven't been able to get in touch with them.

[2021-02-12 08:46] nutsben commented on #381
Devices Added correctely :

[code]
Set a different mode doesn't work, modify temperature doesn't work.
Eco and Confort state are programming only and directly in Heat Pump (it used with prog mode only). Not possible to change this in tahoma.
![image](https://user-images.githubusercontent.com/78533822/107746992-0629a500-6d17-11eb-851b-1ed504cc5f0f.png)

1/ Real Temperature should be data from thie

[2021-02-12 09:32] iMicknl commented on #381
Thanks @nutsben. I am still a bit lost with your device. If it supports heat and cool, how would you configure that? I don't see that in your commands.

Possibly, the temperature change doesn't work since I didn't set a time. I didn't implement the actual temperature yet indeed.

[2021-02-12 09:56] inconsx commented on #351
Hi,

can we reopen this issue.
Volant is now 90 % open but is shown 10% open

![image](https://user-images.githubusercontent.com/22166678/107753363-45a8bf00-6d20-11eb-9447-fdb56317ffa8.png)
![image](https://user-images.githubusercontent.com/22166678/107753444-5d804300-6d20-11eb-970e-49e165e24f6d.png)

Tahoma FW: 2.19
Home Assistant 2021.2.3

current_position: 12
rssi_level: 38
'core:NameState': Vo

[2021-02-12 09:58] iMicknl commented on #351
@inconsx which version of the TaHoma integration are you using?

[2021-02-12 10:35] xorassistant opened #382 "Add support for HitachiAirToWaterMainComponent / HitachiHeatingSystem (modbus:YutakiMainComponent) (Yutaki S)"
- [x] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**
There are 4 functions wHICH you can add to the device with the Somfy Tahoma app.
The Holiday function is a function we do not use with the thermostat, becaus

[2021-02-12 10:38] inconsx commented on #351
@iMicknl

2.4.7

[2021-02-12 10:47] iMicknl commented on #351
@inconsx this fix has been confirmed with others with the same device.. Perhaps there are even differences between the same devices.

Do all buttons work? (open / close / set position). I would like to understand if this is just a cosmetic issue or if this disables the functionality.

[2021-02-12 10:56] iMicknl commented on #382
Thanks for reporting, @xorassistant! Currently there are [11 open device requests](https://github.com/iMicknl/ha-tahoma/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Anew-device) thus it can take a while before we have time to implement this.

It would help if you are able to call the `tahoma.get_execution_history` in Home Assistant. This will print your history to your log, thus you ar

[2021-02-12 11:20] nutsben commented on #381
I agree, this device is not easy.

You can find very good explications here (french) : #https://github.com/dubocr/homebridge-tahoma/issues/111#issuecomment-716467476

Heat or cool : Not supported by HeatingAndCoolingZone. Only with principal probe AtlanticPassAPCZoneControl.
I can't choose heat or cool in tahoma, only on my heat pump.

[2021-02-12 15:23] Steve3581 commented on #350
Hello

I agree its on the Somfy side, that said their update to the Tahoma box last week seems to have fixed the issue on their native homekit support in my case.

[2021-02-12 19:33] iMicknl commented on #382
@xorassistant apparently, this has the same characteristics as #370.

Could you give https://github.com/iMicknl/ha-tahoma/archive/feature/support_hitachi_PumpAirToWaterMainComponent.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-02-12 19:35] inconsx commented on #351
@iMicknl
every button is working, yes.
it's just inverted and it's the only entity which shows percentage indicator when closed (before 0% and now inverted 100%)
![image](https://user-images.githubusercontent.com/22166678/107814161-ca6ff900-6d71-11eb-8a41-96b46f9d4c75.png)

[2021-02-12 21:04] Seb0101 commented on #299
Hi, I am not sure I will do that now, my last try was a disaster 2 days later... disconnected from somfy, not home, 3 days to make it back again and my automations not working in the meantime.
I supposed it was linked with my installing of your test, maybe it is not, it happened in the past (ach somfy...) but shorter. You must know better, are you confident with your last version ?

[2021-02-12 22:03] fredleger commented on #322
@iMicknl

Here a more detailed list:

### SET "Parents" to "Prog" (Schedule mode)

![IMG_1979](https://user-images.githubusercontent.com/2778741/107826698-9e5e7300-6d85-11eb-88aa-df8e1c5f1b53.PNG)

[code]

### SET "Bureau" to "Prog" (Schedule mode)

![IMG_1980](https://user-images.githubusercontent.com/2778741/107826897-ff864680-6d85-11eb-96ae-0e5525f68be9.PNG)

[code]

### SET "Bureau" to "Manuel

[2021-02-12 22:37] iMicknl commented on #299
@Seb0101 sorry to hear that. I am not sure how that could be related to this change to be honest.. This change only adds a new climate device and if there is any issue, it should only be related to this device.

Latest version can be found here: https://github.com/iMicknl/ha-tahoma/archive/feature/support_HitachiAirToAirHeatPump.zip

@pmb91917 could you give the latest version a try as well, if yo

[2021-02-13 10:34] tillstaff commented on #376
Thanks for this test build.

The discovery is now ok :
[code]

But I didn't find any new climate entity, do you need some specific logs? (although, the CO2 sensor is missing too)

[2021-02-13 10:51] iMicknl commented on #376
@tillstaff that is weird. Is there no other error in the log? Could you share a screenshot of your integrations -> devices -> detail pages?

[2021-02-13 13:51] sergiojus commented on #350
I update to the latest version of the integration (2.4.7) and reboot your TaHoma hub. The problem is still present.
I also uninstalled the integration hacs and the integration HA, I reboot HA and reboot TahomaHub. I resinstalled the integration hacs, I reboot HA, and I installed the integration HA.
But The problem is still present

[2021-02-13 18:02] tillstaff commented on #376
@iMicknl, I have this error in the logs but I don't know if it's related to this issue :
[code]

And here is my device in hassio (only temperature sensors are available as entities) :
![tahoma-vmc](https://user-images.githubusercontent.com/11087736/107857236-86422e80-6e2d-11eb-8107-1665459a95ab.PNG)

[2021-02-13 18:23] stavrosso commented on #370
Here are some commands I copied from Home assistant log

**Set Room temperature to 21°**

`2021-02-12 18:56:27 INFO (MainThread) [custom_components.tahoma] 2021-02-12 18:55:28: globalControl executed via Room focus : set air to water heat pump state on modbus://0810-9263-3428/5608763/1#2, with ['manu', 'heat', 21].
2021-02-12 18:56:27 INFO (MainThread) [custom_components.tahoma] 2021-02-12 18:55:2

[2021-02-14 09:50] wzwart76 commented on #249
![image](https://user-images.githubusercontent.com/60143372/107873384-7882bc80-6eb2-11eb-9a8c-c0b546af9b7c.png)

[2021-02-14 15:25] pmb91917 commented on #299
Hello @iMicknl, here are the debug log informations

2021-02-14 16:21:58 DEBUG (MainThread) [custom_components.tahoma.climate_devices.hitachi_air_to_air_heat_pump] Initialized HitachiAirToAirHeatPump
2021-02-14 16:21:58 DEBUG (MainThread) [custom_components.tahoma.climate_devices.hitachi_air_to_air_heat_pump] [<pyhoma.models.StateDefinition object at 0x7f92efca00>, <pyhoma.models.StateDefinition o

[2021-02-14 16:03] pmb91917 commented on #299
I just made the update from 2.4.6 to 2.4.7 via HACS (looks like the latest version has build number 2.4.6) and now i get

2021-02-14 16:56:01 DEBUG (MainThread) [custom_components.tahoma] Finished fetching events data in 0.059 seconds
2021-02-14 16:56:01 DEBUG (MainThread) [custom_components.tahoma] Unsupported device detected (ovp:HLinkMainController - HitachiHeatingSystem - HitachiAirToAirHeatPu

[2021-02-14 17:08] iMicknl commented on #249
@wzwart76 have you checked your log? (Configuration -> Logs).

[2021-02-14 17:41] iMicknl commented on #370
@stavrosso thanks! Let me know what doesn't work in the latest test version and I will have a look at the commands :).

[2021-02-15 09:53] xorassistant commented on #382
@iMicknl

This version works for reading the temperature of the Hitachi device.
So looks likes this is a good way forward I have put two screenshots in the Hitachi.zip file.
And also some debug logging

[HITACHI.zip](https://github.com/iMicknl/ha-tahoma/files/5980754/HITACHI.zip)

[2021-02-15 09:57] iMicknl commented on #382
Thanks @xorassistant. Via the original app, are you able to set values like 23.5? Looking at your logs, it requires a full number (int) instead of a comma number (float).

[code]

Do the presets / other functions work?

[2021-02-15 10:26] xorassistant commented on #382
@iMicknl

The newest version you send works, only if I set is to value 23.5, Then it shows as "value 23"
![HITACHI-SET-TO-23 5(TAHOMA)](https://user-images.githubusercontent.com/74597098/107934384-46d82700-6f80-11eb-9370-a407288d32e5.png)
![HITACHI-SET-TO-23 5](https://user-images.githubusercontent.com/74597098/107934397-4b9cdb00-6f80-11eb-9bc6-0857e1c049cc.png)

[2021-02-15 10:45] iMicknl commented on #382
@xorassistant should be fixed in latest version! https://github.com/iMicknl/ha-tahoma/archive/feature/support_hitachi_PumpAirToWaterMainComponent.zip

Do auto vs heat (manu) work as well? And same for the presets.

[2021-02-15 11:29] xorassistant commented on #382
@iMicknl

The heat function is not working, and also the presets (Auto, Comfort) are not working.
When choose "Comfort", then it's jumping back to "Auto".

[heat-function-error.txt](https://github.com/iMicknl/ha-tahoma/files/5981254/heat-function-error.txt)

[2021-02-15 11:33] iMicknl commented on #382
@xorassistant oops, the mapping was reversed... Could you try the latest version? (https://github.com/iMicknl/ha-tahoma/archive/feature/support_hitachi_PumpAirToWaterMainComponent.zip).

It should fix the preset / operation mode, but also use a 1 degree stepping for the temperature.

[2021-02-15 11:35] iMicknl opened #386 "Handle device creation when first device (#1) is not supported"
**Describe the bug**
After we merged device entities to a single parent device, there are issues when the first entity of a device isn't supported. It won't create a device in the registry anymore and just show the separate entities.

**Expected behavior**
Fall back to the first supported device?

[2021-02-15 12:56] xorassistant commented on #382
@iMicknl yes with this version the Heat functions properly as the "manual" mode.
Also the temperature is now using a 1 degree stepping!
Looks like the Eco/Comfort is not an option for the heatpump type we have, this keeps jumping back to comfort mode.
But it's now possible to adapt the temperature and it's syncing with the Tahoma! awesome!

[2021-02-15 13:50] iMicknl commented on #382
Cool! Anything you miss, or can we consider this device implemented correctly? 🥳

[2021-02-15 17:02] stavrosso commented on #370
Hi Mick,

Here is a list of commands that work normally and others that don't for your reference

**1. THERMOSTAT - Entity id:  climate.modbus_5608763_1_2**

Room Heating temperature (Thermostat) **can’t** be set from home assistant. The value changes if you use the thermostat slider but the app is not updated.

At some point I got this error
[code]
Is it possible for **Auto** to be renamed to **W

[2021-02-15 17:21] iMicknl commented on #370
Should be fixed in the latest version (updated this afternoon).

Unfortunately this is not possible. We can only choose from the following names: https://developers.home-assistant.io/docs/core/entity/climate/#hvac-modes.

Should be fixed in the latest version (updated this afternoon).

Not sure about this one yet, I would need to do some more research.. The other user also reported that these didn

[2021-02-15 17:36] iMicknl commented on #299
@pmb91917 I will have a new look, not sure what is going wrong here.

Otherwise, would you be willing to work with me via Discord and to share your credentials temporarily? It would speed up the development a lot, since those climate devices are hard to understand and implement. With other users I have seen that this helps to create a basic version in less than an hour, instead of going back and f

[2021-02-15 17:39] iMicknl commented on #322
Thanks @fredleger. I see that many of your commmands are executed on io://0000-1111-2222/33334444#10, but I don't see any mention of a #10 device in your posts? Do you know which device is #10.

[2021-02-15 17:42] iMicknl commented on #376
@tillstaff are you sure that the entity isn't added as well? (it could be that it is not correctly linked to a device).

Otherwise, would you be willing to work with me via Discord and to share your credentials temporarily? It would speed up the development a lot, since those climate devices are hard to understand and implement. With other users I have seen that this helps to create a basic versio

[2021-02-15 17:55] fredleger commented on #322
Hummm @iMicknl not sure what is a device here. I would have expected that all command goes through the device representing the room where i set the temperature.

So i can only guess here ...

I own only 2 "physical" devices:
- Somfy Conexoon
- Atlantic Shogun AC
- Somfy Shutter

and i do thhink they have differents IOs ids

So my best idea is that `#10` is the main controller of Atlantic shogun AC

[2021-02-15 18:03] fredleger commented on #322
ok i found it through the web interface

On my Setup:

[code]

Tell me if this helps

[2021-02-15 18:05] iMicknl commented on #322
@fredleger sorry, I already found it thus removed my comment. But I guess you got an email reply as well :-).

You did mention the device ids in your previous post already. We need to map every subdevice in Home Assistant, thus it is good to understand how they work together..

[code]

[2021-02-15 18:19] iMicknl commented on #322
@fredleger by the way. If you are willing to work with me via Discord and to share your credentials temporarily, feel free to let me know. It would speed up the development a lot, since those climate devices are hard to understand and implement. With other users I have seen that this helps to create a basic version in less than an hour, instead of going back and forth. (Discord: https://discord.gg

[2021-02-15 18:46] stavrosso commented on #370
Great , Evrything looks fine. Just let me know a convenient time to talk on discord.

[2021-02-15 20:15] iMicknl commented on #382
@xorassistant I just pushed a new version, apparently there were some mistakes in the temperature control. Could you give it a try?

[2021-02-16 05:37] stavrosso commented on #370
Good morning Mick,

All works perfectly after the last update. Thank you

Could you possibly add the ON/OFF mode to the Thermostat? (We currently have AUTO and HEAT Operations)

**OFF Command is:**

[code]

**ON Command is:**

[code]

Thank you

[2021-02-16 10:03] tillstaff opened #387 "Datatype errors when get state"
**Describe the bug**
There are repeated errors in the logs when ha-Tahoma get states from some Cozytouch Devices (Atlantic Optimocosy in my case)
[code]

**To Reproduce**
I made some investigations and the error is due to several Datatype not initialized in this object :
https://github.com/iMicknl/ha-tahoma/blob/0612a5ba3e3cc7282923b2d7baf98e6d75897e6a/custom_components/tahoma/coordinator.py#L20-L

[2021-02-16 10:10] vlebourl commented on #387
I do love an issue that's already almost resolved ^^
I'm not sure that casting to a `str` is the right thing to do though... Any idea how this state is used? If some or all elements of the `dict` or the `list` should be used as the actual state to be returned, `str` would not cut it...

[2021-02-16 10:11] vlebourl commented on #387
Any idea what a BLOB is?

[2021-02-16 10:20] tillstaff commented on #376
@iMicknl, yes I'm sure. When I search for "climate" entitites, I only find the two heaters with "Cozytouch Interface".
![Capture d’écran_2021-02-16_11-06-58](https://user-images.githubusercontent.com/11087736/108048539-73a34180-7047-11eb-9f46-4e4cc654d3f3.png)
It's the same with the CO2 entity missing.

I will try to join the Discord when I have time to make a live debug session.

[2021-02-16 11:24] iMicknl commented on #387
I haven't seen any example of a BLOB in this event context yet. Normally, a blob represents a file-like object of immutable, raw data. Via the mime type you are able to understand how to render the blob.

For now, I would just leave those out. I haven't seen any events using blobs yet. Perhaps they are used for camera's.

[2021-02-16 11:31] tillstaff commented on #387
@vlebourl I don't have any idea about BLOB.

But for the two states linked, here are the references :
[code]
[code]

[2021-02-17 13:26] DjBac opened #389 "Add support for Somfy Smoove Origin IO"
I cannot find a way to add my Somfy Remotes to HA. I can see my devices, scenes and even the alarm button of the hub onto HA, but no way to see the remotes. Is this supported?

[2021-02-17 13:26] vlebourl commented on #387
Could you try this branch: https://github.com/iMicknl/ha-tahoma/archive/fix/missing_datatype.zip before it's released?

[2021-02-17 13:28] vlebourl commented on #389
Hi,
Please follow the templates when opening an issue.
Remotes aren't supported yet. We didn't find any use that would justify adding it to Home Assistant. Could you explain your use case?
Cheers.

[2021-02-17 13:55] tillstaff commented on #387
@vlebourl I just tested this build and it's ok, thanks for your help.

Although, the debug logs show always "state: None -> None"? Is that normal?
[code]

[2021-02-17 13:57] vlebourl commented on #387
yeah, that's normal I think. @iMicknl do you confirm?

[2021-02-17 13:57] #387 closed

[2021-02-17 14:01] iMicknl commented on #387
Yes, this is normal behavior. Currently that only shows the execution state, thus that logging is quite limited still.

[code]

[2021-02-17 14:03] tillstaff commented on #387
Ok, it's good to know!

[2021-02-17 14:30] tillstaff opened #390 "CO2 sensor added but no entity created"
**Describe the bug**
I have a CO2 sensor available with my Atlantic Optimocosy device and the sensor is added by the component :
[code]
But I don't have any entity created with this sensor.

**To Reproduce**
I made some investigations and the problem is that the CO2Sensor doesn't have the "CORE_MEASURED_VALUE_TYPE" needed for the select of unit of measurement.
https://github.com/iMicknl/ha-tahoma/

[2021-02-17 14:54] DjBac commented on #389
Hi,
Thank you for the reply. The only use would be to have notifications for battery status and use the remotes as buttons for Home Assistant.

[2021-02-18 09:18] iMicknl commented on #390
Thanks for your extensive research again, @tillstaff. Perhaps you would like to contribute as well via a pull request? We are looking for more contributors for this project, since there is currently quite a load via all the issues created.

[2021-02-18 09:25] iMicknl commented on #389
@DjBac could you create a new issue please, where you fill in all questions of the predefined template? This is required to understand more about your device. I will close this one, please create a new one with all the details. In our README (https://github.com/iMicknl/ha-tahoma#device-not-supported) you can find how to gather those missing details.

However, due to the limitations by Somfy, we ar

[2021-02-18 09:25] #389 closed

[2021-02-18 11:05] tillstaff commented on #390
@iMicknl I don't know so much about Python, but I can try to help.
Here is my first Pull Request #391

[2021-02-19 21:45] iMicknl opened #392 "Map TaHoma areas to suggested_areas"
**Is your feature request related to a problem? Please describe.**
Core will soon have support for https://github.com/home-assistant/core/pull/45940, which could be implemented as well for Somfy TaHoma.

**Describe the solution you'd like**
It is possible to pull the area's from TaHoma API on the first setup. This could help users map them to Home Assistant areas.

**Additional context**
Low prior

[2021-02-21 15:18] iMicknl commented on #370
@stavrosso I will have a look for the on/off, need to have a look if this set via the same device. Not sure how climate front-end shows on/off.

I understood that this is not supported in the API as well... During implementation I faced errors when passing a float (comma number) instead of an integer. We could have a look, but I am afraid that this is not supported.

[2021-02-21 17:15] Janthenman67 commented on #352
yes, the issue i still present (unfortunately)

[2021-02-23 15:58] stavrosso commented on #370
Hi Mick,

If you look at the water heater entity (water_heater.modbus_5608763_1_4) you have enabled 3 modes, standard, high demand and OFF mode , I don't know if the OFF command there could help you figure out how to enable the ON/OFF command on the heating. It seems that the device triggered if I switch the Heating ON or OFF from the app is modbus://0810-9263-3428/5608763/1#2  and the commands ap

[2021-02-23 17:57] iMicknl opened #395 "Utilize asyncio.gather in __init__"
**Is your feature request related to a problem? Please describe.**
See https://github.com/home-assistant/core/pull/46930#discussion_r581135927.

**Additional context**
Not investigated the use / advantage of this yet.

[2021-02-25 20:03] Tonylolo commented on #345
Hi,
In order to validate if it is my installation or the integration; I installed the official SOMFY integration (which works on shutters).
As usual, 2-3 days without any problem and then one morning no shutter responds or so under several tens of seconds and I even have an error:
Failed to call the cover / open_cover service. 500 Server error: Internal Server Error for url:
https://api.somfy.com/

[2021-02-25 21:19] tetienne commented on #345
@Tonylolo the error you quoted come from the official api integration not from this one.

The official api is known to be flaky as the Somfy server returns often errors like yours. The only thing you can do is to contact their support. Like I already did several times. Sadly they don't give resources to this api.

[2021-02-26 07:22] Tonylolo commented on #345
Hi

Are you sure because it's appears when i use an entity cover make with tahoma custom integration.

And i always have issue after 1-2days with this integration. Since somfy official is ok...

Sadly i would like use custom that is very good in term of functions!

[2021-03-01 18:08] Tonylolo commented on #345
hi,

i complete following to issue this night:

2021-03-01 19:06:25 INFO (MainThread) [backoff] Backing off execute_commands(...) for 0.9s (pyhoma.exceptions.NotAuthenticatedException: Not authenticated)
2021-03-01 19:06:26 INFO (MainThread) [backoff] Backing off execute_command(...) for 0.5s (pyhoma.exceptions.TooManyExecutionsException: Server busy, please try again later. (Too many executions))

[2021-03-01 21:44] #382 closed

[2021-03-01 21:44] #392 closed

[2021-03-01 21:47] iMicknl commented on #345
This is a different, not related, issue. `(pyhoma.exceptions.TooManyExecutionsException: Server busy, please try again later. (Too many executions))`, see https://github.com/iMicknl/ha-tahoma/issues/261.

[2021-03-02 08:34] pmb91917 commented on #299
Hi, can you please resend the discord invite - the one above has been expired.

[2021-03-02 10:38] creativeosmose opened #396 "Missing / incorrect functionality for DomesticHotWaterProduction (io:AtlanticDomesticHotWaterProductionV2_CE_FLAT_C2_IOComponent)"
**Describe the bug**
Can't enable/disable the away mode (UI button changes, but no change on the heater)
Even switching to auto does not force quit the away mode, I need to do it with the heater buttons.
Enabling Away mode enables it for both heaters (is not applied only to the selected one)
Boost option is not displayed
No # of showers (target nor remaining)

**To Reproduce**
Steps to reproduce t

[2021-03-02 10:54] iMicknl commented on #396
Thanks for reporting. Could you perhaps turn on debug mode and share your device strings?

See https://github.com/iMicknl/ha-tahoma#device-not-working-correctly.

[2021-03-02 12:55] creativeosmose commented on #396
Sure :
For the DHWP Actuator:
Firmware: io:AtlanticDomesticHotWaterProductionV2_CE_FLAT_C2_IOComponent

For the Cozytouch hub:
Firmware: 2020.7.4

[2021-03-03 19:41] BluntVanille opened #397 "Cozytouch : Toweldryer"
Hello here !

I got a Symphonik towel dryer from Thermor. Everything look's ok from the integration but i cannot control anything. Is there a way to got thermostat here ?
![image](https://user-images.githubusercontent.com/77114369/109861978-34d4d480-7c60-11eb-80ce-93e302e8136a.png)

![image](https://user-images.githubusercontent.com/77114369/109862025-40c09680-7c60-11eb-8584-e38d1f79f0fc.png)

Tel

[2021-03-03 20:05] iMicknl commented on #397
@BluntVanille thanks for reporting. Could you perhaps have a look at the README (and the issue template)? We need more information in order to investigate your device.

Please create a [new issue](https://github.com/iMicknl/ha-tahoma/issues/new?assignees=&labels=new-device&template=unsupported-device.md&title=Add+support+for+ModelName+%28io%3ASomfySensorName%29) with the 'Unsupported device' templ

[2021-03-03 20:05] #397 closed

[2021-03-03 20:06] iMicknl commented on #299
@pmb91917 https://discord.gg/XFHTvcBDQU. :)

[2021-03-04 02:06] #349 closed

[2021-03-09 08:31] Jodifoto opened #398 "No devices are coming in except Scenes ( scene.***) (msg: The following integrations and platforms could not be set up ... Please check your config.)"
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
I have installed  ha-tahoma  v2.4.8  and activated debug-logging.

I got no errors and the next results ... where all seems OK:

------------------------------

[2021-03-09 12:50] Amaurgit opened #399 "Add support for AtlanticElectricalTowelDryer (io:AtlanticElectricalTowelDryer_IC3_IOComponent)"
- [x] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**
The integration created 2 entities with all sensors but none are ok (values are wrong or juste not displayed).
I have no switches, nothing usable :)

Atlanti

[2021-03-09 14:30] iMicknl commented on #396
@creativeosmose thanks! Could you please share your full log? (Including the part where devices are added. It would help to understand which commands belong to which device).

I cannot find any related commands to the WaterHeater in your log posted above.

[2021-03-09 14:33] iMicknl commented on #399
Thanks for reporting! Lately we have been busy, thus there are quite some open issues at the moment. You could do the following to help us speed up the development;

[2021-03-09 14:38] iMicknl commented on #398
@Jodifoto thanks for reporting. Could you update to the latest version of Home Assistant? (2021.3.3). We only support the latest versions, since we target `core` with our integration.

[2021-03-09 15:30] Amaurgit commented on #399
Yeah, I tried but I got no outputs on the service `tahoma.get_execution_history` call :(

[2021-03-09 17:47] Jodifoto commented on #398
@iMicknl, thanks for your answer.
I was afraid of loosing my well working (but for me complex) Hassio system (including InfluxDB, Grafana & Mosquitto) inside my Docker on my Synology ... that is why I did not dare to push the upgrade button in the GUI in the past.
 I hope you understand that I would like to ask 2 questions to you and other experts:
-1- is there a risk that things will go wrong & s

[2021-03-09 18:23] iMicknl commented on #398
Best would be to discuss this on the [Home Assistant Community forum](http://community.home-assistant.io/) or on [HA Discord](https://discord.gg/c5DvZ4e).

I am not sure how it is when you run it on Docker on Synology, but always make a backup/snapshot that you can put back.

I will close this issue for now, but feel free to reopen if it wasn't an issue of an HA version that is too old.

[2021-03-09 18:23] #398 closed

[2021-03-10 18:10] tillstaff commented on #265
I made a check with "avahi-discover" but I didn't find anything with my Cozytouch hub.

But I can confirm that I have the same DHCP specification :
Hostname: gateway-xxxx-xxxx-xxxx
MAC address: F8:81:1A:xx:xx:xx

[2021-03-10 19:55] iMicknl commented on #265
Thanks! I believe best way would be to utilise the `zeroconf` and `dhcp` discovery possibilities of Home Assistant.

[2021-03-10 23:01] iMicknl commented on #376
@tillstaff a new version has been published for you :). From here I believe you are able to do some debugging yourselves!

[2021-03-12 09:15] tillstaff commented on #396
I have the same behavior with my water heater (io:AtlanticDomesticHotWaterProductionIOComponent) and cozytouch hub.

[2021-03-12 09:28] iMicknl commented on #396
@tillstaff are you able to add the right commands here perhaps? :)

[2021-03-12 18:05] tillstaff commented on #396
Here are some commands :

Away mode :
[code]
Away mode off :
[code]
Boost mode for 2 days (you can select from 1 to 7 days) :
[code]
Boost mode off :
[code]

[2021-03-14 15:01] jgarec commented on #337
Hi,

We still have to migrate this component.

[2021-03-15 19:54] wzwart76 commented on #249
Yes, but nothing!

[2021-03-15 20:10] iMicknl commented on #249
@wzwart76 also no errors in your log?

Otherwise we could work [via Discord](https://discord.gg/3ssGqebP) (iMick#1903) to see if something else is going wrong. Easiest is if you are able to temporarily change your password, so we can have a quick look, and than change it back.

[2021-03-15 21:20] iMicknl opened #403 "Add support for EvoHome - EvoHomeController (ramses:EvoHomeController)"
**Device information**
![image](https://user-images.githubusercontent.com/1424596/111222714-7ceae400-85dc-11eb-983f-f856caed1f19.png)

Reported by @wzwart76.

**Device details**

- **Hub**: Somfy TaHoma

[code]

**Device commands**
[code]

[2021-03-15 21:25] iMicknl opened #404 "Add support for EvoHome - DHWSetPoint (ramses:EvoHomeDHWSetPoint)"
**Device information**
Unknown what this device does, it looks like a water heater.

Device owned by @wzwart76.

**Device details**

- **Hub**: Somfy TaHoma

[code]

**Device commands**
[code]

[2021-03-15 23:03] #249 closed

[2021-03-16 00:34] iMicknl commented on #381
@nutsben, would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my machine.

[2021-03-16 00:36] #390 closed

[2021-03-16 00:37] iMicknl commented on #355
@kaczkalolo, @nutsben @nutsben, would one of you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my machine.

[2021-03-16 00:38] iMicknl commented on #396
@tillstaff do you want to give this a try, or should I make the changes? :)

[2021-03-16 00:39] iMicknl commented on #399
@Amaurgit do you have [debug mode](https://github.com/iMicknl/ha-tahoma#enable-debug-logging) enabled? And did you check your log after calling `tahoma.get_execution_history`? It doesn't end up on the same page, you manually have to go to your Home Assistant log.

[2021-03-16 10:35] tillstaff commented on #404
This device is already integrated with this core component :
[https://github.com/home-assistant/core/tree/dev/homeassistant/components/evohome](url)

[2021-03-16 10:44] tillstaff commented on #396
@iMicknl I give a try but I don't know why the "turn away mode off" is not working : https://github.com/iMicknl/ha-tahoma/blob/98e88de33ca16adae231cd91b842bf2db975c3b2/custom_components/tahoma/water_heater_devices/domestic_hot_water_production.py#L126-L134
The command is ok but it seems the command is not sent.

And for the boost command, I don't know how to add a preset!

So you should make the c

[2021-03-16 10:56] iMicknl commented on #404
@tillstaff do you know if the EvoHome integration requires another hub? Or if you just plug the USB receiver in a Raspberry Pi?

@wzwart76 could you maybe tell us a bit more about how you connected your EvoHome system to Somfy TaHoma.

[2021-03-16 14:21] wzwart76 commented on #404
The Evohome is connected to my Tahoma to a HGI80 interface via USB.
I will try the core component as well, but I remember having issues with it.

[2021-03-16 16:44] iMicknl commented on #403
@wzwart76 if you could give [this version](https://github.com/iMicknl/ha-tahoma/archive/feature/EvoHomeController.zip) a try and report here if it works. Afterwards I will make sure that this functionality is included in the next release.

[2021-03-16 18:03] iMicknl commented on #299
@Seb0101, @xorassistant, @pmb91917 would someone be interested to go over this issue with me? I would like to implement the required changes and close this issue, but I definitely need someone with this device to help :).

[2021-03-16 19:03] iMicknl commented on #337
Currently blocked since	`water_heater` domain doesn't support presets..

[2021-03-17 08:00] wzwart76 commented on #403
Hi Mick,

Just tried the new version and I can set my Evohome to Auto and Off. Is that the correct behavior?

Grtz,

Willem

[2021-03-17 10:41] iMicknl commented on #403
It should be possible to set your EvoHome to 'holiday' and 'day-off' as well via presets. Is that not supported?

If so; could you share a screenshot of your climate card in Lovelace.

[2021-03-18 08:15] fredleger commented on #322
/reopen

Sorry was quite a busy period and i hadn't much free time to contact you
I will try to do it very soon

Le jeu. 18 mars 2021 à 03:13, github-actions[bot] ***@***.***>
a écrit :

[2021-03-18 21:30] sneekerzzz commented on #352
This is something from the beginning. I was looking for an option to reverse controls but now I found this it explains why.

[2021-03-18 22:05] iMicknl commented on #352
@sneekerzzz could you perhaps post more details about your devices? (firmware of the hub and the device details of the cover where the state is reversed).

I am willing to reverse the states again, however then we will have created issues by others where the device is reversed... It seems that the apps are able to understand how to reverse it, but we haven't been able to figure out where they look

[2021-03-21 12:15] mstuij commented on #261
Hi,

I have the same problem but for me there are no 10 long running operations necessary.

At 06:00 rollers at the front-side of the house are openend. This goes always good without errors and always exactly at 06:00.

At 07:00 my rollers at the side of the house are planned to open. This goes almost every time wrong. I get this error:

`2021-03-17 07:00:00 INFO (MainThread) [backoff] Backing off

[2021-03-23 17:47] jaddel opened #409 "[custom_components.tahoma] Too many requests, try again later."
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**

Somfy shades being unresponsive.
My pooling intervall is set to 180sec.

The HA core log says:

[code]

**Environment (please complete the following informati

[2021-03-23 17:52] iMicknl commented on #409
Unfortunately this is not something we can control, since it is caused by the rate limiting by Somfy. With normal use, you should not face this error. Based on your log, it seems that you hit this error on Home Assistant start.

We face this error mainly during the development of this integration. @jaddel did you perhaps restart your Home Assistant many times in a row? (or do you use this integrat

[2021-03-23 17:56] jaddel commented on #409
thanks for your quick reply. No, i don't use it on multipel instances. Indeed i just restartet homeassitant because the shades weren't working. Any how I have this issue since i installed the integration around 4 weeks ago. In the beginning the pooling was set to 30sec because off the errors shown in the logs i set it to 180sec but it doesn't seem to make any difference.

[2021-03-23 18:03] iMicknl commented on #409
When you face this error, best is to disable (or remove) the integration for some hours. Afterwards you can re enable the integration.

A polling of 30 seconds should be fine though, thus I am not sure why this is an issue. Normally it only happens when you restart a few times in a small timeframe.

[2021-03-23 20:56] jaddel commented on #409
ok I'll try. Thank you!

[2021-03-27 07:00] sdsmart81 opened #410 "Somfy TaHoma Z-Wave USB-Modul 1822492"
Somfy TaHoma Z-Wave USB-Module

Somfy TaHoma Z-Wave USB-Stick (Somfy No 1822492) seems to be currently not supported under the TaHoma custom components. I would like to use this module to integrate Z-Wave devices also from other brands (e.g. Aeotec Nano Dimmer) into my home assistant environment. Could this be added to the TaHoma custom components?

**Device details**
DEBUG (MainThread) [custom_co

[2021-03-27 10:05] jaddel commented on #409
I followed your suggestion and disabled the integration over night. Since then I hade no errors.

Thank you.

[2021-03-27 10:05] #409 closed

[2021-03-27 16:36] vlebourl commented on #410
hi, thank you for your interest in our project. As you may have seen, we have a lot of open tickets in our issue tracker. As ZWave is natively supported by Home Assistant, we don't plan to add it ourselves to this integration. If you want to help us and provide us with the support, feel free to fork the project and open a PR with your proposition. We would be very happy to review it and integrate

[2021-03-27 16:38] #410 closed

[2021-03-27 17:12] iMicknl commented on #410
@sdsmart81 just out of interest, what would be a reason to use Z-Wave devices via the Somfy TaHoma hub, instead of directly in Home Assistant? :)

And which Z-Wave devices do you use? The debug details that you included only contain your stick, but no individual device. It could be that some of your devices (like dimmers) are already supported.

[2021-03-28 01:50] #350 closed

[2021-03-28 14:28] kassai opened #411 "[UpDownHorizontalAwning] Open and close buttons are reversed"
**Describe the bug**
The sun blind open and close buttons in Home Assistant are reversed/inverted.

By clicking on the "open" icon, you trigger the blind to be closed.
By clicking on "close", you open the blind.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the Home Assistant Lovelace view containing the blind.
2. Click on the "close" icon/button and watch the blind open.
3. Click o

[2021-03-28 18:26] sdsmart81 commented on #410
Hi Mick,

 

Thanks a lot for your reply! I was hoping to connect my new Aeotec Nano Dimmer into my smart home environment using the Somfy TaHoma Z-Wave USB Stick which I already have since I don't have any Z-Wave gateway. Unfortunately Somfy is not supporting the Aeotec Nano Dimmer on their portal. My second hope was that maybe I could connect with help of your TaHoma custom component, which by t

[2021-03-28 18:52] tetienne commented on #410
@sdsmart81 If you have a ZWave key on your Tahoma box, just remove it and plug on the computer where HA is hosted. Then enable the Zwave-JS integration: https://www.home-assistant.io/integrations/zwave_js/

Zwave on the Tahoma box is really limited.

[2021-03-28 19:26] iMicknl commented on #410
@tetienne not sure though if the Z-Wave stick from Somfy TaHoma is supported in Home Assistant, but indeed I would give it a try with the native Z-Wave integration.

@sdsmart81 if the log doesn't show any other unsupported devices than `zwave:NodeComponent`, this integration can't help you either... We depend on the Somfy TaHoma API and if it doesn't show up in tahomalink.com, your device won't be

[2021-03-28 19:31] tetienne commented on #410
@iMicknl Mine came from Somfy: https://boutique.somfy.fr/cle-zwave-pour-tahoma.html
It works well with HA.

[2021-03-31 17:06] iMicknl commented on #403
@wzwart76 should we merge this, or is it not working yet? :-)

[2021-04-01 15:29] PoVPoV29 opened #412 "Add support Somfy outdoor Camera shutter (private life option)"
Hello,
I have a Somfy Outdoor Camera and the status of the virtual shutter (virtual is because the camera is filming or not : there is no mechanical shutter) is not updated in HA. :
cover.allee | unknown | core:CloudDeviceStatusState: online friendly_name: Allée supported_features: 3 device_class: shutter

Thanks for your help.
Regards
Alain

[2021-04-03 01:51] #351 closed

[2021-04-04 16:53] RienduPre opened #413 "Somfy Doorlock"
I have a question, is the Somfy doorlook also supported by this plugin?

THanks,
Rien

[2021-04-04 19:13] vlebourl commented on #413
hi, the old lock is supported as long as you have the wifi bridge with it to connect it to your tahoma box. it's a stateless lock, do you can lock and unlock from HA but no way to know the state of the lock or whether the action succeeded.

[2021-04-05 12:09] RienduPre commented on #413
Ok thanks.
Not really what I'm looking for, because it's stateless.

[2021-04-05 12:09] #413 closed

[2021-04-05 12:22] iMicknl commented on #413
@RienduPre if there are locks from Somfy that are stateful, they could easily be supported with this integration. But indeed, I don't think they offer stateful locks.

[2021-04-05 13:31] vlebourl commented on #413
I think the new one will be stateful. Unfortunately, even on the Tahoma box the current one is stateless... It is strange because the dedicated app knows the state. No idea why they limited it on the Tahoma box...

[2021-04-05 20:13] kaczkalolo commented on #355
Will get in touch with You this week.

[2021-04-07 01:54] #345 closed

[2021-04-07 20:17] gerardsamara commented on #355
Hi ,

I am new to this ha-tahoma integration using the cozytouch bridge to manage an Atlantic PAC Alfea Duo PAC .

I have 2 devices unsupported as per log below 👍
`2021-04-07 12:07:07 DEBUG (MainThread) [custom_components.tahoma] Unsupported device detected (io:AtlanticPassAPCHeatPumpMainComponent - HeatingSystem - AtlanticPassAPCHeatPump - io://0831-3115-3482/1086078#1)

2021-04-07 12:07:07 DEBUG

[2021-04-07 20:39] iMicknl commented on #355
@gerardsamara welcome! You don't need to open a new issue, since this one and https://github.com/iMicknl/ha-tahoma/issues/381 are already present. :)

[2021-04-08 22:23] iMicknl commented on #412
@PoVPoV29 what is your actual question? Is this device currently not supported?

Please don't remove the bug report template, since it mentions all the information we need. Could you perhaps create a new issue with all the required details? (don't forget to turn on debug mode).

[2021-04-08 22:23] #412 closed

[2021-04-08 22:32] iMicknl commented on #411
@kassai thank you for reporting! To be honest, I am not sure if this is an issue we can fix. We just map open to open and close to close...

Could you give the `cover.close_cover` and `cover.open_cover` a try? I wonder if this is working well and if the icons are just confusing. Does it work for you via tahomalink.com?

[2021-04-10 16:39] labr3y commented on #351
Hello,

I've got the same issue. It's been like since the start (about 1 year ago).
Beside the awning, all other Somfy equipment report the correct states in HA.

I went through several Tahoma firmwares and several Home Assistant releases, and no improvement as been seen.

Currently I'm on these releases :
Tahoma firmware : 2021.1.4-12
Home Assistant : docker 2021.4.3
HA Tahoma : 2.4.8

Below, on

[2021-04-12 11:03] vlebourl opened #415 "Climate devices do not account for unavailable status"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
When sensor is unavailable, somfy smart thermostat tries do convert to float8 and fails with an Error. This should be accounted for.
[code]

**Environment (ple

[2021-04-12 11:04] vlebourl commented on #415
I'll have a look later.

[2021-04-13 11:42] #415 closed

[2021-04-13 11:58] iMicknl commented on #352
@Janthenman67, @sneekerzzz, I would like to see if I can tackle this issue this week. Is anyone willing to work with me via Discord to see if we can debug / fix this issue? Would be great to have this solved before the integration is added to core.

Join us on Discord (https://discord.gg/3Wpn6q9z or add iMick#1903, to discuss in more detail. Eventually the easiest would be if you are able to chang

[2021-04-13 12:57] iMicknl commented on #351
@labr3ythank, I would like to see if I can tackle this issue this week. Is anyone willing to work with me via Discord to see if we can debug / fix this issue? Would be great to have this solved before the integration is added to core.

Join us on Discord (https://discord.gg/3Wpn6q9z or add iMick#1903, to discuss in more detail. Eventually the easiest would be if you are able to change your passwor

[2021-04-13 13:11] labr3y commented on #351
I could help with that. I'll try to join you later on discord after work. We can see how and when we can do some testing.

[2021-04-13 13:26] iMicknl commented on #386
I am not able to test this easily, since I don't have such devices, but I believe we should loop through the entity list in async_added_to_hass to determine if there is a supported parent device.

[2021-04-13 13:27] iMicknl commented on #369
Related to #300. Maybe as a quick fix, we can set the update interval very high if we just have RTS devices?

[2021-04-13 19:51] iMicknl commented on #411
As a follow up question, does your awning have a horizontal position or is it a vertical screen? Would be good to understand how it is mounted.

[2021-04-13 20:10] iMicknl commented on #352
Apparently, both of you (@Janthenman67 / @sneekerzzz) have a vertically mounted cover, but the motor is of the type PositionableHorizontalAwning (`io:HorizontalAwningIOComponent`).

Executing `cover.open()` will close the cover, even though we call the device commands 'up' or 'open'.

Executing `cover.close()` will open the cover, even though we call the device commands 'down' or 'close'.

It seem

[2021-04-13 20:14] iMicknl commented on #350
@sergiojus, @Steve3581, is this issue still present?

I would like to see if I can tackle this issue this week. Is anyone willing to work with me via Discord to see if we can debug / fix this issue? Would be great to have this solved before the integration is added to core.

Join us on Discord (https://discord.gg/3Wpn6q9z or add iMick#1903, to discuss in more detail. Eventually the easiest would b

[2021-04-13 20:17] kassai commented on #411
Thanks for the reply, @iMicknl. It's horizontal. I'll give it a try with the `cover.close_cover` and `cover.open_cover' as soon as it has stopped raining and I'm at home. It works correctly and as expected using the Tahomalink website.

[2021-04-13 20:20] iMicknl commented on #411
And just to be sure, the icons should function like [this](https://github.com/home-assistant/frontend/issues/5513#issuecomment-611700710). I find them highly confusing myself...

[2021-04-13 20:39] kassai commented on #411
Reading the other post, I'm a bit confused.

Step-by-step,
1. I push the left button and there is an icon with an arrow pointing upwards showing up to the very left. The arrow indicates that it is closing, which is true. The button that I pushed incorrectly indicates that I'm opening it.
![image](https://user-images.githubusercontent.com/1950523/114617381-5639cf00-9ca8-11eb-9289-76fb02a4b623.png)

[2021-04-14 05:37] tetienne commented on #411
Just to clarify. For HA, the expand button (on the left) means open and the collapse button means close.

That's something we cannot change.

To confirm this, play with the Tahoma interface. Collapse and expand the awning and check the icons are correct.

[2021-04-14 09:54] kassai commented on #411
When I press the left button (=expand button to the left), it closes in reality (and is logged as if it is opening). Sorry if I was unclear in my previous comment.

[2021-04-14 09:55] tetienne commented on #411
@kassai Can you please define what you mean by close: collapsed or expanded?

[2021-04-14 09:59] kassai commented on #411
@tetienne - it collapses/shuts/retracts when I click the expand button.

[2021-04-14 19:19] tetienne commented on #411
Waiting for a potential fix, you can use a cover template, to reverse the command of your awning: https://www.home-assistant.io/integrations/cover.template/

[2021-04-14 20:34] labr3y opened #419 "[awning] Closure & position states are incorrect"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
The states are correctly reported for the horizontal awning, but for the vertical awning the following states are reversed :
core:ClosureState
core:OpenClosedS

[2021-04-14 20:43] iMicknl commented on #411
I had the same thought, maybe we need to document this one properly. The thing I can't understand yet is why tahomalink.com shows the right result for all users, are we missing something?

[2021-04-15 19:26] HFeenstra opened #420 "Somfy Tahoma invalid auth"
Hello, I had Somfy Tahoma as an integration working, until 2 days ago, April 13th 2021.
HA prompt me to add/retype the password, so I did, but mismatch password…?..

So I opened the Somfy Tahoma app, useless piece of work but ok; password in there worked fine.
Back to Somfy Tahoma integration in HA, no success. Finally deleted the whole Somfy Tahoma integration, rebooted HA but now I can not even

[2021-04-16 10:08] iMicknl commented on #420
Duplicate of https://github.com/iMicknl/ha-tahoma/issues/278.

They did some updates to the service a few days ago, which could maybe result in this behavior. Currenlty we try again very often when we receive a Bad Credentials, which could perhaps result in a temporary ban. This is something that is on our list, but bandwidth is limited unfortunately.

My advice would be to just wait a few days, t

[2021-04-16 11:47] creativeosmose commented on #396
@iMicknl  First of all, thanks for your work!
Here's the status with the latest version:

- Boost mode _cannot_ be turned on from HA.
- If Boost mode is turned on via Cozytouch app (or on the heater directly) turning off Boost mode is unreliable from HA (I managed only once out of 30+ tries).
- Away Mode does not work

As a suggestion, wouldn't it be easier to have the Boost mode as an I/O switch

[2021-04-16 13:25] Rschack commented on #420
Same here, I can login with somfy-connect.com , but not on tahomalink .
Stopped working a few days ago.

[2021-04-16 21:18] HFeenstra commented on #420
@iMicknl thank you for your reply. I already changed my password several times, signed in on various apps and tablets all working fine. Just the integration was falling.
Glad to hear it sounds familiar. Will wait a few days. Hopefully others will comment once it’s working against has an update

[2021-04-16 21:21] iMicknl commented on #420
@HFeenstra did you remove the integration for a while? It seems that your IP / session has been blacklisted and it could take some time to have this removed.

Changing your password won't help though.

[2021-04-17 08:25] HFeenstra commented on #420
@iMicknl Thanks, dank ;)

I will try your tip. So will remove the integration as a whole, also in the HACS interface.
Then I will let it sit for a while, 24-48 hours? Any experience with it in the past?

(The integration was already removed, so just the HACS Integration has been removed) Rebooted HA afterwards, will let it sit for a while.

Will be continued...

[2021-04-18 14:03] creativeosmose commented on #396
Hi,
I saw the water heater on away mode this morning (not good for the WAF as you can imagine).
I’ll do more testing to find out where the issue is (request delay, display issue on HA and Cozytouch, etc).

[2021-04-18 14:15] iMicknl commented on #420
You don't need to remove the integration files, just make sure it is not added on your Integrations page in HA anymore.

[2021-04-18 14:25] iMicknl commented on #399
@Amaurgit if you update to v2.4.9, the `tahoma.get_execution_history` service should output your commands in the log! :-)

[2021-04-18 14:50] #403 closed

[2021-04-18 14:50] #395 closed

[2021-04-18 16:31] iMicknl commented on #223
I started on this one, however there is a lot of work to be done.

Sneak peek:
<img width="333" alt="Screen Shot 2021-04-18 at 18 31 39" src="https://user-images.githubusercontent.com/1424596/115153078-55bc8200-a074-11eb-95a6-75c9488365ab.png">

[2021-04-18 18:24] Hankey71 commented on #399
Hi !
Following a discussion with @iMicknl, I bring some information on my configuration and my feedback on ha-tahoma.

**Config**
Cozytouch Bridge with Thermor material:
- 3 "Equateur 4" radiators in the same room (twin radiators)
- 1 "Malicio 2" water heater
- 1 "Allure 3 Classique" towel warmer
Home Assistant 2021.4.5 on Raspberry Pi 4b
I have both integrations (Cozytouch by Cyr-ius and Somfy Ta

[2021-04-18 20:54] HFeenstra commented on #420
@iMicknl Thanks I did what you suggested.
I noticed the new update, so I updated to the latest version, tried again to sign in with the Somfy Tahoma integration. Again no success.
Of course checked the password in the online environment, that is working fine. So the integration is still not running, the integration in HACS is still installed, again with the latest version.

Hop e to hear what can

[2021-04-19 10:17] tetienne commented on #352
@sneekerzzz @Janthenman67 Any chance you can try this branch: https://github.com/iMicknl/ha-tahoma/pull/427? It should solved your issue.

[2021-04-19 10:17] tetienne commented on #411
@kassai Any chance you can try this branch: https://github.com/iMicknl/ha-tahoma/pull/427? It should solved your issue.

[2021-04-19 10:17] tetienne commented on #419
@labr3y  Any chance you can try this branch: https://github.com/iMicknl/ha-tahoma/pull/427? It should solved your issue.

[2021-04-19 10:39] iMicknl commented on #420
@HFeenstra, @Rschack if you still face issue. Could you send me (via email listed on my profile) your email address? We have been in contact with Somfy about this issue and having your username would help.

[2021-04-19 11:02] labr3y commented on #419
@tetienne @iMicknl
I tried. It's still not working.
It's the vertical one that has issues. From what I understood in the modifications in cover.py, it's oriented toward horizontal issues.
I'm available on discord if needed.

developer-tools/state when it's closed :
[code]

[2021-04-19 11:45] Hankey71 commented on #304
Hi !
Here are the logs for the radiators in paired mode (3 "Thermor Equateur 4" radiators in the same room) with the different commands.
**Equipment**
io_15417413 : Thermor Equateur 4 vertical 2000W
io_385209 : Thermor Equateur 4 horizontal 2000W
io_9372945 : Thermor Equateur 4 horizontal 1000W

**Orders with code**
PROG -> OFF
`2021-04-19 12:24:03 INFO (MainThread) [custom_components.tahoma] 2021

[2021-04-19 12:07] tetienne commented on #419
Thx.

For reference:

[code]

[2021-04-19 12:18] Hankey71 commented on #399
Hi !
Here are the logs for the towel dryer.

**Equipment**
io_4497128 : Thermor Allure 3 Classique 1500W avec soufflerie (wind tunnel in french)

**Orders with code**
PROG -> OFF
`2021-04-19 13:01:30 INFO (MainThread) [custom_components.tahoma] 2021-04-19 12:46:03: setTowelDryerOperatingMode executed via Android 2.5.1#236 Set device mode : OFF on io://0832-5072-2181/4497128#1, with ['standby'].`

[2021-04-19 15:28] HFeenstra commented on #420
Just send you an email, thanks!

[2021-04-19 16:20] Janthenman67 commented on #352
I installed the ZIp file and i got this:

![image](https://user-images.githubusercontent.com/69641492/115269756-e7db8d80-a13b-11eb-9d18-09fb9f53f4b2.png)

it's the other way arond (arrows and state as well)

[2021-04-19 16:23] Janthenman67 commented on #352
strange thing, because in the UI it looks like this at the same time
(the switch shows open (its not working anymore tho, and the camera proves it is indeed open)
![image](https://user-images.githubusercontent.com/69641492/115270083-443ead00-a13c-11eb-879e-d3a566d3f5b3.png)

[2021-04-19 16:48] sbik38 commented on #420
Same on my side.
I disabled the integration 3 days ago, but I still cannot login on Tahomalink.com (Login through Phone app works, login through Somfy web site works too).
I just try to update the integration through HACS, and enable again the integration ==> Same result
All my tahoma entities are still "undefined"
Usually when I uninstall the integration  and try to reinstall it, the system rejec

[2021-04-19 16:50] iMicknl commented on #420
@sbik38 unfortunately we cannot change this. If you send me your email (your login username) to my email (see my profile), I will add it to the email to Somfy.

[2021-04-19 17:22] sneekerzzz commented on #352
Quick screen shot

Op ma 19 apr. 2021 om 18:23 schreef Janthenman67 ***@***.***>:

[2021-04-19 18:52] XalaTheShepard opened #428 "ha-tahoma V2.4.9: all entities unavailable"
Dear team,

After the update to V2.9.4 all my tahoma entities have become unavailable.
I am using a supported device (Tahoma Box) and the integration is installed on HA supervised in VM.
Untill update V.2.9.3 everything was running fine.
Also all scenes have become unavailable.
Furthermore, I have no issues logging in into Tahomalink from the same IP.

Could you please inform me which steps I can

[2021-04-19 19:08] iMicknl commented on #428
@XalaTheShepard does it work when you rollback to 2.9.3? Could you please include your log.

[2021-04-19 19:43] iMicknl commented on #399
@Amaurgit, Hankey71;

I published a first version, you could give it a try here https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/AtlanticElectricalTowelDryer.zip. Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-04-19 20:03] XalaTheShepard commented on #428
I have to set up samba first to roll back. Also, I will share the logs later as I have discovered a very stranger bug. If I delete the Tahoma integration from both the Integrations page and HACS and reboot, everything works fine again. When I reinstall the Tahoma integration again and reboot, everything is unavailable again... So somehow the Tahoma integration keeps running in the background, even

[2021-04-19 20:22] sbik38 commented on #420
@iMicknl
email sent !
Thanks

[2021-04-19 20:26] XalaTheShepard commented on #428
I got only 1 issue related to the Tahoma integration in the logs:
__init__() missing 1 required keyword-only argument: 'last_update_time'
Traceback (most recent call last):
  File "/config/custom_components/tahoma/__init__.py", line 114, in async_setup_entry
    places = await client.get_places()
  File "/usr/local/lib/python3.8/site-packages/backoff/_async.py", line 133, in retry
    ret = await