[2021-04-19 20:32] XalaTheShepard commented on #428
I am running the latest firmware of the Tahoma box (2021.1.4-20). It was an update of a day or two ago.

[2021-04-19 20:56] jugla opened #429 "Add support for Thermor Equateur 3 (io:AtlanticElectricalHeaterWithAdjustableTemperatureSetpointIOComponent)"
- [x] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**
Thermor Equateur 3

**Device details**
[Thermor Equateur 3](https://docga.plateforme-services.com/api/download/documents_5fe5d6f2-ee6f-49c1-ad62-76f7387d7e8b

[2021-04-19 21:02] tetienne commented on #352
@Janthenman67 did you customize your awning entity? It's well an horizontal device?
Mine looks like this

![image](https://user-images.githubusercontent.com/8216238/115302904-394b4300-a163-11eb-8fea-900ac010a36e.png)

On your camera, I don't understand what I see sorry.

[2021-04-19 21:10] Janthenman67 commented on #352
Mine looks like this. It is closed now (so: down position) No, i didn't customize. It is a screen you were looking at. It is simular o a gragedoor and closes or opens the cabin in the garden.

![image](https://user-images.githubusercontent.com/69641492/115303571-14a39b00-a164-11eb-8419-954a8819980f.png)

[2021-04-19 22:36] Hankey71 commented on #399
Hi !
I just installed the new version.
Here is my feedback.

My towel dryer is recognized
![Appareil Ha Tahoma](https://user-images.githubusercontent.com/61835259/115310201-b8de0f80-a16d-11eb-8d70-7ee9c314045a.jpg)

I have a new "climate" entity
![Appareil seche serviette](https://user-images.githubusercontent.com/61835259/115310229-c3000e00-a16d-11eb-8706-2ca4bef31e8e.jpg)

On this entity, I can

[2021-04-19 23:08] Hankey71 commented on #399
Here are the feedback on frost protection mode (7° C) and summer mode (0° C).

From the application, to launch these two modes, you must be in MANU. This is not possible in PROG.
So in my logs I have:
-> MANU mode
`2021-04-20 00:48:06 INFO (MainThread) [custom_components.tahoma] 2021-04-20 00:46:51: setTowelDryerOperatingMode executed via Android 2.5.1#236 Set device mode : MANUAL on io://0832-507

[2021-04-20 05:57] kassai commented on #411
I have limited time during the coming days, but will try it out during the weekend.

[2021-04-20 07:04] tetienne commented on #352
@iMicknl Any idea why this awning is returned as a blind? I have the exact same device io:HorizontalAwningIOComponent which is displayed as an awning for me.

[2021-04-20 07:43] Janthenman67 commented on #352
No, I changed the entity to "Blind", because it's not an Awning. I easily can change it back ofc. but the awning switches (in or out) instead of arrow up and down) don't make much sense in my case.
![image](https://user-images.githubusercontent.com/69641492/115357366-db4b4980-a1bc-11eb-8c2d-321e9c91d795.png)

[2021-04-20 07:45] iMicknl commented on #352
The device class is changed in the HA interface, but this shouldn't make a difference in terms of functionality.

Both users in this issue have their HorizontalAwning vertically mounted by the way.

[2021-04-20 08:08] tetienne commented on #352
I think I got it. You are using an awning motor to act like a blind. For an awning, close means the device is collapsed, but for a blind it means uncollapse. So it’s why it behaves in the opposite way for you.

So I’m curious, within the Tahomalink website, how the device is displayed when collapsed or uncollapsed?

[2021-04-20 08:37] Janthenman67 commented on #352
I'm not even sure I use that site. I'm not using any app either. I only registerred the conexoon once. So I have to check.

[2021-04-20 08:51] sneekerzzz commented on #352
IT looks like this

On Tue, 20 Apr 2021, 10:38 Janthenman67, ***@***.***> wrote:

[2021-04-20 08:52] iMicknl commented on #352
@sneekerzzz it seems that your images are not coming through since you replied via email. Could you perhaps upload them via github.com?

[2021-04-20 10:41] sbik38 commented on #420
seems to be backto normal today !  Tahomlink login is OK again

[2021-04-20 14:06] Janthenman67 commented on #352
The only thing I ever did was registering the connexoon on the somfy website and chose (because I had to) for the Terrace app. Then I connected the remote that comes with the screent to the Connexoon. I never bothered to download the Terrace app  but went straight to HA and took it from there.

[2021-04-20 14:11] iMicknl commented on #352
Do you still have the app? It would be good to understand if they are visualizing it reversed as well.. The limits of this integration are at the data we receive from the Somfy API's.

[2021-04-20 14:13] Janthenman67 commented on #352
no, but I can download it of course and see how it shows

[2021-04-20 15:32] Janthenman67 commented on #352
Ok, I give up on the app. not possible to login too. The screen only shows for half a second. Those Somfy apps have room for improvement, just saying.

[2021-04-20 16:36] XalaTheShepard commented on #428
Many thanks for looking into it. I will try to roll back to a previous version in the meantime. If I somehow can help testing it, please let me know. :)

[2021-04-21 21:50] iMicknl commented on #429
Thanks for reporting, @jugla! It seems that this device is very popular with Cozytouch users, thus we need to see if we can work on this in the coming weeks.

I will close this issue, let's continue the conversation in https://github.com/iMicknl/ha-tahoma/issues/304. In the mean-time, you could give https://github.com/tillstaff/ha-tahoma/archive/refs/heads/enhancement/AtlanticElectricalHeaterWithA

[2021-04-21 21:50] #429 closed

[2021-04-22 04:44] alexebner opened #430 "Actions open,close and stop for IO blind devices"
Please add the possibility to configure the action open,close and stop for IO blinds in the visual editor.

IO blinds
![grafik](https://user-images.githubusercontent.com/26386738/115656841-305e9b00-a336-11eb-8e12-37b3afef2c79.png)

RTS blinds
![grafik](https://user-images.githubusercontent.com/26386738/115656778-0dcc8200-a336-11eb-995f-b7a1f4ee839e.png)

It does work when i configure in the yaml e

[2021-04-22 06:53] tetienne commented on #430
@alexebner If you select the cover entity (and not the device), you will see the actions you are looking for.

[2021-04-22 07:26] alexebner commented on #430
How can i select the entity

![image](https://user-images.githubusercontent.com/26386738/115673347-d2897d80-a34c-11eb-9a22-048670952641.png)

[2021-04-22 07:33] tetienne commented on #430
Select `Call service`, then `close/open/stop cover`

[2021-04-22 07:42] tetienne commented on #430
@alexebner I double checked your 1st comment, can you give us more details on the device where the open and close actions are not displayed?
Look for it, and show us the attributes here: https://my.home-assistant.io/redirect/developer_states/

[2021-04-22 08:32] alexebner commented on #430
Here its showen
![image](https://user-images.githubusercontent.com/26386738/115682770-13d25b00-a356-11eb-893f-a2b43922b8ce.png)

here its not showen
![image](https://user-images.githubusercontent.com/26386738/115682548-dc63ae80-a355-11eb-829d-3504ea4f2679.png)

[2021-04-22 13:35] VoetenK opened #431 "GenericRTSComponent not recognized in 2.4.9"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '..

[2021-04-22 13:58] VoetenK commented on #431
Since the update v2.4.9 my GenericRTSComponent are no longer added. To fix this I have to uninstall v2.4.9 in HACS and then install V2.4.6. Then my GenericRTSComponent will be added again. Then I can install v2.4.7 and then 2.4.8. If I install v2.4.8 directly my GenericRTSComponent are not added.

Versie Tahoma Box V2021.1.4-20

My log:

V2.4.6

2021-04-22 15:14:50 WARNING (MainThread) [homeassist

[2021-04-22 20:29] HFeenstra commented on #420
Too bad, ever since @sbik38 post the above link I have not been able to sign in.
Even uninstalled and re installed.
So I will wait patiently to a more firm solution. Thanks anyway for the help thus far.

[2021-04-22 21:03] iMicknl commented on #420
@HFeenstra we already got in touch with Somfy and the only thing I can think of, is that you are still hitting the API. Are you sure that you are not calling the API from your IP?

Your account was temporarily banned and this should be resolved if you stop hitting the API for at least 10 minutes. I am not sure why this is still an issue on your side, but otherwise you would need to contact Somfy s

[2021-04-23 14:20] iMicknl commented on #430
I am not sure why this doesn't work though, it seems that this is part of 'device_actions', which is based on the supported features.

There are workarounds for this issue, thus this won't be prioritized, however perhaps someone wants to have a look.

https://github.com/home-assistant/core/blob/dev/homeassistant/components/cover/device_action.py

[2021-04-23 14:22] iMicknl commented on #431
Thanks for reporting. Upgrading via 2.4.7 to 2.4.8 or starting with 2.4.8 should not have a difference.. We need to have a look what has been changed in 2.4.9.

[2021-04-23 14:33] VoetenK commented on #431
Apparently it makes a difference somewhere. I tested it first on a test installation and then on my good installation. There I even had to go back to v2.4.5 and after that I could immediately go to v2.4.8.

[2021-04-23 15:22] iMicknl commented on #431
@VoetenK could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/support_RTSGeneric.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-04-23 15:26] iMicknl commented on #428
Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/428.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-04-23 15:34] iMicknl commented on #430
This is not an issue of this integration, but 'a feature' in core. If you would like to see this changed, you could see if you (or someone else) would be able to make the changes in core.

The logic is stored here:
https://github.com/home-assistant/core/blob/dev/homeassistant/components/cover/device_action.py#L78

[2021-04-23 15:34] #430 closed

[2021-04-23 17:05] VoetenK commented on #431
I replaced my custom_components/tahoma with the fix's custom_components/tahoma. All my GenericRTSCompones have been added. At HACS it is still stated that I have to do the update v2.4.9.

[2021-04-23 19:49] iMicknl commented on #431
Great to hear! Indeed the version didn’t change yet. We will include this change in the upcoming version.

[2021-04-24 14:26] XalaTheShepard commented on #428
Sorry for the late response. I will give it a try this evening and inform  you immediately. Many thanks.

[2021-04-24 14:54] #431 closed

[2021-04-24 15:49] XalaTheShepard commented on #428
I have tested the fix and now everything works perfectly. Many thanks for the solution.

[2021-04-24 15:53] #428 closed

[2021-04-25 12:48] fredleger commented on #322
/reopen still an issue
will contact @iMicknl

[2021-04-25 12:56] fredleger commented on #322
Invite sent my discord id is FredLight#2093

[2021-04-25 13:20] iMicknl commented on #376
@segaura could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/AtlanticHeatRecoveryVentilation.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

Even though the name is (here) still TaHoma, it will also work with Cozytouch ;-).

[2021-04-25 14:46] segaura commented on #376
Sorry, but I am not aware of the architecture of ha components, so I need to be guided.

I extracted the zip like this

[code]

And ha logs are the same as before, e.g. without these folder and files, at least with my WARNING level setup

    2021-04-25 12:57:36 WARNING (MainThread) [cozytouchpy.handlers] Error building device, skipping: Unknown device AtlanticHeatRecoveryVentilation

[2021-04-25 15:38] iMicknl commented on #376
@segaura the cozytouch integration is a different integration. If you want to give the Somfy TaHoma integration a try, you would need to put the `tahoma` folder in custom_components and add the integration in HA.

We are working to bring this integration to core and we will rename it to Overkiz, since it supports Cozytouch and other bridges as well.

See https://github.com/iMicknl/ha-tahoma#instal

[2021-04-25 17:20] segaura commented on #376
OK, sorry, my original issue was on hass-cozytouch so only now I sorted things out, thank you.

I manually installed ha-tahoma, configured it, added the extracted folder and things works:
- no ERRROR/WARNING in the log
- maaany sensors and scenes populated, long more than I'm aware of or than I can think are needed

I can find the correspondence between this temperature and their meaning

![image]

[2021-04-25 17:32] iMicknl commented on #376
You should also see a climate entity, if you used the zip that I sent. Do you see any errors in your log regarding to the tahoma integration? (turn on debug mode as described in the README).

[2021-04-25 20:42] segaura commented on #376
Only now I understand how to use the zip, sorry.
Now I have done what you suggested.

I see the climate entity, wow!

In the "**ventilation**" section, the "Boost command" I needed works, thank you.
It is in the "ventilation" section.
In the same section:
- "automatic" also works (useful to cancel a boost)
- "high" also works and corresponds to "kitchen boost" (do not apply to my house setup but m

[2021-04-25 20:58] iMicknl commented on #376
@segaura no worries! Great to hear that it did work. Indeed, this is just a test version and quite some things need to be fixed, thus your feedback is more than welcome.

@tillstaff did you already make changes to this device? Or didn't you own this device, I don't recall :-).

[2021-04-25 22:09] iMicknl commented on #322
https://github.com/dubocr/homebridge-tahoma/blob/73f9a6200c64ac8179a3ff60e864762f58bfdff0/src/mappers/HeatingSystem/AtlanticPassAPCHeatingAndCoolingZone.ts

It seems that we need to inherit the cooling or heating state from the parent device...

[2021-04-25 22:12] iMicknl commented on #381
@nutsben in case you are still interested;

Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/AtlanticPassAPCHeatingAndCoolingZone.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-04-27 12:39] PoVPoV29 opened #434 "Disarm alarm activate private life option on somfy outdoor camera"
Hello,
When I launch the following service  :
`service: alarm_control_panel.alarm_disarm
target:
  entity_id: alarm_control_panel.cuisine`

("cusine" is my Somfy one device)

the "virtual" shutter of my Somfy outdoor camera is activate.
I don't know if it's a bug or a API issue on Somfy side.
Here the information for the virtual shutter on my Somfy outdoor camera :
`core:CloudDeviceStatusState: on

[2021-04-27 14:06] creativeosmose commented on #396
Hi,
Was the change removed? On the master I can't seem to find the boost option anymore.
Thanks,

[2021-04-27 16:30] tillstaff commented on #376
@iMicknl I did'nt make any changes on this device and I own the first version of the Optimocosy.

For my side:
- AUTO and MANUAL presets are working but I have a problem with the state because the update of this state is sometimes wrong ('io:VentilationConfigurationModeState': unknown), maybe a refresh command could help
- fan control are working
- cooling mode doesn't work

@segaura the -40°C sen

[2021-04-27 16:38] tillstaff commented on #396
@creativeosmose "boost" option is only available with the test build of the PR #407 and is not working well for now

[2021-04-28 07:07] alexebner opened #435 "Too many requests, try again later"
I have migrated the automation from my blinds over tahoma to Homassistant.
Now i get very often "Too many requests, try again later".

I have tryed to take the HA offline over night but in the morning the second action does not work because too many request.

In my last home automation system (Homey) i had never problems with that. I know that i was getting an email fom somfy with the info that th

[2021-04-28 10:53] iMicknl commented on #435
Could you include a bit more information? Which hub do you use and what is your current configured update interval in Home Assistant?

And do you perhaps run the Homey version next to Home Assistant?

[2021-04-28 12:08] alexebner commented on #435
Sorry!

I am using a Somfy Tahoma Premium Device with:
5x IO Venetian blinds
1x IO Shutter
5x RTS Venetian blinds

My update interval is now configured to 300 sec. But also the same problem as bevore.
My last automation is turned off.

My first action in the morning ist to open all the Venetian blinds. Between the open.cover ations i have 1.5sec pause.
My second action 5 minutes later to open the

[2021-04-28 13:23] iMicknl commented on #435
Why do you use a  1.5sec pause in between all automations? I am not sure what is going wrong, but I will give it a look.

And do you perhaps run the Homey version next to Home Assistant? Or is this the only integration you are using?

[2021-04-28 13:33] alexebner commented on #435
On homey it was a problem when i sent all action without a pause. Then it was not 100%sure that all blinds are triggered.
I was thinking that this is a problem from tahoma so i have created it same in homeassistant. My Homey ist powerd off since 2 Days becaus that was my firs idea that 2 devices connecting to tahoma make this problem.

[2021-04-28 13:41] iMicknl commented on #435
You should not need the pause, so I would start by simplifying it by removing the breaks. `Too many requests, try again later` can indeed happen when you do too many requests, but with one installation where you just execute some actions it should not happen.

Are there any other errors / warnings in your log?

[2021-04-28 14:42] tetienne commented on #435
For such cases,I suggest you to create a scenario within Tahomalink.com and the call it from home assistant. It will perform only one request and you are guaranteed all your covers will be opened.

[2021-04-28 14:49] alexebner commented on #435
Yes but i also have some logic in another action.

When closing blind and the windows is open then do tilt 50%.
When windows is closed do tilt 100%

[2021-04-28 14:55] iMicknl commented on #435
@alexebner do you only have RTS devices? Or do you have at least one IO device as well?

[2021-04-28 15:05] alexebner commented on #435
I am using a Somfy Tahoma Premium Device with:
5x IO Venetian blinds
1x IO Shutter
5x RTS Venetian blinds

[2021-04-28 17:59] alexebner commented on #435
Now after 8h closed firewall I have opend the firewall for homeassistant.

First i made a "ha core reload" and then i see in the log.

2021-04-28 19:37:35 ERROR (MainThread) [custom_components.tahoma] Unexpected error fetching device events data: Too many requests, try again later : login with ******@*******
Traceback (most recent call last):
  File "/config/custom_components/tahoma/coordinator.py

[2021-04-28 18:42] HFeenstra commented on #420
Hello @iMicknl and others. No idea what happend but after several time trying, removing, adding, password verifying I just got the Tahoma once again connected to the HA environment.
Odd thing is I haven’t done anything special. Ok I removed a few days ago the browser cache on my cell phone…

So overall its working again, automations were connected again and I tried it. Hopefully it will keep worki

[2021-04-28 20:54] iMicknl commented on #420
@HFeenstra great to hear! I am not sure what could have caused this behavior. I have improved this behavior in the core pull request, will try to backport it to this integration as well.

Let's close this issue for now, since we have a similar issue open already.

[2021-04-28 20:54] #420 closed

[2021-04-28 20:56] iMicknl commented on #434
Could you execute it via the Somfy app, and than open Home Assistant -> Services, run `tahoma.get_execution_history`. It will print the executed commands in your log.

If you can copy the specific command here, we can have a look if we can support it.

[2021-04-28 21:00] iMicknl commented on #396
Indeed, it is not yet in the main build. We will only include it when it is fully functional, and as mentioned it isn't yet..

We don't have a lot of bandwidth currently to fix this, especially since we don't own this device.

[2021-04-28 21:05] iMicknl commented on #376
`hvac_mode` is required, but indeed we could use `HVAC_MODE_FAN_ONLY`. I am not familiar enough with your device to make those choices, but I trust the two of you. 😉

Possible fan states:
https://github.com/home-assistant/core/blob/14af6d3884b5d4e319463c59a2633af57f5d6acc/homeassistant/components/climate/const.py#L60-L68

I am not sure if we can add other fan modes.

Do you know how this works via

[2021-04-29 07:09] creativeosmose commented on #396
Hi,

No problem, I understand. Thanks again for your work.

I tried just now with the latest #407 changes:
- High demand does not activate boost mode on the water heater (HA UI works, sometimes requires selecting twice)
- Away mode does not activate boost mode on the water heater (HA UI works, first try)
- Manual/Eco and Auto still work

How can I help you? (logs? specific tests?)

Thanks,

[2021-04-29 10:46] PoVPoV29 commented on #434
Hello,
I have the following logs when I execute your command :
`2021-04-29 12:44:32 ERROR (MainThread) [homeassistant.helpers.script.websocket_api_script] websocket_api script: Error executing script. Unexpected error for call_service at pos 1: 'DAWN_TRIGGER' is not a valid ExecutionSubType
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/script.py", line 359

[2021-04-29 10:57] vlebourl commented on #434
Hi, thanks for the report, can you edit your post and paste again using a code bloc? past your bloc and add 3 back quotes (```) before and after.

[2021-04-29 11:54] PoVPoV29 commented on #434
[code]

[2021-04-29 12:09] iMicknl commented on #434
This requires a change in our underlying library... Unfortunately it doesn't show your commands currently.

[2021-04-29 13:32] PoVPoV29 commented on #434
How can you provide you the commands if the "tahoma.get_execution_history" is not working ?

[2021-04-30 06:34] creativeosmose commented on #396
Hi,
Quick addition, setting the water heater to boost from the Cozytouch app does apply high demand on HA.

[2021-04-30 16:49] tillstaff commented on #376
I made some debugs and tried to correct each commands.

@segaura Could you test this build?
[https://github.com/tillstaff/ha-tahoma/archive/refs/heads/feature/AtlanticHeatRecoveryVentilation.zip](url)
If it's easier for you, only this file has been modified : [https://github.com/tillstaff/ha-tahoma/blob/feature/AtlanticHeatRecoveryVentilation/custom_components/tahoma/climate_devices/atlantic_heat_

[2021-05-01 09:33] segaura commented on #376
I am testing the new file you provided (extracting it from the zip, the direct link does not work for me).
I'm going to do a side-by-side comparison with the unit's remote to verify the working commands, I'll be back within today.

Regarding the "fan only mode" maybe I need to better understand two things:
- how ha models an hvac system ...and I try to sort out this on my own looking at the docume

[2021-05-01 10:28] segaura commented on #376
Back from the first tests.

1. all the commands in Preset dropdown (auto, prog, manual) fully work in both directions, e.g. set from ha and aknowledged the change from elsewhere, changed from elsewhere and verified the new state from ha
2. all the commands in Ventilation dropdown (auto, prog, manual) fully work in both directions;

notes are:
- Ventilation - high corresponds to Atlantic's "kitchen

[2021-05-03 14:07] tillstaff commented on #376
We choose to use the "Climate" entity to define this device and we have to map the functionality of the device according to HA mechanism. You can find some guidelines here : [https://developers.home-assistant.io/docs/core/entity/climate](url)

We can only manage (1), because only the API deployed for the Cozytouch app is available. We don't have local access to the Cozytouch bridge.
So the goal of

[2021-05-03 15:58] tillstaff commented on #376
Thanks @segaura for your tests!

"Kitchen boost" is not well named, it's just a boost with a lower speed (240m3/h instead of 264m3/h in my case)
Maybe we could remap the FAN MODE like this :
   - HIGH - for boost mode
   - MEDIUM - for kitchen mode
   - AWAY - for away mode
   - BYPASS - for freecooling mode (boost mode with bypass engaged)
   - AUTO - for normal mode

I suppose that there is a pl

[2021-05-03 16:43] iMicknl commented on #376
Great work, @tillstaff and @segaura. Happy to see such contributions :-).

Perhaps we should set fan mode to auto, when you activate cooling mode?

[2021-05-03 18:04] segaura commented on #376
For consistency with the app I see no problems if it will be decided to call it _kitchen boost_.

I also have not seen it for years because it appears only if you trigger _boost_ and _kitchen boost_ more than a single time.
![IMG_20210503_195704.jpg](https://user-images.githubusercontent.com/11215285/116913548-ea64d980-ac49-11eb-9248-77248298051b.jpg)
Just activate _kitchen boost_ and _boost_ imme

[2021-05-04 01:51] #404 closed

[2021-05-05 14:10] tillstaff commented on #376
@iMicknl

You're right, I have set it with the new "Bypass Boost" fan_mode.

[2021-05-05 14:24] tillstaff commented on #376
I made a new commit with the following remap :
Auto - for normal mode
Home Boost - for boost mode
Kitchen Boost - for kitchen mode
Away - for away mode
Bypass Boost - for freecooling mode (boost mode with bypass engaged)

With the same trick, I have a 30 minutes countdown with boost. Maybe there is some differences between our units. I have the first generation of the "optimocosy" before it was la

[2021-05-07 07:54] segaura commented on #376
I tested each command in both directions, action in ha and aknowledge in cozytouch app and viceversa.
It works (Thank you).
Today I also noticed a gratly improved responsiveness, app updates to new states after modification in ha very quickly ...dunno if something in the integration is changed regarding this or if something else in my setup is working better today.

Mine is a quite recent model, l

[2021-05-07 09:30] tillstaff commented on #376
@segaura Thanks for your feedback!
It's a good news, that the integration is working well with both versions of the Optimocosy.

For the app update, the integration send a refresh command after each set command to force the update of the cozytouch API.

@iMicknl :  do you need some changes in the code?

[2021-05-07 14:05] spacekiek commented on #350
Hi,

I've have 2 shutters on my roof who report the open/closed state in reverse. Is there a fix to manually flip the state until Somfy fixes it ?

[2021-05-07 14:13] tetienne commented on #350
@spacekiek Can you please give more information on yours shutters?

[2021-05-07 19:44] tetienne commented on #350
@spacekiek I own the same device. This is motor for awning. So _open_ means _deploy_ and _close_ means _undeploy_. If you use it as a cover you observe a reverse state but that's not a bug.
You can define a cover template to see the state you expect: https://www.home-assistant.io/integrations/cover.template/

[2021-05-08 19:18] alexebner commented on #435
Can i help you in any way to find the problem?
The problem still exists that the half of the time the blinds are not on the position that they should be.
Sometime it works and sometime not. And in the logs everytime the same entrys.

[2021-05-09 11:27] golles opened #439 "RTS awning no longer available since last commit"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
RTS awning no longer available since commit 02adec972ec6778d0151402eaf11b82e1594b3eb

**To Reproduce**
I manually install my `custom_components` through `git`,

[2021-05-09 12:30] tetienne commented on #439
Sorry, for this. And thx for this issue nicely described. Can you please try https://github.com/iMicknl/ha-tahoma/pull/440/commits?

[2021-05-09 14:51] golles commented on #439
It's no longer unavailable so that is good. But the awning takes now 10-30 seconds to respond from the HA UI, Also the UI remains like this:
<img width="353" alt="Schermafbeelding 2021-05-09 om 16 49 17" src="https://user-images.githubusercontent.com/2211503/117576513-91cc8b00-b0e6-11eb-91dd-87984f0e015c.png">
From https://www.tahomalink.com it reacts quite quickly.

No weird errors in the log, bu

[2021-05-09 14:56] golles commented on #439
Hmm, after a bit more trying it looks like the stop button is not stopping the awning but queueing the action. I remember this was also the case in early versions of this component

[2021-05-09 15:07] tetienne commented on #439
It was the case with the latest version?

[2021-05-09 19:38] golles commented on #439
I just did a bit more testing.
When the awning is open and when I press the go-up button in HA, it will close.
When I press the stop button (in HA) while closing, nothing happens and it continues to close. Once fully closed it will open again stop will also go to the prefix location and it looks like that is happening.
When I press the open button and a few seconds later the close button, it won't

[2021-05-09 20:38] tetienne commented on #350
You can do something like this. So you can use it also in your automation.
[code]

[2021-05-09 20:45] tetienne commented on #439
That's the expected behavior yes. open = deploy and close = undeploy (for awning only)

It will help me if we split this issue. Can you please confirm that with the PR I linked, you get the same behavior with https://github.com/iMicknl/ha-tahoma/commit/0182388195448c54397d07ff93eec69d4c1cb572?

If yes, I will merge the PR and close this issue. You can then open another issue related to the 2nd iss

[2021-05-10 09:18] gerardsamara commented on #355
Hi ,

I have tested  the Tahoma integration ( V2.4.10) following the HA update to 2021.05.1 and the problem is still present  as per the attached log

`2021-05-10 11:00:42 DEBUG (MainThread) [custom_components.tahoma] Initialized DataUpdateCoordinator with 0:00:30 interval.
2021-05-10 11:00:42 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.071 seconds
2021-

[2021-05-10 09:29] tetienne commented on #439
I met the same issue when chaining deploy stop and undeploy with the latest version. So that's not linked to my refactor. I will see what I can do.

[2021-05-10 09:43] gerardsamara commented on #381
Hi iMicknl,

I will make a test next week as I am currently out of town .

[2021-05-10 10:15] Hankey71 commented on #304
Hi !
I just tested this version. Well done!
I can control my radiators! Great!
On the other hand, a significant number of devices are displayed in the Tahoma integration.
![Presse-papiers-1](https://user-images.githubusercontent.com/61835259/117643486-bd07b680-b188-11eb-8805-31dca3c2d393.jpg)
![Presse-papiers-2](https://user-images.githubusercontent.com/61835259/117643497-c1cc6a80-b188-11eb-81e2-e

[2021-05-10 14:24] golles commented on #439
Just wanted to make sure we're talking about the same :-)

I checked out 0182388195448c54397d07ff93eec69d4c1cb572 and the stop button reacts immediately (let's say a second) when the awning is moving. The awning is also available, so this looks good!

[2021-05-10 16:06] jaddel commented on #419
My shades are also reversed using the Connexoon io.
Is there anything I can provide to be of help?

[2021-05-10 22:47] Hankey71 commented on #304
Ok !
That's what it seemed to me about the controls.  For 3 radiators, 3 messages are sent.
Interesting this integration "climate group".  I will take a closer look.
problem: my towel dryer no longer works since the installation oh this test build.

[2021-05-11 16:38] tillstaff commented on #304
You can reinstall the test build for the towel dryer and apply manually the fixes for the atlantic heaters.

Add this line into const.py file :
https://github.com/iMicknl/ha-tahoma/blob/1789b00fb7aa6ab7e867e7cd546e7c46433ff384/custom_components/tahoma/const.py#L41

Add this line into climate.py file :
https://github.com/iMicknl/ha-tahoma/blob/1789b00fb7aa6ab7e867e7cd546e7c46433ff384/custom_compone

[2021-05-12 06:30] jaddel commented on #419
Firmware: 2021.1.4

[2021-05-12 12:46] tetienne commented on #419
@jaddel You missed also the model of your device, should start with *io:* or *rts:*

[2021-05-12 12:52] jaddel commented on #419
it's in the previous post connexoon io.

[2021-05-12 13:01] tetienne commented on #419
I asked for this

![image](https://user-images.githubusercontent.com/8216238/117979155-e82e0980-b332-11eb-8af8-ef697f178fdd.jpeg)

[2021-05-13 15:40] jaddel commented on #419
ahh sry, here it is:

Device info
PositionableRollerShutterUno
by Somfy
Firmware: io:RollerShutterUnoIOComponent

[2021-05-13 20:32] tetienne commented on #419
@jaddel Looks like a classic roller shutter. When you use the open command within HA, it should deploy the cover, hide the light  It's not the case?

[code]

[2021-05-14 14:09] jaddel commented on #419
I'm sry, i just double cheeked and in HA it seems to work correctly except the % positioning is not accurate.

Since I use homekit to control everything the error must be somewhere there.

[2021-05-15 02:32] #334 closed

[2021-05-15 08:40] Amaurgit commented on #399
@iMicknl My dryer is also recognized now.
+1 for all @Hankey71 Hankey71 feedback :)

Is there a poll for the API ? The entity doesn't seem to update quickly.

Thanks !

[2021-05-15 16:51] schumi69 opened #441 "Incompe integration for Protexial alarm"
- [X] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**

hello, when I want to arm my alarm nothing happens.  furthermore HA is unable to recover the alarm state.  on the other hand it is possible to disarm it.

**T

[2021-05-15 18:20] fredleger commented on #322
I have been using it for quite a time now and don't see any defect.
There was some error but i dig it to tahoma server side transient errors (they might be something here but at the end it's very usable).

Even the cooling system is working too but the UI can be refactored. For cooling mode you must put the main control in cooling mode and then put the desired device in "heating" mode. Conceptuall

[2021-05-16 07:58] gerardsamara commented on #381
Hi @iMicknl ,

I have made the test and ...  IT IS successful  ( The device is supported )

2021-05-16 09:40:18 DEBUG (MainThread) [custom_components.tahoma] Added device (io:AtlanticPassAPCHeatingAndCoolingZoneComponent - HeatingSystem - AtlanticPassAPCHeatingAndCoolingZone - io://0831-3115-3482/1086078#8)
`

2021-05-16 09:40:18 DEBUG (MainThread) [custom_components.tahoma] Unsupported device det

[2021-05-16 09:10] BluntVanille opened #442 "Add support for Thermor Symphonik IO (io: AtlanticElectricalTowelDryer)"
- [X] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**
Thermor Electrical TowelDryer. It look like the other one I think !

**Device details**

- **Hub**: Thermor Cozytouch

[code]

Tell me if you need more !
Hav

[2021-05-16 09:24] iMicknl commented on #381
What do you mean? Is the device not functional?

[2021-05-16 09:48] gerardsamara commented on #381
This task was not done yet when I wrote this.
I have tested now in the UI using the "custom:simple-thermostat" card .
Seems to work OK  as per screen shot below , may be some parameters to setup in the card

![Capture Tahoma](https://user-images.githubusercontent.com/69084518/118392949-8fb18180-b63c-11eb-8ada-9cf12701c9a6.JPG)

[2021-05-16 14:26] iMicknl commented on #442
Thanks for reporting, @BluntVanille! Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/AtlanticElectricalTowelDryer.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-05-16 14:27] iMicknl commented on #399
Thanks @Hankey71 and @Amaurgit for the feedback! I will try to find some time in the coming weeks to work on this.

Adding a timer won't be possible, however this could be added as a service in the long term. Currently our architecture doesn't allow us to add extra switches easily, but this would be a good improvement indeed.

[2021-05-16 15:46] BluntVanille commented on #442
Ok, better now ! I got this :

![image](https://user-images.githubusercontent.com/77114369/118403405-79bcb480-b66e-11eb-80d0-936e65cdf76d.png)

2021-05-16 17:39:00 DEBUG (MainThread) [custom_components.tahoma] Initialized DataUpdateCoordinator with 0:00:30 interval.
2021-05-16 17:39:00 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.032 seconds
2021-05-16 17

[2021-05-17 10:32] #439 closed

[2021-05-17 11:48] jaddel commented on #419
I just double checked the full function inside HA.

If I use the up and down buttons from the HA frontend the cover behaves correct, but as soon as i touch the slider things go wrong.
I assume that homekit controls the shades  only by setting the position in % and that's why via homekit even open and close dosen't work properly.

When i mode the slider in HA (click, drag, let go) it jumps to diffe

[2021-05-17 12:02] tetienne commented on #419
@jaddel please have a try with the current master branch to see if it works as expected. Please also only compare the website Tahomalink.com and Home Assistant to help us to understand the behavior.

[2021-05-17 12:12] jaddel commented on #419
is just updated and everything is working finde again. Thank you!

[2021-05-17 12:20] jaddel opened #443 "Cover Offset / Positioning Calibration Tool"
**Is your feature request related to a problem?**

Cover set state doesn't match the real cover state.

**Describe the solution you'd like**

Perfect would be an ui based offset % variable, one can set individual per cover.

**Describe alternatives you've considered**

Creating a template cover inside homeassistant for each cover and do the offset manually.

**Additional context**

I believe the d

[2021-05-17 13:11] tetienne commented on #443
If you got the same behavior between HA and the official Somfy Homekit integration, it means we are good.
When you set the cover to 50% you are asking it to be deployed at 50%. It does not mean it will be set at the middle of your windows.
If it was badly calibrated, setting it to 0 or 100 would be wrong too.

[2021-05-17 13:30] jaddel commented on #443
I never used the official somefy homekit integration everything is done via the homekit bridge integration.

I get the same behaviour if i set the shade to 50% via the somfy app on my phone.

You are right about:

 0 - 100% is calibrated correctly since the relay clicks just in time when the open or close limit is reached. I believe the reason for this that nobody ever thought about the little gap

[2021-05-17 15:10] golles commented on #439
Beside the stop button, #440 Seems t work

[2021-05-17 15:28] tetienne commented on #439
@golles There is a typo in your comment?

In the linked PR I didn't touch the Stop button.

Can you compare with the latest available version (not master branch)?

[2021-05-17 19:17] golles commented on #439
Sorry to be a bit annoying, but all works fine till https://github.com/iMicknl/ha-tahoma/commit/02adec972ec6778d0151402eaf11b82e1594b3eb, like mentioned in the description.

[2021-05-17 19:45] tetienne commented on #439
@golles if only the Stop button does that work, can you please open a new issue?

[2021-05-17 20:00] golles commented on #439
Yep, will do that

[2021-05-17 22:37] iMicknl commented on #443
Looking at your story, it seems that Somfy doesn't offer good ways of calibrating your shutter due to the gaps / offset...

However, this behavior is so specific that I would say that this needs to be in a template cover or even in a separate integration.. A template cover should be the easiest I guess.

[2021-05-17 22:43] iMicknl commented on #442
Thanks! There is similar feedback in https://github.com/iMicknl/ha-tahoma/issues/399, thus we will need to have a look in the coming weeks :-).

[2021-05-17 22:50] iMicknl commented on #434
@tetienne could you perhaps update pyhoma to https://github.com/iMicknl/python-tahoma-api/releases/tag/v0.5.13 if you have time some day? Otherwise, I will pick this up when I am back.

[2021-05-17 22:54] iMicknl commented on #441
Thanks for reporting, @schumi69! Adding the zones will be hard, however this could be a separate service perhaps..

Could you try executing the commands via the official app and than executing `tahoma.get_execution_history` in Home Assistant. In your log, it should show all your latest commands.

[code]

[2021-05-18 11:47] PoVPoV29 commented on #434
Hello,
I fixed the issue yesterday : the private life option is activate when the alarm is disactivated two time (through API or Somfy mobile app or token). But the private life option status is not retrieve actually. Is the v0.5.13 can correct that ?
When I try to install is through HACS, it tells me : Repostitory structure for v0.5.13 is not compliant

[2021-05-18 19:41] seblang opened #445 "Add support for AC RAK-50RXD - HitachiAirToAirHeatPump (hlrrwifi:HLinkMainController)"
- [x] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Device information**

Hitachi AC RAK-50RXD
https://www.manualslib.com/products/Hitachi-Rak-50rxd-11009664.html

**Device details**

- **Hub**: Hi Kumo

[code]

**Device commands*

[2021-05-18 20:05] schumi69 commented on #441
Hello to you,

Question, where should i run Tahoma.get_execution_history?

I tried to go through :

- Development tools
- Services
- Call the service

Si ut this?
Then the commands should appear below ?

If it is, nothing appears.

Thank you 😉

[2021-05-21 13:48] seblang commented on #299
Hi iMicknl,

No feedback from Seb0101, xorassistant or pmb91917 ?
I am fassing the quite same issue :

[custom_components.tahoma] Unsupported device detected (hlrrwifi:HLinkMainController - HitachiHeatingSystem - HitachiAirToAirHeatPump - hlrrwifi://0501-6831-2426/1)

if you want I am avaialable to go over on this issue.
regards
sebastien

[2021-05-24 21:07] Aeosium opened #450 "Add support for SomfyHeatingTemperatureInterface (ovp:SomfyHeatingTemperatureInterfaceOVPComponent)"
- [x] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

*I'd be more than willing to contribute, I am presently looking into the code but as you can imagine I am not sure where to look to be efficient :)*

**Device information**

Somfy

[2021-05-26 03:10] #411 closed

[2021-05-26 03:10] #386 closed

[2021-05-26 03:10] #352 closed

[2021-05-27 08:09] iMicknl commented on #445
Thanks for reporting, @seblang. Could you please have a look at the README (https://github.com/iMicknl/ha-tahoma/#device-not-supported) and add the missing information here?

[2021-05-27 08:45] seblang commented on #445
Hi Imicknl,

sorry necessary informations was in the post but not visible, hidden by a screenhot .

`Device not supported

'<!--
2021-05-18 21:21:21 DEBUG (MainThread) [custom_components.tahoma] Initialized DataUpdateCoordinator with 0:00:30 interval.
2021-05-18 21:21:22 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.144 seconds
2021-05-18 21:21:22 DEBUG (M

[2021-05-27 08:51] iMicknl commented on #445
Related to https://github.com/iMicknl/ha-tahoma/issues/299.

Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/support_HitachiAirToAirHeatPump.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-05-27 09:32] seblang commented on #445
Hi Imicknl,

i will test it this week and give you a feedback thank you
regards
sébastien

[2021-05-27 14:05] seblang commented on #445
Hi,

below the result after test :

`2021-05-27 15:55:29 ERROR (MainThread) [homeassistant.loader] No 'version' key in the manifest file for custom integration 'tahoma'. As of Home Assistant 2021.6, this integration will no longer be loaded. Please report this to the maintainer of 'tahoma'
2021-05-27 15:56:15 DEBUG (MainThread) [custom_components.tahoma.coordinator] Initialized DataUpdateCoordinat

[2021-05-27 14:22] iMicknl commented on #445
Would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my machine. 👍🏻

I assume that I will have some time this weekend, or next week.

[2021-05-27 14:30] seblang commented on #445
Hi IMicknl,

What I proposed is to give you actual logging and password so you can do some trial when you have time.
I will changed the password after.
No problem to work with you via Discord but after monday for me.

Logging: seblang@free.fr
password: zouzou25640

it's ok for you?

[2021-05-27 15:01] iMicknl commented on #445
@seblang that's fine, no hurry! By the way, please don't share any secrets on GitHub since it is publicly visible to everyone. I have deleted your previous comment.

If you want to reach out to us, you can use the Discord link above or you could do this via email listed on my profile.

[2021-05-27 18:56] iMicknl commented on #445
@seblang which hub do you have? Do you know the exact type / serial number? I would like to add this value as well, instead of '22'.

[2021-05-27 19:12] seblang commented on #445
Hi i am not sure below infos is what you want :

Internal unit Takai rak-50RXD
External unit Takai rak-50WXD
passerel hi-kumo SPX-WFG01

[2021-05-27 19:29] iMicknl commented on #445
Thanks @seblang! I fixed some parts and made an initial version, however eventually I would need to execute commands and test and I will only do that when you are ready / aware of it. ;-). Just reach out to me on Discord next week when you have time.

<img width="1330" alt="Screen Shot 2021-05-27 at 21 27 04" src="https://user-images.githubusercontent.com/1424596/119885749-8248a100-bf32-11eb-8a02-

[2021-05-27 20:03] seblang commented on #445
Hi IMicknl,

First thank you for the job.
I have done some trial  and compare the info given by HA and the hi-kumo app on my phone.
The Value appear to be the same and when I do a change with the app it's appear in HA.
But all change done in HA are not sent to the HVAC.

`2021-05-27 21:52:21 DEBUG (MainThread) [custom_components.tahoma.coordinator] EventName.DEVICE_STATE_CHANGED/None (device: hlrr

[2021-05-27 20:15] iMicknl commented on #445
[code]

Thanks! I will have a look :-).

[2021-05-27 21:23] iMicknl commented on #445
@seblang I did some fixes and the basics should work now. You could give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/support_HitachiAirToAirHeatPump.zip a try when you have time.

[2021-05-27 21:35] iMicknl commented on #299
@Seb0101 @pmb91917 you could give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/support_HitachiAirToAirHeatPump.zip a try when you have time.

The only thing that doesn't work yet is that it seems that you need to refresh the states after you execute a command... This means that after a change, it can take a few minutes before the status is updated in Home Assistant.

[2021-05-28 09:44] iMicknl commented on #442
Let's close this one and track the progress in #399.

[2021-05-28 09:44] #442 closed

[2021-05-28 09:45] iMicknl commented on #399
@Hankey71, @Amaurgit, @BluntVanille anyone that has time to walk with me through this device? It is hard for me to develop without access to the device.

Someone that is available [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my

[2021-05-28 10:37] iMicknl commented on #376
@tillstaff @segaura I cleaned up some of the code! Let's see if we can add this device to our upcoming release.

Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/AtlanticHeatRecoveryVentilation.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-05-28 11:04] iMicknl commented on #441
@schumi69 did you have a look in your log? Settings -> Logs. It should be printed there, after you execute the service. Unfortunately, we cannot give any feedback on the service page.

[2021-05-28 11:08] iMicknl commented on #435
@alexebner is this still an issue?

[2021-05-28 11:10] iMicknl commented on #370
@stavrosso is this still an issue? In case you are missing any features in the current implementation, feel free to create a new issue.

Have a look here (https://github.com/iMicknl/ha-tahoma#device-not-working-correctly) for more details about what to add and how to receive the commands.

[2021-05-28 11:11] #370 closed

[2021-05-28 11:13] iMicknl commented on #275
@mstuij does this work with the latest version of ha-tahoma and the latest Home Assistant version? Recently quite a lot changed around services, thus perhaps this works now. :-)

[2021-05-28 11:17] iMicknl commented on #434
5.0.13 of our underlying pyhoma library will only fix the `tahoma.get_execution_history` for you. It is now part of the latest master version of this integration, thus you could install that one to give it a try.

[2021-05-28 13:36] sebaurel opened #453 "Siren don't stop"
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
when I activate the siren it's ok. When I turn it off, nothing happens. I am forced to open it and press the prog button.

**To Reproduce**
go to and click to

[2021-05-28 14:51] iMicknl commented on #453
Can you disable it via tahomalink.com? Or doesn't this work as well?

How would you normally enable and disable the siren? Could you retrieve the commands as described [here](https://github.com/iMicknl/ha-tahoma#device-not-working-correctly).

[2021-05-28 16:07] sebaurel commented on #453
I tried with Tahomalink. The siren is red spins with an exclamation mark. And I can't turn it off either.

After pressing the PROG button, the siren does not respond and does not turn on for a while, before making a long beep or I reset it. But it remains as ringing in hassio.
I never use this siren before.
The logs of my first message are the ones I got by reproducing the problem.

thank you

[2021-05-28 17:38] seblang commented on #445
Hi thank you for the feedback.
Just, you say you have just released a new version, so that mean I have to update my config with the file from the reposit ?
I will do some new trial :-)
have a nice week end
sebastien

[2021-05-28 17:44] iMicknl commented on #445
You can download the new release via the same URL (https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/support_HitachiAirToAirHeatPump.zip). :-)

[2021-05-28 19:37] PoVPoV29 commented on #434
How can I install the 5.0.13 ?

[2021-05-28 23:07] pmb91917 commented on #299
Hi,

just tested the version but devices still shown us unavailable. The log shows

2021-05-29 01:03:24 DEBUG (MainThread) [custom_components.tahoma] Added device (ovp:HLinkMainController - HitachiHeatingSystem - HitachiAirToAirHeatPump - ovp://0825-1988-0746/11799234)
2021-05-29 01:03:24 DEBUG (MainThread) [custom_components.tahoma] Added gateway (0825-1988-0103 - GatewayType.HI_BOX - 0)
2021-05-

[2021-05-28 23:15] iMicknl commented on #434
You cannot just install our underlying library, but as mentioned above it is part of our 'master' branch. https://github.com/iMicknl/ha-tahoma/archive/refs/heads/master.zip? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-05-28 23:19] iMicknl commented on #299
Are there any errors in the log? It seems that your device is slightly different compared to the other one I was able to test this with.

Would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my machine

[2021-05-28 23:21] iMicknl commented on #453
Ok, that doesn't sound like fun! Are you able to turn the siren on (and off) via tahomalink.com? You could give that a try and afterwards execute the `get_execution_history` command, as described in my previous reply.

 ![](https://media0.giphy.com/media/l2Je5IMLrZSbFD63S/giphy.gif)

[2021-05-29 14:08] iMicknl commented on #299
@pmb91917 here is a new version you could try. https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/support_HitachiAirToAirHeatPump.zip

It shows the right information, but I didn't try any commands yet.

[2021-05-30 13:41] PoVPoV29 commented on #434
Hello,
The status of the virtual shutter (private life) is still in a unknow state after the update :
![Outdoorcam](https://user-images.githubusercontent.com/69581008/120106513-7c82d380-c15d-11eb-8551-e9763dc9a18a.PNG)

[2021-05-31 13:38] mstuij commented on #275
Unfortunately doesn't work it with latest versions.

What I noticed is that in new Developer tools on the services tab: when you choose the tahoma.set_cover_position_low_speed service you couldn't choose the cover groups.

[2021-05-31 13:52] alexebner commented on #435
Now with a update interval from 600 it works most of the time. But i have still the same errors in the log.

[2021-05-31 19:15] sebaurel commented on #453
hello
I finally managed to find the information

When i excecute via Hassio
2021-05-31 21:01:39 INFO (MainThread) [custom_components.tahoma] 2021-05-31 20:57:46: ringWithSingleSimpleSequence executed via Home Assistant on io://1201-1998-7462/2733989, with [2000, 100, 0, 'standard'].
2021-05-31 21:01:39 INFO (MainThread) [custom_components.tahoma] 2021-05-31 20:57:43: ringWithSingleSimpleSequence e

[2021-05-31 23:36] chali272 opened #456 "Add support for spx-wfg01 - HitachiAirToAirHeatPump (hlrrwifi:HLinkMainController)"
- [ ] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**spx-wfg01**
A clear and concise description of the device, together with specific usecases that you would like to see supported.

**would lie to be able to turn on off and sett t

[2021-06-01 07:39] guillaumelamirand commented on #441
I do have the same kind of issue with protexium alarm where I have two entities but without any action available. How can I help you debug it ?

[2021-06-01 08:49] tetienne commented on #456
Can you please provide edit your issue, there is almost nothing to help us to implement what you want.

[2021-06-01 09:10] iMicknl commented on #456
@chali272 looking at `spx-wfg01`, I assume you use Hi Kumo, however as @tetienne we need way more information. Please have a look at the README (https://github.com/iMicknl/ha-tahoma/blob/master/README.md#device-not-supported).

In the mean-time, you could give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/support_HitachiAirToAirHeatPump.zip
 a try. Extract this file and place `cu

[2021-06-01 12:03] tillstaff commented on #443
Everything is normal.
With roller shutter, the auto-calibration will calculate the duration to fully open the roller shutter and the duration to fully close the roller shutter.

If the duration calculated is 20 seconds, so when you set the cover from 100% to 50%, it will activate the motor for 10 seconds. There is no sensor to see the real position of the cover, it's just a question of timing.

[2021-06-01 13:05] creativeosmose commented on #396
Hi, Issue is still present.

[2021-06-01 14:20] chali272 commented on #456
sorry im not shore how/were to put the different info, is it betting the ** it should be placed?
i have updated it is this better or do i need to ad something more?

[2021-06-03 10:08] blasebast opened #457 "Device is not reporting the status"
Hi @iMicknl ,
First, thank you for the great effort putting together this integration. I would like to report an issue I observed just today after upgrading homeassistant and at the same time pulling the latest ha-tahoma:
[code]
controller and cover behind is: Connexoon + CONTROL BOX 3S RTS

[2021-06-04 12:57] iMicknl commented on #457
Apparently your box was updating at that specific moment, but this should be a status that we also have in our library. I will add it in the following week, but perhaps your actual issue is already solved after you reload the integration.

[2021-06-04 14:08] blasebast commented on #457
Hi,
Thanks for your reply. I actually reloaded, removed, re-added the integration multiple times after the box's upgrade,
 it looks like on the snapshots and in the log I see stuff mentioned in the issue. I don't think I have something misconfigured, but of course I might be wrong and this specific message looks especially suspicious, maybe this is the underlying cause of issues:
`
homeassistant

[2021-06-05 22:45] rax2m commented on #457
same problem here opening and close states are working fine but as soon it reaches the open or closed state it shows up as unknown I hope you guys fix it because it caused me a headache with Homekit integration .
I am happy with your work guys thanks I really appreciate it better than the Somfy integration that came with HASS

[2021-06-07 17:04] stevehop commented on #457
Same here with my garage door, open and closing using HA shows the status but then becomes unavailable. Also when using my Somfy remotes to open/close it there's no update in HA

[2021-06-12 09:11] gerardsamara commented on #381
Hi @iMicknl

Will you release a new version of the ha-tahoma with the fix related to

2021-05-16 09:40:18 DEBUG (MainThread) [custom_components.tahoma] Added device (io:AtlanticPassAPCHeatingAndCoolingZoneComponent - HeatingSystem - AtlanticPassAPCHeatingAndCoolingZone - io://0831-3115-3482/1086078#8) ?

[2021-06-12 09:13] gerardsamara commented on #355
One of the 2 issues has been corrected with a test version proposed by @iMicknl

2021-05-16 09:40:18 DEBUG (MainThread) [custom_components.tahoma] Added device (io:AtlanticPassAPCHeatingAndCoolingZoneComponent - HeatingSystem - AtlanticPassAPCHeatingAndCoolingZone - io://0831-3115-3482/1086078#8)

[2021-06-13 09:34] laszlojakab opened #459 "Update state and attributes when event received from TahomaClient"
- [x] **I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Is your feature request related to a problem? Please describe.**
I'm developing a lovelace card for my Somfy raffstores, and would like to sync the animation of it as the raffsto

[2021-06-13 14:07] tetienne commented on #459
Actually what you described is already what we do. See

[2021-06-13 14:09] tetienne commented on #459
What you described is already what we do. See https://github.com/iMicknl/ha-tahoma/blob/master/custom_components/tahoma/coordinator.py

Can you check the event you see is well of type device changed?

If yes, it probably means we have to modify cover.py to handle the state variable you gave.

[2021-06-13 19:23] laszlojakab commented on #459
OK there are multiple issues:
- I used position slider to set position to 0 (close) or to 100 (open). In that way state never changes to closing or opening. Can integration change this behaviour? If target position is 0 then set the state to closing, and if target position is 100 than set state to opening during the operation.
- The recorder logs of closing the raffstore (by pressing close button,

[2021-06-13 20:03] tetienne commented on #459
To clarify, all the attributes like `core:xxxxx` are directly retrieved from Somfy (overkiz) servers. We don’t alter them. We just map them to HA. So `core:TargetClosureState` cannot be wrong. It’s what we receive.

Are you also refering here to a core:xxxx attribute?

Can you confirm, when you open and close through HA, your device behaves correctly?

Can you please also share the firmware of you

[2021-06-13 20:32] tetienne commented on #459
@laszlojakab Can you please have a look into https://github.com/iMicknl/ha-tahoma/pull/460/files ? You can directly edit the files on your system.
Or download the component here: https://github.com/iMicknl/ha-tahoma/archive/refs/heads/enhancement/use_target_closure.zip

I tested with my own covers, and when setting the position I can well see the opening/closing state.

[2021-06-13 21:01] laszlojakab commented on #459
Tested. It looks OK for me too.

[2021-06-13 21:10] laszlojakab commented on #459
No, HomeAssistant cover state at 2021-06-13 17:25:43.186836.

Yes.

Firmware: io:ExteriorVenetianBlindIOComponent

[2021-06-21 07:17] #459 closed

[2021-06-21 08:39] Alex6fr opened #461 "Add a second supported box integration"
Hi,

I allready have my Somfy TaHoma Box well integrated in my Home Assistant with this custom integration. Everythinks work well.

I have an Hitachi PAC Air/Air connected with Hi-Kumo app (SPX-WFG01 gateway) and when I want to add this box integration, I have this message error  (account allready added) :

![ha-tahoma](https://user-images.githubusercontent.com/53949172/122732370-8095a300-d27c-11e

[2021-06-21 09:05] iMicknl commented on #461
Good one! This is already supported in the PR we have for the `core` repository, but I didn't backport it yet.

Will need to see if I can gather some time in the next weeks to do this... Currently we check by email address, so perhaps you could use a different email address for one of the services in the mean time.

[2021-06-21 13:24] Alex6fr commented on #461
Yes, It worked ! I've changed my Somfy email account.
Unfortunately my Hitachi PAC is not recognized by the integration :-(
=>logs :  Unsupported device detected (hlrrwifi:HLinkMainController - HitachiHeatingSystem - HitachiAirToAirHeatPump - hlrrwifi://XXXX-XXXX-XXXX
My model is a RAK-25PSC (HITACHI Shirokuma S)

[2021-06-21 13:32] iMicknl commented on #461
Please see https://github.com/iMicknl/ha-tahoma/issues/445 and https://github.com/iMicknl/ha-tahoma/issues/456, where you can follow progress and contribute with more info.

[2021-06-21 13:40] blasebast commented on #457
Hi, any chance to have it fixed?

[2021-06-23 02:06] #419 closed

[2021-06-25 17:04] Aeosium commented on #450
Hello dear bot!

I didn't try a more recent update as I don't think this has been touched yet. I tried to tweak a bit with the source code myself but no success so far, still trying to understand how things are implemented :)

Thanks!

[2021-06-28 07:59] golles opened #462 "RTS awning no longer available"
- [ ] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
Every 30 seconds I'm seeing an `ERROR (MainThread) [homeassistant] Error doing job: Task exception was never retrieved
Traceback (most recent call last)`. I no

[2021-06-28 08:01] golles commented on #462
I know I've not followed up on #439, but I don't think it's related. Beside that again the RTS devices broke.
Let me know what I can do to help?

[2021-06-28 21:19] iMicknl commented on #462
Thanks for reporting, this seems caused by https://github.com/iMicknl/ha-tahoma/pull/460.

For now, I would advise to upgrade to the previous version, until someone has time to implement a fix! 👍🏻

[2021-06-28 21:36] tetienne commented on #462
Indeed my bad. I missed this case. Should be fixed tomorrow!

[2021-06-28 22:33] golles commented on #462
I also have a trace when closing IO shutter
[code]
I guess the same issue, but wanted to share if now

[2021-06-29 15:45] iMicknl commented on #462
@golles, latest master branch should fix your issues!

[2021-06-30 08:17] golles commented on #462
Updated and the same issue

[code]

[2021-06-30 08:20] iMicknl commented on #462
Thanks, I see where the issue is. @tetienne seems that we forgot that states is optional and that RTS covers don't have states available..

[2021-07-01 07:32] tetienne commented on #462
My bad, I was sure the returned `states` was empty for RTS devices.

[2021-07-02 07:48] segaura commented on #376
I'll be back at home tomorrow and I'll hope I manage to try it and let you know.
With the previous version I noticed some inconsistencies in the last months, like HA reporting always the same state while it was changing by cosytouch app.

[2021-07-02 08:22] guillaumelamirand commented on #441
Still present.

[2021-07-06 02:09] #434 closed

[2021-07-07 02:08] #435 closed

[2021-07-07 09:55] rvrignaud opened #465 "Unexpected error fetching device events data: argument of type 'NoneType' is not iterable"
**Describe the bug**
I can see this error in the logs. Not sure if this is related to the fact that I'm hit by the "Too many request problem"
[code]
core-2021.6.6 and ha-tahoma v2.4.10

**To Reproduce**
This happened when asked to close 13 shutters through Google Assistant

**Expected behavior**
A clear and concise description of what you expected to happen.
All shutter closing

**Screenshots**
If

[2021-07-07 10:03] rvrignaud commented on #261
Hi,

I started to see this behavior for 13 shutters a few days back.
I now also have this issue:
[code]

I can't even login to https://www.tahomalink.com/ as I get the same error:
[code]
in a pop up message box.

I'm using Google Assistant to open close all the shutters at once. Not sure how to introduce delay on my side.
Any known workaround ?

[2021-07-07 10:35] vlebourl commented on #261
Hi, I don't think this error is linked to the first one. This one happens when you try to open too many connections to the API in a short period of time. If I'm not mistaken, HA keeps its connection open to reuse it for successive actions.

Waiting 10 minutes before retrying to connect is the only fix I know for that one.

[2021-07-07 18:28] Zagor4 opened #466 "INVALID AUTH"
Yesterday the integration was perfect.
This morning the integration didn't work and i found an error in the log:

Logger: custom_components.tahoma.config_flow
Source: custom_components/tahoma/config_flow.py:102
Integration: Somfy TaHoma
First occurred: 20:07:57 (1 occurrences)
Last logged: 20:07:57

invalid_auth

I deleted the integration and i try to activate another time the integration, but whe

[2021-07-07 18:42] Mariusthvdb commented on #466
Saw the same today, see post in community on the latest update .

Did a restart and now all is fine again ;-)

Give it a try ?

[2021-07-07 18:54] Zagor4 commented on #466
What i have to restart ? The Tahoma Box ? Home Assistant ?
Thanks a lot for your answer !

[2021-07-07 19:10] Mariusthvdb commented on #466
Home assistant ;-)

[2021-07-08 02:10] #443 closed

[2021-07-08 06:10] NicolasRigo commented on #466
Same here from yesterday evening. I think this  has nothing to do with HA or HACS. I guess your (and mine) IP have been banned from Somfy Restfull API server. The fact it happens to some of us probably mean they probably modified something in their config that make their API more sensitive to the number of API calls they received.

A temporary solution (which is not one on the long run) is to rest

[2021-07-08 08:03] Przemo-999 commented on #466
U mnie to samo!!!

[2021-07-08 08:22] rvrignaud commented on #261
Hi @vlebourl. Thank you for clarification and sorry to mixed up issues.
I also have tons of `Execution queue is full on gateway: #xxxx-xxxx-xxxx (soft limit: 10)` and I now never have all my shutters closing and opening at the same time. Even though this has worked for quite some time before.
Any idea how to improve when not using an automation ?

[2021-07-08 16:14] cdeharo opened #467 "Invalid authentication errors started logging and integration didn't work"
- [x] **I have read the [Readme](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [Advanced](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section regarding debugging.**

**Describe the bug**
At some hour of the 2021-07-07 the Tahoma component started to register `Invalid authentication` errors and stopped working with the awning.

Rebooting the HA

[2021-07-08 16:14] cdeharo commented on #467
Same issue as reported in https://github.com/iMicknl/ha-tahoma/issues/466.

[2021-07-08 16:15] cdeharo commented on #466
Same here, I'm not sure if our IP is banned because the Connexoon application works fine from inside my local network (same public IP address as my HA).

[2021-07-08 16:40] NicolasRigo commented on #466
you are right @cdeharo I'm not sure at all. Something strange happened Today. I gave a chance by rebooting my HA instance and it doesn't change anything. Then I upgraded HA to the latest version (2021.7 published yesterday) and guess what ... Tahoma integration is working now ... I don't understand. Let see if it still works tonight.

[2021-07-08 19:56] cdeharo commented on #466
Thanks but I've just updated the Connexoon firmware from the official app and restarted HA (2021.6.6) and now all works fine. I'll update HA tomorrow, but this seems solved now.

[2021-07-08 19:57] cdeharo commented on #467
I've just updated the Connexoon firmware from the official app and restarted HA (2021.6.6) and now all works fine. I'll update HA tomorrow, but this seems solved now.

I'll wait two days and close this issue by myself.

[2021-07-08 21:10] jcallaghan commented on #467
Similar issue with 2021.7.0. I also went into the TaHoma app and installed the update. Rebooted but still had an issue with the integration loading. Upgrading to 2021.7.1 resolved things for me.

[2021-07-10 09:28] golles commented on #462
I'm on the branch `fix/rts/moving_cover_2` now for a couple of days and all seem to work fine, no errors in my logs, and awning and shutters seem to work

[2021-07-10 10:22] TheDaft78 opened #468 "Add support for the new Tahoma Switch box"
Hi,

my apologies for not following exactly the issue template, but I recently read about the new Somfy box: [Tahoma Switch](https://boutique.somfy.fr/tahoma-switch.html) and I would like to know if it will be supported by your plugin?

I'm willing to purchase a box to control my rolling shutter and my radiators (Sauter), so I would like to use the most recent version, furthermore since it's less

[2021-07-10 12:48] fredleger commented on #322
Does this get merged at some point ?
The bot comments let me think that this was not merged. If this is the case it's might better to reopen it ?

[2021-07-12 20:54] tofgun opened #469 "Add support for ModelName (io:HitachiHeatingSystem - HitachiAirToAirHeatPump)"
HITACHI AIR-AIR pump

- Somfy TaHoma

![image](https://user-images.githubusercontent.com/77484063/125354221-d9c89200-e363-11eb-8430-de4ac7c95a15.png)

2021-07-12 22:45:40 DEBUG (MainThread) [custom_components.tahoma] Unsupported device detected (ovp:HLinkMainController - HitachiHeatingSystem - HitachiAirToAirHeatPump - ovp://1225-5490-6383/1954068)
2021-07-12 22:45:40 DEBUG (MainThread) [custom_co

[2021-07-13 06:42] gerardsamara commented on #381
Still waiting the delivery of this fix in a new version of the ha-tahoma custom component

[2021-07-14 14:49] iMicknl commented on #467
Thanks for reporting. Let's track the status in #466.

[2021-07-14 14:49] #467 closed

[2021-07-14 14:52] iMicknl commented on #466
Thanks all for reporting. Are these issues still present? If so, please turn on debug mode and share your logs.

Updating Home Assistant or the integration doesn't help directly, however it can prevent you by getting blocked since there is a longer time out in between the tries. I will see if I can port some of the code I wrote for the core integration, to this custom component. Unfortunately it d

[2021-07-14 14:58] iMicknl opened #471 "Looking for contributors!!"
This project has been started by @tetienne, @vlebourl and me in order to have an alternative to the limited and unstable official Somfy API. However, as you can notice on the issues and activity, all of us are pretty busy and priorities are else where. We are still maintaining the integration, but it is hard to keep up with all the issues and new device requests.

Do you have a basic knowledge of

[2021-07-14 15:04] iMicknl commented on #322
Hi @fredleger, sorry for the late reply. I have been very busy lately, but will see if I can pick up some of the open issues like yours this week.

[2021-07-14 15:12] #457 closed

[2021-07-14 15:38] drZlash commented on #304
Hello everybody,
Just bringing my own experience of ha-tahoma component with my SAUTER devices.
I also own 2 IPALA heater devices, as @LoicRivoal i think. I have the cozytouch bridge to control them, that i use with the official cozytouch app.
I also used ENKI domotic system (from Leroy Merlin), but i'm moving little by little to Home Assistant.

Before finding this issue, i tested Cyr-ius compone

[2021-07-14 15:59] iMicknl commented on #457
The original reported issue has been solved, however the issues that @rax2m and @stevehop mention doesn't look related. Please create a new issue regarding other issues, not related to the `'UPDATING' is not a valid UpdateBoxStatus` error.

An update with a fix for the UPDATING issue will be go out soo.

[2021-07-14 16:20] MikeLDPT commented on #466
Hi...  I'm having this issue now.  It temporarily went away the day before yesterday after I apllied several updates and restarted, but came back today.  Still happening after 2 restarts.  I can't find a way to manually authenticate.

This error originated from a custom integration.

Logger: custom_components.tahoma
Source: custom_components/tahoma/__init__.py:121
Integration: Somfy TaHoma
First o

[2021-07-14 16:23] NicolasRigo commented on #466
From my side, it went away the day after the first occurence without doing anything (neither restart nor upgrade). Until now it's still working but I expect the behaviour to occur again...

[2021-07-14 16:27] iMicknl commented on #466
Unfortunately, this issue is fully on the side of Somfy. See https://github.com/iMicknl/ha-tahoma/issues/278 for similar issues last year. We have had contact with Somfy about this last time. If this keep being an issue, I will contact them again...

[2021-07-14 16:46] iMicknl opened #472 "Remove duplicate code for temperature sensor linking in climate device"
Currently, multiple climate devices (SomfyThermostat and AtlanticElectricalHeaterWithAdjustableTemperatureSetpoint e.g.) are connecting to an external temperature sensor entity.

It would be great to have this more abstract, so we can remove the duplicate code.

[2021-07-14 17:09] #462 closed

[2021-07-14 17:24] iMicknl commented on #456
@chali272 apologies for the late reply. Did you already sort this out / are you still looking for help?

[2021-07-14 17:25] iMicknl commented on #469
Thanks for reporting, @tofgun. This is a device that has been request multiple times before. Have a look at https://github.com/iMicknl/ha-tahoma/issues/299. I will close this issue, since it is a duplicate.

In the mean-time, you could give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/support_HitachiAirToAirHeatPump.zip
 a try. Extract this file and place `custom_components/taho

[2021-07-14 17:25] #469 closed

[2021-07-14 18:37] alexgraupera commented on #466
I have the same problem with account authentication. I updated the integration to the last version and restarted HA.

I tried to access via thaomalink.com web but I can't access. Show a message with "username or password are invalid". It also doesn't work resetting password

I only have access in accounts.somfy.com dashboard. Tomorrow I'll try to contact with Somfy

[2021-07-14 18:56] #461 closed

[2021-07-14 19:00] alexanderfitu commented on #466
Same issue here today, specifically getting:

[%key:common::config_flow::error::invalid_auth%]

[2021-07-14 19:00] iMicknl commented on #466
Please make sure to update this integration to v2.4.12! I made some changes to the way we handle 'invalid authentication'.

Sometimes Somfy will throw a `BadCredentials` error, which isn't related to actually bad credentials. However, our integration keeps retrying this and this can cause a temporary block by Somfy... In the new version, this will throw an error in the interface which does ask you

[2021-07-14 19:01] alexgraupera commented on #466
After reading @NicolasRigo hypothesis, I have tried connecting through a VPN, testing the login on the tahomalink.com website ... and it worked

After trying the above I have restarted HA and it has worked. What surprises me is that I had not configured HA at any time through this VPN but it has worked

Could it be the account banned for some reason, and after entering through a different IP it is

[2021-07-14 19:03] iMicknl commented on #466
@alexgraupera if you update to the latest version (see message above) and/or temporarily disable the integration, it should work in a few days...

See my explanation above.

[2021-07-14 19:19] alexgraupera commented on #466
Hey @iMicknl , sorry, I did not see your message. Just now HASS fired the new version from v2.4.11 to v2.4.12
After update it and restart HA has not displayed any invalid authentication message and works fine.

Thank you so much and good job!!!

[2021-07-14 19:32] iMicknl commented on #468
Another user, @ahivert, just confimed that the TaHamo Switch works like a charm with this integration.

[2021-07-14 19:33] #468 closed

[2021-07-14 19:56] TheDaft78 commented on #468
Great, thanks for the feedback!

[2021-07-14 20:16] chali272 commented on #456
i never got it working

[2021-07-14 20:17] iMicknl commented on #456
What was unclear about my instructions? If you download the zip file I referenced above. You can extract it and it has a custom_components folder with the tahoma folder inside. Copy this tahoma folder and place it in your custom_components folder.

[2021-07-14 20:18] MikeLDPT commented on #466
Hi @iMicknl ... I too was on an earlier version and have just had the option provided to update to v2.4.12.  I'll let you know if there are issues after update.  Thank you!

[2021-07-14 21:30] #399 closed

[2021-07-14 21:52] #304 closed

[2021-07-14 21:56] iMicknl commented on #322
Could you perhaps help me by creating a new issue about this? (with as much info as possible). This will be something I would like to fix in the coming months, but not on short term.

[2021-07-14 22:14] #322 closed

[2021-07-14 22:14] #381 closed

[2021-07-14 22:33] #299 closed

[2021-07-14 22:33] #445 closed

[2021-07-14 22:47] iMicknl commented on #223
@Hankey71 the version below should add a sensor for the expected number of showers.
@tillstaff the version below should add a sensor for the speed of each motors (inlet and outlet).

Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/add_secondary_sensors.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder. Let me know ho

[2021-07-15 00:12] Hankey71 commented on #223
Hi @iMicknl
Thank you again for all the work you do on this integration!
I just tested this version with the number of showers and it's perfect!
But I think you had already tried with my water heater because on your screen print it looks like my data from my water heater!
Thank you !

[2021-07-15 00:15] iMicknl commented on #223
Great to hear, @Hankey71! And the screenshot is from a long time ago, but I guess I took it while developing via your account. 😄

[2021-07-15 00:22] Hankey71 commented on #223
Yes, no worries for the account! Now I can have my three cards on lovelace, the towel dryer, the three living room radiators (together) and the water heater! Perfect !
![Presse-papiers-1](https://user-images.githubusercontent.com/61835259/125709086-1cc7ef49-c7ee-40bb-b462-cd3cb1f6a70c.png)

[2021-07-15 06:07] lambu76 commented on #466
I have same issue starting from yesterday.
Yesterday evening HACS advised me about a new version available (2.5) I applied and I restarted HASSIO but when I try to reconfigure the integration "Somfy Tahoma" I got the error "invalid credential" even if the same credential are working fine on website somfy-connect.com.
How to solve it ?

[2021-07-15 07:01] cdeharo commented on #466
Today I've had again the issue (after updating to the last versions of HA and the integration). Multiple reboots hasn't solved the issue.

Inspired on this comment, I accessed the Connexoon terrace mobile app outisde my local network, and then restarted the HA and _voilà_ it worked.

[2021-07-15 07:05] lambu76 commented on #466
Let add that somfy-connect and app are working fine in both below cases:
- connecting through the local network where I have HASSIO by using wifi or eth cable
- connecting via mobile phone by using 4G network
Personally I don't think it's a problem of IP blocked related to the user.

Currently I disabled the Somfy Tahoma integration and I will wait 24 hours for a new try from HASSIO....let's see t

[2021-07-15 07:34] Mariusthvdb commented on #466
not sier if this was added above (quick search executed... sorry if I missed), but just for reference, when experiencing the `invalid auth`, not only does the Somfy App still work as expected, but also the Google assistant connection (directly linked, so not via HA Nabucasa cloud) to the individual devices work perfectly.

Several cover groups, created in HA, which are connected over HA Nabucasa d

[2021-07-15 07:47] mstuij commented on #466
I have also the problems since yesterday.

With the Somfy app everything is working correct. I have no device reboot (not HA device, not the Tahoma device). I have also not updated HA for some time.

This is the log in Home Assistant:

`Deze fout is ontstaan door een aangepaste integratie.

Logger: custom_components.tahoma
Source: custom_components/tahoma/coordinator.py:78
Integration: Somfy TaHom

[2021-07-15 07:47] iMicknl commented on #466
Thanks all for your replies! Unfortunately this is not an issue on the side of the integration directly, for example this also happens with the [homebridge](https://github.com/dubocr/homebridge-tahoma/issues/310) integration. In essence it is exactly the same as last time (https://github.com/iMicknl/ha-tahoma/issues/278) and it seems our counter measures haven't been implemented in the right way.

[2021-07-15 08:22] Mariusthvdb commented on #466
**

**

if its of any use: I did so, turning on my Vpn connection (is a useful hack for when we get self-banned too), but this didn't solve the issue at all.

Glad you keep on working at it, and of course grateful for the assistance by Somfy!
Thanks for that!

[2021-07-15 09:06] alexgraupera commented on #466
@Mariusthvdb after connect the Vpn connection, did you logout and login on the platform of Somfy / Tahomalink (for example web interface) from this connection? Other way, you can try to login via web into Somfy / Tahomalink with a device mobile (with mobile 3g/4g connection, no wifi) and incognito tab for example. The hypothesis is make a login using a different IP than HA connection

After trying

[2021-07-15 09:12] Mariusthvdb commented on #466
Not sure what the internals did, but I dint touch the Somfy connection myself. I did force close my HA app, and reopened after which it must have connected over the new IP address.

I already have the latest now, and haven't seen the issue yet, was merely trying to help adding information. If that wasn't the correct procedure, sorry for adding useless info ;-)

[2021-07-15 09:18] golles commented on #466
I also experience this issue yesterday, I could also not login into https://www.tahomalink.com/ (other Somfy sites worked fine, password reset also worked fine, but still couldn't log in). I've disabled the integration overnight and just checked and noticed I could log in again into https://www.tahomalink.com/ Now I enabled and restarted HA and it works fine :-)

I agree this isn't an issue for th

[2021-07-15 09:53] Wiggum127 opened #476 "Unexpected error fetching device events data: Too many requests, try again later : login with email - custom_components/tahoma/coordinator.py:78"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Getting many errors lately which I didn't have before.
The logging claims there have been too many login attempts, for some reason.

Logging

[2021-07-15 10:13] iMicknl commented on #476
When did this issue first occur? It could be related to the outage on Somfy's side, see https://github.com/iMicknl/ha-tahoma/issues/466#issuecomment-880475153.

[2021-07-15 10:23] lambu76 commented on #466
Quick update.

I decided to try one more time and after more or less 3 hour I reenabled the integration and automaticcaly it went back working fine...w/o doing anything else expect re-enabling it.

[2021-07-15 11:42] azrael783 commented on #471
Hi,

I do have a little basic knowledge of Python and would offer my help here...

[2021-07-15 11:55] Wiggum127 commented on #476
It started happening around 27/06. The Tahoma integration has been very unstable since. Multiple restarts, enablind/disabling the integration did not change anything. The topic seems to be related to #466. Should I close this one, or do my logs show a different issue compared to 466?

[2021-07-15 12:39] Wiggum127 commented on #476
FYI. Just upgraded to latest and greatest version of the ha-tahoma and HA 2021.7.2. A few minutes after restarting the container I get the same errors again. Using the Somfy app from my smartphone (same external IP) does not give an error. It doesn't seem to fix the HA error neither. Connecting via 4G via the phone (in theory unlocking the user in some way at Somfy side) also does not change the b

[2021-07-15 13:42] iMicknl opened #478 "Migrate light entity to new HA core structure"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

The [light entity](https://developers.home-assistant.io/docs/core/entity/light) has changed quite a lot in core and doesn't require us to do

[2021-07-15 13:45] iMicknl opened #479 "Improve typing of this integration"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Since HA core has moved to strict typechecks, they have introduced many nice types. If we want to add this integration to core eventually, we

[2021-07-15 14:23] iMicknl opened #481 "Migrate `Siren` to use siren entity instead of switch"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

The siren entity has just been added to core, see https://github.com/home-assistant/core/pull/48309. It would be good to move the `Siren` ui

[2021-07-15 16:04] tetienne commented on #479
We should also add mypy as pre commit.

[2021-07-15 16:24] iMicknl commented on #479
Maybe we can inherit the typings from core already, but that will require some more PR’s haha.

[2021-07-16 08:50] creativeosmose commented on #396
Hi @iMicknl,
Thanks for reopening this issue.
I can confirm the previous issues are still present.
I understand that the config is specific per device - I can provide testing results if you have the bandwidth to implement the fixes.
Thanks,

[2021-07-16 14:55] Pol2Tls opened #484 "No such command : refreshOperatingMode"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hi Team,
With an io:AtlanticPassAPCZoneControlMainComponent I can see all the climates and sensors, but if I try any action all of them becom

[2021-07-16 15:02] iMicknl commented on #484
Thanks for reporting, @Pol2Tls! It seems that the error is in your io:AtlanticPassAPCZoneControlZoneComponent. I will have a later look to see if we can change this.

```2021-07-16 16:48:25 ERROR (MainThread) [custom_components.tahoma.tahoma_entity] No such command : refreshOperatingMode on device io://0825-0315-xxxx/960379#2 (io:AtlanticPassAPCZoneControlZoneComponent)```

Device definition.
[cod

[2021-07-16 19:17] XalaTheShepard opened #485 "Add support for ValveHeatingTemperatureInterface (io:HeatingValveIOComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Dear all,

I am already using the HA-Tahoma component for quite some time.
Since a lot of additional devices have been added lately, I though

[2021-07-17 07:46] tetienne commented on #485
Can you please give us the name of the firmware use by your radiator? You can find it within the device page in HA. It looks like _ Firmware: io:AtlanticElectricalHeaterIOComponent_

[2021-07-18 19:42] iMicknl commented on #485
@XalaTheShepard and your device is currently not supported at all, have a look at our [instructions](https://github.com/iMicknl/ha-tahoma#device-not-supported). You will need to turn on debug mode and capture your device model.

For next time, best would be to use our 'Unsupported Device' template. This will give us all the required information.

[2021-07-18 19:43] iMicknl commented on #471
@azrael783 great to hear! Feel free to join us on [Discord](https://discord.gg/RRXuSVDAzG) when you have time. Happy to walk you through it.

[2021-07-18 21:03] XalaTheShepard commented on #485
Dear Tetienne,

The firmware is the following: core:FirmwareRevision: 5145198A12?

Dear iMicknl, I tried to open the link of the supported devices, but could not open it.
I am aware this device is not supported and might have chosed the wrong topic at the creation of this request.
It is not an error, but more like a feature request.
Would there be a possibility to add them to the integration or is

[2021-07-18 21:45] iMicknl commented on #485
We are happy to help, but we would need more information as mentioned in my URL. Since you are not able to open my link, I will paste some of the related content here. Probably there is already an open feature request for your device.

[2021-07-19 08:06] gerardsamara commented on #355
Hi,

With last veresion V2.5.1 , the problem still exists

``
2021-07-19 09:42:14 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.075 seconds
2021-07-19 09:42:14 DEBUG (MainThread) [custom_components.tahoma] Unsupported device detected (io:AtlanticPassAPCHeatPumpMainComponent - HeatingSystem - AtlanticPassAPCHeatPump - io://0831-3115-3482/1086078#1)
2021-07-

[2021-07-19 08:10] iMicknl commented on #355
@gerardsamara that's correct. Support for this device hasn't been added yet. However, I had a quick look and this issue contains a lot of information about many different devices.

Best would be to to create a new issue (choose: unsupported device) and fill in the template. It would help us a lot if you could include information like https://github.com/iMicknl/ha-tahoma/issues/355#issuecomment-774

[2021-07-19 12:32] aldert-b opened #486 "Terrace Awnings open when HA close command is given"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Until last update terrace awnings worked correct. When it got dark, they closed correctly with the service close_cover, but the they open iso

[2021-07-19 22:20] jakovec opened #487 "Gate (DiscreteGateWithPedestrianPosition) does not report static status"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hi there, since version 1.5.0 the gate does not report CLOSE or OPEN status, only statuses OPENING or CLOSING are reported while the gate is

[2021-07-19 22:32] iMicknl commented on #487
Could you share the states for your devices from `/developer-tools/state`? I believe this is caused by a recent change. We will need to add your specific state back.

cc @tetienne

[2021-07-19 22:36] jakovec commented on #487
Sure, it seems that OpenClosedPedestrianState is representing current state...

rssi_level: 62
core:FirmwareRevision: 5102007F05?
core:Manufacturer: Somfy
core:NameState: brana
core:PriorityLockTimerState: 0
core:OpenClosedPedestrianState: closed
core:StatusState: available
core:DiscreteRSSILevelState: normal
core:RSSILevelState: 62
core:PedestrianPositionState: 50
io:PriorityLockOriginatorState:

[2021-07-19 22:53] iMicknl commented on #487
Thanks @jakovec, this was indeed what I expected. We removed part of this functionality a few versions ago, but good to know that this is still required.

https://github.com/iMicknl/ha-tahoma/pull/449/files

[2021-07-20 07:20] tetienne commented on #487
I don’t get why `io:DiscreteGateOpenerIOComponent `and `io:GateOpenerIOComponent` does not have the same set of commands and states. Sorry for that.
Can you please try this fix: https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/DiscreteGateWithPedestrianPosition.zip (only cover.py file was modified).

[2021-07-20 07:21] tetienne commented on #487
For record:

[code]

[2021-07-20 07:39] jakovec commented on #487
Thank you for such a quick fix! Tested that and working great! No issue now, all states as expected.

[2021-07-20 07:54] tetienne commented on #486
Thx for reporting this. Apparently, Somfy does not implement the same way all their awning:

In io:AwningValanceIOComponent (your device), for instance there is no `core:DeploymentState`
[code]

while in `io:HorizontalAwningIOComponent` we can see it

[code]

And Somfy support told us to use the deployment state for the awning. So I have to guess why here it’s not correct.

[2021-07-20 08:36] tetienne commented on #487
@jakovec Can you confirm when you set a position your device behaves always the same ? Normally, you can only have one position. And that’s something we don’t handle, and it seems to work "by chance".

[2021-07-20 08:58] jakovec commented on #487
@tetienne Not sure how that should work, attribute current_position remains at value 50 at all states. If you call cover.set_cover_position service nothing happens.

[2021-07-20 09:01] jakovec commented on #487
If you set the position with physical remote controller, HA won't know current state until you kill the HA app and restart that or use a button to set position, for example:
- I open the gate by remote
- open HA UI, it still shows closed
- I toggle the state of gate in HA by button (so it should change from open to close)
- brief "opening" state happens for 1-2 seconds and then the state switches

[2021-07-20 10:05] tetienne commented on #487
So there is is still something not correctly handle. Perhaps a cover is not the right entity for this kind of devices. The new [select entity](https://www.home-assistant.io/integrations/select/) seems make more sense as only few states can be set or retrieved. (cc. @iMicknl)

[code]

As you did [here](https://github.com/iMicknl/ha-tahoma/issues/487#issuecomment-882906084), can you control your dev

[2021-07-20 11:24] jakovec commented on #487
@tetienne On the other side, it's kind of comfortable to see the "opening" and "closing" status when you are not at the device and cannot check that visualy...

It is a two-leaf gate which includes two IXENGO 24V gate openers and one Control Box Somfy 3S IO, see https://service.somfy.com/downloads/bc_v5/5135006a001-manueld-installation-illustrations_control_box_3s_io.pdf

picture from camera here

[2021-07-20 12:03] tetienne commented on #486
OK got it. io:AwningValanceIOComponent is not an horizontal device. It’s a lambrequin. So I only have to update my horizontal device detection.

[2021-07-20 13:02] aldert-b commented on #486
Maybe they installed the wrong somfy device in my place, but for me it is used as a screen in front of my big window. The screen goes up and down to cover the window.

[2021-07-20 13:04] tetienne commented on #486
In your case, I think the use case is normal. The issue is this integration think your device is horizontal and so behave like this. I have to update the logic. I asked to their support what’s the correct way to do it.

[2021-07-20 20:21] tetienne commented on #486
I contacted the Somfy support. Issue is on their side. They forgot to add a state in their response for your device.
They will fix it soon. Some no fix required normally on our side.

[2021-07-20 23:13] iMicknl commented on #486
Thanks for the research and contacting Somfy, @tetienne.

@aldert-b could you downgrade to a previous version for the time being? We will close this issue when Somfy has deployed the change mentioned above!

[2021-07-21 06:02] aldert-b commented on #486
Thanks a lot!! I have no idea how to downgrade to a previous version. Do I have to restore from backup?

[2021-07-21 07:43] jakovec commented on #487
@tetienne So checked the states of device while remote controlling by IO remote controller. It seems that it works just fine, the only problem is that the states are not "pushed" and the correct state appear after refresh interval is due. So 30 seconds in my case. That is if I have my Android app open. If I have it "minimized" (in phone memory but not active) and open that, correct status does not

[2021-07-21 07:49] tetienne commented on #487
Thank for this. That’s really strange OpenClosedPedestrianState is only set to unknown or closed. There is no use case where its value is set to `pedestrian` or `open`?

[2021-07-21 07:53] jakovec commented on #487
There might be any, but I don't use the pedestrian feature (which is that only one leaf will partly open for pedestrians to pass)... If you want me to check that, I can try to setup this state sometimes :)

[2021-07-21 07:55] tetienne commented on #487
@jakovec It would be nice if you can have a try. It will allow me to understand better the device and what we can do with it.

[2021-07-21 08:07] iMicknl commented on #486
Did you install ha-tahoma through HACS or manually?

[2021-07-21 08:10] iMicknl commented on #487
@tetienne as extra context, we have had @francodutch who also owns a Somfy gate. His gate closes automatically after 2 minutes, and this state is not refreshed. We implemented https://github.com/iMicknl/ha-tahoma/pull/271 as a test, see https://github.com/iMicknl/ha-tahoma/issues/167.

It seems that we need to refresh the state for some devices, HomeBridge calls this endpoint periodically.

[2021-07-21 08:12] aldert-b commented on #486
HACS. IF see now the possibility to reinstall and select a previous version. Is that the way to go?

[2021-07-21 08:16] iMicknl commented on #486
Yes, that's indeed the way to downgrade! :-)

[2021-07-21 08:37] francodutch commented on #487
@jakovec i have the same behaviour. As @iMicknl said the change in state is not pushed after auto.atic closing not is it after opening or closing with an IO remote control. An additional issue is that when I block the gate in open position with the files line control panel, the close command through HA is ineffective.

[2021-07-21 09:56] tetienne commented on #167
What about doing this automatically if we detect a device required it ?

[2021-07-21 09:59] iMicknl commented on #167
I had the same thought this morning, would make a lot of sense. Just enable this for the devices where we require it and don't make it user configurable.

[2021-07-21 10:18] inconsx opened #491 "Volant doesn't move up/close anymore"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I can let down my volant but if push/slide for up nothing happens anymore.

### What version of this integration (ha-tahoma) has the issue?

[2021-07-21 10:36] iMicknl commented on #491
Thanks for reporting, @inconsx! We received a similar issue, thus I will close this one for now. Let's keep track of this issue in #486.

This is a bug on Somfy's side, and for now best is to downgrade our integration.

[2021-07-21 10:36] #491 closed

[2021-07-21 14:43] iMicknl commented on #484
@Pol2Tls, could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/484.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-07-22 08:31] Voileux78 opened #493 "Impossible to launch Somfy Tahoma configuration"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello,
I'm a beginner with HA, and moreover with HACS...
I've intalled the package Somfy Tahoma through HACS (select the integration, press i

[2021-07-22 09:39] iMicknl commented on #493
It sounds like you already installed the integration through HACS.

Now it should be as simple as going to your Integrations page, add new and search for Somfy TaHoma.

[2021-07-22 10:33] Voileux78 commented on #493
Hi, many thanks, it works fine now... I just forgot the last step "add new". I was expecting a direct pop-up in the list !
Many thanks once more !

[2021-07-22 10:33] #493 closed

[2021-07-22 10:49] iMicknl commented on #493
Great to hear! Let us know if you have any feedback after usage :-)

[2021-07-22 11:01] Voileux78 commented on #493
Yes for sure, I will do ! Sounds good because it seems being much more detailed than the information delivered by the TaHoma box itself , in particular for Atlantic.

Alain ROBIC

[2021-07-22 12:43] TheFes commented on #486
Same issue here (which I did not recognize at first, because I change the device_class) :)

Good to know it will be fixed.

Just wondering.. If the bug is at Somfy side, why does a downgrade of the integration fix it? Are the json files read differently between versions, so as of the most recent version the incorrect data is used?

[2021-07-22 14:27] iMicknl commented on #486
Previously, we had a lot of logic in our integration that defined if an awning was horizontal or vertical. This resulted in [many issues ](https://github.com/iMicknl/ha-tahoma/issues?q=is%3Aissue+label%3A%22bug%3A+reversed+state%22+is%3Aclosed) where the state has been reversed. We have had contact with Somfy and they did explain us how to handle this scenario, thus we made this fix. However, this

[2021-07-22 15:36] tetienne commented on #486
So talking about their fix, they plan to release it end of September or in Autumn...

[2021-07-22 15:42] iMicknl commented on #486
Makes sense, shall we fix it temporarily and create an tracking issue + comment in the code?

[2021-07-22 20:46] tetienne commented on #486
I guess so.

[2021-07-23 07:12] TheFes commented on #486
Thanks for the explanation.

Good to hear you're working on temporary fix.

Before I reverted back to the old version, I already crated a template cover which worked with setting the cover position when an open or close command was issued :) But I'll guess I'll just wait a bit now :)

Thanks for all the hard work!

[2021-07-23 10:11] FelipeGiro commented on #471
I can contribute also. I already joined Discord.

[2021-07-24 10:04] Pol2Tls commented on #484
Hi @iMicknl
There is no more error, but can't say it's working.
The behavior between the HA sensor and the Atlantic device is weird.
Below an example.

On HA, Climate "Salon" > set the temperature to 25.

2021-07-24 11:41:48 DEBUG (MainThread) [custom_components.tahoma.coordinator] EventName.DEVICE_STATE_CHANGED/None (device: io://xxxxx/8647155#1, state: None -> None)
2021-07-24 11:41:48 DEBUG (Ma

[2021-07-25 20:39] XalaTheShepard commented on #485
Dear all,

Sorry for the late response.
I will add the debug mode to my HA this week and will inform you of the outcome.

Kind regards

[2021-07-26 07:12] iMicknl commented on #450
[code]

Are you able to run `tahoma.get_execution_history`, see https://github.com/iMicknl/ha-tahoma#device-not-working-correctly? This helps us understand which commands to execute, based on what the official app does.

[2021-07-26 18:51] Aeosium commented on #450
Thanks for the follow-up, I'll try again to run the command and get back to you asap (it didn't work last time I tried but I'll update everything and try again)!

[2021-07-27 17:15] Voileux78 commented on #493
As a feed back, I succeeded to manage properly my heaters (much more efficiently than with Tahoma itself). I can manage them individually, change their mode, change the target temperature, aa well as collectively by batch. Just taking care not to manage too much heaters in the same batch because of a Tahoma limitation of max reception of 10 commands simulteanously.
I completed my goal in managing

[2021-07-28 06:18] themaninspain commented on #487
I also have a similar problem. My gate shows as open when it is closed and in fact never gives me a closed status.
Core = 2021.7.4
Tahoma = 2.5.1
Entity ID: cover.ixengo_io open

[2021-07-28 07:07] tetienne commented on #487
@themaninspain entity_id is not enough to help up. Can you please open the [devices](https://my.home-assistant.io/redirect/devices/) page for your gate and give us the firmware that is displayed.
It looks like this
![image](https://user-images.githubusercontent.com/8216238/127279269-19def059-c7d7-4cd0-90ba-2c2451679f2b.png)

[2021-07-28 07:11] themaninspain commented on #487
Device info
DiscreteGateWithPedestrianPosition
by Somfy
Firmware: io:DiscreteGateOpenerIOComponent

[2021-07-28 07:20] tetienne commented on #487
Can you please try the master branch of this component (instead of choosing a version within HACS)?

[2021-07-28 07:22] themaninspain commented on #487
Apologies for the dumb question: how do I do that?

[2021-07-28 07:49] tetienne commented on #487
@themaninspain Within HACS, on ha-tahoma card, click on the 3 dots > reinstall > select master > install

[2021-07-28 10:20] themaninspain commented on #487
Done and the gate now shows as closed.
Thanks

[2021-07-29 21:05] Aeosium commented on #450
Hi there!

I tried running the `tahoma.get_execution_history` but still no luck. This is the error I get in the log if that can help:

[code]

[2021-07-31 06:26] Nodezero1 opened #500 "Somfy sensors unavailable after upgrade to 2021.8 beta"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

After upgrading to the 2021.8 beta HA core.  Sensors such as the temperature and light sensors connected to the Somfy Tahoma are unavailable

[2021-07-31 10:07] iMicknl commented on #500
Thanks for reporting, @Nodezero1!

It seems that `ELECTRICAL_CURRENT_AMPERE` is renamed to `ELECTRIC_CURRENT_AMPERE` in https://github.com/home-assistant/core/pull/53243. We will fix this in the coming days :-).

[2021-07-31 10:09] iMicknl commented on #450
@Aeosium thanks, this has been fixed in our latest master version.

Do you use HACS? Within HACS, on ha-tahoma card, click on the 3 dots > reinstall > select master > install. Than this command should work :).

[2021-07-31 23:01] iMicknl commented on #500
Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/500.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

This should fix your issues with the latest beta. :-)

[2021-08-01 05:26] Nodezero1 commented on #500
Thanks, that did the trick!

[2021-08-01 05:26] #500 closed

[2021-08-01 10:44] iMicknl opened #502 "Implement `state_class` / `last_reset` property for sensor entities"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

See https://developers.home-assistant.io/docs/core/entity/sensor/, recently `state_class` and last_reset property has been added for sensor e

[2021-08-01 10:49] iMicknl commented on #476
@Wiggum127 do you still have these issues? (using our latest version).

[2021-08-01 10:53] iMicknl commented on #484
Sorry for the late reply! @Pol2Tls could you perhaps create a new issue around the features you find missing / non functional for your device? For now the fix mentioned in this issue is in master and will go with the upcoming release.

Currently we only added limited support for your device, since it is very complex and also hard to develop when you don't physically own the device..

[2021-08-01 10:53] #484 closed

[2021-08-01 10:54] iMicknl commented on #471
For anyone that wants to contribute, we are also creating a list with issues that are good to tackle as a first issue :-).

See https://github.com/iMicknl/ha-tahoma/labels/good%20first%20issue

[2021-08-01 12:32] iMicknl opened #503 "Convert @property to _attr_variable"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

In core, they made a change to add attr_ variables instead of setting properties. It would be good to see if we can make this change as well.

[2021-08-02 06:55] segaura commented on #376
I had some issue this month with HA upgrades.
Now HA is finally fine but I am still experimenting issues with the custom component, I am on really fresh HA `core-2021.9.0.dev20210802` on docker container and component does not start maybe due to this

[code]

do you want me to tweak something or, maybe, try the `stable` HA version?

[2021-08-02 07:54] guillaumelamirand commented on #441
Still present.

[2021-08-02 08:21] iMicknl commented on #376
@segaura you would need to download the latest version of this branch. Give  https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/AtlanticHeatRecoveryVentilation.zip a try. Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

This should accommodate for the beta fix.

[2021-08-02 08:22] iMicknl commented on #472
As an addition, it would be good to not fail when the temperature sensor cannot be found / loaded.

[code]

[2021-08-02 08:23] iMicknl commented on #441
Sorry for the late reply. Did you try executing the `tahoma.get_execution_history` service? It should print some information in your Settings -> Log. (or an error).

[2021-08-02 20:14] Aeosium commented on #450
Ok I managed to get the latest master and run the `tahoma.get_execution_history`, thanks for the fix!

I then ran the following command (the screenshot of the somfy app is available on the [previous comment](https://github.com/iMicknl/ha-tahoma/issues/450#issue-900008452)):

- Auto
- Confort
- Eco
- Hors gel
- Auto
- Manual (it selected Confort)
- Off

Which gave this in the log [thermostat.txt](h

[2021-08-04 11:54] iMicknl commented on #275
Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/enhancement/add-low-speed-switch.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

See https://github.com/iMicknl/ha-tahoma/pull/497 for more context.

[2021-08-04 13:55] callifo opened #504 "Stops working, with 'Error fetching device events data: Too many requests, try again later.'"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Within the last few weeks started to notice these populating the log files whenever a cover is controlled,
[code]
Eventually blind control co

[2021-08-04 14:20] iMicknl commented on #504
Related issues: https://github.com/iMicknl/ha-tahoma/issues/300 & https://github.com/iMicknl/ha-tahoma/issues/369.

@tetienne / @vlebourl what should we do? I would say that the DataUpdateCoordinator still makes sense, but that we would need to tackle two things:

1. If a user only has RTS devices, set the default polling interval to a high value. (1 day?)
2. Don't fetch state updates every second

[2021-08-04 20:54] Wiggum127 commented on #476
Yes. Currently still facing the issue, now running HA 2021.7.4 Right after a HA restart, the integration starts spilling the errors.
I'm running the version of the integration which was available on 15/07.

[2021-08-05 11:55] chavalaloco opened #507 "Tahoma Switch Box Connection Problems"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I‘ve set up the tahoma switch box with my motor and it works just fine with the app. But I can’t get the homeassistant intergration to work.

[2021-08-05 13:21] iMicknl commented on #507
Thanks for reporting, @chavalaloco! Do you live in Europe?

Have you tried selecting 'Somfy TaHoma' as your hub? This should work for the TaHoma switch with the same credentials as what you use for the iOS / Android app.

[2021-08-05 13:58] chavalaloco commented on #507
Yes i did. already before. I found the problem.
I didn't Setup a scene in the tahoma app. After doing that it works now.

Thanks for your help!

[2021-08-05 13:59] chavalaloco commented on #507
FYI: the tahomalink login still doesn't work.

[2021-08-05 14:29] iMicknl commented on #507
I am not sure if I understand correctly. But you had to first create a scene in the TaHoma app, and afterwards you could use the login? Maybe we should document this in our README.

[2021-08-05 14:58] chavalaloco commented on #507
That's correct.

[2021-08-05 19:39] schumi69 commented on #441
Hi,

the problem is that I don't have a button to arm or disarm the alarm (see photo)

![image](https://user-images.githubusercontent.com/70438080/128410751-542d6ebd-6d62-421f-8dde-ff530231b257.jpeg)

[2021-08-06 06:36] mstuij commented on #275
I don't know if i do everything right but the covers are not going down. But there is also no error log. This is how I have implemented a button:

`type: custom:button-card
name: West sluiten
tap_action:
  action: call-service
  confirmation:
    text: Westkant alle rolluiken sluiten?
  service: tahoma.set_cover_position_low_speed
  service_data:
    entity_id: cover.westkant_cover_group
    posit

[2021-08-06 08:32] iMicknl commented on #275
@mstuij the version that I linked should have a switch per cover, where you can set it to low speed or not. You can than just use the normal cover services. Are you able to see the switch?

[2021-08-06 09:00] mstuij commented on #275
@iMicknl
No I don't see it. I have deleted all original files in the custom_components/tahoma folder and copied the files of your zip (custom_components/tahoma) in this folder. After that I restarted home assistant and I don't see it.

Do I need some configuration?

[2021-08-06 10:20] tetienne commented on #275
@mstuij normally no. I have to see why only me see the switch...

[2021-08-06 20:59] tetienne commented on #275
@mstuij Can you download again https://github.com/iMicknl/ha-tahoma/archive/refs/heads/enhancement/add-low-speed-switch.zip ? I found my mistake.

[2021-08-07 06:05] mstuij commented on #275
@tetienne I still don't see the new option.

[2021-08-07 06:28] tetienne commented on #275
@mstuij where did you look? It should be in device page of your cover.

[2021-08-07 06:31] mstuij commented on #275
![cover_device](https://user-images.githubusercontent.com/75884924/128590824-ce42b955-aa65-43a8-8a92-d945283039c6.png)

[2021-08-07 06:54] tetienne commented on #275
I double checked. I was too tired yesterday night..  I forgot to replace a variable.

[2021-08-07 06:56] mstuij commented on #275
Okay no problem. When you give me a new version I will test it directly.

[2021-08-07 19:26] antoineguilbert commented on #507
I have the same problem. I can't use my Tahoma Switch on Home Assistant. I used before the Tahoma V2. What kind of scenes did you create @chavalaloco ?

[2021-08-07 19:43] chavalaloco commented on #507
I created just a manual scene which closes the cover.

![image](https://user-images.githubusercontent.com/59644594/128612144-86f291bc-d641-4128-ab24-88a89e07acbf.jpeg)

[2021-08-07 19:46] antoineguilbert commented on #507
I've already this kind of scene.
What do you choose here ? Tahoma not working for me (because tahomalink not working with Tahoma Switch)

<img width="388" alt="Capture d’écran 2021-08-07 à 21 44 07" src="https://user-images.githubusercontent.com/16510381/128612212-799ef768-662b-4eaf-9d9c-aa81924e7ee1.png">

[2021-08-07 22:23] dasfuu opened #508 "Failed to create a HomeKit accessory"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

When I create a Homekit bridge in the UI and add the cover to them they dont show up in HomeKit.

### What version of this integration (ha-ta

[2021-08-08 06:27] tetienne commented on #508
I'm sorry but I didn't see the link between your error and our component. In the stack trace, that's the homekit component which is involved.

[2021-08-08 09:27] chavalaloco commented on #507
I chooses Somfy Tahoma. It doesn't matter if you can login to tahomalink or not, I can't anyway but home assistant could login and show my somfy devices. What I also did is plugging the switch off and leave it like that for a couple of hours (I think i left it for 3 or 4 hours), then I created this scene and i could successfully login.

[2021-08-08 10:25] dasfuu commented on #508
To be clear: everything else works via HomeKit as intended

[2021-08-08 16:43] iMicknl commented on #508
Thanks for reporting, @dasfuu. Did you always had this issue or only since a while?

Technically, it seems that this is an issue of the `homekit` integration since they cannot handle our firmware name. Could you have a look what is shown as 'firmware' for your device?

[2021-08-08 18:38] dasfuu commented on #508
I only just installed Homeassistent.

The firmware seems to have a weird character in it: `5100394X22`
 The ? is probably a placeholder.

[code]

[2021-08-08 18:45] tetienne commented on #275
@mstuij It should be ok now. You can retry my branch.

[2021-08-08 19:00] iMicknl commented on #508
I would log this bug first at Home Assistant core, mentioning the error and which firmware you have at Configuration -> Integration -> Devices -> [your device] (firmware field).

[2021-08-08 19:02] dasfuu commented on #508
Now i know what firmware you mean.

Firmware: io:RollerShutterGenericIOComponent

[2021-08-08 19:06] chavalaloco commented on #508
I have the same Problem with the device:
 io:HorizontalAwningIOComponent

[2021-08-08 19:15] mstuij commented on #275
@tetienne

The switch is now visible:

![cover_device2](https://user-images.githubusercontent.com/75884924/128643212-f34dc269-3f91-461a-add6-21db03b10064.png)

But it seems to be that the covers is always running on slow speed regardless of which lightning button I press

[2021-08-08 19:24] iMicknl commented on #508
@chavalaloco is this something which did happen since a recent update to Home Assistant?

Please link here the created bug at Home Assistant core and I will try to have a look at Home Assistant core in the coming weeks.

[2021-08-08 19:39] tetienne commented on #275
You are well moving your cover from HA?

[2021-08-08 20:00] dasfuu commented on #508
@iMicknl I created an issue there.
https://github.com/home-assistant/core/issues/54283

[2021-08-08 20:03] chavalaloco commented on #508
No I first started with this addon a few days ago.

[2021-08-08 20:57] tetienne commented on #275
@mstuij Indeed, don’t know why I didn’t see thit. Should be ok now.

[2021-08-08 21:12] nbeernink commented on #275
Works for me now. 👍

[2021-08-09 05:43] mstuij commented on #275
@tetienne Now it works also for me (slow and fast speed).

1) I don't see the discrete switch for cover groups?
2) Is it not better to have only feather icon instead of the 2 lightning icons (the tahoma app has also only 1 feather icon: on or off)

[2021-08-09 06:41] tetienne commented on #275
@mstuij Perfect !

1. A component cannot do this.
2. I don’t retrieve the state from the Somfy server. They don’t return it. So I declared the switch with an [assumed state](https://developers.home-assistant.io/docs/core/entity/#generic-properties). HA displays assumed state switch using two icons (on and off)

You can create a group with all the low speed switch, to quickly toggle the low mode fo

[2021-08-09 07:08] mstuij commented on #275
@tetienne Okay so for all my cover groups I should create dummy switches by my self and in the cover template group I have to check the dummy switch.

Then when it is fast speed --> I should set your switches of all covers in this cover group to fast speed and open/close the covers. Then I have to restore your switch (because that is nicer to have the old state to those swicthes)

So isn't it bett

[2021-08-09 07:40] tetienne commented on #275
Can you tell me you use currently the slow speed service (automation, script) ?

[2021-08-09 09:42] mstuij commented on #275
I use:

- Script
- Node-RED
- Cover templates

[2021-08-09 09:44] tetienne commented on #275
Can you show me an example of scripts and templates?

[2021-08-09 09:54] mstuij commented on #275
Script:

`alle_rolluiken_sluiten_silent:
  alias: Alle rolluiken sluiten silent
  sequence:
  - service: tahoma.set_cover_position_low_speed
    data:
      position: 0
    entity_id: cover.01_master_bedroom, cover.02_voorraam_klein, cover.03_voorraam_groot,
      cover.04_computer_kamer, cover.05_hal_1e_etage, cover.06_zijraam, cover.07_badkamer,
      cover.08_logeerkamer, cover.09_achterdeur, c

[2021-08-09 12:42] psicot commented on #508
Hello, same issue here, with the installation of Home Assistant Core version 2021.8.x. Seems to be related to changes from Home assistant, not in this repository 😬

[2021-08-09 15:17] iMicknl opened #509 "Support usage of multiple accounts of the same hub/server"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

We support adding multiple accounts, however when you add two accounts that use the same server, it will result in error messages.

It seems

[2021-08-09 18:57] jonasjeeliasson opened #510 "io:AwningValanceIOComponent not working since v2.4.11"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I've run this integration for a year, having two different awnings, the `io:HorizontalAwningIOComponent` and `io:AwningValanceIOComponent`. S

[2021-08-09 23:05] iMicknl commented on #510
Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/temp_fix_AwningValanceIOComponent.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-08-09 23:06] iMicknl commented on #486
Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/temp_fix_AwningValanceIOComponent.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-08-10 07:06] TheFes commented on #486
Seems to be working fine using this zip. Down is down, up is up, and everything works.

[2021-08-10 07:25] jonasjeeliasson commented on #510
Works like a charm again :)

[2021-08-10 07:59] iMicknl commented on #508
Resolved in Home Asssistant Core 2021.8.3, please update.

[2021-08-10 07:59] #508 closed

[2021-08-10 08:34] #486 closed

[2021-08-10 08:34] #510 closed

[2021-08-10 09:03] #223 closed

[2021-08-10 18:16] Kaibob2 opened #513 "RSSI level sensors naming"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

With the most recent version every RSSI sensor is named RSSi_level_x
It's impossible to tell which is which.

![Screenshot_20210810-200128_Sa

[2021-08-10 18:40] tetienne commented on #513
You have to open the details page of the entity and you will see the linked device.

[2021-08-10 18:55] Kaibob2 commented on #513
I see. Not the best way of naming, but I don't really care about the RSSI anyway as it doesn't really change because the roller shutter are quite stationary ;)

[2021-08-10 19:39] tetienne commented on #513
I think you are right. Most of the time the main entity_id is used as prefix for the other entities.

Here for instance it would be sensor.bedroom_cover_rssi_level

@iMicknl what do you think?

[2021-08-10 19:51] Kaibob2 commented on #513
This is what I meant :)

[2021-08-10 22:51] iMicknl commented on #513
I was in doubt about this change as well, especially since the sensor name will be ‘sensor.rssi_level_x’… Home Assistant doesn’t have a nice best practice for this yet.

Adding the full name before or after the sensor name could be an option, however this will clutter the view as well…

Any other opinions / remarks?

[2021-08-11 00:48] Supermarco333 opened #514 "Error with 2.6.0"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I tried to update to the last version to the integration. The integration now refuses to start. Here's the log:

[code]

### What version of

[2021-08-11 05:31] tetienne commented on #513
@iMicknl I agree it will clutter the view but it seems to be the convention.

Z-wave JS

![image](https://user-images.githubusercontent.com/8216238/128974298-aa4e7d0b-0049-46fb-af49-d484bca76bad.png)

Shelly

![image](https://user-images.githubusercontent.com/8216238/128974384-55a51838-629b-4005-8c56-0dde599cc0e2.jpeg)

Hue

![image](https://user-images.githubusercontent.com/8216238/128974447-0968

[2021-08-11 07:05] tetienne commented on #513
@Kaibob2 See #516 for a fix.

[2021-08-11 07:17] tetienne commented on #514
Hi, thx for reporting this. Can you tell me what was the version of this component you were using before performing the update?

I retried a migration from v2.5.2 to v2.6.0 without any issue. The "hub" key is well present. @iMicknl any idea?

[2021-08-11 07:50] gerardsamara opened #517 "Regression in 2.6.0 for "AtlanticPassAPCHeatingAndCoolingZone" device"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello ,

Following the update to 2.6.0 , the following errors are displayed in the log

`2021-08-10 18:47:47 ERROR (MainThread) [homeassistan

[2021-08-11 07:56] gerardsamara commented on #517
Hi ,

I did not see at first that the entities have been duplicated as per this screenshot

![Capture ha tahoma](https://user-images.githubusercontent.com/69084518/128991788-063b21ee-0d43-49bb-acef-c4da59cb68de.JPG)

[2021-08-11 08:02] Kaibob2 commented on #513
I changed the code manually and restarted. Better than before. I would say it's better than before, but the sensors are still named like before. Only the friendly name changed. Is this intended behavior?

![Screenshot_20210811-100014_Samsung Internet](https://user-images.githubusercontent.com/20832276/128992674-f0ab5304-a85e-4f1b-8d54-f3c30f3a03aa.jpg)

[2021-08-11 08:05] tetienne commented on #513
If you want to see the new entity id you have to uninstall the integration and install it again. HA won’t change the entity id if already existing, it will only change the displayed name.

[2021-08-11 08:13] psicot commented on #514
Hello, same error with Home Assistant `core-2021.8.6`.

[2021-08-11 08:13] tetienne commented on #517
Hi thx for reporting this.

It will been fixed with https://github.com/iMicknl/ha-tahoma/pull/516

[2021-08-11 08:17] tetienne commented on #513
@Kaibob2 You can reinstall, it shouldn’t break anything. The entity id of the covers are still the same.

[2021-08-11 08:23] tetienne commented on #513
Ah yes, you will have to wait the PR is merged within master or release in v2.6.1.

[2021-08-11 08:24] Kaibob2 commented on #513
👍  I will wait, it's not that urgent :)

[2021-08-11 08:39] #514 closed

[2021-08-11 08:41] iMicknl commented on #517
Please update to 2.6.1, which should contain this fix. Thanks!

[2021-08-11 08:41] iMicknl commented on #514
Please update to 2.6.1, which should contain this fix. Thanks!

[2021-08-11 12:49] gerardsamara commented on #517
I have updated and the errors are gone
Thank you for the fix

Do I need to delete and re-install the ha-tahoma custom component+integration as I have duplicated devices as per the enclosed screenshot ( to have a cleaner configuration) ?

![Capture ha tahoma](https://user-images.githubusercontent.com/69084518/129031347-cc26cb84-8745-4265-9210-293229c55043.JPG)

[2021-08-11 13:37] gerardsamara commented on #517
Done.
Everything ok
Thank you

⁣Télécharger BlueMail pour Android ​

Le 11 août 2021 à 15:04, à 15:04, Thibaut ***@***.***> a écrit:
***@***.*** Yes you can reinstall the component, we have perform a

[2021-08-11 15:11] fredericseiler opened #519 "Add support for Hitachi Yutaki S heat pump (modbus:YutakiMainComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### Device information

Hitachi Yutaki S Combi (linked to the Hi-Box via ATW-TAG-02)

### Unsupported device log

Sorry, not sure which log only concerns the

[2021-08-11 15:29] tetienne commented on #519
I don't know what's exactly modbus, but did you try https://www.home-assistant.io/integrations/modbus/ component?

[2021-08-11 16:02] fredericseiler commented on #519
Modbus is the protocol used to communicate directly with the heat pump (throught Hitachi H-Link internal bus):

Heat pump > H-Link/Modbus RTU > Gateway (ATW-TAG-02) > io-homecontrol (I suppose) > Hi-Box > TCP/IP > Overkiz cloud

Modbus TCP/RTU interfaces for Hitachi devices are not cheap, and I already got a Hi-Box/gateway combo, so for now, I prefer to stick to the Overkiz way.

[2021-08-11 19:27] iMicknl commented on #519
**ovp:ModbusMainController** - Generic - unknown
[code]

**modbus:YutakiRoomThermostatZone1Component** - HeatingSystem - HitachiThermostat
[code]

**modbus:YutakiRoomThermostatZone2Component** - HeatingSystem - HitachiThermostat
[code]

[2021-08-11 19:28] iMicknl commented on #519
Looking at the device reference, it doesn't seem that we can control anything of your missing devices. Or would `modbus:AlarmNumberState` perhaps be a value that would be interesting to show as a binary_sensor / sensor in Home Assistant?

[2021-08-12 03:31] dhi20 opened #522 "Current temperature missing from radiator climate entities"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

The current temperature of the Atlantic Tatou radiator is no longer available after updating to 2.6.1 from 2.5.2
The state (current_tempertur

[2021-08-12 05:01] tetienne commented on #522
Can you please give us the firmware displayed in the device page of your entity? It look like _Firmware: io:AtlanticElectricalHeaterIOComponent_

[2021-08-12 05:07] dhi20 commented on #522
Sorry about that. it is io:AtlanticElectricalHeaterWithAdjustableTemperatureSetpointIOComponent

[2021-08-12 06:46] iMicknl commented on #522
@tetienne this is probably due to the fact that we changed the sensors.

Perhaps we can tackle #472 as well now.

[2021-08-12 06:58] tetienne commented on #522
[code]

[2021-08-12 07:03] tetienne commented on #522
@iMicknl We can try with #472 indeed. I have the idea to not rely anymore on retrieving the entity from the registry but instead store within the OverkizEntity the various TahomaDevices related to the same devices.

Something like this:

[code]

It should avoid all the trick we do around the state change and the schedule update.

[2021-08-12 07:04] tetienne commented on #522
@dhi20 Within all the entities of our integration, do you see a sensor that matches the temperature?

[2021-08-12 07:07] dhi20 commented on #522
Yes the temperature does appear as a separate entity linked to the device

![image](https://user-images.githubusercontent.com/38461182/129152923-99259573-f3e6-4986-a178-b539d9b58c19.png)

[2021-08-12 08:31] iMicknl commented on #522
I am not sure if I understand what you mean, @tetienne. You want to save the device url + state key of the temperature that we need to pull, so that we can pull it directly? That would be fine by me as well. Better not to have it in `OverkizEntity`, but perhaps a `OverkizClimateWithTemperatureEntity` or something similar.

By the way, a quick fix would be to just add the new unique id here https:/

[2021-08-12 13:38] fredericseiler commented on #519
I have no idea what sort of value the "alarm number state" will provide. Any error code from the heat pump maybe?

Anyway, seems like I can safely ignore those "Unsupported device detected" logs, thanks!

What about the empty "Device info" for the heat pump? Not relevant either? I don't need it at all, just curious...

[2021-08-12 14:02] iMicknl commented on #519
I am not sure yet, what would be the best solution. Normally we support the first device (which is the 'main' device), however in your case the Modbus controller is not mapped to any device.

We could see if we can show the device information of the first supported device, however this is quite an edge case.

[2021-08-12 16:28] tetienne commented on #522
@iMicknl OK for the quick fix!

[2021-08-12 18:05] #519 closed

[2021-08-12 19:57] dhi20 commented on #522
This works, thank you!

[2021-08-12 20:17] #522 closed

[2021-08-12 21:22] Wiggum127 commented on #476
Have upgraded to v2.5.1 and v2.5.2 via HACS. The errors persist with the same messages.

[2021-08-12 21:45] schumi69 commented on #441
hi to you,
i just saw this.
![image](https://user-images.githubusercontent.com/70438080/129274105-820abbbf-95e6-417d-ad94-cbc703fcd834.jpeg)
this is weird because it recognizes activated zones well, but as it is it says unknown ... what more can i do to help you?

[2021-08-12 22:26] iMicknl commented on #476
Sorry to hear that you have so many issues, @Wiggum127. Let's see if we can investigate more, however it seems that you are currently the only user who is facing this.

1. Which bridge do you have exactly? Do you have only RTS devices, or also IO devices?
1. Do you run any scripts or automations on Home Assistant, or to the Somfy server via something like HomeBridge?
1. Why did you upgrade to 2.5.

[2021-08-12 22:31] iMicknl commented on #441
Happy to help, however it would be good if someone could run the execution history. See https://github.com/iMicknl/ha-tahoma/issues/441#issuecomment-890829323.

We need to understand how to map your commands to Home Assistant commands.

[2021-08-12 23:09] tetienne commented on #441
You have to enable the logger integration and set info as log level for our integration.

[2021-08-13 07:45] baggy13 commented on #466
Got this error yesterday too.

Just can confirm that the only way out seems to deactivating the TaHoma Integration for more than an hour. After this I could reconfigure it successfully.

[2021-08-13 08:05] RienduPre opened #525 "Door/Windows sensors not working since I updated to latest version"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Since I updated to the new Tahoma version in HACS, it created new devices for all my door/windows sensors. The are now contact sensors and ha

[2021-08-13 08:09] iMicknl commented on #525
Thanks for reporting, Rien!

Could you share the states of your sensor when the door is open / closed? Go to Developer Tools -> States and look for your binary_sensor entity. It should show all available states on the right side, could you post them here?

[2021-08-13 08:27] RienduPre commented on #525
<img width="1037" alt="Schermafbeelding 2021-08-13 om 10 26 20" src="https://user-images.githubusercontent.com/9009949/129327954-e97ceb7a-3151-4335-9ed7-852510648818.png">

[2021-08-14 01:51] ReRuBabs opened #526 "Binary sensors do not reflect sensor state"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Since last update the window and motion sensors do not function well. The binary sensor value (on/off) does not reflect the correct values of

[2021-08-14 04:34] tetienne commented on #526
Hi, thanks for reporting. This is a duplicate of #525.

You can comment it to add your case.

[2021-08-14 04:34] #526 closed

[2021-08-14 08:55] EmmanuelVella opened #527 "Add support for RAK-50RXB / SPX-WFG02 / AirCloud Home"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Hello,

I have an Hitachi RAK-50RXB and just added a SPX-WFG02 wifi module to control it via the AirCloud Home app. When I install the integr

[2021-08-14 09:40] iMicknl commented on #527
@EmmanuelVella thanks for reporting! Unfortunately, it seems that AirCloud Home is a hub/platform that is not using the Overkiz platform. This means that we cannot support it from this integration.

I decompiled the Android app and it seems that their API is located at https://api-global-prod.aircloudhome.com. However, in order to write an integration, you would need to do quite some reverse engin

[2021-08-14 12:54] EmmanuelVella commented on #527
Thank you for you fast answer ! That's sad, I just sent them an email to know if they propose a public API. I will let you know ! 👍

[2021-08-14 12:54] #527 closed

[2021-08-15 09:46] #507 closed

[2021-08-15 09:48] iMicknl commented on #525
Fixed in v2.6.3!

[2021-08-15 09:48] #525 closed

[2021-08-15 09:48] iMicknl commented on #526
Fixed in v2.6.3!

[2021-08-15 10:15] RienduPre commented on #525
Confirmed !!
Thanx

[2021-08-15 12:02] ReRuBabs commented on #526
Great! And this on a sunny Sunday.... Thanks a lot! Rens. Op 15-08-2021 11:48:33, Mick Vleeshouwer ***@***.***> schreef: > > > Fixed in v2.6.3! > > > > — > You are receiving this because you authored the thread. > Reply to this email directly, view it on GitHub (https://github.com/iMicknl/ha-tahoma/issues/526#issuecomment-899024520), or unsubscribe (https://github.com/notifications/unsubscribe-aut

[2021-08-16 03:54] callifo commented on #504
Think I got banned again, but its different this time. Previously I'd still connect but nothing would happen when I send commands to the blinds. Now I can't seem to login,

[code]
Never completes

[2021-08-16 11:22] iMicknl commented on #502
Added in #425.

[2021-08-16 11:22] #502 closed

[2021-08-16 14:42] iMicknl commented on #279
We should have a look at this code, https://github.com/home-assistant/core/blob/dev/homeassistant/components/uptimerobot/__init__.py#L93-L113. This is how uptime robot handles this scenario.

[2021-08-16 15:30] Wiggum127 commented on #476
@iMicknl thanks for taking this issue up. I'll try to be as exhaustive as required:

1. Bridge device:
Somfy Connexoon 1811429A, firmware v1.7.9:70

2. Connected devices:
12 screens and 1 terrace sun cover. All RTS devices, I believe

3. Automation scripts
Only via HomeAssistant 2 scripts:
 - lower all screens at end of day, configured 2 x 6 screens with 1min interval to avoid the full queue of 10

[2021-08-16 21:05] iMicknl commented on #453
Thanks! A late reply, however I will have a look to see if I can improve the Siren integration.

Would you be willing to test this? @sebaurel

[2021-08-17 06:56] creativeosmose commented on #396
Issue is still present.

[2021-08-17 07:58] iMicknl commented on #396
Would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my machine.

I have some time this week, so perhaps I can finally tackle this for you. 😉

[2021-08-18 13:22] sebaurel commented on #453
Hello,
Yes i can :)

[2021-08-19 08:32] sebaurel commented on #453
Hi,
I download the code : https://github.com/iMicknl/ha-tahoma/tree/enhancement/switch_to_siren
and put the custom_components/tahoma directory in the place of my custom_components/tahoma.

here the logs off the starting
`2021-08-19 10:17:51 DEBUG (MainThread) [custom_components.tahoma] Initialized DataUpdateCoordinator with 0:00:30 interval.
2021-08-19 10:17:51 DEBUG (MainThread) [custom_component

[2021-08-19 10:27] #503 closed

[2021-08-19 15:26] #279 closed

[2021-08-19 15:27] iMicknl commented on #465
@rvrignaud sorry for the late reply, do you still have this issue?

[2021-08-19 15:32] iMicknl commented on #485
Any update, @XalaTheShepard?

[2021-08-19 15:35] #265 closed

[2021-08-20 08:52] XalaTheShepard commented on #485
Dear iMicknl,

Sorry for keeping you waiting. Due to illness I had not many chances to check or update things in HA.
I will add the debug this weekend and copy the log.
One of the latest updates included a battery state for the valve.
So current entities that are shown are the temperature and the battery level.
However it is the possibility to change the temperature in HA that I do not see (otherw

[2021-08-21 13:35] dbrep opened #544 "Wrong state for Velux Shutters with Tahoma Switch & home assistant"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I use Velux shutters as well as Somfy shutters connected to a Tahoma switch box. Home assistant is using the Tahoma switch through ha-tahoma

[2021-08-21 13:46] tetienne commented on #544
All the attributes prefix by xx: are returned by Somfy. We will remove them as they can be confusing.

Can you confirm when you open your cover HA is well returning a closed status?

[2021-08-21 15:23] dbrep commented on #544
Hi, I'm not sure what is called cover HA.

In the 'Aperçu' page, I can see that when the shutter is closed:
![image](https://user-images.githubusercontent.com/89305874/130326536-0f35a3f3-54fc-4e1c-870d-48ff18b4fb02.png)

The buttons are in the right state.

However, in the history, or when I click on the shutter icon, I get this panel, which states the shutter as open:

![image](https://user-image

[2021-08-21 16:21] tetienne commented on #544
OK so you confirmed my previous message. You are confused by the raw data we output as attribute. core:xxxx and io:xxxx are data returned by Somfy. We use them to compute what you see in HA. Just ignore them.
On your screenshot, as you can see you can open the cover so it means the cover is well detected as closed. You can confirm this going in Outils de développement and check the state of your c

[2021-08-21 18:16] dbrep commented on #544
Tetienne, I clearly understood that xx:... attributes are not directly used.

What confuses me is that as you said :
- when the cover is closed, I can open it, and the closing button is greyed, showing that the shutter is detected as closed.
![image](https://user-images.githubusercontent.com/89305874/130331249-355e123c-39f3-4247-b6e5-7061340c0e24.png)

- However, in the development tools ("Outils

[2021-08-21 19:29] tetienne commented on #544
That's pretty clear now. Thx for the explanation. I didn't know this kind of bug was possible.

I will try to understand how it's possible.

As a remark it's indeed weird Somfy always returns open state.

[2021-08-21 19:32] dbrep commented on #544
Thanks for having a look into it.

If I can help by checking things or providing logs, don't hesitate.

[2021-08-21 19:34] tetienne commented on #544
Thx !

Can you show me the attributes for your cover in the following states: closed, almost closed, almost opened and opened?

[2021-08-21 21:14] dbrep commented on #544
Here are the attributes in the asked positions:

Open
current_position: 100
rssi_level: 52
core:Manufacturer: VELUX
core:NameState: Volet Bureau
core:PriorityLockTimerState: 0
core:StatusState: available
core:DiscreteRSSILevelState: normal
core:RSSILevelState: 52
core:ClosureState: 0
core:OpenClosedState: open
core:Memorized1PositionState: 0
io:PriorityLockOriginatorState: null
io:PriorityLockLeve

[2021-08-21 21:43] dbrep commented on #544
In order to test, I tried to slightly modify tahoma_cover.py

In the is_closed method, I just commented the test on the state variable, to rely only on the position to tell if the shutter is closed. Then, the value of core:OpenClosedState is not used anymore.

`@property
    def is_closed(self):
        """Return if the cover is closed."""

        state = self.executor.select_state(
            C

[2021-08-22 08:58] mstuij commented on #275
What are the plans of the tahoma.set_cover_position_low_speed service?

I need the slow speed support for a cover template and cover groups.

At the moment the bug is still there, so I can't call the service for the cover template and cover groups.

Some information about my use case:

I have to use a cover template because I have some "window open" protection with reed switches. So I need to redi

[2021-08-23 06:42] tetienne commented on #544
I will contact their support to know what’s the best way to know if a cover is closed or not. Removing the code you comment will break other devices, like the [gate with pedestrian position](https://github.com/iMicknl/ha-tahoma/issues/487#issuecomment-883158477) which behave in HA like a cover but without position.

[2021-08-23 07:07] tetienne commented on #544
[code]

[2021-08-23 07:56] dbrep commented on #544
Thanks tetienne, please keep me informed if you get some information from the support.

I noticed that things are ok with Somfy shutters, but Velux shutters through Tahoma seem to have this pb.

[2021-08-23 10:19] Wiggum127 commented on #476
Perhaps a pointer that could help. At around beginning of July, when upgrading to 2021.7, I ran into an issue with the docker image. The dokcer image kept failing to start.

Turned out HA Docker uses Alpine Linux as base image. That is not compatible with Raspbian when:

    Using a version of Docker prior to 19.04 (stock Raspbian Repositories has/had version 18)
    Using an outdated libseccomp2

[2021-08-23 15:30] tetienne commented on #275
I would try to see why the service is not working for the group.
Meanwhile, what about grouping all the low speed switches within a group? In one toggle you will be able to switch all the covers, as downside, you lost the previous configuration.

[2021-08-23 15:41] mstuij commented on #275
Okay so for all my cover groups I have to create template switches?

By the way when you have created a cover group or cover template you could see it in the developer tools.

When selecting cover.open you see the cover groups and cover tenplates listed in the dropdown.

When you choose the tahoma low speed service you don’t see any cover group or cover template listed in the dropdown.

[2021-08-23 19:35] tetienne commented on #275
I was talking about a simple group https://www.home-assistant.io/integrations/group

In your script, you toggle the low speed switches group and then move your cover.

[2021-08-23 19:35] tetienne commented on #275
Good to know.

[2021-08-28 08:39] themaninspain commented on #487
I've just updated to the latest version of the integration V2.6.3 and core 2021.8.8 and the problem is still there.

[2021-08-28 08:42] tetienne commented on #487
I don't get it. You said it was OK in your last comment.

[2021-08-28 08:44] themaninspain commented on #487
And it was, I stayed on the master version that you told me to install. I finally updated to the latest version a couple of days ago and the problem is back.

[2021-08-28 09:03] themaninspain commented on #487
What I've been doing is using the "close gate" function when this happens. Then the gate shows as closed.

[2021-08-28 09:07] tetienne commented on #487
Can you enable the debug mode (don’t forget to restart)? See https://github.com/iMicknl/ha-tahoma#enable-debug-logging

Open your gate, then close it. Wait at least 30s, and go to the logs page. Click on the Load full HA logs button.

Paste here all the logs you will see related to our component.

[2021-08-28 09:26] themaninspain commented on #487
Here it is:
2021-08-28 11:15:55 DEBUG (MainThread) [custom_components.tahoma] Initialized DataUpdateCoordinator with 0:00:30 interval.
2021-08-28 11:15:56 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.081 seconds
2021-08-28 11:15:56 INFO (MainThread) [custom_components.tahoma] HomeKit support detected with setup code 225-47-813.
2021-08-28 11:15:56 DEBUG (

[2021-08-28 10:48] tetienne commented on #487
Thx for this!

@iMicknl Did you already see this?

EventName.DEVICE_STATE_CHANGED/None

[2021-08-28 12:08] tetienne commented on #487
@themaninspain when you restart HA the state is always invalid?

[2021-08-28 12:19] themaninspain commented on #487
I've never checked. What I have done is open the gate with the remote, close the it then check in the panel to see if it is closed (it wasn't) then use the close function in HA to close. Tnese are the logs. I'll restart HA and see that the status is after a restart.
2021-08-28 14:10:07 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.091 seconds
2021-08-28 14

[2021-08-28 12:23] themaninspain commented on #487
Just restarted HA and the status is closed. Here are the log entries:
2021-08-28 14:19:44 DEBUG (MainThread) [custom_components.tahoma] Initialized DataUpdateCoordinator with 0:00:30 interval.
2021-08-28 14:19:44 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.178 seconds
2021-08-28 14:19:44 INFO (MainThread) [custom_components.tahoma] HomeKit support detect

[2021-08-28 13:28] tetienne commented on #487
Thx. So the issue seems to be linked to the update event.

[2021-08-28 13:32] tetienne commented on #487
@themaninspain have you access to Tahomalink.com?

[2021-08-28 13:36] themaninspain commented on #487
yes

[2021-08-29 16:43] dbrep commented on #544
Hello tetienne, sorry for being long to answer, but I didn't have access to the shutter during this time.

I dit the requested manoeuvers:

1/ Close the shutter, restart HA.

The state is as follow after the restart

![image](https://user-images.githubusercontent.com/89305874/131258300-984f40e8-388f-4d20-b07f-c0d0684146de.png)

2/ Enable debug, then open then close cover. Here is the full log

202

[2021-08-30 06:40] tetienne commented on #487
OK. Can you please open your device then log in tahomalink.com, then:
* Press F12 to open the dev tools
* On the new displayed pane, click on `Network`
* There is a filter bar, type `fetch`
* You will see every seconds a new request the size is around 476 B
* Now close your device
* You will see the size of the fetch response increase
* Open your device
* Sort the requests in the network pane by s

[2021-08-30 07:09] tetienne commented on #487
@themaninspain IIf too complex for you, wait I update our code, I saw we miss some logs.

[2021-08-30 07:32] themaninspain commented on #487
I can't check it now - I will do it in 2 hours time.

[2021-08-30 18:41] themaninspain commented on #487
I think I'll wait for your update. Tried to capture the data but I couldn't copy it.

[2021-08-30 22:29] Wiggum127 commented on #476
This weekend upgraded HA to latest version (now running 2021.8.8). After reboot HACS indicated a new version of the Tahoma integration. I'm now running the latest 2.6.x instead of 2.5.2.

The errors immediately pop up after reboot. The automations don't work. Ad-hoc individual screen manipulation doesn't respond. The native Somfy app on the smartphone (using the same usr/pwd as the integration) an

[2021-09-01 20:13] golles opened #547 "HA warning: unit_of_measurement"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

After updating HA, I get some warnings

### What version of this integration (ha-tahoma) has the issue?

master

### What version of Home Ass

[2021-09-02 05:09] tetienne commented on #547
Thx for reporting this. We will take care of it.

[2021-09-02 07:11] Aeosium commented on #450
Hi !

I didn't try a newer version since last comment. I could try to contribute but I would need an example to see where/how this should be implemented. Is there any reference I can look into ?

Cheers

[2021-09-03 14:30] browetd opened #548 "HA Warning: Setting last_reset is deprecated"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

At HA startup, I got three warning messages saying that the setting "last_reset" is deprecated and will be unsupported from HA 2021.11.  So n

[2021-09-03 14:33] tetienne commented on #548
Thx for reporting this. We will take care of it.

[2021-09-05 05:01] #548 closed

[2021-09-05 19:56] antoineguilbert commented on #504
Hello,

I've the same problem :

- Tahoma Switch
- Only IO equipments : classic shutter and velux shutter

Do you have an idea to fix it ?

[2021-09-07 06:55] fredericseiler opened #551 "Errors on startup"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

On startup, I got some errors, and the "heat" entity from my air-to-water heat pump is not found anymore.

### What version of this integrati

[2021-09-07 07:23] tetienne commented on #551
Thx for reporting this. I’ve opened the PR to fix your issue. It should be soon released.

[2021-09-07 08:17] #547 closed

[2021-09-07 08:18] #551 closed

[2021-09-07 13:31] rvrignaud commented on #465
Hi @iMicknl.
Can't find back in the log. Closing it for now, will re-open if needed.

[2021-09-07 13:31] #465 closed

[2021-09-08 06:20] gerardsamara opened #554 "Remaining errors in HA logs in ha-tahoma V2.7.1"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Remaining errors in HA log with ha-tahoma V2.7.1

[code]

### What version of this integration (ha-tahoma) has the issue?

2.7.1

### What ve

[2021-09-08 06:51] tetienne commented on #554
Thx for this report. I guess you haven’t any covers? About the warning, this one has been fixed with https://github.com/iMicknl/ha-tahoma/pull/553 and I have now fixed your error with.

Both fixes will be available with the next release.

[2021-09-08 06:55] gerardsamara commented on #554
Thanks for your quick fix.
No i have not cover

⁣Télécharger BlueMail pour Android ​

Le 8 sept. 2021 à 08:51, à 08:51, Thibaut ***@***.***> a écrit:

[2021-09-08 08:50] #554 closed

[2021-09-09 07:14] Tecotix opened #557 "Error during loading integration"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

During the start the following message appears in the log:

[code]

Same if I close or open the shutters.

![grafik](https://user-images.gith

[2021-09-10 13:32] tetienne opened #560 "Config entry has already been setup"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Disable the integration, and enable it.

### What version of this integration (ha-tahoma) has the issue?

2.7.1

### What version of Home Ass

[2021-09-10 15:32] iMicknl commented on #560
I recall I have seen the same issue when you reload the integration.

[2021-09-11 10:03] themaninspain commented on #487
I got a notification of an update, which I installed yesterday.
The problem is still there.

[2021-09-11 10:05] tetienne commented on #487
Sure, looking at the changelog you will see I didn't work on it.
It's a work in progress.

[2021-09-11 10:08] themaninspain commented on #487
OK. I was going to suggest that if it would help we could do a video conference and I could share my screen so that you could see what is happening. (The fetch responses I could not capture)

[2021-09-12 07:35] schumi69 commented on #441
Still présent !😁

[2021-09-12 18:55] iMicknl commented on #441
@schumi69 would you be able to follow the instructions above, so we have some better debug logging? :)

[2021-09-12 19:01] schumi69 commented on #441
Hello @iMicknl,

I have one problème.
Tetienne it asks me to activate debug mode.  but I can't find where to activate it ...

CAN you help me?😅

[2021-09-12 19:17] iMicknl commented on #441
Did you have a look at the [readme](https://github.com/iMicknl/ha-tahoma#enable-debug-logging)? If it is not clear, you can always join our Discord (see readme).

[2021-09-13 06:12] arjen-w opened #562 "unit_of_measurement is unsupported after 2021.11"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I do see the following error being logged in the HA logs after a restart of HA:

Logger: homeassistant.components.sensor
Source: components/s

[2021-09-13 07:05] iMicknl commented on #562
Should be fixed in v2.7.2, I just released this change, it was ready but not released.

Thanks for reporting!

[2021-09-13 07:05] #562 closed

[2021-09-13 10:29] cxnull commented on #557
I have the exact same problem on a TaHoma Switch (on which I have scenes activated as per [the instructions specific to this device](https://github.com/iMicknl/ha-tahoma#tahoma-switch))

The covers do work when manually activating them via entity cards for example, but this error is thrown every time. It also causes any automation to stop when it is encountered, making automations broken if there

[2021-09-13 13:06] tetienne commented on #557
@Tecotix @cxnull Thx for reporting this issue. I guess your device are stateless (RTS) ?

[2021-09-13 13:18] cxnull commented on #557
@tetienne thank you for your quick reply! In my case, most devices are stateful (io): they report their current position, among others. I have one stateless device (RTS). I'm seing the same behavior on both types of devices: as soon as I request motion they actually do start moving, but then the error is thrown, and in the case of an automation, the automation halts at that point.

[2021-09-13 14:45] Tecotix commented on #557
In my case, all my devices are stateful (io)

[2021-09-14 02:08] #456 closed

[2021-09-14 06:23] mingan666 opened #563 "Sensor does not work after connection failure"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I try to reconnect the component after a connection failure.
This works as expected for my screens, but the sun sensor stays unavailable unti

[2021-09-14 15:55] cook2000 opened #564 "Sensor for priority_lock_originator is not beeing updated automatically"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

The sensor for the priority_lock_originator State of the covers doesn't update autmatically.
Only if I move the cover by Home Assistant the s

[2021-09-14 16:02] tetienne commented on #564
Thx for reporting this. Can you tell me if within the Tahomalink.com website the ui is well updated when you manually lock your cover?

[2021-09-14 16:32] cook2000 commented on #564
Yes, it's updated in the Tahoma App and the tahomalink website after approx. 30sec.

[2021-09-14 17:54] Supermarco333 opened #565 "Error fetching device events data"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Since I updated to 2.7.2, I have this error at each startup of HA

`[custom_components.tahoma] Error fetching device events data: Invalid eve

[2021-09-14 19:14] tetienne commented on #564
Thx. When your cover locked If you restart HA is the sensor well set?

[2021-09-14 20:01] cook2000 commented on #564
No, the state is always "unknown" after a restart (no matter if it's locked or not).

[2021-09-15 07:02] tetienne commented on #565
Thx for reporting this issue. I will provide a fix with the next release.

[2021-09-15 18:39] majorhector opened #566 "The (entity registry) area is reset on every reboot to All House"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Everytime I restart my server this integration set automattically to "All House" the area of my connected devices.

![Cattura](https://user-i

[2021-09-15 20:13] tetienne commented on #566
Hi, I was indeed able to reproduce with our integration and with Hue but only when I delete the area from the device. When updating the area by another one, this one is not overrided after a reboot.

Can you check with another integration if you have the same issue? It seems related to HA core.

[2021-09-16 06:32] majorhector commented on #566
I have updated an area with another one and it remain. I have tested with another integration and I have no problem at all to remove the area.

I have also noticed that Connexoon hub (model "Thaoma Premium") is listed with no area set

[2021-09-16 07:37] rvrignaud commented on #504
Same problem here. Only stateless devices integrated with Tahoma.
This sadly makes this integration extremely unreliable for me :(.
Is there any way we can help without contributing code directly?

Thank you

[2021-09-16 08:42] tetienne commented on #504
@rvrignaud Can you try to update the polling interval to 3600 seconds (1 hour) within the configuration of this integration and if you have still the issue?
![image](https://user-images.githubusercontent.com/8216238/133580219-5e889755-d1d8-4703-8cf4-ed7994c2af08.png)

[2021-09-16 08:44] tetienne commented on #504
@antoineguilbert How many devices have you?
What’s confused me is we only perform one request every 30 seconds whatever the number of the devices you own. When this issue occurred for you?

[2021-09-16 22:41] jncanches opened #568 "Add more state sensors for DomesticHotWaterProduction (io:AtlanticDomesticHotWaterProductionV2_CE_FLAT_C2_IOComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

The integration works well with cozytouch. I have a Thermor water heater which is well detected.
I can change mode etc

But an important data

[2021-09-16 22:42] jncanches commented on #568
I tried to use tahoma.get_execution_history service but nothing is logged in home-assistant.log

[2021-09-17 07:30] tetienne commented on #568
[code]

[2021-09-17 07:40] jncanches commented on #568
I don't understand what I have to do with that json ?

[2021-09-17 07:42] tetienne commented on #568
Sorry, it was for the history of this issue. It just the description returned by Overkiz API. I will add soon your two requested sensors.

[2021-09-17 07:42] jncanches commented on #568
Wonderful ! I would be pleased to test it :) Thanks

[2021-09-17 07:43] tetienne commented on #568
By the way, @jncanches V40WaterVolumeEstimationState is already supported. You should have normally a sensor for it.

[2021-09-17 07:50] tetienne commented on #568
@iMicknl That’s the first time we meet this kind of state. Type 11 means JSON object.

`{'name': 'io:OperatingModeCapabilitiesState', 'type': 11, 'value': {'relaunch': 1, 'absence': 1, 'rateManagement': 1, 'energyDemandStatus': 0}}`

@jncanches `relaunch`, `absence`, `rateManagement` and `energyDemandStatus` all means something for you?

[2021-09-17 08:17] jncanches commented on #568
absence is probably "away mode", energyDemandStatus seems to be the data I talked about in my first post : the water heater is currently heating the water.
For rateManagement and relaunch, I don't know see what it can be...

[2021-09-17 09:48] jncanches commented on #568
My bad, you are right, thank you for this one :)

[2021-09-17 16:55] creativeosmose commented on #396
@iMicknl sorry for the delayed feedback.
Sure we can discuss on discord if you want.
For the credential sharing, let's say the WAF will be low, especially if we cut off the hot water :)

[2021-09-18 13:52] jugla opened #569 "Missing "climate class" for heater device"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

My heater are well recognized 👍

`021-09-18 11:15:29 DEBUG (MainThread) [custom_components.tahoma] Added device (io:AtlanticElectricalHeaterW

[2021-09-19 06:42] iMicknl commented on #569
Can you turn on debug logging (see README) and share your log? I assume there is an entry regarding to the initialization of your climate entity.

[2021-09-19 07:47] schumi69 commented on #441
Tanks !

I'm going to try this week .

[2021-09-19 14:34] jugla commented on #569
Thanks for you answer.
I put the logs hereattached
[home-assistant.log](https://github.com/iMicknl/ha-tahoma/files/7192262/home-assistant.log)
Please find also a snapshot on device (sorry in french ;-) )
![image](https://user-images.githubusercontent.com/59493499/133931350-2d5a77f0-abee-4255-824e-3763b0a40206.png)
NB : the inactive sensor is due to the fact that they have been renamed at a version

[2021-09-19 14:36] jugla commented on #569
I see the heater (radiateur) at the end, I think I was misleading , since I think I will get something with the ID 14821225.
Let me check ;-)

[2021-09-19 14:47] jugla commented on #569
Sorry my fault, I mix the climate "generated" by custom component ha-tahoma and the ones generated by custom component "cozy touch".
Both have the same name except a running number.

[2021-09-19 14:47] jugla commented on #569
You have made a great job !

[2021-09-19 14:47] #569 closed

[2021-09-20 09:19] XalaTheShepard commented on #485
Dear all,

This issue is still open.
I am currently running the latest version of the Tahoma custom component and HA Core.
It is feasable with a workaround, but was wondering if there could be a possibility to regulate the temperature from within HA itself instead of running scenes created in the Tahomabox.

Kind regards,

Robin

[2021-09-20 14:24] jncanches commented on #568
For now, I have reverted to ha:cozytouch custom-component. It is a lot less reactive but it offers all the json data available.
Will try this one again on next release, or if you need tests.

[2021-09-20 14:31] tetienne commented on #568
Sure, I will try to find some free times to add your sensor. I will ping you once done.

[2021-09-21 07:40] tetienne commented on #544
Can you please update the component with this version please https://github.com/iMicknl/ha-tahoma/archive/refs/heads/enhancement/better-logs.zip
and repeat the same steps? I totally rework our logs to report more information. What we have currently was not enough.

[2021-09-21 07:42] tetienne commented on #564
Can you please update the component with this version https://github.com/iMicknl/ha-tahoma/archive/refs/heads/enhancement/better-logs.zip, enable [debug logging](https://github.com/iMicknl/ha-tahoma#enable-debug-logging), and lock your cover? I totally rework our logs to report more information. What we have currently was not enough.

[2021-09-21 08:35] cook2000 commented on #564
First of all - Thanks for the development of this integration!

**This is the log output:**
2021-09-21 10:19:58 DEBUG (MainThread) [custom_components.tahoma.coordinator] Event(timestamp=1632212373153, name=<EventName.DEVICE_STATE_CHANGED: 'DeviceStateChangedEvent'>, setupoid=76f6ee****-ecaf-****-af****-98e5305565d1, owner_key=None, type=None, sub_type=None, time_to_next_state=None, failed_commands

[2021-09-21 09:14] tetienne commented on #564
Thank you for your quick answer. From your first log output, sadly, I don’t see anything that can help. There is nothing related to the `priority_lock_originator`

The 2nd one is interesting as we can see the cover is well locked. I can use this to throw an error when you send the command.

We can have another try. Lock your cover, check within tahomalink.com your cover is well displayed as locked

[2021-09-21 10:21] cook2000 commented on #564
This is the output for the device after restarting HA:

2021-09-21 12:13:42 DEBUG (MainThread) [custom_components.tahoma] Added device (Device(attributes=States(_states=[State(name='core:SupportedManufacturerSettingsCommands', type=<DataType.JSON_ARRAY: 10>, value=['dead_man_up', 'dead_man_down', 'dead_man_stop', 'dead_man_impulse_up', 'dead_man_impulse_down', 'enter_settings_mode', 'save_upper_en

[2021-09-21 10:29] tetienne commented on #564
I’m confused, you said [here](https://github.com/iMicknl/ha-tahoma/issues/564#issuecomment-919471911) after a restart the state within HA of the priority_lock_originator sensor is not correct. It’s the case now?

That’s can explain indeed. I’m wondering if the tahomalink website use this to know the cover is locked. Are you familiar to the network panel within Chrome or Firefox (from where you can

[2021-09-21 10:35] Mariusthvdb opened #572 "Handle cover execution failures (e.g. cover blocked, exclamation mark in TaHoma app)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

followup from https://community.home-assistant.io/t/somfy-tahoma-official-api/61448/1572?u=mariusthvdb and discussion on discord https://disc

[2021-09-21 10:43] Mariusthvdb commented on #572
this was the startup log for the cover in question:
[code]

[2021-09-21 10:58] cook2000 commented on #564
Yes - that confused me as well.
There are two other changes:
1. The lock status in the App or tahomalink.com is not beeing updated correctly anymore.
2. When I try to move the cover with the Tahoma App or Tahomalink.com and the cover is locked, I get a warning but I can confirm the warning and move the cover although it's locked.

I'm not sure if I got an update on the Box?!?

Yes - but because of

[2021-09-21 11:14] cook2000 commented on #564
When I lock the cover I get the following update in the chrome console:
[
    {
        "name": "core:ManufacturerSettingsState",
        "type": 0
    },
    {
        "name": "core:ClosureState",
        "type": 1,
        "value": "2"
    },
    {
        "name": "core:OpenClosedState",
        "type": 3,
        "value": "open"
    },
    {
        "name": "core:TargetClosureState",
        "t

[2021-09-21 12:29] tetienne commented on #572
OK I was able to finally reproduce with my own cover. This "state" is only returned by an event when you update the position using the website or the app. I guess they compare the sent position with the current position. If you use the physical switch, nothing is returned and there is no exclamation mark.
To confirm that, when you refresh tahomalink website, the exclamation mark is not displayed a

[2021-09-21 12:32] iMicknl commented on #572
@tetienne the only thing I can think of is to add a Persistent Notification, however this is not something that is super user friendly as well. There is no other mechanism in HA that will give you direct feedback when an action fails.

[2021-09-21 12:39] tetienne commented on #572
Actually, as we talked about events... why just not returned an... [event](https://developers.home-assistant.io/docs/dev_101_events/#firing-events)?

[2021-09-21 13:00] Mariusthvdb commented on #572
yes, an event or an 'optional' notification would be perfect. Or, only event, so we can create our own pers notifications.

and yes on the fact that with the physical remote, there's no exclamation indeed. It's only there when using the Somfy app. Ive never used the Tahoma website tbh, so I couldn't tell.

Btw, my installer was here and he re-set the cover, so it recognizes where to stop when open

[2021-09-21 13:03] cook2000 commented on #564
Getting more confused.
I locked the cover and restarted again (did this 3 times). I did the same as early today.

**Now the State is not correct and this is the log:**

`2021-09-21 14:53:43 DEBUG (MainThread) [custom_components.tahoma] Added device (Device(attributes=States(_states=[State(name='core:SupportedManufacturerSettingsCommands', type=<DataType.JSON_ARRAY: 10>, value=['dead_man_up', 'dead

[2021-09-21 13:49] tetienne commented on #572
![image](https://user-images.githubusercontent.com/8216238/134182332-a0f35a28-8efe-4e75-bfc2-b5be7132ad5d.png)

Can you please try https://github.com/iMicknl/ha-tahoma/archive/refs/heads/enhancement/fire-events.zip and if it’s ok for you? That’s a quick and dirty enhancement. I think we should explore more this feature.

[2021-09-21 14:02] tetienne commented on #572
Indeed I forgot to prefix with Overkiz. For the name of the event, I will just forward what Overkiz returned. I cannot rewrite every event name, there is too much: https://github.com/iMicknl/python-tahoma-api/blob/master/pyhoma/enums.py#L318 (and the list is not complete)

[2021-09-21 14:32] tetienne commented on #572
@Mariusthvdb That’s legacy log. As you already saw, it will be improve with https://github.com/iMicknl/ha-tahoma/pull/571

[2021-09-21 14:39] Mariusthvdb commented on #572
ok I see. I am using the latest (enhanced logging) you are developing now though, so that confused me. Ill wait for the signal again to test your release software ;-)

[2021-09-22 07:29] #557 closed

[2021-09-22 07:29] #565 closed

[2021-09-22 08:32] cxnull commented on #557
Just tested the new release, and it works!
- I no longer see error notification or log entries when moving covers
- Automations involving several covers in sequence no longer halt because of errors

Thank you guys!!!

[2021-09-22 08:34] tetienne commented on #557
@cxnull Thank for the feedback, I’m glad your issue is now gone.

[2021-09-22 11:19] iMicknl commented on #563
Thanks for reporting, @mingan666! Great to see that at least our mechanisms are working to recover from maintenance on Somfy's side. Previously many users would be blocked due to Somfy not accepting correct passwords and eventually IP banning users.

We will have a look how we can make sure that sensors can recover as well.
For the other devs, I have seen similar issues related to the `sensor` and

[2021-09-22 11:20] iMicknl commented on #466
Let's close this issue for now. It seems that we are able to, finally, recover from this status and prompting the users to reauth.

[2021-09-22 11:20] #466 closed

[2021-09-22 11:25] iMicknl commented on #563
Related to https://github.com/iMicknl/ha-tahoma/issues/560 perhaps.

@mingan666 was there something in your log perhaps, which is similar to the error in #560?

[2021-09-22 11:29] iMicknl commented on #566
@majorhector I just tried it on my instance with the latest ha-tahoma integration and latest core version, and I am unfortunately not able to reproduce your issue.

I have the same results as @tetienne. When I remove an area, it will be reset to the area that we retrieve from the Overkiz API. When I manually change the 'Overkiz assigned' area to a custom created area, it will be persisted after a

[2021-09-22 11:32] mingan666 commented on #563
@iMicknl

I added the relevant log entry, see above under additional information (copied from the ha interface).
Don't think there was anything else relevant to this component.
Don't seem to have the logs anymore and the connection error does not happen that often (I'm happy to say).

[2021-09-22 11:35] iMicknl opened #576 "Add support for local IP selection in Config Flow"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

@dmaasland did a great job researching how to 'jailbreak' his Somfy Connexoon box. You can read more about this on the [Home Assistant Commun

[2021-09-22 15:10] iMicknl commented on #566
Unfortunately, this is a 'bug' (or feature 😉) in Home Assistant core. As @tetienne mentioned, the same behavior happens with the Hue integration. Home Assistant allows integrations to sync the device areas to Home Assistant upon every boot. Apparently when someone removes an area, on the next boot it will sync it again, which is not the behavior you are looking for.

Area support is part of the Ov

[2021-09-22 16:17] majorhector commented on #566
Ok. Thank for the explanation 🙂 I've tought was a big of this integration

[2021-09-22 16:17] #566 closed

[2021-09-23 06:47] thesebastianf opened #577 "PositionableScreen with reverse state"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

I have 3 SOMFY products for sun screening
2 * Awnings (PositionableHorizontalAwning)  that are implemented as expected 0% is closed and 100%

[2021-09-23 07:58] tetienne commented on #577
Hi,

Can you please report here the log you will see related to this integration once the [log set to debug](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#enable-debug-logging) and HA restarted?

About your PositionableScreen, it is setup vertically or horizontally?

[2021-09-23 08:32] thesebastianf commented on #577
Hey its a vertical sidescreen

not that much in DEBUG after restart

[code]

[2021-09-23 09:23] tetienne commented on #577
That’s not lot, but it’s enough to understand.

[code]

[2021-09-23 10:02] tetienne commented on #577
@thesebastianf Can you please try https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/cover/reverse-state-awning.zip ?

[2021-09-23 10:09] tetienne commented on #486
@TheFes Sorry to ping you, but I just change the logic for the awning as Somfy released the true fix for your device. May I ask you to test https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/cover/reverse-state-awning.zip and see if everything is still ok?

[2021-09-23 10:28] iMicknl commented on #453
We will move from a `switch` (toggle) to a `siren` entity in the version you tested, thus this is default behavior. You should be able to interact with the siren eventually, when you click on 'Siren'.

However, the problem that your siren won't stop will be hard to fix for me, without knowing the actual command to stop it. You were able to retrieve the execution history, but if you cannot 'stop' y

[2021-09-23 10:31] iMicknl commented on #485
**Device definition**
[code]

[2021-09-23 10:32] iMicknl commented on #485
Thanks @XalaTheShepard, I have some more information to get started! Could you perhaps help me gathering some more information?

In order to gather more information, you can use the t`ahoma.get_execution_history` service In Home Assistant which will print your execution history to the Home Assistant log. Run the commands via the official vendor app (e.g. TaHoma) and capture the commands.

It shoul

[2021-09-23 10:34] iMicknl commented on #441
Good luck :-), @schumi69. And you can always join our Discord server is something is not clear.

[2021-09-23 10:35] iMicknl commented on #504
@tetienne looking at the log, we perform a request every second due to the execution of a command. However, this should not be an issue since he has just IO equipment...

[2021-09-23 10:37] iMicknl commented on #450
@Aeosium sorry for the late replies. Feel free to join our Discord to learn more about how to contribute. We are all there to help you get up to speed.

[2021-09-23 10:45] iMicknl opened #579 "Add HomeKit PIN as sensor to gateway"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Core will soon support a way to add the HomeKit controller of TaHoma to HA. It would be good to output the HomeKit PIN in Home Assistant, ins

[2021-09-23 10:47] iMicknl commented on #476
@Wiggum127 sorry for the late reply, but I would have no clue as well...

I wonder how it works if you run it on another system, with your credentials. Is that something that you could try out? I am in doubt if it is related to the system you are running on, or related to your Somfy account / configuration.

[2021-09-23 10:47] #278 closed

[2021-09-23 11:03] TheFes commented on #486
No worries about the ping, would have received a message anyway, as I'm still subscribed to the issue.

Uploaded the fix, but the issue doesn't seem to be resolved. My blinds (somehow they've installed blinds with a awning motor here) only respond to changes of position, and not to the normal open and close service calls (like described above).

Will revert back to the latest version on HACS for n

[2021-09-23 11:07] iMicknl opened #580 "Refactor battery sensor / state logic"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Currently we show the battery as a sensor and as an attribute. We need to get rid of these extra attributes, however the current sensor imple

[2021-09-23 11:23] thesebastianf commented on #577
do I need to uninstall the HACS version first?
or just copy the custom components folder and it will take this ?

[2021-09-23 11:29] tetienne commented on #577
Yes this one.

[2021-09-23 11:32] tetienne commented on #486
@TheFes Thank you for the quick answer. Can you please enable the [debug log](https://github.com/iMicknl/ha-tahoma#enable-debug-logging), restart HA and copy/paste here the logs related to this component here?

Also, can you tell me the firmware version of your tahoma (or conexoon?). It looks like for me.
![image](https://user-images.githubusercontent.com/8216238/134499782-3b55d3ec-4dbe-4483-a9cb-

[2021-09-23 11:49] thesebastianf commented on #577
ok
it is correct now 0 = closed and 100 = open for all types of somfys I have

The visualization that was created automatically on the Overview UI changed now aswell.
It was a UP DOWN arrow for the Vertical before and now for all Somfys it is
![image](https://user-images.githubusercontent.com/13987575/134501720-67a2b06e-8795-4f8f-b5a2-dc005f8f1e62.png)

just to let you know in case this is interes

[2021-09-23 11:51] thesebastianf commented on #577
By the way if the button would be clickable despite the integration thinks its in e.g. the state closed would be good I think.
So in case the state isnt properly reflected you could still fire a CLOSE command to the actor.

[2021-09-23 11:55] TheFes commented on #486
![image](https://user-images.githubusercontent.com/28803438/134501464-76d19ee8-cd75-481b-892c-9be884505dcc.png)

[code]

[2021-09-23 12:23] #579 closed

[2021-09-23 12:24] tetienne commented on #577
Great to know it works fine now. Before closing this issue I have to guess why it breaks #486.

That’s not something a component can handle, that’s related to the HA front logic. If you want perform this, you will have to customize your dashboard with some custom card to tweak what the buttons do, like this [one](https://github.com/custom-cards/button-card), but it will be out of topic here. Bette

[2021-09-23 12:33] iMicknl commented on #450
@Aeosium I gave it a quick try, not sure if it will work. :D

Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/climate/SomfyHeatingTemperatureInterface.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-09-23 12:35] thesebastianf commented on #577
#486 is nothing I could observe
also the buttons work for me ... on the current prod version and on the test version you provided

[2021-09-23 12:56] TheFes commented on #486
No worries about the questions, I'm happy to help to get this resolved.

My use case for the 3 Awning Valance devices (don't blame me, it was installed like this 😉 ):
![PXL_20210923_122553371 MP](https://user-images.githubusercontent.com/28803438/134506519-07ca4f5b-0c15-466e-b122-d838df5cc8b4.jpg)

So they are vertical screens, for which you might expect a VerticalExteriorAwning or something like

[2021-09-23 13:06] edouardmenayde opened #583 "Cannot login"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I get a bad credentials error when connecting to nexity (eugenie) platform.
I am pretty sure my credentials are okay :
- Tried changing them

[2021-09-23 13:14] tetienne commented on #486
Many thanks for this really detailled explanation. It’s all clear for me. And by the way, you have so many windows :o

I won’t deal with lovelace yet. But instead focus on the state we returned. Can you in the [dev tools page ](https://my.home-assistant.io/redirect/developer_states/). Deploy your valance, wait at most 30 seconds, and check if the state is well opened. Then undeploy them, and check

[2021-09-23 13:26] TheFes commented on #486
I have even more windows 😛 But they don't have covers..
The room with the 3 windows was actually really expensive to get the screens on, although the big one is bigger then the 3 ones combined, the price was about the same of one small window in the other room.

Does this help?
![PXL_20210923_132024331 MP](https://user-images.githubusercontent.com/28803438/134515204-94e6af0d-d96b-433d-add8-0b7dff6

[2021-09-23 13:27] iMicknl commented on #583
If you are using Home Assistant, this place is the right place to report this issue.

Which app or website do you use to login to your Nexity device normally? And did Home Assistant discover your hub automatically, after you installed this integration? I think you are our first Nexity user, thus we need to see if it can be supported.

[2021-09-23 13:29] TheFes commented on #486
Oh, an interesting addition:
`cover.close_cover` sends the screen upwards (not blocking the sun)
`cover.open_cover` sends the screens downwards (blocking the sun).

However, after closing they, they report to be `open`, and after fully opening them, they report being `closed`

[2021-09-23 13:38] tetienne commented on #486
About close and open, as you have awning devices that you used vertically, you have to understand close as undeploy (not blocking the sun), and open as deploy (blocking the light).

You are well testing on the last version I send you [here](https://github.com/iMicknl/ha-tahoma/issues/486#issuecomment-925675757)?

If the behavior I described match what you have we are good.

[2021-09-23 13:42] iMicknl commented on #583
If I decompile the [Eugénie](https://play.google.com/store/apps/details?id=fr.nexity.eugenie&hl=nl&gl=US) (fr.nexity.eugenie) Android app, I see the same URL as the one we use in our integration. Could it be that you are using a different app / platform?

[code]

[2021-09-23 13:43] edouardmenayde commented on #583
I am indeed using this app (iOS version but it should not matter here).-

[2021-09-23 13:43] edouardmenayde commented on #583
HA did not discover the hub automatically after installation

[2021-09-23 13:45] edouardmenayde commented on #583
The endpoint is the right one indeed : I proxied my calls to the api through proxy man and it's the same one as you extracted

[2021-09-23 13:45] iMicknl commented on #583
Would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can debug this. Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my machine.

I am not sure if we can resolve this, if they are not accepting your credentials :(. Could you check which request they do for a login? If they are a

[2021-09-23 13:57] TheFes commented on #486
Yes, I am using that version (don't know if I can verify it somewhere, but I've removed the existing Tahoma folder from custom_components, and placed the Tahoma folder from the zip there)

The behaviour of the `cover.open_cover` and `cover.close_cover` is as you described. close is undeploy, and open is deploy.
However, the states seem to be reversed. After `cover.open_cover` is finished, the stat

[2021-09-23 14:06] tetienne commented on #486
Indeed, that’s not correct, open cover should result in open state...

Can you please undeploy your valance, redownload the zip (I’ve added more logs), enable the debug log, deploy your valance though the Somfy application or website and finally copy/paste the all the log related to overkiz here?

[2021-09-23 14:24] TheFes commented on #486
Updated to the new version, and applied the same change as my previous picture (middle one half deployed, right one fully deployed).
[code]

[2021-09-23 14:46] tetienne commented on #486
Thx it was really helpful. The issue comes from Somfy. For non valance awing, they normally returned for `DeviceStateChangedEvent` a `DeploymentState`. And in your case, it’s still not the case. Only `OpenClosedState` is returned. So apparently, they partially fixed the configuration for the valance. So I will keep my workaround for your device and contact Somfy support.

[code]

[2021-09-23 14:56] TheFes commented on #486
Okay, I will update to 2.8.1 now then :)

Will be happy to test again after a new update by Somfy

[2021-09-23 15:46] tetienne commented on #486
They already answer me. They will in fact release there fix next tuesday.

[2021-09-23 18:36] iMicknl commented on #453
@sebaurel could you give https://github.com/iMicknl/ha-tahoma/tree/enhancement/switch_to_siren a try? Just overwrite your previous version.

I hope this will allow you to turn off the siren. If not; please share your full log.

[2021-09-23 20:10] thesebastianf commented on #577
mhh need to add something
so 0 - 100 is correct but in "history" the screen is shown as OPEN (so the label is inverted now)

![image](https://user-images.githubusercontent.com/13987575/134576703-9ed6da59-1b9e-46af-a64c-a1ad78497b50.png)

this can also be seen on the UI.
The action button is correct.... and offers as available action to open the screen.
However the current state on the left side (i

[2021-09-24 07:26] tetienne commented on #577
I won’t deal with lovelace yet. But instead, we will focus on the state we returned. Can you go in the [dev tools page](https://my.home-assistant.io/redirect/developer_states/). Deploy your screen, wait at most 30 seconds, and check if the state is well opened. Then undeploy them, and check if the state is well closed?

[2021-09-24 09:45] tetienne commented on #577
That’s pretty clear thx. Can you please download again the zip file, and install it? You will have more debug log.

Once done, before restarting HA, can you deploy your side screen, restart HA, and finally undeploy the sidescreen? You will see a lof more logs normally.

Can you copy paste the logs here please? (don’t move the other awnings, it will make harder to find useful information otherwize)

[2021-09-24 14:29] thesebastianf commented on #577
2021-09-24 14:20:49 DEBUG (MainThread) [custom_components.tahoma] Initialized DataUpdateCoordinator with 0:02:00 interval.
2021-09-24 14:20:49 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.047 seconds (success: True)
2021-09-24 14:20:49 DEBUG (MainThread) [custom_components.tahoma] Added device (Device(attributes=States(_states=[State(name='core:SupportedM

[2021-09-24 15:44] Wiggum127 commented on #476
Currently running 2021.9.6 and latest version of the Overkiz integration. It appears the last few days, the integration is a lot more stable. I do get an error from time to time stating "cannot connect to host tahomalink:443 ssl:default [Try again]" but those only appear about 3 times per day.
The integration and automations seem to be working correctly. I guess with the updates of the integration

[2021-09-24 15:44] #476 closed

[2021-09-24 15:53] tetienne commented on #577
Thx. So the last event report these states:

[code]

Somfy returned `OpenClosedState` as `open` for your PositionableScreen, while `DeploymentState` is well 0. For other awning device, in such case we have `OpenClosedState` set to closed and `DeploymentState` set also to 0.

So it’s why we have a weird behavior. I will contact the Somfy support to see if they can explain me what happen here.

[2021-09-24 16:02] tetienne commented on #577
Just to help to understand what’s a VerticalExteriorAwningIOComponent, can you show me a picture from your’s or from one on internet?

If I treat this device as a classic cover, everything will work, but it will be confusing for you. Indeed, open will mean undeploy, and close mean deploy (like a classic vertical cover).

[2021-09-24 16:10] thesebastianf commented on #577
https://terrawin.imgbolt.de/media/image/81/b2/d5/Qbus-Markise-abgesenkt-mit-Seitenmarkise_600x600.jpg
this looks exactly like mine
it has 3 motors ...
1. For the Top to deploy overhead...
2. Another one in the front top to lower by some degree
3. a side screen that moves from top to down on the left side in this case

[2021-09-24 18:47] iMicknl commented on #476
Cool, thanks for the update @Wiggum127! And if you keep debug logging on, you could provide us with more information if it happens a next time. We improved logging a lot.

[2021-09-25 02:59] p2544 opened #586 "Retrying setup: Too many requests, try again later for OVerkiz (by somfy)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I got a connexoon devices, previously working fine with my RTS motors
just a 2 month ago, everything seem to be not response, Checking in Hom