[2021-09-25 15:21] iMicknl commented on #586
Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/remove-custom-interval.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

We have seen this issue more often on the Oceania server, where users only add RTS devices. Hopefully this version will solve this issue.

[2021-09-25 17:32] tetienne commented on #586
By the way, if you have only RTS devices, I will glad if you can enable the debug logging as explain in the readme, and copy paste here the logs related to this integration.

[2021-09-26 08:13] p2544 commented on #586
yep, it working now iMicknl, thanks for your help
![image](https://user-images.githubusercontent.com/24413696/134799522-0601f52b-83ac-4c5f-9340-facb5461bda6.png)

[2021-09-26 08:31] p2544 commented on #586
just succeed at the 1st try,  lately it doesn't work again
![Screenshot 2021-09-26 152954](https://user-images.githubusercontent.com/24413696/134800108-11ce17d6-808c-44a2-8644-7d504f3cc38e.png)
![Uploading Screenshot 2021-09-26 152911.png…]()
.

[2021-09-26 12:25] iMicknl commented on #586
@p2544 could you please turn on [debug logging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#enable-debug-logging) and share your full log?

[2021-09-26 13:14] schumi69 commented on #441
Hi @iMicknl !

I think, i find thé right éléments

When activate zones A& C, this is what i have in HA:

Is it this ?

021-09-26 15:06:17 DEBUG (MainThread) [custom_components.tahoma.coordinator] Event(timestamp=1632661576052, name=<EventName.EXECUTION_REGISTERED: 'ExecutionRegisteredEvent'>, setupoid=03dfef****-2faf-45d****-a****-79ce6cab30ea, owner_key=None, type=1, sub_type=4, time_to_next_stat

[2021-09-26 13:17] p2544 commented on #586
already add some logger in configuration.yam + l restart server.
is this the log screen you want to check?

![image](https://user-images.githubusercontent.com/24413696/134809699-bfed91cd-61d7-4e47-b368-1600e8be36a5.png)

[2021-09-26 13:21] iMicknl commented on #441
@schumi69 thanks, but unfortunately this is not all the information we need. Did you also execute the service mentioned above?

Feel free to join our Discord to walk through it.

[2021-09-26 13:23] iMicknl commented on #586
@p2544 yes indeed. You can copy the full log and past it here between  ```.

Currently there is nothing in your log yet, however if you face those issues, there should be more information in the log. By the way, I see you are still using configuration in YAML (configuration.yaml), I would remove the tahoma key there as well and just use the Config Flow.

[2021-09-26 13:28] p2544 commented on #586
here is my current configuration.ymal, just a new install nothing much, is this ok? or where should I fix?

![image](https://user-images.githubusercontent.com/24413696/134810079-66052457-0489-43e0-a0d8-abd77fd269bd.png)

[2021-09-26 13:30] p2544 commented on #586
here is my current configuration.yaml , is it ok? if not what should I fix or add?
![Screenshot 2021-09-26 202611](https://user-images.githubusercontent.com/24413696/134810120-f74ce52d-9280-450a-bdad-76e43eae29fa.png)

[2021-09-26 13:42] iMicknl commented on #586
Your configuration is fine, however I would remove line 20 to 27, since this is very old.

Now reboot and wait for a while, it should fill your log after a while and you can copy and paste it here.

[2021-09-26 13:56] p2544 commented on #586
Logger: libav.tcp
Source: components/stream/worker.py:321
First occurred: 8:45:57 PM (10 occurrences)
Last logged: 8:53:55 PM

Connection to tcp://192.168.1.139:554?timeout=5000000 failed: Host is unreachable

[2021-09-26 13:56] p2544 commented on #586
2021-09-26 20:45:14 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration tuya_v2 which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-09-26 20:45:14 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration hacs which has not been tested by Home As

[2021-09-26 15:09] iMicknl commented on #586
Do you currently have these issues, and this is the only thing you see in the log? Have you set up the TaHoma integration? Because I don't see any errors related to `custom_components.tahoma` in your log.

[2021-09-26 16:29] p2544 commented on #586
I working right now, I need to wait for tomorrow because time here in
Bangkok is 23:30 already.
however thanks for your help, let see how it goes again.
[image: image.png]

On Sun, 26 Sept 2021 at 22:09, Mick Vleeshouwer ***@***.***>
wrote:

[2021-09-26 16:31] p2544 commented on #586
now it seem that the button are all disable again
![image](https://user-images.githubusercontent.com/24413696/134816079-cafcaaa1-c853-4bbc-8ac0-a9d972beb205.png)

[2021-09-26 16:33] p2544 commented on #586
here is all the full log

2021-09-26 20:45:14 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration tuya_v2 which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-09-26 20:45:14 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration hacs which has

[2021-09-26 19:06] iMicknl commented on #586
@p2544 thanks, this is very helpful! It seems our fix is not doing its work, we will provide you with a new version sometime this week.

@tetienne it seems that even RTS devices have a `State(name='rts:diy', type=<DataType.BOOLEAN: 6>, value=False)]`... Perhaps we should just check for `rts:` prefixes of all devices?

[2021-09-26 19:47] tetienne commented on #586
That's weird because when I see this
`states=States(_states=[])` it's exactly what my PR look for.

[2021-09-26 19:49] iMicknl commented on #586
Exactly.. I wonder why it is still polling every second in his example.

@p2544 are you sure you are running the version we shared with you?

[2021-09-26 20:07] iMicknl commented on #441
[code]

[2021-09-27 15:32] Wiggum127 opened #587 "Error fetching device events data: Invalid event listener id"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

The latest version of the Overkiz integration seems to have an issue with unique IDs. In my case this causes an automation script to fail. Th

[2021-09-27 16:08] iMicknl commented on #587
I am not sure between the relation between `Invalid event listener id` and your not unique id's.

Did you try to remove the integration and add it back? And could you check which scenes you currently have that share the same ID? We use a unique id (coming from Overkiz) for them, so they should be unique.

[2021-09-27 16:30] XalaTheShepard commented on #485
Dear @iMicknl , thanks for the feedback. Unfortunately the Discord link provided me an error. Could you please send me a new one, so I can give you more detailed feedback? Many thanks. Kind regards, Robin

[2021-09-27 19:26] E020 opened #588 "Slow response with Tahoma Swith & Opening Shock Sensor"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Everything is working fine in the Tahoma Mobile app. Opening/closing door is reported almost immediately in the Tahoma app. But the state in

[2021-09-27 19:30] E020 commented on #588
Additional info: also changed the updated interval to 3-5 seconds, but no change in the time to update. Still 20-30 seconds.

[2021-09-27 19:36] tetienne commented on #588
Hi,

As you can see in the log, we are only listening what Somfy send us. As soon as we receive the new state, we update your sensor within HA.

We cannot reduce this delay as it's on Somfy side.

[2021-09-27 19:45] E020 commented on #588
A clear, wasn't sure how to interpret the log. So an issue on Somfy side. That brand continues to disappoint me time and time again with the Tahoma Switch and terrible support for HA👎

Thx for the reply.

[2021-09-27 19:49] tetienne commented on #588
That's the issue with cloud polling, there is obviously a polling interval. For binary sensor that's not the best.

[2021-09-27 19:49] #588 closed

[2021-09-27 20:20] iMicknl commented on #588
This is because Somfy pulls for updates every second, when you open the app. We use the same event mechanism, however the difference is that we are not allowed to poll every second. As a compromise, we poll every 30 seconds and only poll every second after you execute a command, to understand the new state.

I can imagine that this renders your door sensor pretty useless, since you would like a fa

[2021-09-28 08:41] Wiggum127 commented on #587
Removed it, upgraded HA to 2021.9.7 and reinstalled the integration.
Not seeing any errors for now.
My conclusion is that an update of the Tahoma integration, installed via HACS, caused the error. Removing it and adding it again seems to avoid the issue. But that's just avoiding the bug, not fixing it.

[2021-09-28 11:55] iMicknl commented on #587
I am not sure which update could have caused the unique ids to conflict, we haven't seen this issue before to be honest.

The other error 'invalid event listener id' is something we need to investigate, but I think this is generated by Overkiz API and we just need to catch it in a better way.

[2021-09-28 12:08] mingan666 commented on #563
@iMicknl

The problem happend again and once again it seems related to maintenance of the server...
Anyway, I checked the error logs as requested above and it seems you were right and the error might be related to the other issue.

Please see the log entries related with todays problem. I hopes debugging the issue:

[code]

[code]

[2021-09-28 12:38] Quentame opened #589 "CozyTouch is not working anymore due to login API changes [DO NOT UPDATE YOUR COZYTOUCH APP TO 3.0]"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

After updating the app to 3.0.0, I opened it and then some kind of update proccess are beeing made to my account (maybe also the bridge I gue

[2021-09-28 13:08] Wiggum127 commented on #587
There is always a first time for everything. Nothing changed at my side except updating the integration via HACS.

Anyway, hope this error and the other one helps you further improving the integration.

[2021-09-28 17:02] p2544 commented on #586
just delete all the root tahoma and extract again. restart server and home assistant detect somfy overkiz
by still cannot login the server refuse too busy
![image](https://user-images.githubusercontent.com/24413696/135132535-952018dc-8d24-4796-ae32-42c2aa8fcc63.png)

![image](https://user-images.githubusercontent.com/24413696/135132589-65e2a083-7c68-479e-ac8b-25a1fa5eef69.png)

[2021-09-29 06:51] tetienne opened #590 "Add up to date status"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Add a binary sensor with device class `update` to indicate if a firmware upgrade is available.

![image](https://user-images.githubuserconten

[2021-09-29 07:14] tetienne commented on #577
@thesebastianf Can you please try again https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/cover/reverse-state-awning.zip ?

[2021-09-29 07:15] tetienne commented on #486
@TheFes Somfy deployed their new release yesterday, can you please apply it and download again https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/cover/reverse-state-awning.zip ?

[2021-09-29 08:26] iMicknl commented on #589
Thanks for reporting, @Quentame! I can imagine that this is similar to what Nexity is doing, where we were able to overcome this limitation, but it required some work... We will investigate.

[2021-09-29 12:32] TheFes commented on #486
I've updated to the fix, and it works now.
I've updated, and then kinda forgot about it, and suddenly heard that the screens were deploying. This was because I have an automation to undeploy them when there's rain upcoming, so they are inverted now. At least for me.

My automation sent a `cover.open_cover` service call, so according to your earlier comment, this should indeed deploy the screen. So

[2021-09-29 12:32] iMicknl commented on #586
@p2544 you need to wait for a while (30 minutes +) until you can try again. Are you sure you are running the version we linked?

[2021-09-29 12:36] iMicknl commented on #563
Let's track in https://github.com/iMicknl/ha-tahoma/issues/560, thanks for reporting!

[2021-09-29 12:36] #563 closed

[2021-09-29 12:36] tetienne commented on #486
Many thanks for this feedback. You understand correctly. The purpose of my fix is to handle all the awning in the same: open -> deploy, close -> undeploy. So everything behaves the same. I will wait for another confirmation, and will deploy this fix with the next version. So be careful to this last :)

[2021-09-29 12:54] TheFes commented on #486
Okay, great..
Do you maybe have any idea why the icons and Lovelace arrows do not match if you manually change the device_class to `blind`
That's why I have to invert the actions for my screens, because otherwise the lovelace GUI inverts everything.

[2021-09-29 12:55] tetienne commented on #486
No idea, sorry. @iMicknl Perhaps?

[2021-09-29 12:59] #572 closed

[2021-09-29 13:32] p2544 commented on #586
yes it work now, but need to see will it disappear again.

[2021-09-29 13:54] iMicknl commented on #586
If it happens again, please share your full log. However, it should just pull your data every 30 minutes now.

[2021-09-30 00:29] p2544 commented on #586
yes it happen again. here is the log

Logger: libav.tcp
Source: components/stream/worker.py:321
First occurred: September 28, 2021, 11:45:26 PM (151 occurrences)
Last logged: 7:20:38 AM

Connection to tcp://192.168.1.139:554?timeout=5000000 failed: Host is unreachable

2021-09-28 23:44:33 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration tuya_v2 which has not been tested

[2021-09-30 04:49] Nodezero1 commented on #587
I'm having the same problem, and it's causing entities from this integration to become unavailable/available about every few minutes.

[2021-09-30 07:42] iMicknl commented on #586
@p2544 I have no clue why your log only has one line related to the TaHoma integration. This means that it hasn't been set up yet. Did you take this changelog after rebooting your installation?

By the way, the `libav.tcp` line that is flooding your log is not related to our integration. It seems that you have an IP camera on `192.168.1.139` that is not functional anymore.

[2021-09-30 09:46] Wiggum127 commented on #587
Since the remove/add of the integration, the automations using a script for lowering the screens no longer works. So the errors of invalid listener and not unique IDs are gone. But now I'm facing this:

 Logger: homeassistant.helpers.service
Source: helpers/service.py:128
First occurred: 28 september 2021 17:57:43 (24 occurrences)
Last logged: 29 september 2021 17:56:35

    Unable to find referen

[2021-09-30 10:01] iMicknl commented on #587
@Wiggum127 could you have a look how your entities are called now? Could it be that you have renamed your devices in Overkiz in the mean-time?

[2021-09-30 10:33] Wiggum127 commented on #587
@iMicknl The entities are called roomA_front, roomA_side, roomB, roomC, frontdoor etc.

I haven't touched the names of the entities for months. Not in HA, the native Somfy Connexoon app etc. I don't see the *_2 entities anywhere in the integration, dashboard, script, app ...

My guess is that the update procedure has an issue causing duplicate entities and has generated names with *_2 as suffix to

[2021-09-30 11:18] p2544 commented on #586
this is the log from another server in the same place

2021-09-30 09:24:06 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration hacs which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-09-30 09:24:06 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom i

[2021-09-30 11:34] iMicknl commented on #586
Thanks! And to be sure, again, are you running the version we shared with you? (https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/remove-custom-interval.zip)

And why do you run multiple servers with Home Assistant? Could it be that you are constantly polling from multiple installations as well?

[2021-09-30 11:36] iMicknl commented on #587
What is the name of the entity now? You can look that up at developer tools -> states. If they don't have the _2 suffix, I wonder how they are called.

[2021-09-30 11:39] p2544 commented on #586
I using the files you send to me at the beginning, and the reason I have 2 servers at the same place because another one is just for testing, however this time I will try to shut 1 server off then wait to see if it still have problem I will reinstall fresh Home assistant and only install this tahoma integrate before anything and let see what will happen again.

![image](https://user-images.githubu

[2021-09-30 11:41] iMicknl commented on #586
If you are using that version, than it seems that our fix is not working. It should use a different update interval and I don't see this in your log.

Would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging

[2021-09-30 12:02] Wiggum127 commented on #587
Looking at the developer tools -> states, none of the names have the _2 suffix:

cover.roomA_front
cover.roomA_side
cover.roomB
cover.roomC
cover.frontdoor
etc.

[2021-09-30 12:15] iMicknl commented on #587
Than I don't see the issue to be honest. You use `cover.roomA_front_2` which should be `cover.roomA_front`. This conflict could have been generated many versions ago, or even with another integration. (Somfy official e.g.)

We are working towards a core integration, and at that point you wouldn't see breaking changes anymore, but at this stage there could be some.

[2021-09-30 13:32] Wiggum127 commented on #587
@iMicknl I'm not using the cover.*_2 entities anywhere. Everywhere I check I'm using the cover.* entities like it should. However, I do get warnings about entities called cover.*_2 for some reason.
These warnings only started after doing remove/add of the integration. This remove/add "fixed" the unique ID error, but now the automations/scripts are broken.
That's the issue we're facing.

[2021-09-30 13:36] iMicknl commented on #587
@Wiggum127 maybe good to keep this issue for `Error fetching device events data: Invalid event listener id`  and to create a new issue for the issue you mention. Currently there is not enough information and it is pretty unclear. Especially since you mention you are not using the cover._2 entities, while you mentioned before that in your automation it gives that error.
If you can share some logs a

[2021-09-30 19:07] laszlojakab commented on #261
Is there a way to have an event if this kind of error happens (like in #573)? This exception catched here:

https://github.com/iMicknl/ha-tahoma/blob/47c92c6dd6d49233593f9f8b9e9dfb21facf5bca/custom_components/tahoma/executor.py#L65-L75

There is only a log message but can't handle this error from outside (eg: from an automation).
More general question: can we have an event (or events) if a command

[2021-09-30 19:26] tetienne commented on #261
@laszlojakab Can you try the master branch? I've added event in case of failure. More information [here](https://github.com/iMicknl/ha-tahoma#events).

[2021-09-30 21:07] laszlojakab commented on #261
Sorry not exactly the same error as in the subject of the issue. I get this error:

`
2021-09-30 23:03:10 ERROR (MainThread) [custom_components.tahoma.executor] Execution queue is full on gateway: #XXXX-XXXX-XXXX (soft limit: 10)
`

No event for this kind of error in master branch. As I mentioned this error logged by line 74 in executor.py

[2021-10-02 10:39] sichip commented on #586
I was experiencing the exact same issue as p2544 above, using Overkiz (Oceania), and the standard release from HACS. This happened after successfully using my blinds at least once. I have a Somfy Connexoon RTS and I am in Australia.

After uninstalling, waiting a while, reinstalling + reconfiguring, then changing the interval to 30 to 300, I got it to not fail setup, but only after a couple tries.

[2021-10-02 11:29] sichip commented on #586
Spoke too soon, controls greyed out and not returning. More log:

`2021-10-02 20:42:02 DEBUG (MainThread) [custom_components.hacs] Nothing in the queue
2021-10-02 20:44:20 DEBUG (MainThread) [custom_components.tahoma.coordinator] Fetching all devices and state via /setup/devices
2021-10-02 20:44:20 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 1.691 seconds

[2021-10-02 20:32] steve41200 commented on #589
I try for the first time your integration for Rexe (Econnect2)l, and he won't connect. I have login or password incorrect. I don't know if it is due to the same problem.
I have a new heater IO (I have plug a zigbeeswitch behind the other), but him is in a bathroom and I will give a shot to your integration.  I will try again and give you return of my try

[2021-10-02 20:54] steve41200 commented on #589
I have an old VM for trying a long time ago with Homebridge on it (and plug in Tahoma and it will always works to control Rexel Box via HA, the login and pass are good. The plug in is not update since long time)
I have try to a long time ago via Node Red with Overkill node directly, but I don't found them, I've erase them I think...

[2021-10-03 02:11] #376 closed

[2021-10-03 12:21] iMicknl commented on #589
@steve41200 best would be to create a new issue, since the CozyTouch situation is a bit different. Happy to help you in a new issue. I think you are the first Rexel user to test this out.

[2021-10-03 14:34] iMicknl commented on #586
@sichip @p2544 based on the credentials of @p2544 I created a new version.

Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/remove-custom-interval.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.
Please make sure you are not using previous version, which has the same name.

This should update the polling interval t

[2021-10-03 16:18] #300 closed

[2021-10-03 16:18] #369 closed

[2021-10-03 16:18] #504 closed

[2021-10-03 16:18] #586 closed

[2021-10-03 17:36] xefil commented on #577
Hi @tetienne ,
I've same behaviour, I mean, the status of my devices is reverted.
I'm using a Tahoma V2 Box and the devices are recognized as:
- PositionableHorizontalAwning by Somfy
- PositionableHorizontalAwning by Somfy
- PergolaHorizontalAwning by Somfy
In all cases, they are simply reverted.
If you think it's better to open a new Issue, let me know.
If I can save try the above zip, let me kno

[2021-10-03 17:49] thesebastianf commented on #577
Im Back Home in wednesday and will try asap then

[2021-10-03 19:04] tetienne commented on #577
@xefil can you try indeed the version I linked above?

@thesebastianf thx

[2021-10-03 20:03] steve41200 opened #591 "Cannot authenticate via Rexel since they moved to their own identity system (Azure B2C)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I try for the first time your integration for Rexe (Econnect2)l, and he won't connect. I have login or password incorrect. I don't know if it

[2021-10-04 03:10] sichip commented on #586
The zip link above didn't work, so I got the latest from master after the latest commit, and it all appears stable, even after an hour with many blind movements. Thanks for figuring this one out!!

[2021-10-04 08:24] xefil commented on #577
Hello  @tetienne ,
Same, status inverted. I've rsynced only the `ha-tahoma-fix-cover-reverse-state-awning/custom_components/tahoma/` into the HA `custom_components/tahoma/` folder, and the restarted HA. Is that correct? There are different files as well, but outside the `tahoma` folder in your zip. Let me know in case if the replacement was made correctly or if you need more logs.
Thanks, Simon

[2021-10-04 08:30] tetienne commented on #577
@xefil it should be fine, files outside tahoma are not related to the component itself. Can you please open a cover with a reverse state, enable the [debug mode](https://github.com/iMicknl/ha-tahoma#enable-debug-logging), restart  HA, close your cover, and finally copy/paste here all the logs related to the component.

[2021-10-04 09:07] xefil commented on #577
Hello, debug enabled and HA restarted.
Then, starting with the vertical cover OPEN (even if it's shown as `Closed`), I've closed it via HA and opened it.
Here the logs:

Closing:
[code]

Opening:
[code]

Thanks @tetienne !

Simon

[2021-10-04 09:29] tetienne commented on #577
@xefil Thx for the quick feedback. Looking at your logs, everything seems OK. When you deploy your awning ![image](https://user-images.githubusercontent.com/8216238/135826789-0f98755a-9db9-422f-9e68-b0ee8a881130.png), at the end you well have DeploymentState set to 100. And when you undeploy, you well have DeploymentState set to 0.

Your cover are setup vertically? In such case, it can be confusin

[2021-10-04 09:50] xefil commented on #577
Hello,
Well, yess, I've two covers that are installed vertically and recognized as `PositionableHorizontalAwning by Somfy` and one horizontally as `PergolaHorizontalAwning by Somfy`.

For the first two, what do you suggest? Isn't there a way to override? Even on Tahoma Box, I don't know.

For the `PergolaHorizontalAwning` that's the same btw. In fact it is the Pergola Roof. Now it's closed and on

[2021-10-04 10:29] tetienne commented on #577
@xefil On my side, I cannot do more. Indeed, as you are using a motor for horizontal devices, you will have a reverse state.
For such case, you will have to create some template cover: https://www.home-assistant.io/integrations/cover.template/ to reverse the behavior.

[2021-10-04 10:36] xefil commented on #577
Hello @tetienne , sorry, let me reassume if I've understood correctly: for both scenarios, 2x PositionableHorizontalAwning and 1x PergolaHorizontalAwning I've to play with cover.template to set all properly?
The actual state is:
PositionableHorizontalAwning: status inverted, button inverted and "wrong" (i'll need it in vertical, not horizontal)
PergolaHorizontalAwning: status inverted, button inve

[2021-10-04 11:43] p2544 commented on #586
this link is not found

[2021-10-04 11:55] sichip commented on #586
in HACS, select the reinstall option on the integration, enable beta versions, and select master to install. this should pull in the latest update with the stateless RTS device fix :)

[2021-10-04 12:26] iMicknl commented on #577
@xefil I would also advise to see if you can change the type, however this has to be done by the installer probably. Not sure why he created them as HorizontalAwning when they are used in a vertical way.

How do they look in the TaHoma app?

[2021-10-04 12:29] iMicknl commented on #591
Thanks! Can you share which app or website you currently use to login?

And can you double check which Homebridge integration you are running?

[2021-10-04 13:18] xefil commented on #577
Hello @iMicknl ,
On the Tahoma interface, the two PositionableHorizontalAwning  are shown as terrace awning and shown as "up", also open, like they are. on HA they are `Closed`.

![image](https://user-images.githubusercontent.com/17131053/135857991-a151ab6b-83b4-4991-bdbf-43ff78a5c6bf.png)

The PergolaHorizontalAwning is shown in the Tahoma interface as Pergola Roof, in a closed state, correctly.

[2021-10-04 13:23] uowis opened #592 "Support eco mode for AtlanticElectricalHeaterWithAdjustableTemperatureSetpoint"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Thanks and congrate for this powerfull integration !
I use it for cozytouch heaters, and it's very faster than an other integration.

**It wo

[2021-10-04 13:43] tetienne commented on #261
@laszlojakab I was able to reproduce your error spamming a script where I open and close many times a cover.

It seems an event is well triggered when a command is not correctly send:

`2021-10-04 15:34:13 DEBUG (MainThread) [custom_components.tahoma.coordinator] Event(timestamp=1633354453054, name=<EventName.EXECUTION_STATE_CHANGED: 'ExecutionStateChangedEvent'>, setupoid=741ca89f-a47b-4ad****-89

[2021-10-04 13:52] iMicknl commented on #261
@tetienne perhaps his case will broadcast `NOT_TRANSMITTED` and we only create an HA event when the ExecutionState is failed?

[2021-10-04 13:55] tetienne commented on #261
I’m sure if the events are linked. But, we can forward more events if needed indeed.

[2021-10-04 14:52] rvrignaud commented on #261
Besides the event generated, is there any intention to have a proper fix to this issue ?
This is really introducing lots of problems for me

[2021-10-04 15:07] tetienne commented on #261
@rvrignaud That’s not something we can fix easily, if feasible. It means we will have to handle a kind of queue, or something similar. In your case, why not use scenario created on the tahomalink.com side?

[2021-10-04 15:12] rvrignaud commented on #261
Because I'm using Google Assistant voice queries that are triggering native devices command (for 13 devices for now, soon much more) and not a specific routine. Like "OKG close all the shutters."
I would prefer as much as possible to divert from native GHA interactions

[2021-10-04 15:21] iMicknl commented on #261
@tetienne I wonder why the backoff is not working. Perhaps we need to retry for a longer time.

I am not a huge fan of building a queue in the Data Update Coordinator...

[2021-10-04 15:35] tetienne commented on #261
@iMicknl Probably yes, we can add some delay to check if it helps.

[2021-10-04 15:58] rvrignaud commented on #261
If you need any help in testing new behavior, I can consistently reproduce this one. Happy to help

[2021-10-04 18:59] steve41200 commented on #591
I use overkiz by somfy in HACS v2.8.1
After restart a new integration is discover (overkiz by somfy)
I click configure, set mail, password and Hue Rexel Energyeasyconnect
It does'nt work

I connect with this login on
https://utilisateur.energeasyconnect.com/user/#/login
or on app E.connect2

In my VM for hombridge (who works) i do not have update the Tahoma plug in
homebridge-tahoma v0.3.51
and ho

[2021-10-05 04:32] bedo2405 commented on #586
Oh, just what I was looking for, thanks so much!
I'll give it a go and see what happens.

[2021-10-05 06:54] p2544 commented on #586
already install hac with master version, the integration still got error
![image](https://user-images.githubusercontent.com/24413696/135974599-b4296cd1-8d7c-450b-9e30-f1688620d9d6.png)

[2021-10-05 08:35] bedo2405 commented on #586
It's been a few hours now and all is good.
I did have too disable it for an hour after updating just to let the error clear, and now it's working fine. Thanks again

[2021-10-05 08:50] uowis commented on #592
`2021-10-05 10:42:15 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration aquaariston which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-10-05 10:42:15 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration tahoma which has not been tested by

[2021-10-05 09:11] uowis commented on #592
and this is state attribut for one of heaters :
`hvac_modes:
  - heat
  - 'off'
  - auto
min_temp: 7
max_temp: 35
preset_modes:
  - none
  - frost_protection
  - eco
  - comfort
  - comfort-1
  - comfort-2
  - auto
  - boost
  - prog
current_temperature: 17.8
temperature: 17
preset_mode: eco
friendly_name: Radiateur 1er
supported_features: 17
`

[2021-10-05 11:50] p2544 commented on #586
now it seem to be connected  but the button still disable
![image](https://user-images.githubusercontent.com/24413696/136017131-290ef9ba-9af6-4bc2-bfb5-570c0b01f039.png)

![image](https://user-images.githubusercontent.com/24413696/136017165-2c53ff6d-b4b9-4e5d-aa51-b0966aa25fce.png)

[2021-10-05 12:04] iMicknl commented on #586
@p2544 could you share your log here please? (with debug mode on).

However, @bedo2405 is right. Fully disable your integration and wait a few hours. Now you should be able to login (with our new version).

[2021-10-05 13:54] p2544 commented on #586
I will disable the integration too same as @bedo2405  and will wait to see what happen, how already setup log and will see more results soon.

[2021-10-05 17:35] p2544 commented on #586
![image](https://user-images.githubusercontent.com/24413696/136074115-4884d808-84cd-4480-9533-a2dd3975989b.png)

this is my latest log and status.

2021-10-05 21:19:30 WARNING (SyncWorker_3) [homeassistant.loader] We found a custom integration webrtc which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home

[2021-10-05 18:22] iMicknl commented on #586
@p2544 are you sure you disabled it for a while, until logging in again? Are you not running any other integration/plugin somewhere that is accessing the same account?

This behavior happens already at first login and the integration will keep retrying. We are not even at the point where we change the update interval, since we get the error already on the first try.

Do you reboot your Home Assist

[2021-10-06 00:26] p2544 commented on #586
1. sorry forget to disabled it so now just do disable, for how long?
2. another server also install tahoma, but not yet loging-in
3. let see what will happen
4. Just want to know why it is so difficult for this integration? does somfy product is not made for this?

[2021-10-06 06:39] tetienne commented on #577
@xefil `close` means `undeploy`, and `open` means `deploy` for any kind of awning. If you see this behavior, it works as expected.

[2021-10-06 07:16] sichip commented on #586
I noticed in your screenshot that the Configure button, which contains the interval option, is still there, which means that you may not actually be on the master version. This is something I noticed when I switched versions, so I'd recommend going to the reinstall option, selecting master, then restarting HA. Here's what mine looks like:
![Screenshot_20211006-181037_Home Assistant](https://user-i

[2021-10-06 07:48] xefil commented on #577
ok @tetienne no problem. strange is, from the Tahoma App the images shows it correctly, i mean open as open and closed as closed. I'm not implying the integration is working wrong, I'm really happy to use this integration. I'll try to solve the problem using covers. I've already posted help, due it's something new for me. I've checked-out even if it's possible to re-program or change device type f

[2021-10-06 08:09] iMicknl commented on #577
@xefil what if you change the device class from awning to blind or something else? The `Awning` implementation in Home Assistant is super confusing.

[2021-10-06 10:24] themaninspain commented on #487
Apologies, I have had some major electrical issues at home which have now been rectified.
Are you still interested in capturing the events?

[2021-10-06 10:50] xefil commented on #577
Would this change the interaction? In case how do that?
Thanks!
Simon

[2021-10-06 12:05] tetienne commented on #487
Hello, no problem with that.

We greatly improve our log, so be sure to use the latest version and have enabled the debug log.
Can you please open your gate, clear the log and close the gate, wait at least 30 seconds, then copy/paste the logs related to our components?
And same actions but opening the gate.

You will see, it’s a lot more verbose now.

[2021-10-06 12:06] tetienne commented on #577
See https://www.home-assistant.io/docs/configuration/customizing-devices/#device_class

[2021-10-06 12:28] TheFes commented on #486
Is the new fix already in the stable branch?
I saw there was an update today, but I didn't recognize it in the changelog

[2021-10-06 12:31] thesebastianf commented on #577
so I tried.
the state is 0 in developer tools for when undeployed. so should be correct

the UI looks like when all are undeployed
![image](https://user-images.githubusercontent.com/13987575/136202443-58058f58-ab12-46dd-a071-3a3b04a301f1.png)

anything more you need?

[2021-10-06 13:42] p2544 commented on #586
already update and configure button still exist, should I wait until it gone?
![image](https://user-images.githubusercontent.com/24413696/136214286-72f24f5e-5bd9-4899-bdfe-a7b57cbb665f.png)

[2021-10-06 15:54] #577 closed

[2021-10-07 02:00] p2544 commented on #586
leave it one night this morning found it appear to press but I am really afraid it will gone or disable again :)
![image](https://user-images.githubusercontent.com/24413696/136308600-f66cbef0-a27d-4540-83d2-9e2e308fdd37.png)

[2021-10-09 08:00] themaninspain commented on #487
Done. Here's the log of the open/close event
`2021-10-09 09:56:44 DEBUG (MainThread) [custom_components.tahoma.coordinator] Event(timestamp=1633766186433, name=<EventName.DEVICE_STATE_CHANGED: 'DeviceStateChangedEvent'>, setupoid=8ecc7b3d-a2fe-4cad-96ed-bae383e6d98f, owner_key=None, type=None, sub_type=None, time_to_next_state=None, failed_commands=None, failure_type_code=None, failure_type=None,

[2021-10-10 16:27] Murazor opened #593 "New device discovered at every restart of HA CORE"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Everytime I restart HA Core I get a notification that a new device is discovered. The new device is from OVERKIZ and I see 2 instance of the

[2021-10-10 20:46] jugla commented on #589
Hello,
I have update the cozytouch app to version 3.0.0 .
Same as @Quentame and  @Hankey71 , the ha-tahoma integration no longer works :-(

Thanks in advance for your work !

[2021-10-11 07:52] iMicknl commented on #589
I haven't had time yet to dive in to it. You can help by trying to capture the requests they do on login (e.g. with Proxyman or another proxy/MITM tool).

You can join our Discord as well, to work all together to tackle this ;-).

[2021-10-11 08:55] Murazor commented on #593
@iMicknl I don't remember if I renamed it when installed the FritzBox. For sure I didn't renamed it after migrating from Openhab to Homeassistant.

[2021-10-11 13:10] iMicknl commented on #589
It seems Android has been updated as well, I will try to add support for new CozyTouch this week.

[2021-10-12 15:20] #593 closed, assigned to nobody

[2021-10-12 18:24] jugla commented on #589
Hello,
no error at all during this day :-)

[2021-10-12 18:40] NicoLeOca commented on #18
Hi @iMicknl
I would like to control the pedestrian mode of my "DiscreteGareWithPedetrianPosition".
Is it supported already?
Thanks
NicoLeOca

[2021-10-12 19:01] NicoLeOca commented on #18
Merci @tetienne
That would be great definitely!

[2021-10-12 19:38] tetienne commented on #564
`PriorityLockOriginatorState` is not returned by Somfy when the device is not locked.

[2021-10-12 19:38] NicoLeOca opened #597 "Add support for Pedestrian Mode - DiscreteGateWithPedestrianPosition (io:DiscreteGateOpenerIOComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Hi
I integrated an outdoor gate, aka DiscreteGateWithPedestrianPosition for Somfy.
This device provides a pedestrian position where only one

[2021-10-12 20:22] tetienne commented on #597
Can you please download https://github.com/iMicknl/ha-tahoma/archive/refs/heads/enhancement/cover/pedestrian-position.zip, and replace the current custom component?

It should add a select to your gate device where you should be able to select opened, closed or pedestrian. There is also unknown, but it will trigger nothing. That’s a value Somfy can return.
Sadly, the state of the select will not b

[2021-10-13 06:42] tetienne commented on #597
@NicoLeOca I didn’t touch the main entity. This issue and PR will just focus on the select.
Can you please download again the zip file, and try again? I made a little mistake with my previous try. I also change the suffix of this select to Position instead of State.

[2021-10-13 11:23] kaczkalolo opened #599 "At least one of your integrations requires reconfiguration to continue functioning."
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Every now and then overkiz stops working and i get notification that it requires reconfiguration. When i enter credentials it says aborted.

[2021-10-13 12:17] YomoShitsu opened #600 "Connection issue on Overkiz - Cozytouch platform"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

When I try to had Overkiz integration, I have a login user or password issue (see in screenshot)

![image](https://user-images.githubusercont

[2021-10-13 12:18] #600 closed

[2021-10-13 12:24] Kaibob2 commented on #599
I see. Then only the first sentence stays relevant :)

[2021-10-13 17:20] sebaurel commented on #453
Hi @iMicknl
Sorry, i didn't see your last topic.
I tryed but the button is disabled.

I never use discord, but i can try. When are you available ? I am from 7 p.m. GMT + 1 or the week-end

[2021-10-13 17:21] iMicknl commented on #599
@dhover could you share your full log perhaps? I wonder if they first had a maintenance error.

[2021-10-13 17:37] dhover commented on #599
I can activate the debug log for this integration if you tell be how to.

[2021-10-13 23:27] fafifi commented on #583
Hello,

I just tried your path, the problem is still present for me.
I get the following message: Incorrect password or username
However I am of course on the identifiers to inform.

I use the eugénie app on Android.

Thanks for your help,
Available if you need additional information.

[2021-10-14 07:41] Quentame commented on #589
Nope, as said here https://github.com/iMicknl/ha-tahoma/issues/589#issuecomment-940495377

Here are the steps:
1. remove your current `[ha_dir]/custom_components/tahoma` folder
2. unzip `ha-tahoma-feature-support_custom_authentication.zip`
3. copy  the `ha-tahoma-feature-support_custom_authentication/custom_components/tahoma` folder
4. paste in `[ha_dir]/custom_components` folder

[2021-10-14 08:28] tetienne commented on #597
What do you mean? An entity within HA can be:
![image](https://user-images.githubusercontent.com/8216238/137279732-bccf2983-6118-409f-bc17-42ed136a8806.png)

Are you talking about the UI? If yes, you can create a button card, where the tap action will call a service:

[code]

What do you call main entity?

[2021-10-14 10:24] sebnaf opened #602 "Creating a scene for blinds, both positions are not saved"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Creating a new scene for blinds, I was able to set the position and the rotation of the blinds.
This is not working anymore.

After applying

[2021-10-14 10:32] sebnaf commented on #602
`- id: '1634206828954'
  name: test
  entities:
    cover.atelier_ost_links:
      friendly_name: Atelier Ost links
      supported_features: 655
      device_class: blind
      state: unknown
    cover.atelier_ost_rechts:
      friendly_name: Atelier Ost rechts
      supported_features: 655
      device_class: blind
      state: unknown`

[2021-10-14 10:38] iMicknl commented on #602
@sebnaf do you have covers from another integration? I am not using this myself, thus I would need to have a look, however I wonder why this isn't working. It doesn't seem like an issue on the integration side.

@vlebourl, @tetienne what do you think?

[2021-10-14 10:40] sebnaf commented on #602
@iMicknl - first of all, thanks for you replying so quick!
No, I am afraid, the only covers are Tahoma ones.

[2021-10-14 12:22] tetienne commented on #602
@sebnaf When you set the position of your blind creating the scene do they move?

Here an example of YAML to set the position.
[code]

[2021-10-14 20:10] #356 closed

[2021-10-14 21:24] HerveLeMen opened #605 "Add support for ValveHeatingTemperatureInterface (io:HeatingValveIOComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### Device information

Hello

I am using your somfy integration module that's working perfectly concerning my covers.

However, I am not able to use it for m

[2021-10-14 21:27] sebnaf commented on #602
Yes, they move to the requested position.

[2021-10-14 22:35] iMicknl commented on #605
Please turn on debug logging as you can find in the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md).

We support a lot of climate devices, however yours isn't part of it yet apparently.

[2021-10-15 13:55] #605 closed

[2021-10-16 06:10] tetienne commented on #597
@NicoLeOca Except the refresh issiue I cannot tackle here, it's OK for you?

[2021-10-16 06:18] tetienne commented on #564
Perhaps a stupid question @cook2000 but what do you mean by locked?

I know my cover can be locked if there are blocked by something, but it happens only if I move them using the webapp and not the associated physical button.

[2021-10-16 06:20] tetienne commented on #544
@dbrep can you retry the previous scenario with the latest version? You will see more debug log.

[2021-10-16 11:12] gtblaurent commented on #589
bonjour, je n'arrive pas a faire fonctionné mon cozytouch avec cette méthode je pense que je dois mal faire une manipulations j'ai remplacé le dossier tahoma par le tahoma dans l'extraction mais j'ai toujours email ou mot de passe incorrect le cozytouch et bien en version 3.0

[2021-10-16 12:28] iMicknl commented on #589
@gtblaurent please post in English, since not everyone here speaks French. (You can use a translate engine if you want).

Thanks for sharing your stacktrace @pod31, we will have a look. Currently the error handling isn't great yet, that's why it isn't released yet.

[2021-10-16 12:37] gtblaurent commented on #589
@iMicknl
hello, I can't get my cozytouch to work with this method I think I must do something wrong I replaced the tahoma folder with the tahoma in the extraction but I still have the wrong email or password on the cozytouch and good in version 3.0

[2021-10-16 12:55] browetd commented on #589
@gtblaurent did you follow the steps described in the post from @Quentame (see previous post).

[2021-10-16 13:10] HerveLeMen commented on #605
Done, I would avoid to confuse people. ;)

[2021-10-16 17:21] NicoLeOca commented on #597
@tetienne
The pedestrian mode works well so far.
Thank you

There remain a bug where the state is wrong when the gate is closed. the state shows open in HA, in the cover entity.
Should I create a seperate issue for this bug?

[2021-10-16 17:22] gtblaurent commented on #589
@browetd ,
yes, I followed the steps after I put back the tahoma folder which is in the archive in "custom_components"

[2021-10-16 17:51] iMicknl opened #606 "Implement entity category"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

See https://github.com/home-assistant/core/pull/57784/files as an example. https://github.com/home-assistant/core/pull/57528

Config is inter

[2021-10-16 17:53] iMicknl opened #607 "Add configuration URL to gateway device"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Example: https://github.com/home-assistant/core/pull/57839

Probably only applicable to Somfy TaHoma (www.tahomalink.com)

### Which gateway

[2021-10-16 18:06] gtblaurent commented on #589
@iMicknl  mail send

[2021-10-16 18:20] pod31 commented on #589
How can we change the password until the cozytouch app is lock ? I'm not sure about my password 😬

[2021-10-16 19:01] iMicknl commented on #602
@sebnaf have you tried saving the scene? I have the same front-end bug as you, however it still works.

When I change the cover position in the scene, my cover will move directly, but the slider will revert to original position. Now I press save. When I have my cover in another position and I activate the scene, it works.

[2021-10-16 19:03] iMicknl commented on #587
@Wiggum127 do you still encounter "Error fetching device events data: Invalid event listener id" with the latest version of this integration? Otherwise, can we close this issue for now.

[2021-10-16 20:49] #597 closed

[2021-10-16 20:57] iMicknl commented on #450
@Aeosium could you try above version? So we can include it with this integration.

[2021-10-16 21:17] HerveLeMen commented on #485
Here is the log

`2021-10-16 23:15:17 DEBUG (MainThread) [custom_components.tahoma.coordinator] Event(timestamp=1634418906652, name=<EventName.DEVICE_STATE_CHANGED: 'DeviceStateChangedEvent'>, setupoid=****-b6d****-4f****-a****-9c55708e5b92, owner_key=None, type=None, sub_type=None, time_to_next_state=None, failed_commands=None, failure_type_code=None, failure_type=None, condition_groupoid=None, p

[2021-10-16 21:30] Aeosium commented on #450
Sorry for the late reply I've had tough times lately so couldn't give a try yet :(
I don't have hands on my setup for a few more days as I am away, but will try as soon as I return!

[2021-10-16 21:37] iMicknl commented on #450
@Aeosium no worries, take care! Just reply when you are ready for it.

[2021-10-16 21:44] HerveLeMen commented on #485
I perform several step :

- increase temperatrure
- descrease temperature
- mode confort (set the temperature to 21°C)
- mode eco (set the temperature to 16°C)
- mode vacation (set to 10°C)
- mode not freeze (set to 8°C)

Here below the log organized by section

`#########################################################
###   increase the temperture +0,5°C
#########################################

[2021-10-16 21:56] iMicknl opened #609 "Overkiz.event logger throws error when failure_type_code is not an Enum"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

In some situations, self.failure_type_code is not an enum but just an int. We don't check for this.

https://github.com/iMicknl/python-tahoma

[2021-10-17 07:28] tetienne commented on #609
It also means that's a failure type we don't know.

[2021-10-17 18:21] cook2000 commented on #564
The covers are locked e.g. manually with the smoove io a/m sender or by a wind detector like eolis wirefree.
If it is locked, you can only move the covers manually with the smoove io sender and not with the app oder the API.

[2021-10-17 18:35] tetienne commented on #564
Which case does not update the lock originator state? I've an Eolis and the state is well updated to wind when needed.

[2021-10-17 18:45] cook2000 commented on #564
I have only tested the manual blocking, which only updates after a manually triggered movement.

[2021-10-18 20:15] iMicknl commented on #591
@steve41200 it seems that Rexel did move to their own authentication system powered by Azure B2C. I have done some tests / reverse engineering, however I couldn't get it working yet. It seems that they didn't enable the user/password flow, thus only support OAuth 2. I don't think we can implement this, without them providing us with an OAuth client id and a redirect URL for nabu casa.

I faced the

[2021-10-19 09:54] kaczkalolo commented on #599
I can't authenticate using App password...

On Tue, 19 Oct 2021 at 11:03 Tim Messerschmidt ***@***.***>
wrote:

--
Pozdrawiam
Kaczmarski Krystian

[2021-10-20 07:45] steve41200 commented on #591
Thank you. I don’t havé lot off Time for test. It works always With my homebridge VM so it’s ok for me.
Thanks for thé Time for this add on!

[2021-10-20 15:07] GHTix commented on #583
I've copy tahoma-master in my custom_components

Error message changed
![Capture2](https://user-images.githubusercontent.com/13834583/138119604-38403743-1e26-4667-a542-77989baa9f69.PNG)
[code]

[2021-10-24 10:16] smurf0075 opened #614 "CozyTouch is not working anymore due to login API changes (3.0)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Bad credentials; could nog log-in. Cozytouch App on iPhone and iPad works fine.

Read https://github.com/iMicknl/ha-tahoma/issues/589, but co

[2021-10-25 15:09] #614 closed, assigned to nobody

[2021-10-26 19:55] #602 closed, assigned to nobody

[2021-10-27 08:41] #609 closed, assigned to nobody

[2021-10-27 09:32] guillaumelamirand opened #620 "Covers don't work anymore since upgrading to v2.9.0"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello,

Since I have upgraded the integration to v2.9.0, my covers don't work anymore. I have also tried to remove/add the integration withou

[2021-10-27 09:36] AndyVRD opened #621 "Shutters not available after latest update"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I just updated the integration but now both my chutters are no longer available.

### What version of this integration (ha-tahoma) has the is

[2021-10-27 09:38] guillaumelamirand opened #623 "Target temperature doesn't work for AtlanticPassAPCDHW (io:AtlanticPassAPCDHWComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello,

Since I upgraded to 2.9.0, my PAC Atlantic doesn't work as before.
I miss sensor attributes regarding target confort, eco and lot of

[2021-10-27 09:40] #621 closed, assigned to nobody

[2021-10-27 09:40] golles opened #624 "Component requires auth 2-3 times per week"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

2-3 times per week I'm getting a notification in HA that there is an issue with this component, when I click it, I see this:
![Screenshot 202

[2021-10-27 09:41] #620 closed, assigned to nobody

[2021-10-27 09:48] #624 closed, assigned to nobody

[2021-10-27 10:05] golles opened #625 "All covers unavailable in 2.9.0"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Just updated to 2.9.0 and my 2 IO and 1 RTS covers are unavailable

### What version of this integration (ha-tahoma) has the issue?

2.9.0

#

[2021-10-27 10:10] #625 closed, assigned to nobody

[2021-10-27 11:13] XalaTheShepard opened #626 "Covers unavailable"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Since the update to version 2.9.0 of the ha-tahoma integration, the covers have become unavailable.
I am unable to elevate or lower the cover

[2021-10-27 11:59] #626 closed, assigned to nobody

[2021-10-27 12:27] guillaumelamirand opened #627 "Improve AtlanticPassAPCDHW (io:AtlanticPassAPCDHWComponent) support"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hi,

Following #623, some feature are missing from the integration of my Atlantic Heater.
At the moment, only Heat Auto and Heat OFF are work

[2021-10-27 13:15] AndyVRD opened #629 "AttributeError: 'str' object has no attribute 'value'"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Just updated to v2.9.1 and my covers (Chutters) are back working but i can only open/close them once and than the position state is not corre

[2021-10-27 19:24] bscheutjens opened #630 "HA integration page shows the message "Failed to set up" after restarting HA after update to version to 2.9.1"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

After updating to version 2.9.1 earlier today I just noticed that in HA on the integrations page the integration is red with the error "Faile

[2021-10-28 10:12] Mariusthvdb opened #632 "'Device' object has no attribute 'deviceurl'"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

2021.11 beta reveals below error, rendering all devices unavailable

### What version of this integration (ha-tahoma) has the issue?

2.9.0

[2021-10-28 10:19] #632 closed, assigned to nobody

[2021-10-29 14:39] iMicknl opened #634 "Use STEP_ID constants in config flow"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

https://github.com/home-assistant/core/pull/58696/files

### Which gateway / hub do you use?

n/a

### Device model (optional)

_No response_

[2021-10-29 20:01] tetienne commented on #629
@mstuij I don't see any error in your log.
How to reproduce the issue exactly?

[2021-10-29 21:56] jncanches commented on #568
Hi @iMicknl

Thanks for this fix. I tried it.
I have the entity binary_sensor.dhwp_actuator_energy_demand_status but it is unavailable.

Logs show the following:

`2021-10-29 23:52:16 ERROR (MainThread) [custom_components.cozytouch.sensor] Device data no retrieve All House Dhw Cumulated Electrical Energy Consumption IO System Device Sensor
2021-10-29 23:52:41 ERROR (MainThread) [homeassistant] Err

[2021-10-29 22:16] iMicknl commented on #568
@jncanches could you turn on debug mode and share your full log?

[2021-10-29 22:19] fritanga commented on #568
Got the same error till there is an enery_demand change. Ater that it works, but with inverted state.
is_on=lambda state: state["energyDemandStatus"] == 0 should check for 1 instead of 0.

The other two sensors added work, but u coded them as sensor.DEVICE_CLASS_TIMESTAMP.  They really store the value in total hours in pure electrical o heatpump mode, so they are close to be a utility meter than t

[2021-10-29 22:46] iMicknl commented on #568
Could you try the new version?  https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/568.zip

Any feedback? :)

[2021-10-29 22:54] fritanga commented on #568
[tahoma.log](https://github.com/iMicknl/ha-tahoma/files/7445318/tahoma.log)

Same error till a change. As u can see in log there first time u connect to the device it has status of energy demand but with a slightly differente format
 State(name='io:OperatingModeCapabilitiesState', type=<DataType.JSON_OBJECT: 11>, value={'relaunch': 1, 'absence': 1, 'rate_management': 0, 'energy_demand_status': 1})

[2021-10-30 06:53] mstuij commented on #629
@tetienne When I click on the up or down button or when i change the position slider then the cover is executing the action but I get the message:

Can't call  service cover/set_cover_position 'NoneType' object has no attribute 'value'
Can't call  service cover/open_cover 'NoneType' object has no attribute 'value'
Can't call  service cover/close_cover 'NoneType' object has no attribute 'value'

I

[2021-10-30 06:55] tetienne commented on #629
Normally you should see an error in log. Like that I cannot guess what's wrong 😣

[2021-10-30 06:57] mstuij commented on #629
I hope I look in the correct log:

Home Assistant | Settings | logbook?

[2021-10-30 06:59] tetienne commented on #629
Configuration > Logs

![image](https://user-images.githubusercontent.com/8216238/139523750-6c8a8abb-2191-45e7-aa0d-8270bdebab9e.jpeg)

[2021-10-30 07:10] mstuij commented on #629
Yes that is the log in which I look for messages.

I have just restored 2.8.2. In this version everything is working correctly. With version 2.9.1 I get the message.

Is this also correct in my configuration.yaml:

[code]

[2021-10-30 07:53] AndyVRD commented on #629
@tetienne, here is my full debug log.

`2021-10-28 09:32:00 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration tahoma which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-10-28 09:32:47 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events

[2021-10-30 09:21] #509 closed

[2021-10-30 16:41] NicoLeOca commented on #487
Hi

I also have the same issue, which "open" shown even if the device is closed

[code]

[2021-10-30 18:46] jncanches commented on #568
Exactly the same here

[2021-10-31 14:08] iMicknl commented on #568
@jncanches @fritanga could you try again. Apparently the fixes weren't pushed correctly, thus you were testing the same old code :D.

[2021-10-31 16:58] #630 closed

[2021-10-31 17:01] iMicknl commented on #629
@AndyVRD @mstuij could you give v2.9.2 a try? I wonder if you still have the warning in your log.

[2021-10-31 17:13] mstuij commented on #629
@iMicknl unfortunately i have still the message with 2.9.2.

But the covers are working.

[2021-10-31 17:25] iMicknl commented on #396
@creativeosmose could you give https://github.com/iMicknl/ha-tahoma/pull/617 a try :)

[2021-10-31 18:09] iMicknl commented on #623
Why would you need to access all of them? Doesn't it make sense to just show the target temperature, for the mode (e.g. eco / comfort) that is selected? I rather fix this in the climate entity.

[2021-10-31 18:15] tetienne commented on #629
@mstuij can you please give us again your debug log with this new version?

[2021-10-31 18:36] fritanga commented on #568
Works without errors!
Thanks a lot :)

[2021-10-31 18:42] mstuij commented on #629
[code]

[2021-10-31 20:21] tetienne commented on #629
@Mariusthvdb do you still see the issue with the latest version 2.9.2?

[2021-10-31 21:17] #568 closed

[2021-10-31 22:39] jncanches commented on #568
Thank you very much !

[2021-10-31 22:59] Mariusthvdb commented on #629
no I dont believe thats still happening.

[2021-10-31 23:09] jncanches commented on #568
One question please. Is realase 2.9.2 does include this fix already ?

[2021-11-01 05:16] tetienne commented on #568
@jncanches no, it Will be include with the next one

[2021-11-01 05:28] tetienne commented on #487
@NicoLeOca @themaninspain sorry to read this. This device is not easy to understand. Can you tell if you have position value for your gate? If yes the issue should probably comes from https://github.com/iMicknl/ha-tahoma/pull/578/files

[2021-11-01 06:44] AndyVRD commented on #629
Mine is fixed with 2.9.2, thanks both you guys!

[2021-11-01 07:49] jakovec commented on #487
Hi @tetienne,

have same issue with the gate as mentioned above - tried to catch the XHR in devtools, it looks like this:

click open, request is sent:
`[{"timestamp":1635751667778,"setupOID":"a84d2454-522f-4a36-a63b-a151923a7599","execId":"da65a83f-ac10-3e01-3fcf-0c13e25e9bf7","label":"brana - Otevřít - TaHoma PC","metadata":"","type":1,"subType":1,"actions":[{"deviceURL":"io://1226-0828-9380/962

[2021-11-01 08:16] #629 closed

[2021-11-01 08:30] guillaumelamirand commented on #623
yes, it could be enough but those value allow to setup min/max for climate entity, even so at the moment eco/comfort is not shown and the target temperature is null.

[2021-11-01 08:41] aldert-b commented on #486
HI Mick,

At the moment, even after installing all updates the same happens again as
reported in the original bug report.
Open is close and the other way around. Did something change again?

Regards,
Aldert

On Tue, 10 Aug 2021 at 10:34, Mick Vleeshouwer ***@***.***>
wrote:

[2021-11-01 08:46] iMicknl commented on #486
@aldert-b do you know the last version where this was working?

@tetienne would you have any idea which change caused this?

[2021-11-01 09:58] tetienne commented on #486
@aldert-b For any awning, open means deploy and close undeploy. It's not your case?

[2021-11-01 10:02] tetienne commented on #486
@iMicknl perhaps https://github.com/iMicknl/ha-tahoma/pull/578 where now we check for the position then for the open closed state.

[2021-11-01 10:49] aldert-b commented on #486
Hi Mick,

No, sorry. I don't know.

Regards,
Aldert

On Mon, 1 Nov 2021 at 09:46, Mick Vleeshouwer ***@***.***>
wrote:

[2021-11-01 15:11] iMicknl opened #640 "Rewrite Cover entity to use EntityDescription"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

As discussed with @tetienne, it would be great to move our cover entity to use the new entity description structure as well.

This would mayb

[2021-11-01 15:15] iMicknl commented on #453
@sebaurel would you be able to work with me on Discord some day? Just ping me (imick#1903) and we will find a good time/date.

[2021-11-01 15:58] iMicknl commented on #479
[code]

[code]

[2021-11-01 20:15] golles commented on #625
Hi @iMicknl, Thanks for the invitation. My Python knowledge is very basic and still trying to learn to get better at it

[2021-11-01 20:38] iMicknl commented on #625
@golles you can always join our Discord and see if you can help. This is also how we improved our Python skills, thus perhaps it can be an interesting project.

[2021-11-01 21:34] tetienne commented on #640
About this one, I was thinking having a list of device url map to a cover entity description... kind of the legacy integration. But it will avoid to switch between widget, uiClasses deviceurl, etc.

[2021-11-01 21:52] vincentsaluzzo commented on #599
I have the same issue on my side, I haven't activated debug log but I will to it right now to see if it was exactly the same bugs.

In the case the it was also the `BadCredential` issue, classing this error as a `ConfigEntryNotReady` rather than a `ConfigEntryAuthFailed` if it was a success maybe one hour before could solve the issue, WDYT?

(Sorry If compltely wrong, I'm really not an expert in H

[2021-11-02 11:59] iMicknl commented on #453
[code]

[2021-11-02 12:09] iMicknl commented on #485
[code]

[2021-11-02 17:40] creativeosmose commented on #396
@iMicknl strange, on master I get : "Invalid authentication" for all versions (master, 2.9, etc) 2.8.2 works.
Trying with 2.8.2, everything works perfectly! 👍

Some remarks : it's possible to change the expected # while being in Auto (so it doesn't change anything) - not an issue, more a UX question.

PS.
By the way, do you know if these can be applied as a button using the homekit integration? (c

[2021-11-02 17:40] #396 closed

[2021-11-03 14:00] Jujuf74 opened #643 "Cover openning or closing error"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello

When trying to command a roller shutter (whatever opening or closing), Homeassistant brings up a error = unable to call cover\cover.cl

[2021-11-03 14:04] tetienne commented on #643
This has been already solved but not yet released. You can re-installed and select the master branch instead of a version.

[2021-11-03 17:28] Jujuf74 commented on #643
Thanks !

[2021-11-03 17:28] #643 closed

[2021-11-03 20:27] uowis commented on #592
Hi execute service "tahoma.get_execution_history" in home assistant, but i have no more log than what i hace already done.

[2021-11-03 20:47] iMicknl commented on #592
Did you turn on debug mode?

[2021-11-03 21:09] #606 closed

[2021-11-04 09:11] uowis commented on #592
You can see my log a little more above?

[2021-11-04 11:26] uowis commented on #592
I think atlantic-electrical_heater_with_adjustable_temperature_setpoint device must have "    SUPPORT_TARGET_TEMPERATURE_RANGE"  to show eco temperature control in widget ?

[2021-11-04 15:07] thijsdejong opened #646 "AttributeError: 'NoneType' object has no attribute 'value'"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

When running an action on any cover I get the following error pop up:

`AttributeError: 'NoneType' object has no attribute 'value'`

Has been

[2021-11-04 15:10] vlebourl commented on #646
Hi,
Thanks for your report. Version 2.9.3 was released some time ago. Could you update and report whether the issue persists?

[2021-11-04 15:21] mstuij commented on #646
I had the same problem and I can confirm that it is solved with the release of today (2.9.3)

[2021-11-04 16:01] #646 closed

[2021-11-04 16:44] St4n opened #648 "Thermor brand of Atlantic is also supported"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Hi,

Just to notify you that Thermor brand heaters are also supported via atlantic api.

If I'm not wrong, Thermor is the same group that Atl

[2021-11-04 16:45] vlebourl commented on #648
Indeed same brand, and internally all devices are called `Atlantic`-something. But +1 for mentioning Thermor.

[2021-11-04 16:54] #607 closed

[2021-11-04 17:22] aldert-b commented on #486
Hi,

Sorry for the late reply. I am not sure what you mean, but I have 2 screens
and they are both open. HA is saying this:
[image: image.png]

[image: image.png]

I hope this helps. If you need more information, please let me know.

Regards,
Aldert

On Mon, 1 Nov 2021 at 10:58, Thibaut ***@***.***> wrote:

[2021-11-04 23:30] legantois opened #649 "Error with new version"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Since last update I have errors in log but it seems that everything is still working

### What version of this integration (ha-tahoma) has th

[2021-11-05 05:50] tetienne commented on #649
Can you please update to 2.9.3 if not already done?

[2021-11-05 20:04] theggz opened #650 "Add support for SomfyHeatingTemperatureInterface (ovp:SomfyHeatingTemperatureInterfaceOVPComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### Problem
On the page of my Somfy device, I only have access to the temperature and battery sensors **but no commands are available**.

### Logs
About the l

[2021-11-06 10:05] themaninspain commented on #487
Apologies for the delay, I've been away. Here is the log of an open/close event. When the gate is closed the state is "unknown"
`2021-11-06 11:02:26 DEBUG (MainThread) [custom_components.tahoma.coordinator] Event(timestamp=1636192919544, name=<EventName.DEVICE_STATE_CHANGED: 'DeviceStateChangedEvent'>, setupoid=_CountingAttr(counter=311, _default=None, repr=<function obfuscate_id at 0x7f3e9a67e1f0

[2021-11-06 13:08] iMicknl commented on #650
Duplicate of https://github.com/iMicknl/ha-tahoma/issues/450, lets track your new device request in #450.

[2021-11-06 13:08] #650 closed

[2021-11-06 13:16] iMicknl commented on #450
@theggz could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/climate/SomfyHeatingTemperatureInterface.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-11-06 17:01] gbuico opened #651 "Water heater front panel changes are not reflected in Home Assistant"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I have a Thermor water heater defined as Atlantic Cozytouch and I just installed this integration.
Most of the things are working fine but so

[2021-11-06 17:25] iMicknl commented on #651
@gbuico in the event on 16:34 there is no information in regards to the mode change. Is this reflected in the official app / tahomalink.com?

And if it is reflected, do you see the new (updated) state in Home Assistant as well after you opened the official app?

[2021-11-06 17:37] gbuico commented on #651
@iMicknl , let me be more precise.
I pressed the AUTO button on the front panel after seeing this log entry:
2021-11-06 16:34:04 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.160 seconds (success: True)

I assumed that pushing the button generated this log entry:
2021-11-06 16:34:34 DEBUG (MainThread) [custom_components.tahoma.coordinator] Event(timestamp=

[2021-11-06 17:39] piitaya commented on #623
I think I have the same issues with my PAC, I will try to make a PR to improve the compatibility.
@iMicknl How the current implementation have been developed https://github.com/iMicknl/ha-tahoma/pull/380 ?
Do you think it's better to start from scratch?

[2021-11-06 18:07] gbuico commented on #651
@iMicknl , sorry, I was so ansious to the test that I forgot to say thank you for your answer...

Test 1:
- pressed the AUTO button on the heater while the app was open; no change of status in the app and (obviously) no change in Home Assistant
Test 2
- closed the app the restarted, still there is no update reflecting the AUTO statut on the heater panel and (obviously) nothing changes in HA
test 3

[2021-11-06 21:47] theggz commented on #450
Yeah of course, I'm not home for the week-end, but I'll try it right when I get back 🙂

[2021-11-07 06:27] ProLoser opened #652 "Authentication works, but "Failed to set up" due to "7 is not a valid ProductType""
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I tried to enable advanced debugging but I don't see any difference in the output logs. The integration appeared to authenticated with Tahoma

[2021-11-07 11:44] iMicknl commented on #652
@ProLoser thanks for reporting! We need to fix this in the underlying library, but you are the first user with this ProductType.

Would you be willing to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) sometime? It would be great to add your setup definition (anonymized) to our test suite, so that these bugs don't happen again.

[2021-11-07 12:11] iMicknl commented on #623
@piitaya I think you can use the existing implementation and build on top of it :).

Feel free to join us on Discord if you have any questions.

[2021-11-07 17:53] ProLoser commented on #652
It says invite expired.

[2021-11-08 16:50] foxdevil13 opened #653 "Unable to call execute_command service"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I'mt trying to call execute_service from CLI o API, but it does not work. Inside HASS website is working without problem.

For example:
[code

[2021-11-08 17:00] tetienne commented on #653
Apparently, the command you are trying to run  does not expect any arguments:

[code]

[2021-11-08 17:46] foxdevil13 commented on #653
It doesn't work with any other command, I updated the original post with setControlDHWSettingTemperature command

[2021-11-08 19:01] ProLoser commented on #652
@iMicknl I'm happy to help but that discord invite link does not work

[2021-11-08 19:32] iMicknl commented on #652
The chat link in the README is up to date.
https://github.com/iMicknl/ha-tahoma

[2021-11-08 19:40] iMicknl commented on #653
Why do you want to run commands via the Home Assistant service via the REST API? I would like to understand your use-case better as well.

Why not directly use the Python API for example?

[2021-11-08 20:39] foxdevil13 commented on #653
It was my first approach to run it from CLI.

It would be much better to use the Python API, but I could not find any example for running a command only and I'm not very good at Python. Is there any practical example on this?

I would like to control a heating machine with custom made thermostats, mainly on a shell. I was only running HASS to have a platform to run this commands..

[2021-11-08 21:02] NicoLeOca commented on #597
Hi @tetienne
I updated this integration through HACS to the last version after having seen that this improvement was merged.
Your select entity was gone then.
I tried to delete the integration and reinstall from scratch but it doesn't fix anything.
Do you have an idea why?
Thanks

[2021-11-08 22:31] iMicknl commented on #597
@tetienne it could be that my recent change broke this.. However it should at least create a select entity, perhaps just with a different key.

@NicoLeOca do you see a select option when you go to the integration -> devices list.

[2021-11-09 12:11] NicoLeOca commented on #597
@iMicknl
no select entity/option appears anywhere I am afraid

[2021-11-09 15:18] iMicknl commented on #597
@NicoLeOca not sure what changed to be honest. Could you check if this one works: https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/add_select_entity_siren.zip.

[2021-11-09 18:46] alexebner opened #654 "Every few days have to enter credentials"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

All is working fine but every few days it stops working. Then the integration have e red box with "reconfigure". There i have to enter my som

[2021-11-09 19:48] NicoLeOca commented on #597
@iMicknl
This one works fine! great job!

[2021-11-09 19:55] NicoLeOca commented on #487
@iMicknl
why does the select entity report the correct status when the gate is closed?
while the main cover entity considers the gate as open at the same time

[2021-11-09 20:25] tetienne commented on #487
Good to know! The select is always right?

[2021-11-09 20:31] NicoLeOca commented on #487
@tetienne
yes the select is always right

[2021-11-09 22:21] NicoLeOca commented on #597
Please note that you change the select name compared to the one created previously
From whatever.entity.state to whatever.entity.position

[2021-11-10 00:16] iMicknl commented on #654
Duplicate of https://github.com/iMicknl/ha-tahoma/issues/599. Please continue the conversation there.

[2021-11-10 00:16] #654 closed

[2021-11-10 00:19] iMicknl commented on #597
Maybe I accidentally changed the name. What would make more sense for that select entity? Using ‘Position’ or ‘State’?

[2021-11-10 21:36] Tarawera opened #655 "ReLoad Service"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

I find that the integration becomes UNAVAILABLE quite often with the too many requests error. I can overcome this by manually reloading the i

[2021-11-10 21:52] tetienne commented on #655
This is more a workaround than a solution.
Do you do something special to got this too many requests errors?

[2021-11-10 21:55] Tarawera commented on #655
No. Nothing special. I may only close one blind and it becomes unavailable. Sometimes i do nothing and it still happens. Reloading always seems to fix it.

Regards

David

[2021-11-10 23:14] iMicknl commented on #655
Could you turn on debug mode (see README) and share your log? I wonder what triggers the 'Too many requests' for you. We should have fixed this issue for Somfy RTS devices already.

For your question, is there no Home Assistant service to reload an integration? We won't build this in for sure, however the native reload functionality is maybe already available as a service.

[2021-11-11 21:23] theggz commented on #450
@iMicknl I tested it and it works well with my thermostat ! :)
 The only thing that doesn't work is the command to increase / decrease the temperature, but I can't do it with the official Tahoma Android App either.

[2021-11-12 07:01] NicoLeOca commented on #597
@iMicknl
position is fine thanks
(I was only pointing it out in case it would create issues)

[2021-11-12 16:26] Aeosium commented on #450
Hi gents,

I also managed to test it and I do also see the thermostat! I also have the fact that controls are working to switch confort/eco but not the temperature setting. For me the present status is more than enough as I mostly wanted to be able to log the measured temperature together with the set value to study the sensitivity of my rooms to external weather and programmed heating :) . To mak

[2021-11-13 12:50] legantois commented on #649
Did th eupdate

no more errors - many thanks. Some warning though

2021-11-13 10:03:14 WARNING (MainThread) [pyhoma.enums] Unsupported value 98 has been returned for <enum 'GatewayType'>
2021-11-13 12:19:46 WARNING (MainThread) [pyhoma.enums] Unsupported value SetupTriggerTriggeredEvent has been returned for <enum 'EventName'>
2021-11-13 12:27:16 WARNING (MainThread) [pyhoma.enums] Unsupported val

[2021-11-13 15:26] #649 closed

[2021-11-13 15:26] iMicknl commented on #649
Thanks for confirming, @legantois! We will fix the warnings in an upcoming version of the integration.

[2021-11-13 15:58] iMicknl commented on #653
To be honest, your first error via CURL is not related to this integration. And we won't support this either. Perhaps you can ask on the Home Assistant discord or forum.

The other log error (latest one) looks related to our Home Assist implementation, but it seems that you are not using that?

If you just want a shell, I am not sure if this is the best integration to use. You could have a look at

[2021-11-13 15:58] #653 closed

[2021-11-13 16:07] #648 closed

[2021-11-13 19:02] Tarawera commented on #655
I closed three blinds one after another and the integration became unavailable with the too many requests error. Reloading fixed it. The error log is below….
Thanks

David

2021-11-13 19:39:40 INFO (MainThread) [backoff] Backing off execute_commands(...) for 0.6s (pyhoma.exceptions.NotAuthenticatedException: Not authenticated)
2021-11-13 19:39:40 INFO (MainThread) [backoff] Backing off execute_com

[2021-11-14 00:18] #652 closed

[2021-11-14 10:57] iMicknl commented on #651
The only thing that changes it the following state:
```[State(name='core:V40WaterVolumeEstimationState', type=<DataType.INTEGER: 1>, value='18867')]```

Is your thermostat battery powered? I don't own a thermostat myself, however we have seen other devices where the state is not updated real-time after you take an action on the device itself (or via the remote). There are commands to ask the devic

[2021-11-14 10:59] iMicknl commented on #655
I added your log in a seperate message since GitHub apparently doesn't support markdown on email replies..
[code]

[2021-11-14 12:25] iMicknl commented on #450
Great to hear! @Aeosium / @theggz, is there anything in your log when you try to set the temperature?

We can always see if we can work some day [via Discord](https://discord.gg/RRXuSVDAzG) (iMick #1903) so we can speed up the development. Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my machine.

[2021-11-14 18:30] gbuico commented on #651
Hi @iMicknl .
My equipment is not a thermostat...
It's a water heater Thermor Malicio2, so it's conneced to the main, no battery, therefore I don't understand why they don't send the status changement to their own app (even though the app software belongs to their partner Cozytouch)
I have no prove that they (Thermor) are not sending this info but I see th Cozytouch app react quickly to other chan

[2021-11-14 20:28] iMicknl commented on #487
The weird thing is that the select should be pulling from the same state, thus I wonder why this is always right... Is the select never set to 'unknown'?

[2021-11-14 20:42] NicoLeOca commented on #487
@iMicknl
your select only haas three states : open, closed and pedestrian
when the gate is moving, none of these 3 is shown is the select and the select is greyed.
If I remember well, when @tetienne created the first select it used to have an "unknown" state, which was shown during movement. (PS: don't introduce this state, it doesn't make much sense in the UI).

Apart of this, when the gate is ph

[2021-11-15 09:00] tetienne commented on #487
Hi, sorry to have be silent these last days about this issue. Regarding the wrong state for the main entity, I guess it’s due to this line: https://github.com/iMicknl/ha-tahoma/blob/master/custom_components/tahoma/cover_devices/tahoma_cover.py#L106
Indeed, if I’m correct for the gate PedestrianPositionState is always set to 50, so we always displayed the gate as open. We should rollback our logic.

[2021-11-15 09:45] tetienne commented on #634
Not relevant anymore: https://github.com/home-assistant/architecture/discussions/660

[2021-11-15 09:45] #634 closed

[2021-11-16 07:57] legantois commented on #649
New version uploaded. most of warnings are gone. Great Job! Thanks a lot on behalf of of all users

new warnings not catched
2021-11-16 08:07:47 WARNING (MainThread) [pyhoma.enums] Unsupported value SomfyProtectCurrentTokenCompletedEvent has been returned for <enum 'EventName'>
2021-11-16 08:10:17 WARNING (MainThread) [pyhoma.enums] Unsupported value GroupTriggeredEvent has been returned for <enum

[2021-11-16 08:23] NicoLeOca commented on #597
Hi @iMicknl
have you merged your fix into the master branch?

[2021-11-16 18:25] iMicknl commented on #597
The latest fix you tried isn't in yet, you can monitor it in https://github.com/iMicknl/ha-tahoma/pull/642.

[2021-11-18 05:21] ProLoser commented on #652
Confirmed everything works in the latest release!

[2021-11-18 05:22] ProLoser commented on #652
@iMicknl thank you so much for fixing this! Do you have a sponsor or buy-me-a-beer or preferred OSS I can donate to in thanks?

[2021-11-18 22:37] SeerKan commented on #544
I have the exact same problem described here, only with a somfy gate, the state is always open and position 50, even if the gate is closed.
I am currently using the latest version available in HACS and also using the latest hassio
![Capture2](https://user-images.githubusercontent.com/17612078/142507756-4224733b-5925-41bf-923d-5d5bc9801cb2.PNG)
![Capture](https://user-images.githubusercontent.com/1

[2021-11-19 08:42] iMicknl commented on #544
@SeerKan that is another problem, see https://github.com/iMicknl/ha-tahoma/issues/487#issuecomment-968671338 where we track this issue.

By the way, you could give the latest master version a try. This should add a select entitity that's correct.

[2021-11-19 08:51] tetienne commented on #487
@themaninspain @NicoLeOca Can you please try https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/gate-position.zip?

[2021-11-19 12:56] NicoLeOca commented on #487
@tetienne
it works! thanks a lot

[2021-11-19 15:51] themaninspain commented on #487
I still have an "unknown" state after a gate open/close. Here is the log:

`'DeviceStateChangedEvent'>, setupoid=_CountingAttr(counter=263, _default=None, repr=<function obfuscate_id at 0x7f6ade3cbb80>, eq=True, order=True, hash=None, init=True, on_setattr=None, metadata={}), owner_key=None, type=None, sub_type=None, time_to_next_state=None, failed_commands=None, failure_type_code=None, failure_ty

[2021-11-22 10:35] SeerKan commented on #544
@iMicknl thank you for that, missed that ticket.
The latest master is not working, however https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/gate-position.zip does work fine.

[2021-11-25 09:37] jakovec commented on #487
This fix is working just fine! Thank you!

[2021-11-25 20:33] #487 closed

[2021-11-27 08:43] schumi69 commented on #441
Up

[2021-11-27 08:52] mingan666 commented on #590
Yes, I think it is still a valid request.

[2021-11-29 08:01] jozg commented on #576
I'm still interested in this feature, so if you please be so kind to implement this feature. thank you.
Regards,

[2021-12-01 11:42] chck2208 commented on #627
Hello everyone,
It seems that this issue is still active. I have AtlanticExtensa duo 8 attached to a cozy touch bridge. The Model number is R002430800.Please let me know if you also require the logs from my end.

[2021-12-01 22:22] iMicknl commented on #627
@chck2208 indeed, this is still an open issue, however none of the maintainers has had time to work on this yet.

[2021-12-02 09:34] bscheutjens commented on #599
Just FYI (because I was triggered by github-actions), I haven't seen the issue in the last few weeks.

[2021-12-02 14:44] iMicknl commented on #576
@jozg did you jailbreak / root your hub?

[2021-12-03 06:38] jozg commented on #576
Hello IMicnl, not yet, the day the feature is enabled i'm going to root my hub according the manual of Donny. It makes no sense for me to allready root it, and not being able to control it. thank you for your great word, and thanks to Donny for making the root enable. regards.

[2021-12-03 08:00] iMicknl commented on #576
@jozg Donny already has a custom version of this integration where he made the required changes, thus this shouldn't hold you back.

[2021-12-03 08:21] jozg commented on #576
ok, i asked him about that, but he mentioned to wait for this final integration, and pointed me to this topic link.

[2021-12-03 08:23] tetienne commented on #576
IMO, we should not expose this local entrypoint in the component it will confuse a lot of user and it’s not an "official" stuff. But, hoppefully we can integrate it in our client API.

[2021-12-03 10:27] iMicknl commented on #576
I am also still in doubt for this one, we can also just keep it in the custom integration (when we move to core). But having a hub named 'Local' which will open a new dialog where users can add their IP would be sufficient for me as well. We can add more information in that new dialog, about that this is only for advanced users that rooted their bridge.

[2021-12-03 13:18] nil-ghosh opened #660 "Somfy integration with Home Assistant not working"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

When configuring Somfy within Home Assistant it takes me to Somfy Developer portal. However, entering the credentials I keep on getting an er

[2021-12-03 13:52] iMicknl commented on #660
This seems like a bug with the Somfy integration from Home Assistant core. Please report bugs [here](https://github.com/home-assistant/core/issues).

This integration is named Overkiz (by Somfy) and works for Somfy as well, thus you could give this a try. See our main page for more information; https://github.com/iMicknl/ha-tahoma.

[2021-12-03 13:52] #660 closed

[2021-12-03 14:14] tetienne commented on #660
@nil-ghosh And to avoid to open another issue, see https://github.com/tetienne/somfy-open-api/issues/182

[2021-12-03 18:55] nil-ghosh commented on #660
Thanks @iMicknl - It works for me. Much appreciated.

[2021-12-04 09:06] gieljnssns opened #661 "HA 2021.12.0b0 device_state_attributes errors"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Since the new beta I have a lot of errors

### What version of this integration (ha-tahoma) has the issue?

2.9.4

### What version of Home A

[2021-12-04 09:11] tetienne commented on #661
Hi, thx for reporting this.

We will have a look to avoid this once the new release published.

[2021-12-04 09:12] peka45 commented on #599
it's seems there is another connection method on atlantic cozytouch which use altantic api
For me curl --request POST 'https://ha110-1.overkiz.com/enduser-mobile-web/enduserAPI/login' --form 'userId=xxx@xxx' --form 'userPassword=xxx' is down today

But i found on other github this method:

get access token:
`curl --header "Content-Type: application/x-www-form-urlencoded" --header "Authorization: B

[2021-12-04 09:15] tetienne commented on #661
See https://github.com/home-assistant/core/pull/47304

[2021-12-04 09:58] gieljnssns commented on #661
Another error in the new beta
[code]

Should I open a new issue for this?

[2021-12-04 09:59] iMicknl commented on #599
@peka45 this is not related to this issue. If you face issues with this integration, please create a new issue. We already implemented the new authentication method for Cozytouch/Atlantic in this integration.

[2021-12-04 09:59] iMicknl commented on #661
@gieljnssns if you could track that in a new issue, that would be great :). I have seen it as well, but didn't had time yet to create tracking issues.

[2021-12-04 10:22] gieljnssns opened #662 "HA 2021.12.0b0 discovery_info error"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Another error since the new HA beta

### What version of this integration (ha-tahoma) has the issue?

2.9.4

### What version of Home Assista

[2021-12-04 11:27] jybi89 opened #663 "No temperature setting"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

thanks you for this work,

I was using CozyTouch integration, but dont work authentification.
I use now Overkiz integration but unfortunately

[2021-12-04 15:04] iMicknl commented on #663
Please enable the debug logging and add your log. See our [README](https://github.com/iMicknl/ha-tahoma#enable-debug-logging).

[2021-12-05 18:25] foXaCe opened #664 "Missing boost mode and parameters for DomesticHotWaterProduction (io:AtlanticDomesticHotWaterProductionV2_SPLIT_IOComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

missing the boost mode and some parameter appears null

![8377ce469c29fc4f657b4f48418bd5063d12a9b3](https://user-images.githubusercontent.com

[2021-12-05 21:40] iMicknl commented on #664
Thanks for your reporting. We already have a test version for your device in development; https://github.com/iMicknl/ha-tahoma/pull/617.

Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/domestic_hot_water_production.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[code]

[2021-12-06 05:16] foXaCe commented on #664
this function appear but do not work on heater pump

![image](https://user-images.githubusercontent.com/290678/144791077-9ec791a6-4658-445c-8756-28aab7cb4f5b.png)

[2021-12-06 05:16] foXaCe commented on #664
No such command : setBoostMode on device io://0814-5665-2467/3263968#1 (io:AtlanticDomesticHotWaterProductionV2_SPLIT_IOComponent)
06:12:15 – (ERREUR) Overkiz (by Somfy) (intégration personnalisée)
http://192.168.1.155:32500: HTTPConnectionPool(host='192.168.1.155', port=32500): Max retries exceeded with url: /resources (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x

[2021-12-07 12:54] Mariusthvdb opened #665 "OverkizNumber' object has no attribute '_attr_min_value'"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

see error log

### What version of this integration (ha-tahoma) has the issue?

2.9.3

### What version of Home Assistant Core has the issue?

[2021-12-07 12:59] tetienne commented on #665
Hi,

Thx for reporting this. We will take care of it.

[2021-12-07 14:44] #661 closed

[2021-12-07 15:49] iMicknl commented on #665
Fixed in https://github.com/iMicknl/ha-tahoma/pull/667. However, I am not sure when we will release this, since this is only broken in 2022.1.0dev which is not a production version.

We could add extra code to check the environment, but for now, I will just keep the PR open.

[2021-12-07 16:21] iMicknl commented on #665
The conflicting change (https://github.com/home-assistant/core/pull/61100) has been merged yesterday, which means it is not in the 2021.12 anymore.

[2021-12-08 05:10] foXaCe commented on #664
hello, do you want more info or maybe i need to test something else?

[2021-12-08 11:44] Mariusthvdb commented on #665
hmm, using the latest dev still shows:
[code]

[2021-12-08 13:05] dhover commented on #599
Today this integration requires a reconfiguration.

[2021-12-08 13:07] mstuij commented on #599
I have also just got the message to reconfigurate.

[2021-12-08 13:50] bscheutjens commented on #599
Same for me, got the message about an hour ago. Looks like this was caused by something on Somfy side. As I wrote 6 days ago, I haven't seen it in weeks and now it happened at the same as it happened to other people.

[2021-12-08 14:07] iMicknl commented on #665
What do you mean with latest dev? The latest dev is 2022.1?

[2021-12-08 14:30] Mariusthvdb commented on #665
Sorry, I meant dev nightly dev20211208

[2021-12-08 14:31] f7byu3e4jn commented on #599
same here

[2021-12-08 15:21] dhover commented on #599
Yes but why do we need a reconfiguration when the server is down?

[2021-12-08 15:27] iMicknl commented on #599
Please read back in this issue, it has been explained already multiple times.
TLDR: Somfy does throw a BadCredentials error when you credentials changed, however sometimes they throw this error as well when they have internal issues (e.g. just after maintenance).

For all the others, I faced the same issue indeed and we will still see if we have a better solution. I didn't have time to contact Som

[2021-12-08 15:28] iMicknl commented on #665
Did you use the updated code?

[2021-12-08 15:29] dhover commented on #599
I understand. Thanks for your explanation.

[2021-12-08 16:22] Mariusthvdb commented on #665
no, I havent updated, because I am not sure which file to use? do you have a link possibly to the updated integration files?

[2021-12-08 16:34] iMicknl commented on #665
If you didn't update, than it won't be fixed for sure 😉. You can use https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/665.zip, extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-12-08 16:35] Mariusthvdb commented on #665
thanks, and yes, the linked fix/655 fixes it ;-)

[2021-12-08 16:45] jybi89 commented on #663
of course ;)

`
(MainThread) [custom_components.tahoma] Finished fetching device events data in 0.046 seconds (success: True)
2021-12-08 17:34:48 DEBUG (MainThread) [custom_components.tahoma] Unsupported device detected (Device(attributes=States(_states=[State(name='core:FirmwareRevision', type=<DataType.STRING: 3>, value='C667208'), State(name='core:Manufacturer', type=<DataType.STRING: 3>, value

[2021-12-09 06:48] mingan666 commented on #563
Seems to be fixed! Great work.

I had another connection failure and after reconnecting the plugin the sun sensor worked as expected.

[2021-12-09 07:07] mingan666 opened #669 "Plugin needs reconfiguration after server maintenance"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

When the server is down for maintenance, the plugin is disabled and requires reconfiguration.
I do understand the issues that where the reaso

[2021-12-09 07:40] iMicknl commented on #669
Duplicate of https://github.com/iMicknl/ha-tahoma/issues/599

[2021-12-09 07:40] #669 closed

[2021-12-09 09:33] Mariusthvdb commented on #665
sorry, to nuance the phrase above (no more errors) just letting you know that:
[code]
is still there

[2021-12-09 23:25] sdebruyn opened #670 "Deleted entities are not cleaned up"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I deleted a lot of lights and scenes from my Tahoma, but hours later they are still present in Home Assistant. It seems deleted entities are

[2021-12-10 08:28] iMicknl commented on #670
Thanks for reporting @sdebruyn! Could you perhaps try to reproduce this with debug mode on? This will help us understand if the correct events are fired, and if the issue is in our handling code.

For contributors; it seems that the code here is not working well:

https://github.com/iMicknl/ha-tahoma/blob/bb7e221dbf908fa3e4e107dacbcaed07735c6069/custom_components/tahoma/coordinator.py#L123-L130

[2021-12-10 14:16] #662 closed

[2021-12-11 07:00] jozg opened #671 "Screens working only once, with using the local api and connexoon root."
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello Mick,
I've succeeded in rooting my connexoon, and the local api is working, big thanks to Donny.
Because there is no official local api

[2021-12-11 10:45] callifo commented on #599
I had this happen to me tonight, now I have two accounts with the same username. If I have both enabled, one gets ignored.

This outputs to the log,
[code]

The second one is listed as 'Not loaded'. I also cannot delete either of them, clicking the hamburger, and then Delete->OK does nothing. Even after a reboot.

[2021-12-11 13:13] Markker98 opened #672 ""configuration flow could not be loaded""
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

While trying to install the integration the following error shows "configuration flow could not be loaded".
Core: core-2021.3.4
Supervisor: s

[2021-12-11 13:31] Markker98 commented on #672
after upgrading to the newest version it worked. My bad. Amazing integration!

[2021-12-11 14:23] #672 closed

[2021-12-11 19:03] TheFes opened #673 "Warnings in log about device_state_attributes"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I'm getting warnings like this in my log:
`Entity cover.slaapkamer_links (<class 'custom_components.tahoma.cover_devices.awning.Awning'>) imp

[2021-12-11 19:29] tetienne commented on #673
Hi, this is a duplicate of https://github.com/iMicknl/ha-tahoma/issues/661.

[2021-12-11 19:29] #673 closed

[2021-12-12 08:40] mstuij commented on #599
I have got the message again. But even with my correct password, I get an invalid authentication.

[2021-12-12 10:01] antivirus68 opened #674 "WARNING: device_state_attributes"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I've just updated HA to 2021.12.0 and I got Tahoma v2.9.4.

The HA log reports:

2021-12-12 10:38:20 WARNING (MainThread) [homeassistant.help

[2021-12-12 10:52] dhover commented on #599
Same here. The integration shows "Aborted" after username/password but the connection is ok. So everything seems ok for now.

[2021-12-12 10:56] iMicknl commented on #674
Thanks for reporting. This is a duplicate of #661.

If you use the latest master version, this warning will be gone. Or wait for the upcoming release of the integration.

[2021-12-12 10:57] iMicknl commented on #671
Thanks for reporting @jozg. We will take this into account when we work on adding Donny's work to this integration.

[2021-12-12 10:57] #674 closed

[2021-12-12 10:58] iMicknl commented on #599
@callifo please create a new issue for this one. This is not a known bug related to this issue. Could you try to remove the integration from HA entity registrry (integrations page) and than reboot and add again?

[2021-12-12 11:09] #453 closed

[2021-12-12 11:09] #481 closed

[2021-12-12 15:29] antivirus68 commented on #674
Thanks. I just got the update.

[2021-12-12 17:36] gerardsamara opened #675 "Add support for ModelName ('io:AtlanticPassAPCHeatPumpMainComponent')"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### Device information

Unsupported device from last integration version of  Overkiz V2.10.0   running in last Core version ( 2021.12.0 )

### Home Assistant

[2021-12-12 21:40] iMicknl commented on #675
Thanks for reporting. Duplicate of https://github.com/iMicknl/ha-tahoma/issues/355.

[2021-12-12 21:40] #675 closed

[2021-12-13 09:09] kfran78 opened #676 "Task exception was never retrieved"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Since update 2021.12, Overkiz api return a lot of problem. Each action return "IO_FORCE_HEATING_STATE", and i have not a real time refresh (A

[2021-12-13 09:18] tetienne opened #677 "AttributeError: IO_FORCE_HEATING_STATE"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

On any actions, I got an error (not blocking)

### What version of this integration (ha-tahoma) has the issue?

 v2.10.0

### What version of

[2021-12-13 09:45] tetienne commented on #676
Hi, I fixed with https://github.com/iMicknl/ha-tahoma/issues/677

[2021-12-13 09:45] #676 closed

[2021-12-13 10:27] #677 closed

[2021-12-13 19:35] kfran78 commented on #676
Correct. Thx.

[2021-12-14 10:46] Elyahou commented on #599
I also receive this messages, every few days... I need to reenter my password, and then it display aborted, but then works OK. Until I got the same message again...

[2021-12-14 11:58] torroa commented on #599
Same here using Somfy Europe as server. Feels like it is happening around 9-10 CET everyday now.

[2021-12-14 16:26] Mariusthvdb commented on #599
anyone found a way to get around this other than restarting the HA instance? nothing related in the config to raise
[code]
so if this is Tahoma (yes an update is available, as it was when I had the issue before the other day), couldn't the integration create a notification for that instead?

[2021-12-14 17:05] mstuij commented on #599
I have also gets this error another time. It seems to be that the interval of those messages are increasing the last days.

I like to see any possiblity to notify me that the integration needs to be re-autorized. Because in the meantime while i not have reentered my password all my automations will
Not work.

[2021-12-14 18:54] redneckdba commented on #599
I've been playing around with reloading some integrations via rest call as described here: https://community.home-assistant.io/t/add-service-integration-reload/231940/37 and from what I can see this also worked for the Overkiz integration. All covers were available again immediately, however the reconfigure message for the integration remains but everything else seems to be working again.

[2021-12-14 19:53] Wiggum127 commented on #599
@redneckdba looks like nice workaround. Many of us have been struggling with automations not getting executed and daily reconfigurations.

Can you share your snippets for configuration and automation ?

[2021-12-14 20:56] redneckdba commented on #599
Sure thing.
Extracting the integration's id can be done via browser debug tools (F12) as described in https://community.home-assistant.io/t/add-service-integration-reload/231940/21
- rest command
`reload_tahoma:
  url: http://ha-ip:8123/api/config/config_entries/entry/<integration id>/reload
  method: POST
  headers:
    authorization: !secret integration_token
    content-type: application/json`

[2021-12-14 21:12] redneckdba commented on #599
Hi @tetienne
You're welcome. I just added the automation part today after the latest outage and therefore haven't been able to test it so far. If we're always hitting the same issue it should probably be safe to lower the timeout to 1-2 minutes.

[2021-12-14 22:15] redneckdba commented on #599
@Mariusthvdb: I just had a look at the official docs for this service and it's still not clear to me what it's supposed to reload and how. If I however interpreted the snippets I gathered in the forums correctly, the following should also work for the automation:
`alias: System - Reload Overkiz integration in case it goes unavailable.
trigger:
  - platform: state
    entity_id: cover.blinds_patio

[2021-12-14 22:40] Mariusthvdb commented on #599
correct. that how it works.

Not sure about automating that though, but reloading the config_entry is done like that yes.

(Believe we can even use the new integration_entities() template for it and use any entity of the integration there, but I cant find the correct syntax for now.)

[2021-12-15 03:13] Tarawera commented on #655
It does seem to be working properly now after upgrading to the latest version of the integration. Thanks.

[2021-12-15 03:14] #655 closed

[2021-12-15 08:40] dhover commented on #599
Under Developer tools, Services: If I choose the service "homeassistant.reload_config_entry" and enter the correct config entry  the button CALL SERVICE stays greyed out. It seems the syntax is not the right. So something is missing.

[2021-12-15 08:48] Mariusthvdb commented on #599
Yep, I see that too. File an issue in the Frontend repo is what you should do.

[2021-12-15 09:10] uowis opened #679 "Quick température change log.error"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hi everyone

I have Two new error since last update
when i change more than one temperature in same time or in short delay. On same or differ

[2021-12-15 09:26] dhover commented on #599
[#10926](https://github.com/home-assistant/frontend/issues/10926)

[2021-12-15 09:54] bramwalet commented on #599
If you want to get rid of the reconfigure message in the "Notifications" section within HA (this is a persistent notification with a specific notification_id), add the following action to your automation:
[code]
I've obtained the notification_id using F12 developer tools in the browser using the network tab.

My automation now looks like this:
[code]
There is no way of knowing that this notificati

[2021-12-15 10:10] Mariusthvdb commented on #599
I'd suggest to reformulate that to an issue, and not a question..... then issue is that when entering correct data, the Call Service button remains greyed-out.

All your other  IDK's are prone to be ignored, or re-directed to the community

[2021-12-15 10:57] dhover commented on #599
Thanks. I changed it.

[2021-12-15 14:01] vlebourl commented on #664
I guess for your model the correct command is `setBoostModeDuration`.

[2021-12-15 15:40] Mariusthvdb opened #680 "device_info name overflows card"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

<img width="404" alt="Schermafbeelding 2021-12-15 om 16 38 06" src="https://user-images.githubusercontent.com/33354141/146216961-2092eba1-af6

[2021-12-15 16:06] iMicknl commented on #680
Not a `ha-tahoma` issue, please report in front-end.

See https://github.com/home-assistant/frontend/issues/8615 for a similar issue.

[2021-12-15 16:06] #680 closed

[2021-12-15 20:44] Mariusthvdb commented on #680
right, but that issue was closed, and apparently unjustly so..... will do though, sorry for your trouble

[2021-12-15 22:28] iMicknl commented on #680
That issue has been closed, because I fixed the problem with a PR. Your issue is related to the model name, where my issue was related to the firmware.

That's why I said **similar** issue. 😉

[2021-12-15 22:33] Mariusthvdb commented on #680
aww, I hope we dont have to file an issue for every possible element that can need word-wrap.....

anyways: https://github.com/home-assistant/frontend/issues/10934

[2021-12-16 08:12] spacegaier commented on #680
Well you do, since we are not adding word wrapping to any random element if not required 😉. PR created.

[2021-12-16 08:21] Mariusthvdb commented on #680
Thanks Philip, appreciated.

Not meant as a rant... sorry if I came across like that

[2021-12-16 11:46] redneckdba commented on #599
my somfy connection just crapped out once again and came back again after exactly 5 minutes when the automation kicked in and triggered homeassistant.reload_config_entry. so the bug for this function seems to be only HA GUI related and not code related. i'll now lower the timeout to 1.5 minutes and see what happens then

[2021-12-16 11:54] torroa commented on #599
Same thing here. The automation got the Entries reporting again at 12:46 CET today. Even if HA still reports “ Integration requires reconfiguration”.

[2021-12-16 13:26] Acey-yo opened #681 "Ineed to enter the password again"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hi there,

I have the problem that he irregularly requests the password and I cannot use the control until I have re-entered the password and

[2021-12-16 13:30] iMicknl commented on #681
Please see the pinned issue. https://github.com/iMicknl/ha-tahoma/issues/599. This is a known issue.

[2021-12-16 13:30] #681 closed

[2021-12-16 13:36] iMicknl commented on #599
Let me write down the issue here, so everyone understands what we are facing and why we didn't come up with a quick solution yet:

1. Somfy sometimes returns ` {"errorCode": "AUTHENTICATION_ERROR", "error": "Bad credentials"}`, which would normally mean that the credentials aren't correct. However, they also return this error when they have service issues as we have noticed in the past.

2. Before

[2021-12-16 20:55] luciol21 opened #682 "Incorrect actual temperature for AtlanticElectricalTowelDryer (io:AtlanticElectricalTowelDryer_IC3_IOComponent)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I don't know if my radiator is correctly installed. But I manage to choose the setpoint and the modes of the radiator with the climate entity

[2021-12-16 21:41] iMicknl commented on #682
Thanks for reporting!

(for contributors: it seems that we need to pull the actual temperature from device `#7` and not use the CORE_COMFORT_ROOM_TEMPERATURE_STATE).

https://github.com/iMicknl/ha-tahoma/blob/1d30efed0ad1df3539d5b443f47721934fd6c1a2/custom_components/tahoma/climate_devices/atlantic_electrical_towel_dryer.py#L109-L112

[2021-12-17 02:17] #564 closed

[2021-12-17 08:29] jybi89 commented on #663
![image](https://user-images.githubusercontent.com/54111386/146513853-9d89161f-2bac-4490-80cf-54c5ef8d5cff.png)

[2021-12-18 05:05] foXaCe commented on #664
it possible to add switch entity for boost ?

[2021-12-18 17:02] Norbator opened #683 "Missing water heater operating mode "autoMode""
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

After updating home assistant from version 2021.10.5 to 2021.12.3 tahoma integration fails to set up my Atlantic Malicio 2 water heater.

Acc

[2021-12-19 14:39] HexomediaVR opened #684 "Error setting up entry mail@example.com for button"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello,

I updated from 2.9.4 to 2.10.1. I'm facing this error on HA boot.

[code]

Thanks. :)

### What version of this integration (ha-tahom

[2021-12-19 17:15] alexandreaudrain commented on #684
Hi !
Exact same bug for me, with the same configuration.

[2021-12-19 17:19] iMicknl commented on #684
Please revert to previous ha-tahoma version and we will have a look. Thanks for reporting.

[2021-12-19 18:27] alexandreaudrain commented on #684
Revert back to 2.10.0.
It can’t see any device (only automations).

I’m running HA Core 2021.12.3 with Python 3.8.6.

[2021-12-19 18:40] iMicknl commented on #684
Thanks!

Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/684.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2021-12-19 18:47] iMicknl commented on #671
@jozg , would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? I would need some API responses, so that I can add this to our test suite again.

[2021-12-19 18:56] #683 closed

[2021-12-19 18:57] alexandreaudrain commented on #684
Hi iMicknl.
I’ll give it a try tomorrow and let you know.
Should I update to latest version before ?

By the way, thanks a lot for all your hard work !

[2021-12-19 19:41] iMicknl commented on #599
I have temporarily removed the code that will prompt for reauthentication. This means that there is a chance that you will get a temporary ban (which will be lifted if you stop calling the service from HA for a day or so). It will retry on invalid authentication.

You can download https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/temporary_reauth_fix.zip. Extract this file and place `cus

[2021-12-20 08:36] callifo opened #687 "Reauth resulted in same account twice"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I had the reauth prompt appear a few nights ago, and it did succeed however now I have two accounts with the same username. If I have both en

[2021-12-20 08:41] callifo commented on #687
If I go to the integration page and try to delete either the disabled one or the currently active one, nothing happens.

I can try and force uninstall it through HACS; it currently warns me I need to remove the integration through the integration page but I can choose to ignore this error?

[2021-12-20 16:59] alexandreaudrain commented on #684
Hi.
Sorry for the delay : it work like a charm.
Thank you !

[2021-12-20 23:16] #684 closed

[2021-12-21 17:17] foXaCe commented on #664
in the last update I do not have all the functions of this beta ?
@vlebourl  it possible to how to this please ? in french perhaps

[2021-12-21 17:41] iMicknl commented on #664
For your boost mode, do you need to set a period in the app? I wonder why your command is `setBoostModeDuration`.

[2021-12-21 17:46] foXaCe commented on #664
yes you have to define the duration of the boost

![Screenshot_20211221-184414_Cozytouch](https://user-images.githubusercontent.com/290678/146975240-b717691b-4187-40d8-a354-d4aa6c69b0c8.png)

[2021-12-21 17:51] iMicknl commented on #664
What are the options that you can choose? I don't think we can easily map this to a switch entity though, however even input/select will be hard.

[2021-12-21 17:57] foXaCe commented on #664
do you want to try the app with my account?
![Screenshot_20211221-185536_Cozytouch](https://user-images.githubusercontent.com/290678/146976685-77210ded-f59a-4a8f-a3be-360ed0cf7236.png)

[2021-12-21 18:47] iMicknl commented on #664
Can you set boost 1-7? Since your screenshot seems like another screen? (with amount of showers).

[2021-12-21 18:50] foXaCe commented on #664
the amount of showers correspond to the temperature. for the boost after validating I have the choice of number of days

[2021-12-21 19:18] iMicknl commented on #664
Can you try this version? https://github.com/iMicknl/ha-tahoma/archive/refs/heads/feature/add_boost_mode.zip

Feel free to reach me on Discord as well, I sent you a message.

[2021-12-21 20:01] iMicknl commented on #664
[code]

[2021-12-22 10:32] RienduPre opened #689 "After upgrading to 2.10.2 both my sirene entities are unavailable"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

After upgrading to v2.10.2 from v2.9.4 my two sirene entities are unavailable
<img width="663" alt="Schermafbeelding 2021-12-22 om 11 30 35"

[2021-12-22 11:06] iMicknl commented on #689
There was a breaking change related to the change from switch entities to the new siren entity. Do the new siren entities work?
(or do you see anything in the log).

[2021-12-22 11:08] RienduPre commented on #689
I don’t see any new sirene entities

[2021-12-22 11:17] iMicknl commented on #689
What are those entities on your screenshot? Is there anything in your log related to the integration?

[2021-12-22 11:24] RienduPre commented on #689
The screenshot are the disabled sirene entities which were working and enabled before the upgrade.
should there be new sirene entities or devices in the list of the integration?

[2021-12-22 15:17] iMicknl commented on #687
Thanks for reporting, you are currently the only user facing this, thus it is hard to debug for me. I am not sure if we can remove items from the registry manually.

You could try removing it via HACS indeed and reinstall.

[2021-12-22 15:18] iMicknl commented on #671
Let's close this one for now, and track it via #576. We will make sure we support this as well, when we add official support.

[2021-12-22 15:18] #671 closed

[2021-12-22 15:19] iMicknl commented on #679
Thanks for reporting, @uowis. Have you seen this behavior again lately? This is not caused by an update on our side, thus I wonder why you are facing this.

[2021-12-22 17:55] jncanches opened #692 "io:OperatingModeCapabilitiesState energy_demand not reported in binary_sensor"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

The binary sensor based on energy_demand data is not updating anymore (still off)
It's the same probleme as a previous issue opened on septem

[2021-12-22 18:02] jncanches commented on #692
I have explored the history of the state and the binary_sensor has been "on" during the day but since I updated to the latest version, it is off (but my water heater is running and is seen as heating on cozytouch app)

[2021-12-22 18:18] jncanches commented on #692
I reverted back to version 2.9.3 and it is still not working. I think cozytouch has been updated of something et data has changed...

[2021-12-22 18:22] jncanches commented on #692
FYI information, using cozytouch integration, the energy_demand attribute is working properly

[2021-12-23 10:46] uowis commented on #679
Same bug after last upgrade : 2.10.2
I would test old version in fiew minute

[2021-12-23 12:04] uowis commented on #679
Same error with 2.9.3
Cyr-ius have published Fix recently for new API Altlantic perhaps it's linked ?
https://github.com/Cyr-ius/hass-cozytouch/actions/runs/1606812329

[2021-12-23 12:12] iMicknl commented on #679
Are you running both versions at the same time? That could perhaps be the reason why you face `Too many requests, try again later.`.

And by the way, the 'fix' from Cyr-ius is our fix from a while ago. He is now running the exact same code as us, which means that there shouldn't be an issue in our implementation. I believe your issue is caused by running two of the same integrations at the same ti

[2021-12-23 13:47] uowis commented on #679
I have delete Cyr-ius integration but have the same error

[2021-12-25 08:09] kwithus opened #694 "Add ‚optimistic‘ mode for rts-devices"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The request

Would be nice if this addon integrates the ‚optimistic‘ mode which is provided by the Somy Integration. With this mode enabled the Somfy inte

[2021-12-27 14:25] alexandreaudrain commented on #682
Hi.
If it can help, I also own a Sauter Asama Connect, but integrated with a Tahoma Switch (which doesn't support it yet).
For now, HA detects a I2G_Actuator with these informations :
ENTITY :
  button.i2g_actuator_identify
  I2G_Actuator Identify
STATE : unknown
ATTRIBUTES :
  icon: mdi:human-greeting-variant
  friendly_name: I2G_Actuator Identify

ENTITY :
  climate.i2g_actuator
  I2G_Actuator
S

[2021-12-27 15:58] alexandreaudrain commented on #544
Hi.
I also have a problem with shutters position (same configuration as dbrep : Tahoma Switch + Velux Shutters + HAss core-2021.12.4 + Python 3.9.9).
Positions seems inconsistant :
![image](https://user-images.githubusercontent.com/75203780/147487709-d36527ea-a057-41ff-9322-02ab671bb6a0.png)
- button.xxx_my_position = unknown
- number.xxx_my_position = incorrect value
- cover.xxx => current_positi

[2021-12-27 16:01] iMicknl commented on #544
@alexandreaudrain could you please create another issue, since your 'issue' is not the same? The number.my_position doesn't reflect your current position. It reflects the value where the my position (preset) is set to. Calling the button will set it to that position, when supported by your device.

[2021-12-27 17:18] alexandreaudrain opened #695 "Shutter position seems inconsistent"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hi.
I have a problem with shutters position : it seems inconsistant.
![image](https://user-images.githubusercontent.com/75203780/147492804-69

[2021-12-27 20:32] tetienne commented on #695
Hi,

Apparently your log report is not complete. Normally, when you boot HA you should have a big line with all your devices.

About the My Position, this is not the current position of your cover but the saved position aka favorite position. So its value does not change except if you update it.

For the reverse state, 0 means fully deployed and 100 fully undeployed. So depending on how the device

[2021-12-28 02:16] #580 closed

[2021-12-28 06:41] sh4rks commented on #694
+1
It will be useful for some integrations because we haven’t any state with rts devices

[2021-12-28 08:41] iMicknl commented on #694
We won't support this, since this shouldn't be part of our integration and I don't think this is allowed anymore for core integrations.

In my opinion, an integration should reflect the device 1:1 and thus not add an optimistic mode. We add `assumed_state` (https://www.home-assistant.io/docs/configuration/customizing-devices/#assumed_state) for RTS devices and there should be other integrations th

[2021-12-28 08:41] #694 closed

[2021-12-28 08:42] #479 closed

[2021-12-28 09:25] alexandreaudrain commented on #695
Yes you're right : I had 6+ Mb of logs.
I cleared them and rebooted.

Anyway, my 3 shutters were closed : 2 reported "current_position" = 100 and the last one reported "current_position" = 0

This is my full log :
2021-12-28 10:20:03 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration sonoff which has not been tested by Home Assistant. This component might cause stability p

[2021-12-28 09:27] iMicknl commented on #692
Could you turn on debug mode, reboot HA and attach your log here?

[2021-12-28 09:37] alexandreaudrain commented on #695
When it try to close my shutter from HA, I receive an error message "Echec d'appel du service "cover/close_cover".'on'"
It seems related to my towel dryer (since adding "on" HVAC mode in atlantic_electrical_towel_dryer.py gets rid of it).

Commands work well, by states aren't updated
Additionnal logs when passing commands :+1:
`
Logger: homeassistant
Source: custom_components/tahoma/climate_device

[2021-12-28 09:37] alexandreaudrain commented on #695
And more logs after close / open commands :
2021-12-28 10:25:42 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.055 seconds (success: True)
2021-12-28 10:25:42 ERROR (MainThread) [homeassistant] Error doing job: Task exception was never retrieved
Traceback (most recent call last):
File "/srv/homeassistant/lib/python3.9/site-packages/homeassistant/helpers/upd

[2021-12-28 09:52] iMicknl commented on #441
@schumi69 how should this look in HA? Since you can enable A, B, C as seperate zones? As far as I know, Home Assistant Alarm Control Panel can not choose between zones.

[2021-12-28 13:04] jncanches commented on #692
Ok, I have enabled debug mode and make the water heater to turn on (heating water).
The relevant log is
`2021-12-28 13:56:57 DEBUG (MainThread) [custom_components.tahoma.coordinator] Event(timestamp=1640696209785, name=<EventName.DEVICE_STATE_CHANGED: 'DeviceStateChangedEvent'>, setupoid=_CountingAttr(counter=334, _default=None, repr=<function obfuscate_id at 0x14d5940af280>, eq=True, order=True,

[2021-12-28 23:22] MirkoKas commented on #599
Is this fixed by Somfy? At least for my setup (homebridge plugin instead of HA) I noticed no errors for the last 24hours+

[2021-12-29 01:23] callifo commented on #687
Unfortunately force uninstalling it does not work, HA now just complains the component has errors during start and I still have two tahoma accounts.

[code]
![image](https://user-images.githubusercontent.com/38901518/147618554-0ff196c2-951e-425d-b43f-b76068c917c1.png)

[2021-12-29 02:31] ProLoser commented on #599
I'm on the latest release and am still experiencing this problem with Somfy

[2021-12-29 21:22] tetienne commented on #695
IMO we must first fix your dryer error. It can mess up with this integration behavior. What surprise me is your `io:AtlanticElectricalTowelDryer_IC3_IOComponent` haven't the same output that the one reported in the issue #682
I will continue the discussion in this last one, and once fixed we can continue here.

[2021-12-29 21:23] tetienne commented on #682
From @alexandreaudrain, here an other setup for `io:AtlanticElectricalTowelDryer_IC3_IOComponent`

`2021-12-28 10:20:12 DEBUG (MainThread) [custom_components.tahoma] Added device (Device(attributes=States(_states=[State(name='core:FirmwareRevision', type=<DataType.STRING: 3>, value='D725008'), State(name='core:Manufacturer', type=<DataType.STRING: 3>, value='Atlantic Group')]), available=True, ena

[2021-12-29 21:38] tetienne commented on #682
@alexandreaudrain Can you please try https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/atlantic_dryer/no_preset.zip? Before revert the tweak you did. It should remove your error into the log.

@luciol21 You haven't any error related to the presets? Di you try them?

@iMicknl I will take care of this one.

[2021-12-30 00:08] diadeluz commented on #679
Hi,
FYI, I'm seeing similar errors here, using Overkiz (by Tahoma) 2.10.2 / core core-2021.12.5 / Cozytouch / Thermor (Atlantic Group) heaters:
---------
This error originated from a custom integration.
Logger: custom_components.tahoma.climate_devices.atlantic_electrical_heater_with_adjustable_temperature_setpoint
Source: custom_components/tahoma/climate_devices/atlantic_electrical_heater_with_adj

[2021-12-30 08:38] luciol21 commented on #682
Hello,

I gave all the logs I found. but if you give me a procedure i can do the tests. I am using HA only from the web interface. So I don't know anything about the source code tree. But no worries about applying a patch.
For the moment, the radiator is applying the instructions I gave it. The dry and boost mode also works.

[2021-12-30 12:58] alexandreaudrain commented on #682
Hi.
I tried uninstalling my previous Overkiz installation and manually install the patch, but Home Assistant will stay on "configuring" page forever, and finally an error message like "configuration flow coundn't be uploaded".
Log :
`2021-12-30 13:24:33 ERROR (SyncWorker_0) [homeassistant.util.package] Unable to install package pyoverkiz==1.0.0: ERROR: Cannot install python-jose-cryptodome==1.3.2

[2021-12-30 13:25] alexandreaudrain commented on #682
After a few reboots, the patch doesn't seem to resolve ma problem :
2021-12-30 14:22:28 WARNING (SyncWorker_5) [homeassistant.loader] We found a custom integration tahoma which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-12-30 14:22:56 DEBUG (MainThread) [custom_components.tahoma] Fini

[2021-12-30 14:57] iMicknl opened #697 "Migrate ha-tahoma to Overkiz integration in core"
Let's keep track of the PR's and the work we need to do, to get everything to core.

**2022.2**
- [x] Base PR + Sensor
- [x] Lock PR + platforms
- [x] Button entity
- [x] Number entity
- [x] Light platform
- [x] Small Overkiz refactor
- [x] Add unique ID to config flow
- [x] Scene platform
- [x] Binary sensor entity
- [x] Address feedback: full mypy strict typing
- [x] Move to Overkiz 1.1.0 (remov

[2021-12-30 14:59] iMicknl commented on #689
@RienduPre , would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials, so I can do some live debugging on my machine.

Siren is a hard platform to debug for me, since I don't own them.

[2021-12-30 20:42] RienduPre commented on #689
Hi,
What happens to my entities when I change my password or userid? Can I just re-logon to my current integration or do I have to setup a new integration, the last option would recreate al my devices and is not what I want to do.

I sent you an invite via discord already.

Thanks,
Rien

[2022-01-03 12:46] themaninspain commented on #599
I'm also experiencing this problem. (just had it happen after over a week since the last time)

[2022-01-03 13:34] Dathiefnl opened #698 "Need to reauthenticate every 1 or 2 days"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Every 1 or 2 days i need to reauthenticate the Overkiz intergration. I already fully uninstalled the intergration and reinstalled it but also

[2022-01-03 13:39] BrentVerhaegen commented on #698
I have the same issue. I'm following. Has been happening for a few weeks now.
Need to authenticate every few days.
In my case, once I've done this I get a little pop-up with _Aborted_, but everything works again as it should for a few days, before the same issues pops up again.

[2022-01-03 14:53] iMicknl commented on #698
Duplicate of https://github.com/iMicknl/ha-tahoma/issues/599. See the pinned issue on this repository.

Explanation: https://github.com/iMicknl/ha-tahoma/issues/599#issuecomment-995825550

[2022-01-03 14:53] #698 closed

[2022-01-03 21:38] jozg commented on #576
Issue still not resolved completly

[2022-01-04 00:40] callifo commented on #687
I removed the disabled entry in .storage/core.config_entries which seems to have made it disappear.

I'll leave it at that for now, if it I get another reauth prompt and it duplicates again, I'll try and delete the remaining entry and remove the integration completely and reinstall.

[2022-01-04 00:40] #687 closed

[2022-01-04 18:38] iMicknl commented on #599
We haven't received a response from Somfy yet, and unfortunately it seems that the of the issue is back. This has been reported by the HomeBridge integration as well :(.

We will keep you updated.

[code]

[2022-01-05 17:01] iMicknl commented on #599
Could you give https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/temporary_reauth_fix.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

I have posted this version already 17 days ago, however I haven't had any feedback if this works around the issue for now. See https://github.com/iMicknl/ha-tahoma/issues/599#issuecomment-997449439 for

[2022-01-05 17:26] lwsrbrts commented on #599
@iMicknl - happy to give this a try but one question before I do, having installed using HACS originally, could dropping this on my instance (over the HACS installed version) cause any issues that could prevent HACS from managing this version (that you know)? I can backup of course but worth asking. Thanks.

[2022-01-05 17:27] iMicknl commented on #599
You can just install this over the HACS installed version. When there is a new update, you can still install it from HACS.

[2022-01-05 18:00] Kaibob2 commented on #599
I just want to add in the following. I have had great results with this solution for the past few month.
I created a command line sensor with the following:
[code]

This sensor is monitored by NodeRed. When the sensor switches to "on" (and stays on for 10 minutes) the following flows executes:
![SharedScreenshot](https://user-images.githubusercontent.com/20832276/148263746-9c5ebb68-67b8-4b4a-b41f-

[2022-01-06 02:03] Mariusthvdb commented on #599
great idea, if not using Node Red, you could also use system_log_event to initiate an automation, which would make it event sensitive, instead of the brute force time_pattern:
[code]

It would also prevent the need to clear the logs, or reset any sensor.

[2022-01-06 17:28] Kaibob2 commented on #599
I like this attempt, but would rather stay with NodeRed. Would this also work:
![SharedScreenshot](https://user-images.githubusercontent.com/20832276/148424479-572825b9-b208-400d-ba76-cda8c82dd3ee.jpg)
It's hard to test because I have no idea how to provoke the reconfiguration error for testing.

[2022-01-06 19:10] Mariusthvdb commented on #599
not using Node-red myself, so I wouldn't know really, but looking at the field options, I would say the Event type needs to change to `system_log_event` ?

Also, in Jinja, we need the `message[0]` because thats the way the data is built. Again, not sure if Node-red manipulates data differently , so you'd have to experiment or ask users with more experience... sorry for not being able to answer you

[2022-01-06 19:14] Kaibob2 commented on #599
No problem, thanks anyway for the hint. This is off-topic here anyway. I will try to figure it out, but I guess NodeRed is not the way to go here.

[2022-01-07 02:25] #623 closed

[2022-01-07 15:50] iMicknl commented on #478
Done in core PR, will be backported here someday.

[2022-01-07 15:50] #478 closed

[2022-01-07 15:53] iMicknl commented on #692
@jncanches did this work before? Or has this never worked? I don't see why this could be broken, besides that it has never worked via our update coordinator. Could it be that it only worked after a reboot?

[2022-01-07 16:02] jncanches commented on #692
Hi,

It definitively worked after this issue was fixed ( [https://github.com/iMicknl/ha-tahoma/issues/568](https://github.com/iMicknl/ha-tahoma/issues/568) ).
I don't know exactly when it became broken. Maybe my cozytouch box has been updated, or maybe it was this integration (or maybe both !)

By the way, with all in last version, it is not working anymore.

Don't hesitate if I can help resolving

[2022-01-07 17:50] JonasKristiansen commented on #599
I have just replaced the files in the Tahoma folder as stated. I have had the issue a handful of times the recent weeks - just today too.

Will get back in a weeks time with an update :-)

[2022-01-08 09:53] Ivan86NL opened #701 "Cancel via Home Assistant not working for awning device"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

The same issue as mentioned in #283 and #263 is also present for an awning. I have an awning with a screen attached. This are two devices in

[2022-01-08 11:25] ColinRobbins opened #702 "HACS Installation"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

When I installed via HACS, the software was loaded into
[code]
where HA did not find it.
I had to manually move the files up one level to
[co

[2022-01-08 12:53] iMicknl commented on #702
Thanks for reporting! Unfortunately I can not reproduce this issue and we haven't heard this before. Let's see if other people report the same in the coming days.

We hope to have added most of the functionality of this integration in core in 2022.3 or 4, so that the custom component isn't required anymore.

[2022-01-09 20:22] schumi69 commented on #441
Hi @iMicknl,

Happy new year! 🥳

currently I can only disarm, however it is not possible to arm the alarm.  if it is impossible to choose the zone, to be able to arm the 3 zones, that would be cool

[2022-01-11 10:08] redneckdba commented on #599
Hi
I also replaced the code by the one containing the auth fix and somfy had a hiccup again today. Good thing is, the integration now does not require reconfiguration after crapping out, however my automation still triggered a reload at 10:27:13.
Devices went offline at 10:25:43 and came back at 10:27:16 as shown in the debug logs below.

`2022-01-11 10:25:04 DEBUG (MainThread) [custom_components.

[2022-01-11 10:11] xekil commented on #599
I have the same problem, sometimes it's several times a day, I have to re-authenticate myself, Madam starts to get angry with the home automation when the shutters do not close automatically at night, please correct this problem, thank you very much

[2022-01-11 10:12] iMicknl commented on #599
@xekil please read this thread before you reply. Try our temporary version and report if that works.

Otherwise I will lock this thread again and just post updates here..

[2022-01-11 10:14] bitcrumb commented on #599
@iMicknl I'm facing the same re-authentication issue. I'll download the ZIP linked above & give it a go.

[2022-01-11 10:21] JonasKristiansen commented on #599
I have been running the tempoary version the last 4 days with success. No re-auth errors and devices has been triggered as expected in all cases.

Thank you for the fix so far :-)

[2022-01-11 10:23] themaninspain commented on #599
I have the temporary fix installed and got a reauth error 10 minutes ago - after 4 days, previously it was failing every 1-2 days

[2022-01-11 10:29] iMicknl commented on #599
@themaninspain do you reboot your Home Assistant often? You can only get the reauth dialog when Home Assistant starts currently, if your home assistant did start and log in correctly, it will keep retrying when Somfy throws Bad Credentials.

[2022-01-11 10:30] themaninspain commented on #599
I restarted HA yesterday because of some updates to other integrations that required it

[2022-01-11 10:42] mstuij commented on #599
I have also a question. I use an automation to check if there are problems with the Tahoma. The automation is started from HA and the action is done in Node-RED.

The problem is that it is not triggered from HA. When I manual start the action in Node-RED, the integration is succesfully reloaded and all of my covers are working.

Does anybody know what is wrong with my trigger automation?

[code]

[2022-01-11 11:09] Wiggum127 commented on #599
Trying to provide my input in an attempt to help corner the issue.

I have not yet used the temporary patch provided by @iMicknl. I'm restarting HA whenever there is a new release of an integration in HACS or HACS itself (avg. 1/week) and after a monthly upgrade of HA as a whole at end of month.

At my end, the number of errors asking for reconfiguration have been a bit less, but still happening e

[2022-01-11 11:20] dhover commented on #599
I have been running the temporary version with success. Today I got a "Error fetching device events data: Invalid authentication." message but no re-authentication needed. So it seems the fix is working!

[2022-01-11 19:49] #702 closed

[2022-01-11 19:51] iMicknl commented on #701
Thanks for reporting!

Unfortunately not, since this is a different issue. Does the `stop` button work when the action is executed via Home Assistant? And how does it behave when you start the action outside HA?

[2022-01-11 19:52] iMicknl commented on #599
**Please update to V2.11 which includes the temporary fix.**

Remove any reload logic that you have applied via automations / node-red, since the error is still in the log and thus a reload will trigger the reauth again.

[2022-01-12 08:15] tetienne commented on #682
Hi @luciol21, can you please have a try with https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/climate/temperature-towel-dryer.zip and tell if the temperature is now ok.

[2022-01-12 08:36] sysmso opened #705 "Unable to adjust the temperature of the heaters and the central thermostat."
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hi,
I configured my Overkiz equipment via Eugenie authentication: I see all my equipment and the temperature of each equipment. I can interac

[2022-01-12 10:45] iMicknl commented on #705
Could you give https://github.com/egguy/ha-tahoma/archive/refs/heads/feature/climate/SomfyHeatingTemperatureInterface.zip a try? Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

This issue is possible a duplicate of #450.

[2022-01-12 11:16] sysmso commented on #705
Thanks !
This new version adds a thermostat entity but it is impossible to modify the values. Here are the new logs :

`2022-01-12 12:09:51 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.025 seconds (success: True)
2022-01-12 12:09:51 DEBUG (MainThread) [custom_components.tahoma] Added device (Device(attributes=States(_states=[State(name='core:Manufacturer'

[2022-01-12 11:26] iMicknl commented on #705
Could you be a bit more specific what doesn't work and what actions you take? For this, just your log won't help us a lot debugging the issue.

Did you add the thermostat entity to your dashboard and what are you trying to change / what doesn't work? You can include screenshots here as well, if this helps.

[2022-01-12 11:58] XalaTheShepard opened #706 "Overkiz not loading"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

After installing the v2.11.0 update of Overkiz, the custom component can not be loaded in HA.

### What version of this integration (ha-tahom

[2022-01-12 12:43] iMicknl commented on #706
Could you try to rollback to previous version? This element hasn't been changed and I wonder why you are facing this.

Did you update your hub?

[2022-01-12 13:17] tetienne commented on #706
@iMicknl Perhaps we should update our model to make this argument optional: https://github.com/iMicknl/python-overkiz-api/blob/e20787dcb44b3d56987b8fb652024c2cf60bc99b/pyoverkiz/models.py#L57

@XalaTheShepard Can you please enable the debug log as explained [here](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#enable-debug-logging) and report the new lines you see in the log 🙏

[2022-01-12 13:57] XalaTheShepard commented on #706
Dear iMicknl,

Rolling back to the previous version solved the issue. So only version 2.11.0 is causing this issue.
My hub is still on the same version as it was with version 2.10.2.

Dear tetienne,

I have updated again to version 2.11.0 of the custom component and have updated the debug lines.
Currently HA is rebooting and as soon as the reboot has been completed, I will add the logs.

Many than

[2022-01-12 14:11] XalaTheShepard commented on #706
Dear tetienne,

Please find below the more detailed logs:
2022-01-12 14:54:53 ERROR (MainThread) [custom_components.tahoma] __init__() missing 1 required keyword-only argument: 'last_update_time'
Traceback (most recent call last):
File "/config/custom_components/tahoma/__init__.py", line 64, in async_setup_entry
setup, scenarios = await asyncio.gather(*tasks)
File "/usr/local/lib/python3.9/site-pa

[2022-01-12 14:15] iMicknl commented on #706
Are you on Discord? I would love to get your setup definition so we can add that to our automated test suite. It seems yours is different compared to other tahoma setup definitions, thus causing the error. My user is iMick#1903.

We will have a look if we can fix this for the next version, but also for the Overkiz integration that will be added to core in next release.

[2022-01-12 14:24] XalaTheShepard commented on #706
Dear iMicknl,

I have send you a discord invite, so we can have a closer look at this issue.

Kind regards,

Robin

[2022-01-12 14:31] sysmso commented on #705
Yes.
I've added a thermostat panel :
[code]

And an entities panel :

[code]
Both of them are not working. The first card shows "unavailable" permanently and the second one displays an error message when I click on it :
`Échec d'appel du service "select/select_option". 'cooling'`

Do you need more information?

[2022-01-12 14:36] xekil commented on #706
same problem !

[2022-01-12 14:37] xekil commented on #706
[code]

[2022-01-12 14:44] iMicknl commented on #706
@xekil you don't have the same problem. Your issue is that you still try to setup the integration via the YAML config flow, which is not supported. Please remove the `tahoma` section from your configuration.yaml.

[2022-01-12 14:52] xekil commented on #706
I have not given any configuration in the configuration.yaml file, I configure the home assistant graphical interface from the start but a reboot has just solved the problem without any modification ... thank you

[2022-01-12 14:52] iMicknl commented on #706
@xekil great, in the future please create a new issue and try some things yourselves first.

[2022-01-12 15:08] xekil commented on #706
@iMicknl sorry, sorry, I forgot to specify that I re-download the integration via HACS before restarting

[2022-01-12 20:38] schumi69 commented on #441
Hi @iMicknl

I just saw, in "development tools", if I turn the alarm state off, I can easily arm it.  but afterwards it goes back to an unknown state.

![image](https://user-images.githubusercontent.com/70438080/149217839-37e62a4c-6c8f-4f20-b67f-fa03ef200e51.jpeg)![image](https://user-images.githubusercontent.com/70438080/149217841-b1fb98ee-9e99-41de-89d1-c3cf59b3d58e.jpeg)

[2022-01-12 22:02] #706 closed

[2022-01-13 09:39] luciol21 commented on #682
hi @tetienne , can you explain to me how to install the patch ?
I deleted my custom_component/tahoma folder and put the patch folder. My climate is no longer available.

LOGS :
2022-01-13 09:36:27 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration tahoma which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you

[2022-01-13 09:43] tetienne commented on #682
@luciol21 That’s it, just extract this zip file and place custom_components/tahoma in your custom_components folder.

[2022-01-13 10:01] luciol21 commented on #682
@tetienne : so, my climate is not available... Can you see my logs ?

[2022-01-13 10:05] tetienne commented on #682
@luciol21 Yes I read your log, there is no error, and the integration is well loaded. I don’t get why the climate is not loaded, I only touched the current temperature.

[2022-01-13 16:22] gbuico opened #708 "DHWP Actuator Expected Number Of Shower has wrong values in "min", "max" and "mode" attributes for Thermor Cozytouch water heater"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Thermor water heater allow to set the expected number of shower with a value between 1 and 3

"DHWP Actuator Expected Number Of Shower" attri

[2022-01-13 16:55] tetienne commented on #708
Hi,

Thx for reporting. @iMicknl Do you remember why you set the minimum to 2, and the maximum to 4?

About the mode, auto is fine IMO. See https://developers.home-assistant.io/docs/core/entity/number

[2022-01-13 16:56] iMicknl commented on #708
I am afraid that these values can differ per device / implementation... Since I am almost sure that I set them to the limits.

[2022-01-13 17:04] tetienne commented on #708
@gbuico what happen if you set the max value to 4? You get an error?

@iMicknl I share the same feeling

[2022-01-13 17:21] gbuico commented on #708
Let's leave aside the "auto"... may be I'm getting wrong its meaning...

Something weird is happening when I try to change the value.
If I change it to 4 nothing happens on the heater and in the Cozytouch app... but the entity bounches back to 3 (or never moves from 3)
If I change to 2 , the heater and the app do reflect the change but in Home Assistant the attribute remains 3 :(
![image](https://

[2022-01-13 17:31] gbuico commented on #708
@iMicknl I'm not sure if there are older implementations but the current Thermor Malicio 2 allows to set the number of shower in a range between 1 to 3.
Attached you see the screenshot of the app and the photo of the front panel...

![Screenshot_20220113-182153_Cozytouch](https://user-images.githubusercontent.com/34986440/149379313-a44a21f1-2f64-47f7-a3e0-08ec8049177e.jpg)
![20220113_182514](https

[2022-01-13 19:34] JonasKristiansen commented on #599
A week later I can also confirm that the fix seems to be working.

I had the "Invalid authentication" error today, but the integration was restored and all blinds has been functioning flawlessly since the temporary fix was installed.

[2022-01-14 02:22] #651 closed

[2022-01-14 02:22] #450 closed

[2022-01-14 08:06] sdebruyn commented on #599
I updated the integration yesterday and the issue reappeared, but now I can't reauthorize it anymore.

[2022-01-14 08:34] animals-uk commented on #599
Had the same problem as @sdebruyn, but I've now been able to reauthorize.

[2022-01-14 08:46] iMicknl commented on #599
This could be caused by the reason why we implemented the reauth dialog in the first time. Disable the integration for a while and try again, you are probably temporarily banned for using the wrong credentials.

We are working on a more definitive fix, however in the mean-time we just need to hope that the server will become more stable.

[2022-01-14 09:16] sdebruyn commented on #599
I just tried again and now I can reauthenticate again.

[2022-01-14 09:17] iMicknl commented on #599
@mstuij this is a known issue unfortunately, the only thing you can do now is disable the integration and wait.

[2022-01-14 09:18] mstuij commented on #599
Yes I know but I wanted to share my experience with the fix version of this problem.

[2022-01-14 10:00] themaninspain commented on #599
I also have this problem.

[2022-01-14 10:06] lwsrbrts commented on #599
After working perfectly well for a week, I am unable to log in using either the integration or the mobile app. Something tells me that Somfy is having a problem rather than it being an issue with the integration. imho.

If i navigate to the Tahomalink.com site and attempt to log in, I get a "server error" message.

The response code is a 401 but the specific error is:
`{ "errorCode": "RESOURCE_ACC

[2022-01-14 10:08] vlebourl commented on #599
yup, Tahoma link is down here as well.

[2022-01-14 10:18] tetienne commented on #708
@gbuico Can you please enable the debug log as explain [here](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced), and copy them in this issue? I would like to see if the minimum and maximum values are returned by the API.

[2022-01-14 11:01] tetienne commented on #599
They have some trouble currently: https://twitter.com/Somfyfr/status/1481903321858387968
That’s the correct timing to ask for a local API :D

[2022-01-14 11:32] spudje commented on #599
Given this instability I really regret having bought the way overpriced Connexoon already :( (No complaint to you guys, but to Somfy)

But, I cannot temporarily disable the integration when it is in "Attention required" mode. But I guess in this mode it will also not try to login continuously, or would it?

[2022-01-14 11:37] themaninspain commented on #599
I agree with you, I also would have chosen a different gate opener if I had know about Somfy's terrible service.
Regarding disabling the integration, I had the same issue, if you look at the integrations screen within HA config you should have the "attention required" but there will also be the Overkiz integration (shows up with the rest of your installed integrations) which you can disable

[2022-01-14 11:42] spudje commented on #599
Oh yeah indeed, thanks a lot. Has that 2nd entry been there all the time, never noticed it?

[2022-01-14 11:44] themaninspain commented on #599
No, the warning is separate from the integration itself. Once you dismiss the warning only the integration shows up.

[2022-01-14 11:48] spudje commented on #599
OK, I see, thanks once more.

[2022-01-14 12:03] redneckdba commented on #599
Just came across this thread about replacing the somfy box with a velux klf-200 which has a local API and can also talk to somfy motors. I think, I'll give this one a try as it does not rely on a rather unstable cloud service.
https://community.home-assistant.io/t/velux-klf-200-pairing-with-somfy-io-motors-and-remotes/248075/14

[2022-01-14 12:08] github-vincent-saluzzo commented on #599
Unfortunatelly, KLF-200 can't speak with climate sensor so it need a Connexoon box or using TaHoma just for that..

[2022-01-14 12:12] mstuij commented on #599
What I have heard is that KLF200 also has some troubles.

 I think we will have to wait till one day Somfy has added local support or you have to jailbreak your Tahoma (look at [this](https://community.home-assistant.io/t/somfy-connexoon-tahoma-jailbreak/297076/16) topic)

[2022-01-14 12:42] lwsrbrts commented on #599
For me, the mobile/phone application is now working again as is the Overkiz integration.

[2022-01-14 13:26] luciol21 commented on #682
@tetienne :(:(:( I just did the test, it's the same result ...
[home-assistant.log](https://github.com/iMicknl/ha-tahoma/files/7870650/home-assistant.log)

[2022-01-14 13:29] tetienne commented on #682
@luciol21 Can you join me on Discord? If you can change your password and share it with me, it will ease my investigation.

[2022-01-14 14:52] antoineguilbert commented on #599
Same problem for me, every day I need to re-setup the app. I've a Tahoma Switch.
If anyone have an idea.. ?

<img width="294" alt="Capture d’écran 2022-01-14 à 15 48 59" src="https://user-images.githubusercontent.com/16510381/149535360-f1c291db-f4ec-42ca-851b-665246d19bd3.png">

[2022-01-14 15:02] iMicknl commented on #599
Please **read** this issue before you reply to it... If you would scroll up, you would have an idea why you face this.

You can find more context about the current issues in https://github.com/iMicknl/ha-tahoma/issues/599#issuecomment-995825550. We are currently testing an alternate solution and hopefully this will solve this issue..

Please don't reply to this thread with your "+1, I am facing th

[2022-01-14 15:08] antoineguilbert commented on #599
Sorry, i've seen the message after. My comment is deleted :)

[2022-01-14 15:28] gbuico commented on #708
@tetienne ... hope you'll find what you are looking for...

2022-01-14 16:25:45 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.062 seconds (success: True)
2022-01-14 16:25:45 DEBUG (MainThread) [custom_components.tahoma] Added device (Device(attributes=States(_states=[State(name='core:Manufacturer', type=<DataType.STRING: 3>, value='Atlantic Group'), State(

[2022-01-15 02:00] egguy opened #709 "Double decoding from pyOverkiz and ha-tahome"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

The problem is present when there's an EnventState which happen with a `DataType.JSON_OBJECT`.

From what I've understood there's a double de

[2022-01-15 08:25] egoward commented on #599
Just did a little digging as this is a great service and problem caused my bathroom window to be left open overnight - not good given temperature and price of gas!  Sharing my thoughts:

As a workaround hack, it's very easy to setup an automation that triggers "Call service" with "Home AssistantCore Integration: Restart" in the UI every day.  Someone has a video talking you through that [here](htt

[2022-01-15 12:34] iMicknl commented on #709
Good catch. Our (breaking) update to pyoverkiz indeed requires changes to ha-tahoma, however we didn't have time to port it back yet.

See https://github.com/home-assistant/core/blob/dev/homeassistant/components/overkiz/coordinator.py. We already made them in core.

[2022-01-15 12:43] iMicknl opened #710 "AttributeError: 'OverkizExecutor' object has no attribute 'async_cancel_or_stop_cover'"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

AttributeError: 'OverkizExecutor' object has no attribute 'async_cancel_or_stop_cover'```

### What version of this integration (ha-tahoma) h

[2022-01-15 13:21] iMicknl commented on #599
@egoward you are spot on. The move to OAuth is indeed what we are currently investigating, since Somfy moved their mobile app to this login method. They didn't move tahomalink.com yet (?). However, even with OAuth it won't be ideal probably since:
- You can only pass the auth token to the login() endpoint, which means you need to (re)register the event listener.
- The token is valid for an hour (3

[2022-01-15 14:50] gerardsamara commented on #355
HiMicknl ,

Based on the encosed log  , i think the system is working fine , even for the 2 unsupported devices because these 2 unsupported devices have a valid label and device_url.

The "unsupported" device seems to be wrong.
What do you think about this ?

Thank you
Gérard

`2022-01-12 12:00:44 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.126 seconds (

[2022-01-15 15:33] #710 closed

[2022-01-15 15:57] egoward commented on #599
Thanks @iMicknl, sounds like a great temporary solution.  I am technical but pretty bad with python so my code contributions will likely not be very welcome.  Very happy to take test patches on my home setup and will also see if I can get a dev HA setup going so I can be more help.

[2022-01-16 04:42] HFeenstra opened #713 "Lost connection all devices"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Since  er version 2.11 I can not control the curtains and window. All of Tahoma devices. Have no other devices for Somfy.

### What version o

[2022-01-16 05:43] tetienne commented on #713
Please enable the debug logging as explain in the README and update your message.

[2022-01-16 07:38] Ivan86NL commented on #701
I've tested it to be sure, but the stop button also does not work when the action is executed from within Home Assistant.
When I trigger it via the Tahoma app or webpage I can trigger the awning and stop it immediately also.
I hope this is information you can use.

[2022-01-16 07:44] hdejongh opened #714 "Failed to set up / __init__() missing 1 required keyword-only argument: 'last_update_time'"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

the integration fails to setup, debug logs show the following error message

ERROR (MainThread) [custom_components.tahoma] __init__() missing

[2022-01-16 09:20] tetienne commented on #714
Hi, thank you for reporting. Your issue is a duplicate of https://github.com/iMicknl/ha-tahoma/issues/706

[2022-01-16 09:20] #714 closed

[2022-01-16 09:36] HFeenstra commented on #713
Hello @tetienne Thank you so much for the quick reply. I did add the logging information. Let me know if there is still something missing.

[2022-01-16 09:42] HFeenstra commented on #713
To add to it:
the versions before I was able to control the devices. But now and then I had to reauthenticate the credentials. So I was hoping this new version, 2.11 would solve these issues. Hope you can find the cause of this issue.

[2022-01-16 09:50] tetienne commented on #713
Look like a duplicate of https://github.com/iMicknl/ha-tahoma/issues/599

[2022-01-16 09:53] HFeenstra commented on #713
Not completly, in #599 the user stills gets an option every other day/days to re enter the credentials.
Since the upgrade to version 2.11 I do not even get the option to re enter the credentials anymore.

[2022-01-16 10:58] iMicknl commented on #713
Duplicate of #599.

@HFeenstra unfortunately I lot has been said in #599, thus it is not easy to catch up with. However we temporarily removed the reauth dialog and moved back to a previous implementation, where there is a risk to be temporarily banned.

Please revert to a previous version for now, if you had a better experience before. We will soon come with a hopefully more definitive fix.

[2022-01-16 10:58] #713 closed

[2022-01-16 10:58] #709 closed

[2022-01-17 07:59] bilak commented on #599
@iMicknl with auth token isn't there also a refresh token? If so, what is the lifespan for it? In many cases (also mobile apps) uses refresh token that lasts longer than 1 hour. So in case your auth token is gone, you can still refresh it (generate new auth token) with refresh token.
I'm not an python dev, but if you point me to the code where you are doing the stuff with auth maybe I can help. I'

[2022-01-17 20:58] luciol21 commented on #682
what is your id discord ?

[2022-01-17 22:59] iMicknl commented on #599
@bilak feel free to join us on Discord to discuss development and see https://github.com/iMicknl/python-overkiz-api/issues/321 for the underlying library.

And you are right, it seems possible to not use the /login endpoint to create a session, but just pass the auth bearer to every request (and thus use the refresh token as well).

[2022-01-18 21:10] egguy commented on #705
hi @sysmso,

Is it still doing this ? I had this message for the covers, with 'heating' instead of 'cooling', but after a reboot it has disappeared and never came back.

Can you try the latest version  ?

[2022-01-18 21:37] sysmso commented on #705
Ok heating and cooling works now. But the temp still shows unavailable.

You mean switching to 2.11.0 back ?

[2022-01-18 21:44] egguy commented on #705
More like using this version: https://github.com/egguy/ha-tahoma/archive/refs/heads/feature/climate/SomfyHeatingTemperatureInterface.zip

[2022-01-18 22:26] egguy commented on #705
Also, just a quick note, because of how the thermostat work, you can't directly adjust the temperature. You should pass thought the other entities.
Example:
![image](https://user-images.githubusercontent.com/186777/150028628-5a0559a8-8dd9-49aa-ad5d-77e357fce4b1.png)

[2022-01-19 06:34] luciol21 commented on #682
thank you very much @tetiene. Your new patch is 100% operational.

[2022-01-19 07:20] tetienne commented on #682
@luciol21 That’s great to know. Be able to test myself the device was really helpful 🙏

[2022-01-19 07:23] #682 closed

[2022-01-19 08:21] sysmso commented on #705
Hi, with this version i have a problem at startup :
```2022-01-19 09:15:03 ERROR (MainThread) [custom_components.tahoma] An HTTP Client raised an unhandled exception: I/O must be done in the executor; Use `await hass.async_add_executor_job()` at custom_components/tahoma/__init__.py, line 58: await client.login()```

[2022-01-19 22:16] egguy commented on #705
This is weird, I didn't touch anything in relation with the login. Perhaps someone else can help with this error.

Could you try the with the most recent version ? https://github.com/egguy/ha-tahoma/archive/refs/heads/feature/climate/SomfyHeatingTemperatureInterface.zip

I've pulled the latest main changes.

[2022-01-20 09:10] VoetenK opened #719 "Frequently enter password"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I regularly have to re-enter my password. Why is this necessary? Can this be avoided?

### What version of this integration (ha-tahoma) has t

[2022-01-20 09:11] sysmso commented on #705
Same error with this version.

[2022-01-20 09:17] iMicknl commented on #719
Duplicate of pinned issue #599

We are currently working on implementing their newer and more stable authentication method.

[2022-01-20 09:17] #719 closed

[2022-01-20 10:39] jncanches commented on #692
Any news on this ?

[2022-01-21 07:27] mngsps opened #720 "Somfy RTS Awning does start but not Stop or react to further commands"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Good morning,

I tried to control a RTS Somfy awning with my HA running as VM on a Synology Diskstation. I installed the Tahoma Switch and co

[2022-01-21 08:39] tetienne commented on #720
Hi, as sidenote, the Somfy integration uses the Official API which is really poor and not maintain anymore by Somfy (not update since years).

About your issue, can go to the [Dev Tools Services page](https://my.home-assistant.io/redirect/developer_services/), select `cover.open_cover` and your awning. Submit. Just after, select `cover.close_cover` and your awning. Can you see immediately the effe

[2022-01-21 13:47] SeeDborg opened #721 "Increase by 0,5 is not working (HitachiAirToWaterHeatingZone / HitachiHeatingSystem)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I can't increase the temperature by 0,5°C, only by 1°C.
If I try to set it from 19°C to 19.5°C for example, it stays on 19°C.

### What versi

[2022-01-21 14:08] iMicknl commented on #721
Could you please turn on debug loggin and add your log? And add your device model to your post, since we need to know which device you have.

[2022-01-21 17:47] mngsps commented on #720
Its exactly the same effect compared to my observations observed above. Starts immediately to open the awning, doesn't react to actions during opening. When completely open, actions started during opening will be executed with lot of delay (except for "stop" which never worked with HA, but does with the Tahoma/Somfy App). Thank you for helping me!

[2022-01-21 20:26] tetienne commented on #720
That’s interesting. Can you please still enable the debug log and restart HA. Normally, you should see a big trace will your device added. That’s missing in your first comment. I will need this information to know your device.

[2022-01-21 20:31] mngsps commented on #720
Ok, so restarting HA with debug log, again opening and (trying to) stopping/closing the awning and finally posting the log?

[2022-01-21 20:31] tetienne commented on #720
Just restart and look for "Device added: blahblah"

[2022-01-21 20:53] mngsps commented on #720
`2022-01-21 21:43:26 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration localtuya which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-01-21 21:43:26 WARNING (SyncWorker_2) [homeassistant.loader] We found a custom integration tahoma which has not been tested by Ho

[2022-01-21 21:08] tetienne commented on #720
Thx, I was looking for this part:

`2022-01-21 21:43:40 DEBUG (MainThread) [custom_components.tahoma] Added device (Device(attributes=States(_states=[State(name='rts:diy', type=<DataType.BOOLEAN: 6>, value=False)]), available=True, enabled=True, label='Markise', device_url=rts://****-****-6443/16772393, controllable_name='rts:HorizontalAwningRTSComponent', definition=Definition(commands=CommandDef

[2022-01-21 21:16] mngsps commented on #720
Ok, was a bit difficult to copy and paste using my smartphone. Sorry! No notebook available this moment...
Any idea to control the awning?

[2022-01-21 21:25] tetienne commented on #720
I’m not sure if myself I will able to copy/paste any logs from my phone :)

Can you please download this archive: https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/rts/remove-delay.zip
Extract it, and replace your ha-tahoma folder. Restart, and try to chain deploy and undeploy.

[2022-01-21 21:32] mngsps commented on #720
So deleting everything in config/custom_components/tahoma
and replacing with content of your zip?

[2022-01-21 21:33] tetienne commented on #720
Yes

[2022-01-21 21:34] mngsps commented on #720
Just the custom_components/tahoma folder?
The archive contains some more...

[2022-01-21 21:35] tetienne commented on #720
Copy the content of the archive and paste it in custom_components/tahoma, replacing everything.

[2022-01-21 21:39] mngsps commented on #720
This would create a custom_components folder within tahoma folder. See the file:
![Screenshot_20220121-223720_File Commander](https://user-images.githubusercontent.com/97806642/150603623-dc8aac18-f375-4c27-95a0-474e67768783.jpg)

[2022-01-21 21:42] mngsps commented on #720
Possible to replace only single files? Using my smartphone I'm only able to upload file by file...

[2022-01-21 21:43] tetienne commented on #720
Sorry, I misunderstood. Yes, from the archive copy the content of `custom_components/tahoma` and replace yours `custom_components/tahoma`

I have modified 3 files, you can see them here: https://github.com/iMicknl/ha-tahoma/pull/722/files

Take you time

[2022-01-21 21:56] mngsps commented on #720
Thank you for being so patient with me!
We're one step ahead!
Starting works immediately, stopping works immediately (didn't work at all before) but restarting after stop (in the same direction or backwards) again has a delay of 30-60 seconds (any action after stopping).

[2022-01-21 22:03] mngsps commented on #720
`2022-01-21 22:49:33 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration localtuya which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-01-21 22:49:33 WARNING (SyncWorker_2) [homeassistant.loader] We found a custom integration tahoma which has not been tested by Ho

[2022-01-21 22:06] mngsps commented on #720
When stressing it with too many actions it takes even timeouts > 60 seconds... But stopping after starting (regardless the direction) works most of the time. This is new/better!

[2022-01-22 05:24] tetienne commented on #720
Good to Know. Just to be sure you have the correct fix, can you download again the zip and try again?

I did a fix about stop few minutes after posting the archive. As you seem reactive perhaps you download an old version.

[2022-01-22 06:02] mngsps commented on #720
Ok. Should I use the 3 files from here

https://github.com/iMicknl/ha-tahoma/archive/refs/heads/fix/rts/remove-delay.zip

or here

https://github.com/iMicknl/ha-tahoma/pull/722/files

?

Thank you!!

[2022-01-22 06:16] tetienne commented on #720
They are the same.

[2022-01-22 07:08] mngsps commented on #720
You're the best! Seems it WORKS!
THANK YOU!
Will I need to change these files after updates of your integration?

[2022-01-22 07:12] tetienne commented on #720
I'm please it solves your issue. We will merge the fix into the master branch and will be available in the next release.

You can keep my current branch version until the next release (read the changelog to be sure)

[2022-01-23 10:21] PoVPoV29 opened #723 "Lights not working or with delay"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello,
My light buton are not working. When I click on it the light is not working (go to on or off)
It was working few weeks ago.
Thanks for

[2022-01-23 11:51] tetienne commented on #723
Hi,

The error related to your climate should not help.

Can you please restart HA still with the debug mode enabled and update your logs. There are few lines missing. They look like "device added:..." We need this information to know what's your device and its capabilities.

[2022-01-24 08:24] PoVPoV29 commented on #723
`2022-01-24 09:21:05 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration plex_assistant which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2022-01-24 09:21:05 WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration myEnedis which has not been teste

[2022-01-24 08:27] PoVPoV29 commented on #723
test done with light.salon and light.entree. I notice the state is not good for my somfy entities.

[2022-01-24 23:02] iMicknl commented on #599
**Update**
We have an early test version available that **could** possibly fix the issues. It would be great if you could give it a try and let us know if you face any issues with the reauth message.

https://github.com/iMicknl/ha-tahoma/archive/refs/heads/enhancement/move_somfy_oauth.zip. Extract this file and place `custom_components/tahoma` in your `custom_components` folder.

[2022-01-25 22:00] #665 closed

[2022-01-25 22:53] iMicknl commented on #599
Please update to v2.12.0 and report back (in a new issue), if you face any issues. Let's close this huge and unclear issue. Thanks all for reporting and looking for workarounds.

[2022-01-25 22:53] #599 closed

[2022-01-25 22:56] iMicknl commented on #705
@sysmso could you try the latest version (v1.12.0) and see if you face the same issues. Perhaps we introduced an issue for Nexity users, and it would be good to work around that asap!

Would you be able to work with me [via Discord](https://discord.gg/gDSNf8MKf7) (iMick #1903) so we can speed up the development? Easiest would be if you could temporary change your password and send your credentials

[2022-01-25 22:58] iMicknl commented on #723
@PoVPoV29 I wonder if this is coming from the error that you see in your logs, or if it has another reason...

Do you know which version introduced these issues for you?

[2022-01-26 07:03] PoVPoV29 commented on #723
@iMicknl I don't know at all. I suppose it's a version issue because the issue was not happening a moment ago.

[2022-01-26 07:09] Alex6fr opened #724 ""'hlrrwifi' is not a valid Protocol" error after last update"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello,

my spx-wfg01 - HitachiAirToAirHeatPump gateway integration stop working after last update.
Integration is Hitachi Hi Kumo (Europe).
E

[2022-01-26 08:12] tetienne commented on #724
Hi, sorry for this. I’ve implemented a fix for the protocol issue in our library: https://github.com/iMicknl/python-overkiz-api/pull/341/files

About the min_value, it’s related to a bugfix we merged too soon, it was expected for the next HA release. Meanwhile, you can rollback to the previous version.

[2022-01-26 08:57] sysmso commented on #705
Same error :
[code]

[2022-01-26 09:27] Alex6fr commented on #724
OK thank's.
It back to work after downgrade to v2.10.2.
I'm waiting the next release ;-)

[2022-01-26 09:30] ChengyiP opened #727 "Failed to setup"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I have successfully keyed in the user name and password. However, it shows that it has failed to setup and i m seeing the following error in

[2022-01-26 09:35] tetienne commented on #727
Hi, sorry about this. It will be fixed with the next version.
By curiosity, according to your device, what’s the `rtn` protocol?

[2022-01-26 09:47] animals-uk opened #728 "Unexpected keyword argument 'min_value'"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Core log shows an "unexpected keyword argument" error on restart, though integration still appears to work

### What version of this integrat

[2022-01-26 09:50] tetienne commented on #728
Hi, we merged a fix too soon, it was expected for the next HA release. You can rollback to the previous version, while we think about a solution.

[2022-01-26 10:29] C0D3-IT opened #729 "Cover State and position not displayed"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello Guys,
two of my Somfy Covers are not displaying the current position in HA. All other Somfy Covers are working fine.

A working one:
<i

[2022-01-26 10:59] larserhardsen opened #730 "Opening / closing state not reflecting with awning"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I have a Somfy IO awning where all I can see is either Open or Closed state. I'd like to be able to detect that the awning is either opening

[2022-01-26 11:24] romano1508 opened #731 "Add support for Atlantic Naia 2"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### Device information

Tahoma rail din
Condensing gas boiler Atlantic Naia 2 Micro with thermostat Atlantic A59
Home Assistant 2021.12.10 on raspberry pi

A

[2022-01-26 13:46] tetienne commented on #729
Hi,

Looking are you logs, it’s because Somfy does not return the position for your covers:

[code]

Do you see the position for them in you Somfy application?

[2022-01-26 14:16] C0D3-IT commented on #729
Hey,
I've cecked it in the App.
I cant even see the actual state here. But I can set the position as on the others an the position is set as expected.

I played around a bit with the parameters you showed above.

For this device type it seems to be "TargetClosureState".
When its fully open the value is 0.
When its fully closed the value is 100.
The other states are in between.

[2022-01-26 15:27] tetienne commented on #730
Hi,

This should indeed already supported, in your log I can well see `core:TargetClosureState` and `core:MovingState`. What I don’t see, is `core:ClosureState`. Can you please restart HA, once started, open your awning and then copy/paste here ALL the logs related to our component please? I’m looking for logs with `Device added: xxxx`, and `Finished fetching device events data: xxxx`

[2022-01-26 15:29] tetienne commented on #729
Thx for checking. The `TargetClosureState` is actually what you wish, the position you ask for, it did not match the current position. And as you said, if even with the official application you cannot see the position, we cannot retrieve it too.

[2022-01-26 16:34] iMicknl commented on #728
Fixed in https://github.com/iMicknl/ha-tahoma/pull/726. We will release a new update soon, or update to latest master.

[2022-01-26 16:34] #728 closed

[2022-01-26 16:34] #727 closed

[2022-01-26 16:35] iMicknl commented on #724
Fixed in https://github.com/iMicknl/ha-tahoma/pull/732. We will release a new update soon, or update to latest master.

[2022-01-26 16:35] #724 closed

[2022-01-26 16:42] #705 closed

[2022-01-26 18:41] larsxschneider opened #735 "Connexoon RTS entities always in unknown state - expected?"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

I've installed the most recent version in my `custom_components` directory. All my devices are detected and I can control the devices (up/dow

[2022-01-26 18:46] iMicknl commented on #735
By design. We don't support optimistic state as we think this is something that should be provided by Home Assistant core, or tracked via a cover template.

Maybe not the answer you are looking for, but perhaps you can create a cover template or use a custom component that adds this.

[2022-01-26 18:47] #735 closed

[2022-01-26 19:21] larsxschneider commented on #735
Thanks for the hint @iMicknl ! That seems to work 👍

[code]

That means a PR to make this ☝️ an option for RTS devices in `ha-tahoma` would not be accepted, right?

[2022-01-26 19:38] tetienne commented on #735
Yes indeed. And if I remember well HA does not allow anymore such option too.

[2022-01-26 20:23] iMicknl commented on #735
@larsxschneider does your cover template already provide everything you are looking for? It seems that optimistic mode is enabled by default in your scenario. https://www.home-assistant.io/integrations/cover.template/#optimistic

Indeed, we wouldn't accept such modifications for this repo, especially since we are migrating everything to core and it won't be accepted there. Perhaps it is good to cr

[2022-01-27 06:34] C0D3-IT commented on #729
Good Morning,
so its not possible for you to treat this value for this device type the same way as the position attribute?

If not, is it possible for you (or me) to get this in HA as a secondary info?

[2022-01-27 10:49] larserhardsen commented on #730
It's too windy today and the coming days here in Denmark, so I can't (I don't dare to) use the awning. Will get back to you as soon as the weather permits it :)

[2022-01-27 10:50] callifo opened #736 "Continous 'Not authenticated' errors in log since 2.12.1"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Updated to 2.12.1 and the log continuously fills with log shown below. No other changes since using 2.11.0.

Somfy blinds are RTS so stateles

[2022-01-27 11:23] tetienne commented on #729
Yes, we don’t want to support optimistic mode and only returned real value. See https://github.com/iMicknl/ha-tahoma/issues/735#issuecomment-1022571345

[2022-01-27 18:20] Vanntag opened #738 "Implement alternative My button (`goToAlias`)"
### Did you read the instructions?

- [X] I have read the [README](https://github.com/iMicknl/ha-tahoma/blob/master/README.md), including the [advanced debugging](https://github.com/iMicknl/ha-tahoma/blob/master/README.md#advanced) section.

### The problem

Hello.

i have a shutter rts somfy in home assistant via  this integration. I can open/close or stop the shutter. It is seen as a cover. But

[2022-01-27 18:25] iMicknl commented on #738
Can you add some screenshots of the device page? And please turn on debug mode and add your log here.

If your device supports the 'my' command, a button should be visible.

[2022-01-27 18:31] Vanntag commented on #738
![60EDD6F4-F648-440A-AC6F-3B21A9E181D3](https://user-images.githubusercontent.com/94913501/151421288-c0b869e5-4fa9-4612-b46d-ba71d4e91cbb.png)

for the logs, where can I turn them on and also find them?

Thank for your help.

[2022-01-27 18:34] Vanntag commented on #738
Attributs for the entity are:

assumed_state: true
device_class: blind
friendly_name: Volet cuisine
supported_features: 11

[2022-01-27 19:04] iMicknl commented on #738
@Vanntag did this ever work for you in ha-tahoma? Your device doesn't have a `my` command, thus we don't add a button.

**Commands**
[CommandDefinition(command_name='close', nparams=0),
CommandDefinition(command_name='goToAlias', nparams=1),
CommandDefinition(command_name='identify', nparams=0),
CommandDefinition(command_name='open', nparams=0),
CommandDefinition(command_name='saveAlias', nparams=

[2022-01-27 19:21] iMicknl commented on #736
@callifo could you please include your full debug log?

[2022-01-27 19:23] Vanntag commented on #738
No I have install the integration today, so it s never work. But in tahoma application it’s working.

for the history there is a problem:

`2022-01-27 20:19:16 DEBUG (MainThread) [custom_components.tahoma] Finished fetching device events data in 0.135 seconds (success: True)
2022-01-27 20:19:19 INFO (MainThread) [homeassistant.helpers.script.websocket_api_script] websocket_api script: Running webs

[2022-01-27 19:26] iMicknl commented on #738
Sorry, I edited my previous message just before you replied.

[2022-01-27 19:34] Vanntag commented on #738
Yes I use it a lot, every day. If i press stop button, it just stop. And if I press again, nothing happen. So it’s a new feature? So I have to create a new feature request? I understand if you don’t implement it tomorrow :-)

[2022-01-27 19:56] tetienne commented on #738
@Vanntag Sorry to jump in this topic, but I see you are using an hub we didn’t know. Can you please restart HA, and look for a log: `'xxxx' is not a valid Gateway`? I will add it to our list.

About your question, we already support My feature, but your case is not usual, so we have to understand how it works.

[2022-01-27 20:39] Vanntag commented on #738
@tetienne I restart HA, but all I've found is:
`2022-01-27 21:25:58 WARNING (MainThread) [pyoverkiz.enums.gateway] Unsupported value 99 has been returned for <enum 'GatewayType'>`

Is it what you are looking for?

Or otherwise I have this:
`2022-01-27 21:25:59 DEBUG (MainThread) [custom_components.tahoma] Added gateway (Gateway(partners=[], functions='', sub_type=<GatewaySubType.TAHOMA_BASIC_PLUS:

[2022-01-27 20:44] tetienne commented on #738
@Vanntag Thx it’s well what I was looking for.

[2022-01-27 20:45] tetienne commented on #738
@Vanntag Which gateway / hub do you use?

[2022-01-27 20:47] Vanntag commented on #738
I’m using the new « kit de connexion » from Somfy. It only have rts and io protocols.

[2022-01-27 21:24] Vanntag commented on #738
I just realize where maybe the problem came from. My shutter is from the brand « simu ». They are using rts protocol from somfy. Maybe this is why « my » is not enable? Even if it is in tahoma application.
I hope it will help you. Thanks again for your help and your time.

[2022-01-28 13:41] callifo commented on #736
Will try to, it hasnt happened today, will keep an eye on it.